{#
# Template d'affichage d'une liste Bridge sur une page de terme de taxonomie
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig
#
# @version 3.1.4
#}
{% block libraries %}{{ attach_library('mosl/custom_bridge.list') }}{% endblock %}

<div class="mosl-sitlor-list">
    {% include '@mosl/partials/hero_banner.html.twig' with {
        'classes': ['hero-banner--has-background', 'hero-banner--offset'],
        'surtitle': data.overTitle,
        'title': data.title != '' and listParameters.displayListTitle ? data.title|raw : '',
        'subtitle': data.subTitle,
        'description': data.description != '' and listParameters.displayDescription ? data.description|raw : '',
        'image_url': 'https://bridgesrv-mosl.pylot.fr/media/' ~ data.image
    } %}

    {% include '@pylot_bridge/templates-bridge-twig/init-js.html.twig' %}

    <div class="mosl-sitlor-list__container">
        <div class="wrapper">
            <main id="ListeBridge" class="bridge-list-container">
                <div class="bridge-loader">
                    <div class="bridge-loader-content">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
                {# 03/2022 : On affiche le template dans tous les cas, mais s'il n'y a pas de produits on affichera un message dans le template #}
                {% include '@pylot_bridge/templates-bridge-twig/liste/' ~ listInfos.bridgeModeleListe ~ '.html.twig' %}
            </main>
        </div>

        {% if data.moslFieldSeo is defined %}
            <div>
                {{ data.moslFieldSeo }}
            </div>
        {% endif %}
    </div>
</div>
