{#
# Template d'affichage d'une liste Bridge pour appel ajax (moteur, tri ou infinite scroll)
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig
#
# @version 3.0.9
#}
{% for fiche in data.selection.results.products %}
    {% set link = fiche|bridge_product_permalink %}
    {% set photo = '' %}
    {% set photo2 = '' %}
    {% set images = fiche.listBlocks|bridge_extract_photos('photo') %}
    {% if images|length > 0  %}
        {% set photo = images[0].url %}
    {% elseif listParameters.defaultImage is defined and listParameters.defaultImage.url is defined and listParameters.defaultImage.url is not empty %}
        {% set photo = listParameters.defaultImage.url %}
    {% endif %}
    {% if images|length > 1  %}
        {% set photo2 = images[1].url %}
    {% endif %}
    <div class="liste_sit_item zoom-on-click" data-dnc-produit="{{ fiche.productCode }}">
        {% include '@pylot_bridge/templates-bridge-twig/liste/gabarits/' ~ listInfos.bridgeModeleListeitem ~ '.html.twig' with {
            'ficheIndex': loop.index,
        } %}
    </div>
{% endfor %}
