
{% block javascript %}
{% set lat = fiche.latitude %}
{% set lon = fiche.longitude %}
{% if lat is defined and lat != '' and lon is defined and lon != ''  %}
<script type="text/javascript">
    // Gère le javascript de la carto
    bridgeDocumentReady(function($j)
    {
        window.markercmpt = 0;
        window.mapService = new dncLeafletServices('maps-loc');
        window.mapService.mapoptions = {
            zoom: '14', // Niveau de Zoom de départ
            centerlat: {{ lat }}, // Latitude du centre au départ
            centerlon: {{ lon }}, // Longitude du centre au départ
            maptype: 'MAPTYPE_OPENSTREETMAPS', // Type de vue : ROAD, SATTELITE, HYBRID, 3D
            gridSize: 0,
            maxZoom: 5,
            scrollWheelZoom: false,
            dragging: true, // Activer le glisser de la carte en tactile
            tap: true
        };
        var mapdiv = document.getElementById("maps-loc");
        //abso();

			window.mapService.defaultIconOptions =  {
                iconSize:     [{{ bridgeParameters.marker_map_width }}, {{ bridgeParameters.marker_map_height }}],
                iconAnchor:   [{{ (bridgeParameters.marker_map_width/2)|round }}, {{ (bridgeParameters.marker_map_height/2)|round }}],
                popupAnchor:  [0, -3]
    		};
        window.mapService.init();
        window.mapService.switchToWordpress();
        window.mapService.disabledMouseWheel();
        // On ajoute le point
        window.mapService.addmarker (
            "1",
            {{ lat }},
            {{ lon }},
            '{{ fiche.name|e('js') }}',
            '/themes/custom/mosl/img/map-pin-active.svg',
            '/themes/custom/mosl/img/map-pin-active.svg',
        );


        {% if fiche.kml is defined and fiche.kml != '' %}
            window.mapService.addkml(
                '{{ fiche.kml|e('js') }}',
                '1',
                {
                    color: "#006bf9",
                    fillopacity: 0.45,
                    opacity: 1,
                    stroke: true,
                    weight: 5
                }
            );
        {% endif %}

        window.mapService.centeronmarker("1","14");
        window.mapService.fitboundstomarkers();
        UIkit.util.on('#tabs-sit > .localisation','beforeshow', function(){
            window.mapService.centeronmarker("1","14");
            window.mapService.reDraw();
            window.mapService.fitboundstomarkers();
            //abso();
        });
    });

    jQuery(window).resize(function() {
        //abso();
    });
    function abso() {
        var sizeneg = (jQuery(window).width()-jQuery('#maps-loc').parents('.elementor-container').width()+100)/2;
           jQuery('#maps-loc').css({
            position: 'relative',
            width: jQuery(window).width(),
            //left: '50%',
            marginLeft: '-'+sizeneg+'px'
        });
    }

</script>
{% endif %}
{% endblock %}
