{#
# Template d'affichage de moteur d'affinage dans les listes
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur
#
# @version 3.2.2
#}
{% set moteurEnDouble = '' %}

{% if moteur.sections|length > 0 %}
    <section class="bridge-moteur-sit moteurs" data-bridge-moteur-id="{{ moteur.id }}">
        <input type="hidden" name="bridge_active_filters_{{ moteur.id }}" value=""/>
        {# Ce moteur nexiste que pour la versoin responsive des listes où il y a un moteur affiché directement #}
        {# On l'enlève des listes où le moteur est nativement en off-canvas #}
        {% set listesAvecMoteurMobileSepare = ['liste1', 'liste2'] %}

        {% set moteurEnDouble = 'M2' %}

        {# Pour les listes avec moteur off-canvas natif #}
        {% if bridgeModeleListe is not defined or (bridgeModeleListe is defined and not bridgeModeleListe in listesAvecMoteurMobileSepare) %}
            <div class="uk-width-1-1">
                <div class="uk-width-1-1 uk-h3 uk-text-center bridge-moteur-titre">
                    {{ 'Rechercher'|trans }}
                </div>
                {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/moteur-body.html.twig' %}
            </div>
        {% else %}
            {# Listes sans off-canvas natif  #}
            <div class="boundary-align uk-visible@m uk-width-1-1 uk-panel bridge-moteur-side">
                <div class="uk-width-1-1 uk-h3 uk-text-left bridge-moteur-titre">
                    {{ 'Rechercher'|trans }}
                </div>
                {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/moteur-body.html.twig' %}
            </div>
        {% endif %}
    </section>
{% endif %}
