{#
# Template d'affichage de la barre de moteur de recherche sur mobile pour les modèles liste1 et liste2
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur
#
# @version 3.2.2
#}


<div class="moteur-mobile uk-hidden@m uk-width-1-1 uk-grid-small" uk-grid>
    <div class="bridge-map-button uk-width-1-3">
        <a class="uk-button uk-button-default uk-width-1-1 bridge-map-toggle-fullscreen" href="#">
            {{ 'Carte'|trans }}
        </a>
    </div>
    <div class="bridge-sort uk-width-1-3">
        {% include '@pylot_bridge/templates-bridge-twig/liste/tris/tris-dropdown.html.twig' %}
    </div>
    <div class="uk-width-1-3">
        <a class="uk-button uk-button-default uk-width-1-1" href="#" uk-toggle="target: #offcanvas-moteur{{ moteur.id }}">
            {{ 'Filtres'|trans }}
        </a>
    </div>
</div>
<div id="offcanvas-moteur{{ moteur.id }}" data-bridge-moteur-id="{{ moteur.id }}" class="bridge-moteur-sit off-canvas-moteur-mobile uk-zindex" uk-offcanvas="overlay: true;flip:true; ">
    <div class="uk-offcanvas-bar uk-text-left uk-offcanvas-bar-animation uk-offcanvas-slide uk-preserve-color">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <div class="uk-width-1-1 uk-h3 uk-text-center">
            {{ 'Rechercher'|trans }}
        </div>
        {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/moteur-body.html.twig' %}
    </div>
</div>