{#
# Template d'affichage du contenu de moteur d'affinage dans les listes
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur
#
# @version 3.2.2
#}

{% set modeMultiMoteur = false %}
{% set indexSwitchMultiMoteur = 1 %}
{% set moteurSections = [] %}
{% if listParameters is defined and listParameters.modeMultiMoteurs is defined and listParameters.modeMultiMoteurs == true %}
    {% set modeMultiMoteur = true %}
    {% set indexSwitchMultiMoteur = listParameters.multiMoteursIndexfiltreSwitch|number_format %}
    {% for section in moteur.sections %}
        {% set moteurSections = moteurSections|merge([ section.id ]) %}
    {% endfor %}
{% endif %}

{% set idxSection = 1 %}
{% for section in moteur.sections %}
    {% set idxFiltreSection = 1 %}
    <span class="bridgeActiveFiltersDivSection{{ section.id }}" data-section-id="{{ section.id }}"></span>
    {% set styleSection = '' %}
    {% if modeMultiMoteur and idxSection > 1 %}
        {% set styleSection = 'display:none;' %}
    {% endif %}
<div class="moteur-section-{{ section.id }} uk-margin style="{{ styleSection }}">
    {% if section.label is not empty %}
        <h4 class="moteur-section-label">
            {{ section.label }}
        </h4>
    {% endif %}
    <div uk-grid class="{{ section.sectionColumns|bridge_get_child_colums }}">
        {% for subsection in section.subSections %}
            <div class="subsection {{ 'ssmoteur-' ~ subsection.id }} {{ subsection.subSectionWidth|bridge_get_item_width }}">
                {% if subsection.label != '' %}
                    <h5 class="moteur-section-label uk-heading-line">
                        <span>{{ subsection.label }}</span>
                    </h5>
                {% endif %}
                <div uk-grid class=" {{ subsection.subSectionColumns|bridge_get_child_colums }}">
                    {% for filter in subsection.filters %}
                        <div>
                            {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/' ~ filter.displayType ~ '.html.twig' %}
                        </div>
                        {% set idxFiltreSection = idxFiltreSection + 1 %}
                     {% endfor %}
                </div>
            </div>
         {% endfor %}
    </div>
</div>
    {% set idxSection = idxSection + 1 %}
 {% endfor %}