<section id="comment-venir" class="uk-section uk-section-muted">
    <div class="uk-container uk-container-center uk-text-center">
        <h2 class="uk-width-1-1 uk-text-center">{{ 'Comment venir ?'|trans }}</h2>
        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation.html.twig' %}
        <a target="_blank" href="{{ fiche|bridge_product_gmap_link }}" class="uk-button uk-button-primary">{{ 'Itinéraire'|trans }}</a>
    </div>
</section>