<div class="uk-container mosl-commentaires" id="commentaires">
    {% if tripNote is not empty %}
        {% set nbAvis = 0 %}
        {% if tripData.num_reviews is defined %}
            {% set nbAvis = tripData.num_reviews + 0 %}
        {% endif %}
        {% set lienTrip = '' %}
        {% if tripData.web_url is defined %}
            {% set lienTrip = tripData.web_url %}
        {% endif %}
        <div class="uk-grid">
            <div class="uk-width-1-2">
                <h2>{{ 'Les commentaires'|trans }}</h2>
            </div>
            <div class="uk-width-1-2">
                {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/extract-avis-tripadivsor.html.twig' %}
                {% if tripData.review_rating_count is defined and tripData.review_rating_count|length > 0 %}
                    <div>
                        <table class="uk-table" style="width:100%">
                            {% if tripData.review_rating_count.5 is defined %}
                                <tr>
                                    <td>{{ 'Excellent'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="{{ tripData.review_rating_count.5 }}" max="{{ nbAvis }}"></progress></td>
                                    <td>{{ tripData.review_rating_count.5 }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ 'Excellent'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="0" max="{{ nbAvis }}"></progress></td>
                                    <td>0</td>
                                </tr>
                            {% endif %}

                            {% if tripData.review_rating_count.4 is defined %}
                                <tr>
                                    <td>{{ 'Très&nbsp;bien'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="{{ tripData.review_rating_count.4 }}" max="{{ nbAvis }}"></progress></td>
                                    <td>{{ tripData.review_rating_count.4 }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ 'Très&nbsp;bien'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="0" max="{{ nbAvis }}"></progress></td>
                                    <td>0</td>
                                </tr>
                            {% endif %}

                            {% if tripData.review_rating_count.3 is defined %}
                                <tr>
                                    <td>{{ 'Moyen'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="{{ tripData.review_rating_count.3 }}" max="{{ nbAvis }}"></progress></td>
                                    <td>{{ tripData.review_rating_count.3 }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ 'Moyen'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="0" max="{{ nbAvis }}"></progress></td>
                                    <td>0</td>
                                </tr>
                            {% endif %}

                            {% if tripData.review_rating_count.2 is defined %}
                                <tr>
                                    <td>{{ 'Médiocre'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="{{ tripData.review_rating_count.2 }}" max="{{ nbAvis }}"></progress></td>
                                    <td>{{ tripData.review_rating_count.2 }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ 'Médiocre'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="0" max="{{ nbAvis }}"></progress></td>
                                    <td>0</td>
                                </tr>
                            {% endif %}

                            {% if tripData.review_rating_count.1 is defined %}
                                <tr>
                                    <td>{{ 'Horrible'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="{{ tripData.review_rating_count.1 }}" max="{{ nbAvis }}"></progress></td>
                                    <td>{{ tripData.review_rating_count.1 }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ 'Horrible'|trans }}</td>
                                    <td style="width:75%;"  ><progress class="uk-progress" value="0" max="{{ nbAvis }}"></progress></td>
                                    <td>0</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    <div>
                        <a target="_blank" href="{{ lienTrip|scroll_to_id("REVIEWS") }}" class="uk-button uk-button-default mosl-lientrip"><i class="fa fa-tripadvisor"></i>  {{ 'Voir les avis Tripadvisor'|trans }} <i class="fa fa-external-link"></i></a>
                    </div>
                {% endif %}
            </div>

        </div>
    {% endif %}
</div>
