<?php
{% set tel = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'telephone-s-de-contact') %}
    {% set tel = fiche.ficheBlocks|extract_first_text_value('telephone-s-de-contact') %}
{% endif %}
{% set inf3 = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-3') %}
    {% set inf3 = fiche.ficheBlocks|bridge_render_named_block('infos-supplementaires-3') %}
{% endif %}

<section id="comment-venir" class="uk-section">
    <div class="uk-container uk-container-center">
        <h2 class="uk-width-1-1">{{ 'Nous contacter'|trans }}</h2>
        <div uk-grid>
            <div class="uk-width-1-2@m reservation">
                {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
                    {% set blockData = attribute(fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
                    {% set lienresa = '' %}
                    {% if blockData.content.fields is defined and blockData.content.fields|length > 0 %}
                        {% for section in blockData.content.fields %}
                            {% for item in section.items %}
                                {% if item.textValue is defined and item.textValue != '' %}
                                    {% set lienresa = item.textValue %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% if lienresa != '' %}
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">{{ 'Réservation'|trans }}</h3>

                                {% if blockData.content.fields is defined and blockData.content.fields|length > 0 %}
                                    {% for section in blockData.content.fields %}
                                        {% for item in section.items %}
                                            {% set resalabel = 'Réservation'|trans %}
                                            {% if item.label is defined and item.label != '' %}
                                                {% set resalabel = item.label %}
                                            {% endif %}
                                            {% if item.textValue is defined and item.textValue != '' %}
                                                <a target="_blank" href="{{ item.textValue|raw }}" class="uk-button uk-button-primary uk-width-1-1 uk-margin">{{ resalabel|raw }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="uk-width-1-2@m coordonnees">
                <h3>{{ fiche.name }}</h3>
                <ul class="uk-list uk-margin-remove-left uk-margin-top">

                    {% if inf3 != '' %}
                        <li><i class="fa fa-user"></i> {{ inf3|raw }}</li>
                    {% endif %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/site-s-web.html.twig' %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/email-de-contact.html.twig' %}
                    {% if tel != '' %}
                        <li><i class="fa fa-phone"></i> {{ tel }}</li>
                    {% endif %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/coordonnees.html.twig' %}
                </ul>
                {% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'reseaux-sociaux') %}
                    <div class="reseaux uk-margin">
                        <span>{{ 'Retrouvez-nous aussi sur les réseaux sociaux'|trans }}</span>
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/reseaux-sociaux.html.twig' %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if images|length > 3 %}
            <img src="{{ images[3].url|bridge_resize_image("tronq", 1280, 400)|raw }}" alt="" />
        {% endif %}
    </div>
</section>