{#
# Template d'affichage de composant dates d'ouvertures/ de manifs en tableau
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
# MonTheme/plugin-sit/templates/templates-bridge/fiche/gabarits
#
# @version 3.2.2
#
#}

{% set horaires = fiche.hours %}
{% set tabAffichage = get_fiche_hours_as_array_for_display_as_calendar(fiche, bridgeParameters.lang) %}
{% set fin = '' %}

{% set startDate = date('last monday') %}
{% set startDateYmd = startDate|date('Y-m-d') %}

{% set activeDate = date() %}
{% set activeDateStr = activeDate|date('Y-m-d') %}

{% set dates = tabAffichage|keys %}

{% set curIdx = 0 %}
{% for key, laDate in dates %}
    {% if laDate == startDateYmd %}
        {% set curIdx = key %}
    {% endif %}
{% endfor %}

{# dates|filter(v => v == startDateYmd)|join('')|number_format %} #}

{% set startDatedmY = startDate|date('d/m/Y') %}
{% set endDate = date('next sunday') %}
{% set endDatedmY = endDate|date('d/m/Y') %}

{% set pickerLanguage = bridgeParameters.lang %}

{% if horaires is iterable and horaires|length > 0 %}

    <script type="text/javascript">
        jQuery(document).ready(function() {

            var bridgeDatesFiche = {
                {% set i = 0 %}
                {% for key, ladispo in tabAffichage %}
                {%  set tabKey = ladispo['ladate']|slice(6,4) ~ '-' ~ ladispo['ladate']|slice(0,2) ~ '-' ~ ladispo['ladate']|slice(3,2) %}
                {{ (i > 0)?',':'' }}"{{ tabKey }}": {statut: {{ ladispo['statut'] }}, content:"{{ (ladispo['statut'] == 1) ? 'Ouvert'|trans ~ ' ' ~ ladispo['horaires']|join(', ') : 'Fermé'|trans }}"}
                {% set i = i + 1 %}
                {% endfor %}
            };

            window.bridge_hours_datepicker = jQuery('#bridge-hours-table-start-date').datepicker({
                language: '{{ pickerLanguage }}',
                format: 'yyyy-mm-dd',
                weekStart: 1,
                zIndex: 1000000,
                autoHide: true,
                // container: jQuery(this).parent(),
                trigger: '.edit-horaires',
                // pick: bridge_hours_table_changeDate
            });

            window.bridge_hours_datepicker.on('pick.datepicker', function(e) {
                // var dateUs = jQuery(window.bridge_hours_datepicker).datepicker('getDate', true);
                var selectedDate = e.date;
                // On se met sur Greenwich pour éviter les déclages en ISO
                selectedDate.setUTCHours(0);
                var selectedDateUs = selectedDate.toISOString().slice(0,10);
                var lastMonday = new Date(selectedDate);

                // On descend au Lundi précédent la date sélectionnée
                lastMonday.setDate(lastMonday.getDate() - ((lastMonday.getDay() + 6) % 7));

                var curDay = new Date(lastMonday.getTime());
                var curDayUs = curDay.toISOString().slice(0,10);
                var dow = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];
                var tdText = '';

                for(var i=0 ; i < 7 ; i++ ) {
                    tdText = bridgeDatesFiche[curDayUs].content;
                    if(selectedDateUs === curDayUs && bridgeDatesFiche[curDayUs].statut === 1) {
                        tdText += ' <strong><i class="fa fa-check"></i> {{ 'Ouvert'|trans|e('js') }}</strong>';
                    }
                    jQuery('#bridge-hours-table-' + dow[i]).html(tdText);

                    curDay.setDate(curDay.getDate() + 1);
                    curDayUs = curDay.toISOString().slice(0,10);
                }
                // On recale la date de fin
                curDay.setDate(curDay.getDate() - 1);
                jQuery('#bridge-hours-display-start-date').html(lastMonday.toLocaleDateString("fr"));
                jQuery('#bridge-hours-display-end-date').html(curDay.toLocaleDateString("fr"));
            });
        });

    </script>
    <section class="horaires composant-dates-tableau">

        <div class="uk-flex uk-flex-between">

            <h3><span class="dates">Du <span id="bridge-hours-display-start-date">{{ startDatedmY }}</span> au <span id="bridge-hours-display-end-date">{{ endDatedmY }}</span></span></h3>
            <div id="bridge-hours-display-change-date">

                <a class="uk-link edit-horaires" ><i class="fa-solid fa-pen"></i> Changer</a>
                <div id="bridge-hours-table-start-date" style="visibility:hidden;width:1px; height:1px; overflow:hidden;">&nbsp;</div>
            </div>
        </div>
        <div class="horaires">
            <table id="bridge-hours-table" class="uk-table uk-table-divider" border="0">
                <tr>
                    <th>{{ 'Lundi'|trans }}</th>
                    <td id="bridge-hours-table-monday">
                        {{ dates[curIdx] }}
                        {{ tabAffichage[dates[curIdx]]['horaires']|join('<br/>')|raw }}
                        {{ (tabAffichage[dates[curIdx]]['statut'] == 0)? 'Fermé'|trans:'' }}
                        {{ ((activeDateStr == dates[curIdx] and tabAffichage[dates[curIdx]]['statut'] == 1)?'<strong><i class="fa fa-check"></i> ' ~ 'Ouvert'|trans ~ '</strong>'|raw:'')|raw }}
                        {% set curIdx = curIdx + 1 %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Mardi'|trans }}</th>
                    <td id="bridge-hours-table-tuesday">
                        {{ dates[curIdx] }}
                        {{ tabAffichage[dates[curIdx]]['horaires']|join('<br/>')|raw }}
                        {{ (tabAffichage[dates[curIdx]]['statut'] == 0)? 'Fermé'|trans:'' }}
                        {{ ((activeDateStr == dates[curIdx] and tabAffichage[dates[curIdx]]['statut'] == 1)?'<strong><i class="fa fa-check"></i> ' ~ 'Ouvert'|trans ~ '</strong>'|raw:'')|raw }}
                        {% set curIdx = curIdx + 1 %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Mercredi'|trans }}</th>
                    <td id="bridge-hours-table-wednesday">
                        {{ tabAffichage[dates[curIdx]]['horaires']|join('<br/>')|raw }}
                        {{ (tabAffichage[dates[curIdx]]['statut'] == 0)? 'Fermé'|trans:'' }}
                        {{ ((activeDateStr == dates[curIdx] and tabAffichage[dates[curIdx]]['statut'] == 1)?'<strong><i class="fa fa-check"></i> ' ~ 'Ouvert'|trans ~ '</strong>'|raw:'')|raw }}
                        {% set curIdx = curIdx + 1 %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Jeudi'|trans }}</th>
                    <td id="bridge-hours-table-thursday">
                        {{ tabAffichage[dates[curIdx]]['horaires']|join('<br/>')|raw }}
                        {{ (tabAffichage[dates[curIdx]]['statut'] == 0)? 'Fermé'|trans:'' }}
                        {{ ((activeDateStr == dates[curIdx] and tabAffichage[dates[curIdx]]['statut'] == 1)?'<strong><i class="fa fa-check"></i> ' ~ 'Ouvert'|trans ~ '</strong>'|raw:'')|raw }}
                        {% set curIdx = curIdx + 1 %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Vendredi'|trans }}</th>
                    <td id="bridge-hours-table-friday">
                        {{ tabAffichage[dates[curIdx]]['horaires']|join('<br/>')|raw }}
                        {{ (tabAffichage[dates[curIdx]]['statut'] == 0)? 'Fermé'|trans:'' }}
                        {{ ((activeDateStr == dates[curIdx] and tabAffichage[dates[curIdx]]['statut'] == 1)?'<strong><i class="fa fa-check"></i> ' ~ 'Ouvert'|trans ~ '</strong>'|raw:'')|raw }}
                        {% set curIdx = curIdx + 1 %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Samedi'|trans }}</th>
                    <td id="bridge-hours-table-saturday">
                        {{ tabAffichage[dates[curIdx]]['horaires']|join('<br/>')|raw }}
                        {{ (tabAffichage[dates[curIdx]]['statut'] == 0)? 'Fermé'|trans:'' }}
                        {{ ((activeDateStr == dates[curIdx] and tabAffichage[dates[curIdx]]['statut'] == 1)?'<strong><i class="fa fa-check"></i> ' ~ 'Ouvert'|trans ~ '</strong>'|raw:'')|raw }}
                        {% set curIdx = curIdx + 1 %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Dimanche'|trans }}</th>
                    <td id="bridge-hours-table-sunday">
                        {{ tabAffichage[dates[curIdx]]['horaires']|join('<br/>')|raw }}
                        {{ (tabAffichage[dates[curIdx]]['statut'] == 0)? 'Fermé'|trans:'' }}
                        {{ ((activeDateStr == dates[curIdx] and tabAffichage[dates[curIdx]]['statut'] == 1)?'<strong><i class="fa fa-check"></i> ' ~ 'Ouvert'|trans ~ '</strong>'|raw:'')|raw }}
                        {% set curIdx = curIdx + 1 %}
                    </td>
                </tr>
            </table>
        </div>
    </section>


{% endif %}

