
<div class="avisTrip">
    {% if tripNote is not empty %}
        {% set nbAvis = '' %}
        {% set imgAvis = '' %}
        {% if tripData.num_reviews is defined %}
            {% set nbAvis = tripData.num_reviews %}
        {% endif %}
        {% if tripData.rating_image_url is defined %}
            {% set imgAvis = tripData.rating_image_url %}
        {% endif %}
        {{ tripNote }}

        {% if imgAvis != '' %}
            <img src="{{ imgAvis }}"/>
        {% else %}
            {% if tripNote + 0 >= 1 %}<i class="fa fa-star"></i> {% endif %}
            {% if tripNote + 0 >= 2 %}<i class="fa fa-star"></i> {% endif %}
            {% if tripNote + 0 >= 3 %}<i class="fa fa-star"></i> {% endif %}
            {% if tripNote + 0 >= 4 %}<i class="fa fa-star"></i> {% endif %}
            {% if tripNote + 0 >= 5 %}<i class="fa fa-star"></i> {% endif %}
            {% if (tripNote * 10) % 10 > 0 %}<i class="fa-solid fa-star-half-stroke"></i> {% endif %}
        {% endif %}
        {% if nbAvis != '' %}
            ({{ nbAvis }} avis)
        {% endif %}

    {% endif %}
</div>