{#
# Template d'affichage des blocs personnalisés dans la fiche de détail
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set blocks = fiche.ficheBlocks.custom  %}


{% set hierarchicalCustomBlocks = fiche|prepare_custom_blocks_display %}


{# Signets pour savoir quand insérer des séparateurs #}
{%  set previousGroupId = -1 %}
{%  set previousBlockId = -1 %}

{%  set nbOnglets = 0 %}
{% if hierarchicalCustomBlocks|length > 0 %}
    <section class="onglet">
        <div uk-grid>
            {% for onglet in hierarchicalCustomBlocks %}
                {%  set groupeactif = false %}
                {% if nbOnglets > 0 %}
                    {% if onglet.group is defined and onglet.group is not empty  and onglet.group == 1 %}
                        <hr class="block-separator group-separator uk-width-1-1 uk-divider-icon {{ onglet.separatorClass|raw }}"/>
                    {% else %}
                        <hr class="block-separator uk-width-1-1 uk-divider-icon {{ onglet.items[0].separatorClass|raw }}"/>
                    {% endif %}
                {% endif %}
                {% set nbOnglets = nbOnglets + 1 %}
                {% set nbItems = 0 %}
                {% if onglet.group is defined and onglet.group is not empty  and onglet.group == 1 %}
                    <div id="custom-block-{{ onglet.blockId }}" class="custom-block {{ onglet.class }}">
                    <div class="uk-container uk-container-center">
                    <h2 class="block-group-label">{{ onglet.title|raw }}</h2>
                    <div uk-grid>
                    {% set groupeactif = true %}
                {% endif %}

                {% for item in onglet.items %}
                    {% set blockData = item.blockData %}
                    {% set idonglet = 'id="custom-block-' ~ onglet.blockId ~ '"' %}
                    <div {{ (onglet.group is not defined or onglet.group is empty or onglet.group != 1) ? idonglet|raw : '' }} class="custom-block {{ item.class }}">
                        <div class="uk-container">
                            {% if nbItems > 0 %}
                                <hr class="block-separator uk-width-1-1 uk-divider-icon {{ item.separatorClass|raw }}"/>
                            {% endif %}
                            {% if item.title is not empty %}
                                <h3 class="block-label uk-h2"><span>{{ item.title|raw }}</span></h3>
                            {% endif %}
                            {% if item.component is not empty %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/gabarits/' ~ item.component ~ '.html.twig' %}
                            {% else %}
                                {{ item.html|raw }}
                            {% endif %}

                            {%  set nbItems = nbItems + 1 %}
                        </div>
                    </div>
                {% endfor %}
                {% if onglet.group is defined and onglet.group == 1 %}
                    </div>
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}

<style type="text/css">
    .containerblockSection {
        display:flex;
    }
    .containerblockSection h4 {
        flex-basis: 50%;
        text-align: right;
        padding-right: 1em;
        margin:0;
    }
    .containerblockSection h4+.blockSection {
        flex-basis: 50%;
        padding-left: 1em;
        /*
        text-align: right;
        padding-right: 2em;
        margin:0; */
    }

    .custom-block.mosl-highlight > div { background-color:#333; color: #FFF; padding-bottom:2em;}
    .custom-block.mosl-highlight .uk-h1,
    .custom-block.mosl-highlight h1,
    .custom-block.mosl-highlight .uk-h2,
    .custom-block.mosl-highlight h2,
    .custom-block.mosl-highlight .uk-h3,
    .custom-block.mosl-highlight h3,
    .custom-block.mosl-highlight .uk-h4,
    .custom-block.mosl-highlight .h4,
    .custom-block.mosl-highlight .uk-h5,
    .custom-block.mosl-highlight h5
    { color: #FFF;}

    .custom-block.mosl-highlight .containerblockSection { display: block; }
    .custom-block.mosl-highlight .containerblockSection h4 { margin-top:10px; margin-bottom: 20px; text-align: left; }



</style>
