{#
# Template d'affichage d'une page fiche détaillée - modèle fiche itinéraire
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/
#
# @version 3.2.2
#}
{% block libraries %}{{ attach_library('mosl/custom_bridge.fiche') }}{% endblock %}

{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}
{% set hierarchicalCustomBlocks = fiche|prepare_custom_blocks_display %}
{% set htmlTitre = fiche.ficheBlocks|bridge_render_named_block('titre-de-la-fiche') %}

<div class="bridge-fiche fiche-mosl" id="detailfiche">
    <header class="fiche-mosl__container fiche-mosl__header">
        <div class="wrapper">
            <div class="fiche-mosl__header-description">
                <div class="fiche-mosl__informations">
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-1.html.twig' %}
                </div>
                <h1 class="fiche-mosl__title">{{ htmlTitre|raw }}</h1>
                {# <div>{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/classements-labels.html.twig' %}</div> #}
                <div class="fiche-mosl__localisation">
                    {{ fiche.city|raw }}
                    {% if fiche.geoSearch and fiche.city != fiche.geoCity %}
                        - {{ '%distance% km of %city%'|t({},{'context':'sitlor: distance of city'})|replace({'%distance%':fiche.geoDistance|round(2),'%city%':fiche.geoCity}) }}
                    {% endif %}
                </div>
                <div class="fiche-mosl__actions">
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/telephone-s-de-contact.html.twig' %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/lien-de-reservation-en-ligne.html.twig' %}
                </div>
                {# {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/extract-avis-tripadivsor.html.twig' %} #}
            </div>
            <div class="fiche-mosl__header-image">
                {% if images|length > 0 %}
                    <div class="swiper-container">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {% for image in images %}
                                    <div class="swiper-slide">
                                        <img src="{{ image.url|bridge_resize_image("tronq", 788, 632)|raw }}" alt="{{ fiche.name }}" loading="lazy" />
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-controls swiper-controls--centered">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    <section class="fiche-mosl__container fiche-mosl__description">
        <div class="wrapper">
            <div class="fiche-mosl__description-visual">
                {% if images|length > 1 %}
                    <img src="{{ images[1].url|bridge_resize_image("tronq", 800, 600)|raw }}" alt="{{ fiche.name }}" loading="lazy" />
                {% endif %}
            </div>
            <div class="fiche-mosl__description-text">
                {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/descriptif.html.twig' %}
            </div>
        </div>
    </section>
    <section class="fiche-mosl__container fiche-mosl__localisation-map">
        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-ficheitineraire/localisation.html.twig' %}
    </section>
    <div class="fiche-mosl__informations-container">
        <div class="fiche-mosl__container fiche-mosl__informations-nav">
            <div class="wrapper">
                <div class="current-nav"></div>
                <ul>
                    {% if hierarchicalCustomBlocks|length > 0 %}
                        {% for onglet in hierarchicalCustomBlocks %}
                            {% if onglet.title != '' %}
                                <li><a href="#custom-block-{{ onglet.blockId }}">{{ onglet.title|raw }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-2') %}
                        {% set blockData = attribute(fiche.ficheBlocks, 'infos-supplementaires-2') %}
                        <li><a href="#horaires">{{ blockData.blockLabel|raw ? blockData.blockLabel|raw : 'Horaires'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li>
                    {% endif %}
                    {# <li><a href="#comment-venir">{{ 'Comment venir ?'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li> #}
                    <li><a href="#contact">{{ 'Contacts'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li>
                    {# <li><a href="#commentaires">{{ 'Commentaires'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li> #}
                    {% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
                        {% set lien = fiche.ficheBlocks|extract_first_text_value('lien-de-reservation-en-ligne') %}
                        {% if lien != '' %}
                            <li class="reservation"><a target="_blank" href="{{ lien }}">{{ 'Réserver'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <main class="fiche-mosl__informations-blocks">
            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-ficheitineraire/infos-supplementaires-1.html.twig' %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-2.html.twig' %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/onglets.html.twig' %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/horaires.html.twig' %}
            {# {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/comment-venir.html.twig' %} #}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/contact.html.twig' %}
            {# {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/commentaires.html.twig' %} #}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-3.html.twig' %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-4.html.twig' %}
        </main>
    </div>
</div>
