{#
# Template d'affichage du modèle de liste liste4
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste
#
# @version 3.2.2
#}

{% set moteurEnDouble = '' %}
{% block quick_search %}
    <div class="bridge-quick-search">
        {% set minSection=1 %}
        {% set maxSection=1 %}
        {% include '@pylot_bridge/templates-bridge-twig/liste/specifique/mosl/moteur-body-mosl.html.twig' %}
    </div>
{% endblock %}

{% block filters_search %}
    <div class="bridge-filters-search">
        <div class="filters">
            {% if moteur is defined and bridge_is_object(moteur) and moteur.id is defined and moteur.id is not empty %}
                <div class="bridge-filters">
                    <div class="bridge-filters__label"><span>{{ 'Filtrer par'|t({}, {'context': 'SitLor filters'}) }}</span></div>
                    <div class="bridge-filters__content">
                        <div class="bridge-filters__filters"></div>
                        <div class="bridge-filters__arrow"></div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="filters-filters">
            <div class="filters-filters__content">
                <button class="filters-filters__close"></button>
                <div class="filters-filters__title">
                    <span>{{ 'Filtrer par'|t({}, {'context': 'SitLor filters'}) }}</span>
                </div>
                <div class="fieldset">
                    {% set minSection=2 %}
                    {% set maxSection=999 %}
                    {% include '@pylot_bridge/templates-bridge-twig/liste/specifique/mosl/moteur-body-mosl.html.twig' %}
                </div>
            </div>
        </div>
        <div class="filters-alt">
            <div class="filters-alt__title">
                <button>{{ 'Filtres'|t({}, {'context': 'SitLor filters'}) }}</button>
            </div>
        </div>
        <div class="search">
            {% block bridge_moteur_mosl_top %}
            {% if moteur is defined and bridge_is_object(moteur) and moteur.id is defined and moteur.id is not empty and moteur.sections|length >= 1 %}
                {% set section = moteur.sections[0] %}
                {% if section.subSections|length >= 1 %}
                    {% set subSection = section.subSections[section.subSections|length - 1] %}
                    {% if subSection.filters|length == 1 and subSection.filters[0].displayType == 'input' %}
                        {% set filter = subSection.filters[0] %}
                        {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/' ~ filter.displayType ~ '.html.twig' %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endblock %}
        </div>
        {# <div class="sort">
            {% include '@pylot_bridge/templates-bridge-twig/liste/tris/tris.html.twig' %}
        </div> #}
    </div>
{% endblock %}

{% block result_count %}
    <div class="bridge-result-count">
        {% block bridge_totals %}
            <div class="bridge-result-count-results">
                {{ '<span class="listeSITCount">@productCount</span> résultats'|trans({'@productCount': listInfos.totalProducts})|raw }}
            </div>
        {% endblock %}
        <div class="bridge-map-toggler bridge-map-toggler--open">
            <button>{{ 'Vue carte'|t({}, {'context': 'SitLor map toggler'}) }}</button>
        </div>
    </div>
{% endblock %}

{% block bridge_activefilters %}
    <div class="bridge-filters-active bridgeActiveFiltersDiv"></div>
    {#  DN CONSULTANTS 21.10.2022 : bouton de suppression #}
    <div class="bridgeActiveFilterRemoveAll bridgeActiveFilter uk-label" style="display:none;"><span class="bridgeActiveFilterLabel">{{ 'Tout effacer'|trans }}</span></div>
{% endblock %}

{% block list %}
    <div class="bridge-list liste4">
        <div class="bridge-map-toggler bridge-map-toggler--close">
            <button>{{ 'Masquer la carte'|t({}, {'context': 'SitLor map toggler'}) }}</button>
        </div>
        {% block bridge_moteur_side %}
            <div class="filters-filters">
                <div class="filters-filters__content">
                    <div class="fieldset">
                        {% set minSection = 2 %}
                        {% set maxSection = 999 %}
                        {% set moslAltFilters = true %}
                        {% include '@pylot_bridge/templates-bridge-twig/liste/specifique/mosl/moteur-body-mosl.html.twig' %}
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="bridge-list__results" uk-filter="target: .filter-sit">
            {% block bridge_list %}
            <div id="listeSIT" class="listeSIT filter-sit">
                {% if data is defined and listInfos.totalProducts > 0 %}
                    {% for fiche in data.selection.results.products %}
                        {#  set link = fiche|bridge_product_permalink #}
                        {% set link = fiche.link %}

                        {% set photo = '' %}
                        {% set photo2 = '' %}
                        {% set images = fiche.listBlocks|bridge_extract_photos('photo') %}
                        {% if images|length > 0 %}
                            {% set photo = images[0].url %}
                        {% elseif listParameters.defaultImage is defined and listParameters.defaultImage.url is defined and listParameters.defaultImage.url is not empty %}
                            {% set photo = listParameters.defaultImage.url %}
                        {% endif %}
                        {% if images|length > 1 %}
                            {% set photo2 = images[1].url %}
                        {% endif %}
                        <div class="liste_sit_item center-on-hover" data-dnc-produit="{{ fiche.productCode }}">
                            {% include '@pylot_bridge/templates-bridge-twig/liste/gabarits/' ~ listInfos.bridgeModeleListeitem ~ '.html.twig' with {
                                'ficheIndex': loop.index,
                            } %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="h4 center"> {{ 'Aucun résultat'|trans }}</div>
                    <p class="center"> {{ 'La liste est vide avec ces critères.'|trans }}</p>
                {% endif %}
            </div>
            {% endblock %}
            {% block bridge_pagination %}
            {% if listParameters.paginationType == 'PAGINATION' %}
                {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
            {% elseif listParameters.paginationType == 'INFINITE_SCROLL' %}
                {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
                {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/infinitescroll.html.twig' %}
            {% endif %}
            {% endblock %}
        </div>
        <div class="bridge-list__map">
            {% block bridge_map %}
            <div id="maps">
                <div id="mapsSIT"></div>
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        jQuery('.delallm').click(function() {
            window.mapService.delallmarkers();
        });
    </script>

    <script type="text/javascript">
        var urlbasemap = '{{ bridgeParameters.url_ajax_liste_json_poi }}';
        var lurlcarte = "";
        var lang = "{{ listInfos.lang }}";
        var paramsurl = "1=1";
        var paramsurlcount = "1=1";
        var lenom = "";
        var bridgeMapTotalPointsAdded = 0;
        var bridgeMapNumPointsByCall = 100; // {{ listInfos.limitPerPage }} ;
        var iconOptions = {};

        // Gère le javascript de la carto
        bridgeDocumentReady(function()
        {
            if (typeof window.bridge_init_carto === 'undefined') {
                window.bridge_init_carto = true;
                window.markercmpt = 0;
                window.mapService = new dncLeafletServices('mapsSIT');

                window.mapService.mapoptions = {
                    zoom: 13, // Niveau de Zoom de départ
                    centerlat: window.bridgeMapOptions.centerLat, // Latitude du centre au départ
                    centerlon: window.bridgeMapOptions.centerLng, // Longitude du centre au départ
                    maptype: 'MAPTYPE_OPENSTREETMAPS', // Type de vue : ROAD, SATTELITE, HYBRID, 3D
                    gridSize: 0,
                    maxZoom: 12, // Niveau de zoom à partir duquel faire la clusterisation
                    scrollWheelZoom: false
                };

                {% block javascript_after_init_map %}
                {% endblock %}

                var mapdiv = document.getElementById("mapsSIT");
                bridgeRefreshMap();

                window.mapService.defaultIconOptions = {
                    iconSize: [{{ bridgeParameters.marker_map_width }}, {{ bridgeParameters.marker_map_height }}],
                    iconAnchor: [{{ (bridgeParameters.marker_map_width/2)|round }}, {{ (bridgeParameters.marker_map_height/2)|round }}],
                    popupAnchor: [0, -3]
                };

                window.mapService.init();
                window.mapService.switchToWordpress();
                window.mapService.disabledMouseWheel();

                {% if moteur is defined and moteur.id is defined %}
                {% set moteurId = moteur.id %}
                {% else %}
                {% set moteurId = '' %}
                {% endif %}
                {% set modelsWithMap = ['liste3', 'liste4'] %}
                // Pour ne pas charger plusieurs fois les points
                window.pointsAddedToMap = false;

                if ('{{ moteurId }}' != '' && window.bridgeMoteur{{ moteurId }} !== undefined) {
                    window.bridgeMoteur{{ moteurId }}.addEventHandler('afterSubmit', function (moteur) {
                        // On ne recharge les points que si la carte est visible
                        if(jQuery('#mapsSIT').is(":visible")) {
                            bridgeMapTotalPointsAdded = 0;
                            window.mapService.delallmarkers();
                            setTimeout(function() {
                                bridgeAddPointsToMap();
                            }, 200);
                        }
                    });
                    setTimeout(function() {
                        bridgeAddPointsToMap();
                    }, 200);
                    window.bridgeMoteur{{ moteurId }}.calcMoteur(false);
                } else {
                    // On ne recharge les points que si la carte est visible
                    if(jQuery('#mapsSIT').is(":visible")) {
                        bridgeMapTotalPointsAdded = 0;
                        window.mapService.delallmarkers();
                        setTimeout(function() {
                            bridgeAddPointsToMap();
                        }, 200);
                    }
                }

                /* Permet de centrer sur le marker au moment du survol */
                /*jQuery(document).ready(function () {
                         jQuery('#listeSIT .zoom-on-hover').mouseenter( function() {
                    var idfiche = jQuery(this).attr('data-dnc-produit');
                    if(idfiche !== '') {
                        var curZoom = window.mapService.getZoom();
                        window.mapService.activatemarker(idfiche, true, true); // window.mapService.defaultIconOptions
                        window.mapService.centeronmarker(idfiche, curZoom);
                        // tricherie obligatoire pour forcer le point à s'afficher la premiere fois
                        setTimeout(function() {
                            window.mapService.setZoom(curZoom);
                        },500);
                        window.mapService.reDraw();
                    }
                });
                // setTimeout(function () {
                jQuery('#listeSIT .zoom-on-click').click(function() {
                    var idfiche = jQuery(this).attr('data-dnc-produit');
                    if(idfiche !== '') {
                        var curZoom = window.mapService.getZoom();
                        window.mapService.activatemarker(idfiche, true, true); // window.mapService.defaultIconOptions
                        window.mapService.centeronmarker(idfiche, curZoom);
                        // tricherie obligatoire pour forcer le point à s'afficher la premiere fois
                        setTimeout(function() {
                            window.mapService.setZoom(curZoom);
                        },500);
                        window.mapService.reDraw();
                    }
                });
            });
            */
                UIkit.util.on('.bridgeMapSwitcher', 'show', function () {
                    // if(window.pointsAddedToMap === false) {
                    bridgeMapTotalPointsAdded = 0;
                    window.mapService.delallmarkers();
                    setTimeout(function() {
                        bridgeAddPointsToMap();
                    }, 200);
                    // }
                });

                // bridgeAddPointsToMap();
                // window.mapService.fitboundstomarkers();

                jQuery(window).resize(function () {
                    bridgeRefreshMap();
                });

                // Clic sur le bouton de passage en mode carte sur mobile : on passe sur l'onglet carte de la liste puis on ouvre en plein écran
                jQuery('.bridge-map-toggle-fullscreen').click(function (e) {
                    e.preventDefault();
                    // Si on a un switch liste / carte, on passe d'abord sur l'onglet carte
                    if (jQuery('.bridgeMapSwitcher').length > 0) {
                        jQuery('.bridge-map-toggle').click();
                        UIkit.switcher('.bridgeMapSwitcher').show('#bridgeSwitchMap');
                    }
                    if (window.mapService) {
                        // Si les points ne sont pas encore présents sur la carte, on les ajoute
                        // if (window.pointsAddedToMap === false) {
                        bridgeMapTotalPointsAdded = 0;
                        window.mapService.delallmarkers();
                        setTimeout(function() {
                            bridgeAddPointsToMap();
                        }, 200);
                        // }
                        // On passe la carte en plein écran
                        window.mapService.setZoom(14);
                        setTimeout(function () {
                            window.mapService.fitboundstomarkers();
                            // window.mapService.reDraw();
                            bridgeRefreshMap();
                            window.mapService.toggleFullScreen();
                        }, 250);
                    }
                });

                // Sur retour du mode plein écran, si on est en liste avec bascule liste/carte, on rebascule sur l'onglet liste
                if (jQuery('.bridgeMapSwitcher').length > 0) {
                    window.mapService.on('mapexitfullscreen', function (e) {
                        // On laisse le temps à la carte de revenir dans la page
                        setTimeout(function () {
                            UIkit.switcher('.bridgeMapSwitcher').show('#bridgeSwitchList');
                            jQuery('#bridgeSwitchMap').removeClass('uk-active');
                            jQuery('.bridge-map-toggle').parent().removeClass('uk-active');
                            jQuery('.bridge-map-toggle').attr('aria-expanded', 'false');
                            jQuery('#bridgeSwitchList').addClass('uk-active');
                            jQuery('.bridge-list-toggle').attr('aria-expanded', 'true');
                            jQuery('.bridge-list-toggle').parent().addClass('uk-active');
                        }, 200);

                    });
                }
            }
        });

        function bridgeRefreshMap() {
            var sizeneg = (jQuery(window).width()-jQuery('#maps-loc').parents('.elementor-container').width()+100)/2;
            jQuery('#maps-loc').css({
                position: 'relative',
                width: jQuery(window).width(),
                //left: '50%',
                marginLeft: '-'+sizeneg+'px'
            });
        }

        // Fonction qui ajoute les points
        // Elle se rappelle elle-même jusqu'à être arrivée au bout
        function bridgeAddPointsToMap() {
            // On signale que l'init des points est faite
            window.pointsAddedToMap = true;

            jQuery(document).find('article.ficheproduit').each(function() {

               let productCode = jQuery(this).attr('data-dnc-produit');
               let lat = jQuery(this).attr('data-dnc-lat');
               let lon = jQuery(this).attr('data-dnc-lon');
               let name = jQuery(this).attr('data-dnc-name');
               let link = jQuery(this).attr('data-dnc-link');

                var popupcontent = "";
                var onclickf = function(mapositionId) {
                    window.mapService.openinfomarker(mapositionId);
                };


                if(lat !== null && lon !== null) {
                    // Ici on construit le contenu du popup
                    popupcontent = '<a class="uk-button uk-button-primary" href="' + link + '" style="font-size:11px">' + name + '</a>';
                    window.mapService.addmarker(
                        productCode,
                        lat,
                        lon,
                        name,
                        window.bridgeMapOptions.markerIcon,
                        window.bridgeMapOptions.activeMarkerIcon,
                        popupcontent,
                        onclickf);
                }

                // Ici on ajuste le Zoom aux points affichés
                setTimeout(function() {
                    window.mapService.fitboundstomarkers();
                },500);
            });
        }

    </script>
{% endblock %}

