{#
# Template d'affichage du modèle de liste carousel
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste
#
# @version 3.2.2
#}

<div class="bridge-liste carousel mosl-slider">
    <div class="swiper">
        <div class="swiper-wrapper uk-child-width-1-3" uk-grid>
            {% if data is defined and listInfos.totalProducts > 0 %}
                {% for fiche in data.selection.results.products %}
                    {#  set link = fiche|bridge_product_permalink #}
                    {% set link = fiche.link %}

                    {% set photo = '' %}
                    {% set photo2 = '' %}
                    {% set images = fiche.listBlocks|bridge_extract_photos('photo') %}
                    {% if images|length > 0  %}
                        {% set photo = images[0].url %}
                    {% elseif listParameters.defaultImage is defined and listParameters.defaultImage.url is defined and listParameters.defaultImage.url is not empty %}
                        {% set photo = listParameters.defaultImage.url %}
                    {% endif %}
                    {% if images|length > 1  %}
                        {% set photo2 = images[1].url %}
                    {% endif %}

                        {% include '@pylot_bridge/templates-bridge-twig/liste/gabarits/' ~ listInfos.bridgeModeleListeitem ~ '.html.twig' %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="swiper-controls">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</div>