{#
# Template d'affichage du contenu de moteur d'affinage dans les listes
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur
#
# @version 3.2.2
#}

{% set modeMultiMoteur = false %}
{% set indexSwitchMultiMoteur = 1 %}
{% set multiMoteursAfficherSections = false %}
{% set moteurSections = [] %}
{% if listParameters is defined and listParameters.modeMultiMoteurs is defined and listParameters.modeMultiMoteurs == true %}
    {% set modeMultiMoteur = true %}
    {% set multiMoteursAfficherSections = listParameters.multiMoteursAfficherSections %}
    {% set indexSwitchMultiMoteur = listParameters.multiMoteursIndexfiltreSwitch|number_format %}
    {% for section in moteur.sections %}
        {% set moteurSections = moteurSections|merge([ section.id ]) %}
    {% endfor %}
{% endif %}

{% set idxSection = 1 %}
{% for section in moteur.sections %}
    {% set continue = false %}
    {# Spécifique Moselle : couper le moteur en deux parties #}
    {% if modeMultiMoteur and minSection is defined  and minSection > idxSection %}
        <div class="bridge-moteur-section moteur-section-{{ section.id }}" style="display:none"></div>
        {% set continue = true %}
    {% endif %}

    {% if not continue and modeMultiMoteur and maxSection is defined and maxSection < idxSection %}
        {% set continue = true %}
    {% endif %}
    {% if not continue %}
        {% set attrSections = '' %}

        {% set idxFiltreSection = 1 %}
        {% set styleSection = '' %}

        {% if modeMultiMoteur and not multiMoteursAfficherSections and idxSection > 1 %}
            {% set styleSection = 'display:none;' %}
        {% endif %}

        {% block moteur_section %}
        <div class="bridge-moteur-section moteur-section-{{ section.id }}" style="{{ styleSection }}">
            {% if section.label is not empty %}
                <h4 class="moteur-section-label">
                    {{ section.label }}
                </h4>
            {% endif %}

            {% set excludedSubsectionCount = 0 %}

            {% for subsection in section.subSections %}
                {% if modeMultiMoteur and idxSection == 1 and loop.index == section.subSections|length and subsection.filters|length == 1 and subsection.filters[0].displayType == 'input' %}
                    {% set excludedSubsectionCount = excludedSubsectionCount + 1 %}
                {% endif %}
            {% endfor %}

            <div class="moteur-section-list moteur-section-list-{{ (section.subSections|length) - excludedSubsectionCount }} {{ section.sectionColumns|bridge_get_child_colums }}">
                {% for subsection in section.subSections %}
                    {# On déplace la dernière sous-section de la première section si elle contient le champ de recherche texte #}
                    {% if modeMultiMoteur and idxSection == 1 and loop.index == section.subSections|length and subsection.filters|length == 1 and subsection.filters[0].displayType == 'input' %}
                        {# On affiche pas cette section => déplacée près du bouton filtre #}
                    {% else %}
                        <div class="subsection {{ 'ssmoteur-' ~ subsection.id }} {{ subsection.subSectionWidth|bridge_get_item_width }}">
                            {% if subsection.label != '' %}
                                <div class="h5 moteur-section-label">
                                    <span>{{ subsection.label }}</span>
                                </div>
                            {% endif %}
                            <div class="{{ subsection.subSectionColumns|bridge_get_child_colums }}">
                                {% for filter in subsection.filters %}
                                    <div>
                                        {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/' ~ filter.displayType ~ '.html.twig' %}
                                    </div>
                                    {% set idxFiltreSection = idxFiltreSection + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    {% endif %}
    {% set idxSection = idxSection + 1 %}
{% endfor %}
