{% extends 'paragraph.html.twig' %}

{% block component %}
    {% if componentName is defined and componentVars is defined %}
        {% include '@mosl/components/' ~ componentName ~ '.html.twig' with componentVars %}
    {% endif %}
{% endblock %}
