{% extends '@mosl/paragraphs/abstract-component-paragraph.html.twig' %}

{% block render %}
    {% set background_bubble_color = content.field_background_bubble.0['#paragraph'].field_color.entity.name.value
            ? '#' ~ content.field_background_bubble.0['#paragraph'].field_color.entity.name.value
            : ''
    %}

    {{ block('component') }}
    {% if content.field_background_bubble is defined %}
        {{ content.field_background_bubble }}
    {% endif %}
{% endblock %}
