{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block libraries %}{{ attach_library('mosl/component.text_image') }}{% endblock %}

{% block content %}
    {% set componentName = 'text_image' %}
    {% set componentVars = {
        'image' : content.field_image,
        'media_position' : paragraph.field_media_position.0.value,
        'text': paragraph.field_rich_text.value ? paragraph.field_rich_text.value|check_markup(paragraph.field_rich_text.format) : ''
    } %}
    {{ block('render') }}
{% endblock %}
