{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'testimony' %}
    {% set componentVars = {
        'firstname': paragraph.field_firstname.value ? paragraph.field_firstname.value : '',
        'lastname': paragraph.field_lastname.value ? paragraph.field_lastname.value : '',
        'job_title': paragraph.field_job_title.value ? paragraph.field_job_title.value : '',
        'society_name': paragraph.field_society_name.value ? paragraph.field_society_name.value : '',
        'text': paragraph.field_text.value ? paragraph.field_text.value : '',
        'media_position': paragraph.field_media_position.0.value,
        'image': content.field_image
    } %}
    {{ block('render') }}
{% endblock %}
