{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'hero_banner' %}
    {% set componentVars = {
        'link' : {
            'url' : paragraph.field_link.0.getUrl(),
            'title' : paragraph.field_link.value.0.title,
            'attributes' : paragraph.field_link.value.0.options.attributes
        },
        'rich_text': paragraph.field_rich_text.value ? paragraph.field_rich_text.value : '',
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'description': paragraph.field_description.value ? paragraph.field_description.value : '',
        'image' : content.field_image,
        'video' : content.field_video,
        'svg' : content.field_svg,
        'text_position' : paragraph.field_hero_banner_text_position.value
    } %}
    {{ block('render') }}
{% endblock %}
