{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'tab_item' %}
    {% set componentVars = {
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'text': paragraph.field_description.value ? paragraph.field_description.value : '',
        'link' : {
            'url' : paragraph.field_internal_link.0.getUrl(),
            'title' : paragraph.field_internal_link.value.0.title,
            'attributes' : paragraph.field_internal_link.value.0.options.attributes
        },
        'image' : content.field_image,
    } %}
    {{ block('render') }}
{% endblock %}
