{% extends '@mosl/paragraphs/abstract-component-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'background_bubble' %}
    {% set componentVars = {
        'enable' : paragraph.field_enable.0.value == '1' ? true : false,
        'shape' : shape_file_uri is defined ? shape_file_uri : '',
        'color' : paragraph.field_color.entity.name.value is defined ? paragraph.field_color.entity.name.value : '000000',
        'size': paragraph.field_bubble_size.0.value,
        'horizontal_alignment' : paragraph.field_horizontal_alignment.0.value,
        'vertical_alignment' : paragraph.field_vertical_alignment.0.value,
        'horizontal_gap' : paragraph.field_horizontal_gap.0.value,
        'vertical_gap' : paragraph.field_vertical_gap.0.value,
        'scale' : paragraph.field_scale.0.value,
    } %}
    {{ block('component') }}
{% endblock %}
