{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'text_two_columns' %}
    {% set componentVars = {
        'first_text': paragraph.field_first_rich_text.value ? paragraph.field_first_rich_text.value|check_markup(paragraph.field_first_rich_text.format) : '',
        'second_text': paragraph.field_second_rich_text.value ? paragraph.field_second_rich_text.value|check_markup(paragraph.field_second_rich_text.format) : '',
        'background_color': paragraph.field_background_color.value ? paragraph.field_background_color.value : '',
        'column_size': paragraph.field_column_size.0.value,
        'wrapper_size' : paragraph.field_wrapper_size.value ? paragraph.field_wrapper_size.value : 'default'
    } %}
    {{ block('render') }}
{% endblock %}
