{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'taggbox_widget' %}
    {% set componentVars = {
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'text': paragraph.field_text.value ? paragraph.field_text.value : '',
        'description': paragraph.field_description.value ? paragraph.field_description.value : '',
        'link' : {
            'url' : paragraph.field_link.0.getUrl(),
            'title' : paragraph.field_link.value.0.title,
            'attributes' : paragraph.field_link.value.0.options.attributes
        },
    } %}
    {{ block('render') }}
{% endblock %}
