{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'text_remote_video' %}
    {% set componentVars = {
        'text': paragraph.field_rich_text.value ? paragraph.field_rich_text.value|check_markup(paragraph.field_rich_text.format) : '',
        'remote_video' : content.field_remote_video
    } %}
    {{ block('render') }}
{% endblock %}
