{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'grid_item_image' %}
    {% set componentVars = {
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'text': paragraph.field_text.value ? paragraph.field_text.value : '',
        'use_background': paragraph.field_use_background.value == 1 ? true : false,
        'image': content.field_image,
        'link' : {
            'url' : paragraph.field_link.0.getUrl(),
            'title' : paragraph.field_link.value.0.title,
            'attributes' : paragraph.field_link.value.0.options.attributes
        },
    } %}
    {{ block('render') }}
{% endblock %}
