{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'grid_item_icon' %}
    {% set componentVars = {
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'text': paragraph.field_text.value ? paragraph.field_text.value : '',
        'color' : paragraph.field_color.entity.name.value is defined ? paragraph.field_color.entity.name.value : '000000',
        'image': content.field_image
    } %}
    {{ block('render') }}
{% endblock %}
