{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'slider_item_image' %}
    {% set componentVars = {
        'image': content.field_image,
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'description': paragraph.field_description.value ? paragraph.field_description.value : '',
        'link': {
            'url' : paragraph.field_call_to_action.0.getUrl(),
            'title' : paragraph.field_call_to_action.value.0.title,
            'attributes' : paragraph.field_call_to_action.value.0.options.attributes
        },
    } %}
    {{ block('render') }}
{% endblock %}
