{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'image_full_width_with_text' %}
    {% set componentVars = {
        'image': paragraph.field_image|media_image_data,
        'image_mobile': paragraph.field_image_mobile|media_image_data ? paragraph.field_image_mobile|media_image_data : paragraph.field_image|media_image_data,
        'text': paragraph.field_rich_text.value ? paragraph.field_rich_text.value|check_markup(paragraph.field_rich_text.format) : '',
        'background_color': paragraph.field_background_color.value ? paragraph.field_background_color.value : ''
    } %}
    {{ block('render') }}
{% endblock %}
