{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set items = [] %}
    {% for field_grid_item in paragraph.field_grid_items %}
        {% set items = items|merge([content.field_grid_items[loop.index0]]) %}
    {% endfor %}
    {% set componentName = 'grid' %}
    {% set componentVars = {
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'column_number': paragraph.field_column_number.value ? paragraph.field_column_number.value : 4,
        'items': items
    } %}
    {{ block('render') }}
{% endblock %}
