{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set images = [] %}
    {% for field_image in paragraph.field_images %}
        {% set images = images|merge([field_image|media_image_data]) %}
    {% endfor %}
    {% set componentName = 'slider_full_width' %}
    {% set componentVars = {
        'images': images
    } %}
    {{ block('render') }}
{% endblock %}


