{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'quote' %}
    {% set componentVars = {
        'text': paragraph.field_rich_text.value ? paragraph.field_rich_text.value|check_markup(paragraph.field_rich_text.format) : '',
        'color' : paragraph.field_color.entity.name.value is defined ? paragraph.field_color.entity.name.value : '7F21CC',
    } %}
    {{ block('render') }}
{% endblock %}
