{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set items = [] %}
    {% for field_sitlor_item in paragraph.field_sitlor_items %}
        {% set items = items|merge([content.field_sitlor_items[loop.index0]]) %}
    {% endfor %}
    {% set componentName = 'sitlor_map' %}
    {% set componentVars = {
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'items' : items
    } %}
    {{ block('render') }}
{% endblock %}
