{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'text' %}
    {% set componentVars = {
        'text': paragraph.field_rich_text.value ? paragraph.field_rich_text.value|check_markup(paragraph.field_rich_text.format) : '',
        'wrapper_size' : paragraph.field_wrapper_size.value ? paragraph.field_wrapper_size.value : 'default'
    } %}
    {{ block('render') }}
{% endblock %}
