{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'image_dual' %}
    {% set componentVars = {
        'direction' : paragraph.field_direction.0.value,
        'first_text': paragraph.field_first_rich_text.value ? paragraph.field_first_rich_text.value|check_markup(paragraph.field_first_rich_text.format) : '',
        'second_text': paragraph.field_second_rich_text.value ? paragraph.field_second_rich_text.value|check_markup(paragraph.field_second_rich_text.format) : '',
        'first_image' : content.field_two_images.0,
        'second_image' : content.field_two_images.1,
    } %}
    {{ block('render') }}
{% endblock %}
