{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set items = [] %}
    {% for field_slider_item in paragraph.field_slider_items %}
        {% set items = items|merge([content.field_slider_items[loop.index0]]) %}
    {% endfor %}
    {% set componentName = 'slider_large' %}
    {% set componentVars = {
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'text': paragraph.field_text.value ? paragraph.field_text.value : '',
        'items': items
    } %}
    {{ block('render') }}
{% endblock %}


