{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'text_link' %}
    {% set componentVars = {
        'link' : {
            'url' : paragraph.field_call_to_action.0.getUrl(),
            'title' : paragraph.field_call_to_action.value.0.title,
            'attributes' : paragraph.field_call_to_action.value.0.options.attributes
        },
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'text': paragraph.field_rich_text.value ? paragraph.field_rich_text.value|check_markup(paragraph.field_rich_text.format) : ''
    } %}
    {{ block('render') }}
{% endblock %}

