{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'form_webform' %}
    {% set componentVars = {

    } %}
    {{ block('render') }}
{% endblock %}
