{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set items = [] %}
    {% for field_tab_item in paragraph.field_tab_items %}
        {% set items = items|merge([content.field_tab_items[loop.index0]]) %}
    {% endfor %}
    {% set componentName = 'tab' %}
    {% set componentVars = {
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'text': paragraph.field_description.value ? paragraph.field_description.value : '',
        'link' : {
            'url' : paragraph.field_link.0.getUrl(),
            'title' : paragraph.field_link.value.0.title,
            'attributes' : paragraph.field_link.value.0.options.attributes
        },
        'items': items
    } %}
    {{ block('render') }}
{% endblock %}
