{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'image_full_width' %}
    {% set componentVars = {
        'image': content.field_image,
        'wrapper_size' : paragraph.field_wrapper_size.0.value is defined ? paragraph.field_wrapper_size.0.value : 'default'
    } %}
    {{ block('render') }}
{% endblock %}
