{% extends '@mosl/paragraphs/abstract-render-paragraph.html.twig' %}

{% block content %}
    {% set componentName = 'carousel_vertical_experiences' %}
    {% set componentVars = {
        'link' : {
            'url' : paragraph.field_internal_link.0.getUrl(),
            'title' : paragraph.field_internal_link.value.0.title,
            'attributes' : paragraph.field_internal_link.value.0.options.attributes
        },
        'title': paragraph.field_title.value ? paragraph.field_title.value : '',
        'quantity': paragraph.field_quantity.value ? paragraph.field_quantity.value : 2,
        'items': items
    } %}
    {{ block('render') }}
{% endblock %}
