{#
# Template d'affichage d'une page fiche détaillée - modèle fiche mosl
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/specifique/mosl
#
# @version 3.2.2
#}
{% block libraries %}{{ attach_library('mosl/custom_bridge.fiche') }}{% endblock %}

{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}
{% set hierarchicalCustomBlocks = fiche|prepare_custom_blocks_display %}
{% set htmlTitre = fiche.ficheBlocks|bridge_render_named_block('titre-de-la-fiche') %}

{% set tripNote = '' %}
{% set tripData = '' %}
{% set tripAvis = '' %}

{% if fiche.modalities != null %}
    {% set filtreTripNote = {"criterionCode" : "1198", "modalityCode": "5491"} %}
    {% set tripNoteData = fiche.modalities|filter_modalities(filtreTripNote) %}
    {% if tripNoteData|length > 0 %}
        {% set tripNote = tripNoteData[0].value %}
    {% endif %}

    {% set filtreTripData = {"criterionCode" : "1198", "modalityCode": "5492"} %}
    {% set tripDataBdd = fiche.modalities|filter_modalities(filtreTripData) %}
    {% if tripDataBdd|length > 0 %}
        {% set tripData = tripDataBdd[0].value %}
        {% if tripData is not empty %}
            {% set tripData = tripData|json_decode %}
        {% else %}
            {% set tripData = '' %}
        {% endif %}
    {% endif %}

    {% set filtreTripAvis = {"criterionCode" : "1198", "modalityCode": "5493"} %}
    {% set tripAvisBdd = fiche.modalities|filter_modalities(filtreTripAvis) %}
    {% if tripAvisBdd|length > 0 %}
        {% set tripAvis = tripAvisBdd[0].value %}
        {% if tripAvis is not empty %}
            {% set tripAvis = tripAvis|json_decode %}
        {% else %}
            {% set tripAvis = '' %}
        {% endif %}
    {% endif %}
{% endif %}

<div class="bridge-fiche fiche-mosl uk-width-1-1" id="detailfiche">
    <header class="bridge-fiche-mosl-hero">
        <div class="uk-container uk-container-center">
            <section class="bridge-mosl-header">
                <div uk-grid class="uk-flex-middle">
                    <div class="uk-width-1-2@m">
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-1.html.twig' %}
                        <h1>{{ htmlTitre|raw }}</h1>
                        <span class="localisation">
                            <i class="fa fa-map-marker"></i> {{ fiche.city|raw }}
                            {% if fiche.geoSearch and fiche.city != fiche.geoCity %}
                                - {{ fiche.geoDistance|round(1) }} KM {{ 'de'|trans }} {{ fiche.geoCity }}
                            {% endif %}
                        </span>

                        {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-5') %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-5.html.twig' %}
                        {% endif %}

                        <div class="actions uk-flex">
                            <div class="uk-width-1-2">
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/telephone-s-de-contact.html.twig' %}
                            </div>
                            <div class="uk-width-1-2">
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/lien-de-reservation-en-ligne.html.twig' %}
                            </div>
                        </div>
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/extract-avis-tripadivsor.html.twig' %}
                    </div>
                    <div class="uk-width-1-2@m">
                        {% if images|length > 1 %}
                        <div class="uk-position-relative uk-visible-toggle mosl-image-1 " tabindex="-1" uk-slideshow="animation: fade;autoplay:true;">
                            <ul class="uk-slideshow-items"> 
                                {% set i = 0 %}
                                {% for image in images %}
                                    <li>
                                        <img src="{{ image.url|bridge_resize_image("tronq", 800, 600)|raw }}" uk-cover>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="uk-light">
                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                            </div>
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/pictogrammes.html.twig' %}
                        </div>
                    {% else %}
                        {% set style = '' %}
                        {% if images|length > 0 %}
                            {% set style = 'background:url(' ~ images[0].url|bridge_resize_image("tronq", 800, 600)|raw ~ ') no-repeat center center; background-size:cover;' %}
                        {% endif %}
                        <header id="chapeau" class="uk-text-center uk-position-relative" style="{{ style }}">
                                <div class="uk-position-center uk-position-small uk-text-center uk-light">
                                    <h1>{{ htmlTitre|raw }}</h1>
                                    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/classements-labels.html.twig' %}
                                </div>
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/pictogrammes.html.twig' %}
                        </header>
                    {% endif %}
                    </div>
                </div>
            </section>
            <section class="bridge-mosl-descriptif uk-margin-large">
                <div uk-grid class="uk-flex-middle">
                    {% if images|length > 1 %}
                        <div class="uk-width-1-4@m">
                            <img src="{{ images[1].url|bridge_resize_image("tronq", 800, 600)|raw }}" alt="" />
                        </div>
                        <div class="uk-width-3-4@m">
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/descriptif.html.twig' %}
                        </div>
                    {% else %}
                        <div class="uk-width-1-1@m">
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/descriptif.html.twig' %}
                        </div>
                    {% endif %}

                </div>
            </section>
        </div>
    </header>
    <div class="bridge-fiche-mosl-menu uk-section uk-section-muted uk-padding-remove uk-margin-large" uk-sticky>
        <ul class="uk-flex-center bridge-fiche-sommaire uk-subnav" uk-scrollspy-nav="closest: li; scroll: true">
            {% if hierarchicalCustomBlocks|length > 0 %}
                {% for onglet in hierarchicalCustomBlocks %}
                    {% if onglet.title != '' %}
                        <li><a href="#custom-block-{{ onglet.blockId }}" uk-scroll>{{ onglet.title|raw }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-2') %}
                {% set blockData = attribute(fiche.ficheBlocks, 'infos-supplementaires-2') %}
                {% set inf2label = 'Mettre un label sur infos2' %}
                {%  if blockData.blockLabel is defined and blockData.blockLabel is not empty %}
                    {% set inf2label = blockData.blockLabel %}
                {% endif %}
                <li><a href="#horaires" uk-scroll>{{ blockData.blockLabel|raw }}</a></li>
            {% endif %}
            <li><a href="#comment-venir" uk-scroll>{{ 'Comment venir ?'|trans }}</a></li>
            <li><a href="#contact" uk-scroll>{{ 'Contacts'|trans }}</a></li>
            <li><a href="#commentaires" uk-scroll>{{ 'Commentaires'|trans }}</a></li>
            <li><a href="#reservation" class="uk-button uk-button-primary">Réserver</a></li>
        </ul>
    </div>
    <main class="bridge-fiche-mosl-menu uk-content">
        {% if hierarchicalCustomBlocks|length > 0 %}
              {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/onglets.html.twig' %}
        {% endif %}
        {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-2') %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/horaires.html.twig' %}
        {% endif %}
        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/comment-venir.html.twig' %}
        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/contact.html.twig' %}
        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/commentaires.html.twig' %}
        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-4.html.twig' %}
    </main>
</div>
