/* Reset UIKIT */
/* Primary */
.uk-link,
.uk-alert-primary,
a.uk-link-heading:hover,
.uk-link-heading a:hover,
.uk-link-toggle:hover .uk-link-heading,
.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus {color: var( --e-global-color-primary,#1e87f0 );}
.uk-search-default .uk-search-input:focus,
.uk-notification-message-primary,
.uk-tab > .uk-active > a,
.uk-radio:focus,
.uk-checkbox:focus{border-color: var( --e-global-color-primary,#1e87f0 );}
.uk-text-background,
.uk-background-primary,
.uk-subnav-pill > .uk-active > a,
.uk-progress::-webkit-progress-value,
.uk-progress::-moz-progress-bar,
.uk-button-primary,
.uk-tile-primary,
.uk-card-primary,
.uk-card-primary.uk-card-hover:hover,
.uk-radio:checked,
.uk-checkbox:checked,
.uk-checkbox:indeterminate {background-color: var( --e-global-color-primary,#1e87f0 );}
/* Secondary */
.uk-text-secondary,
.uk-list-secondary > ::before {color: var( --e-global-color-secondary,#222 ) !important;}
.uk-button-secondary,
.uk-section-secondary,
.uk-tile-secondary,
.uk-card-secondary,
.uk-card-secondary.uk-card-hover:hover,
.uk-marker,
.uk-background-secondary {background-color: var( --e-global-color-secondary,#222 );}
.uk-offcanvas-bar{background: var( --e-global-color-secondary,#222 );}

img[data-src][src*='data:image'] { background: rgba(0,0,0,0.1); }

.ficheproduit, .listeSIT, .bridge-archive-container, .bridge-liste, .bridge-pagination { box-sizing: border-box; }

/* Liste archive */
.bridge-archive-container {max-width:1200px;margin:auto;padding-top:50px;}

.bridge-archive-container h1 { text-align:center; }
.bridge-archive-container .bridge-archive-description { margin:auto; margin-top:2rem; margin-bottom: 2rem; max-width:800px; text-align:center; }

.bridgeListMapSwitcher .bridge-list-toggle,
.bridgeListMapSwitcher .bridge-map-toggle { padding: 0.76rem 1rem; }

/* Moteur de recherche */
.bridge-zone-moteur { padding: 1em; }
.bridge-moteur-side .bridgeActiveFilter { display:none; }


.bridge-moteur-sit {/*background-color:#fff;*/ margin-top:0 !important;}
.bridge-moteur-sit ul li a{line-height:30px;padding:0 10px 0 9px;color:#fff !important; font-family: "Montserrat",Sans-serif; font-weight: bold; font-size:14px; border:none; text-align:center;}
.bridge-moteur-sit ul li h3{color:#fff;}
.bridge-moteur-sit ul li:first-child {border-left:none;}
.bridge-moteur-sit ul a.uk-open{color:#000!important; background-color:#fff}
.bridge-moteur-sit .uk-drop{margin-top:0;}
.bridge-moteur-sit .uk-card-primary{background-color:#000;}

.bridge-moteur-sit label{margin-right:15px;margin-bottom: 10px;}
.bridge-moteur-sit .uk-checkbox{border-color:#000; margin-right:7px;}
.bridge-moteur-sit .uk-checkbox:checked{background-color:#ee3d3d}

/* Spécial Offcanvas */
.uk-offcanvas .bridge-moteur-sit{background-color: inherit;}
.uk-offcanvas .bridge-moteur-sit h4{display:none;}
.off-canvas-moteur-mobile { z-index: 999999; }
@media ( max-width:800px ) {
    .off-canvas-moteur-mobile .uk-offcanvas-bar {  width: 90vw; /* right: auto; transition: left .3s ease-out; */}
    /*
    .uk-offcanvas-container .off-canvas-moteur-mobile .uk-offcanvas-bar { left:0vw; width: 90vw; right: auto; transition: left .3s ease-out; }
    .uk-offcanvas-flip .off-canvas-moteur-mobile .uk-offcanvas-bar { right:-90vw; width: 90vw; left: auto; transition: right .3s ease-out; }
    .uk-offcanvas-container .uk-offcanvas-flip .off-canvas-moteur-mobile .uk-offcanvas-bar { right:0vw; width: 90vw; left: auto; transition: right .3s ease-out;  }
     */

}

/* Off canvas : forcer les inputs à être noir sur blanc sinon invisibles avec un fond blanc */
 .uk-card-primary.uk-card-body .uk-input, .uk-card-primary.uk-card-body .uk-select, .uk-card-primary.uk-card-body .uk-textarea, .uk-card-primary>:not([class*=uk-card-media]) .uk-input, .uk-card-primary>:not([class*=uk-card-media]) .uk-select, .uk-card-primary>:not([class*=uk-card-media]) .uk-textarea, .uk-card-secondary.uk-card-body .uk-input, .uk-card-secondary.uk-card-body .uk-select, .uk-card-secondary.uk-card-body .uk-textarea, .uk-card-secondary>:not([class*=uk-card-media]) .uk-input, .uk-card-secondary>:not([class*=uk-card-media]) .uk-select, .uk-card-secondary>:not([class*=uk-card-media]) .uk-textarea, .uk-light .uk-input, .uk-light .uk-select, .uk-light .uk-textarea, .uk-offcanvas-bar .uk-input, .uk-offcanvas-bar .uk-select, .uk-offcanvas-bar .uk-textarea, .uk-overlay-primary .uk-input, .uk-overlay-primary .uk-select, .uk-overlay-primary .uk-textarea, .uk-section-primary:not(.uk-preserve-color) .uk-input, .uk-section-primary:not(.uk-preserve-color) .uk-select, .uk-section-primary:not(.uk-preserve-color) .uk-textarea, .uk-section-secondary:not(.uk-preserve-color) .uk-input, .uk-section-secondary:not(.uk-preserve-color) .uk-select, .uk-section-secondary:not(.uk-preserve-color) .uk-textarea, .uk-tile-primary:not(.uk-preserve-color) .uk-input, .uk-tile-primary:not(.uk-preserve-color) .uk-select, .uk-tile-primary:not(.uk-preserve-color) .uk-textarea, .uk-tile-secondary:not(.uk-preserve-color) .uk-input, .uk-tile-secondary:not(.uk-preserve-color) .uk-select, .uk-tile-secondary:not(.uk-preserve-color) .uk-textarea,
 .uk-card-primary.uk-card-body .uk-input:focus, .uk-card-primary.uk-card-body .uk-select:focus, .uk-card-primary.uk-card-body .uk-textarea:focus, .uk-card-primary>:not([class*=uk-card-media]) .uk-input:focus, .uk-card-primary>:not([class*=uk-card-media]) .uk-select:focus, .uk-card-primary>:not([class*=uk-card-media]) .uk-textarea:focus, .uk-card-secondary.uk-card-body .uk-input:focus, .uk-card-secondary.uk-card-body .uk-select:focus, .uk-card-secondary.uk-card-body .uk-textarea:focus, .uk-card-secondary>:not([class*=uk-card-media]) .uk-input:focus, .uk-card-secondary>:not([class*=uk-card-media]) .uk-select:focus, .uk-card-secondary>:not([class*=uk-card-media]) .uk-textarea:focus, .uk-light .uk-input:focus, .uk-light .uk-select:focus, .uk-light .uk-textarea:focus, .uk-offcanvas-bar .uk-input:focus, .uk-offcanvas-bar .uk-select:focus, .uk-offcanvas-bar .uk-textarea:focus, .uk-overlay-primary .uk-input:focus, .uk-overlay-primary .uk-select:focus, .uk-overlay-primary .uk-textarea:focus, .uk-section-primary:not(.uk-preserve-color) .uk-input:focus, .uk-section-primary:not(.uk-preserve-color) .uk-select:focus, .uk-section-primary:not(.uk-preserve-color) .uk-textarea:focus, .uk-section-secondary:not(.uk-preserve-color) .uk-input:focus, .uk-section-secondary:not(.uk-preserve-color) .uk-select:focus, .uk-section-secondary:not(.uk-preserve-color) .uk-textarea:focus, .uk-tile-primary:not(.uk-preserve-color) .uk-input:focus, .uk-tile-primary:not(.uk-preserve-color) .uk-select:focus, .uk-tile-primary:not(.uk-preserve-color) .uk-textarea:focus, .uk-tile-secondary:not(.uk-preserve-color) .uk-input:focus, .uk-tile-secondary:not(.uk-preserve-color) .uk-select:focus, .uk-tile-secondary:not(.uk-preserve-color) .uk-textarea:focus {
     color:#444;
     background-color:rgba(255,255,255,0.8) ;
     border: solid 1px #aaa;
 }

.uk-card-primary.uk-card-body .uk-select:not([multiple]):not([size]), .uk-card-primary>:not([class*=uk-card-media]) .uk-select:not([multiple]):not([size]), .uk-card-secondary.uk-card-body .uk-select:not([multiple]):not([size]), .uk-card-secondary>:not([class*=uk-card-media]) .uk-select:not([multiple]):not([size]), .uk-light .uk-select:not([multiple]):not([size]), .uk-offcanvas-bar .uk-select:not([multiple]):not([size]), .uk-overlay-primary .uk-select:not([multiple]):not([size]), .uk-section-primary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]), .uk-section-secondary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]), .uk-tile-primary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]), .uk-tile-secondary:not(.uk-preserve-color) .uk-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}

/* Moteurs  Slides */
input[type='range'] {width: 100%;height: 30px;overflow: hidden;cursor: pointer;  outline: none;}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {-webkit-appearance: none;  background: none;}
input[type='range']::-webkit-slider-runnable-track {width: calc(70% - 10px);height: 1px;background: #ee3d3d;}
input[type='range']:nth-child(2)::-webkit-slider-runnable-track{background: #000;}
input[type='range']::-webkit-slider-thumb {position: relative;height: 15px;width: 15px;margin-top: -7px;background: #fff;border: 1px solid #ee3d3d;border-radius: 25px;z-index: 1;}
input[type='range']:nth-child(1)::-webkit-slider-thumb{z-index: 2;}
.rangeslider{  position: relative;  height: 60px;  width: 70%;  display: inline-block;  margin-top: -5px;}
.rangeslider input{  position: absolute;}
.rangeslider span{  position: absolute;  margin-top: 30px;  left: 0;  background-color:#fff;   color:#000;  padding:5px 10px;}
.rangeslider .right{ position: relative; float: right; margin-right: -5px;}

/* autocomplete communes */
.light-autocomplete-list ul { background-color:#FFF; color:#666; }
.light-autocomplete-list ul > li { color:#666; cursor: pointer; }

/* Calendrier */
.calendar .button{background-color:#E81F22;color:#fff; border-radius:0}
.mc-calendar{z-index: 99999 !important;}
.mc-calendar .mc-table__weekday{color: #000;}


/* Fitres actifs */
.bridgeActiveFilter { display:inline-block; margin-right: 10px; padding: 5px 10px; margin-top: 10px; }
.bridgeActiveFilter .bridgeActiveFilterLabel { margin-right:10px; }
.bridgeActiveFilter .bridgeActiveFilterRemove { cursor:pointer; padding:0px;  }
.bridgeActiveFilter .bridgeActiveFilterRemove:hover { cursor:pointer; color: #3f0b16; }


/* Types de filtres */

/* Radio Button */
.bridge-filter-radiobutton {margin: 0 0 1.5rem;box-sizing: border-box;font-size: 0;display: -webkit-box;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-flow: row nowrap;-webkit-box-pack: start;justify-content: flex-start;-webkit-box-align: stretch;align-items: stretch;}
.bridge-filter-radiobutton input {width: 0;height: 0;position: absolute;left: -9999px;}
.bridge-filter-radiobutton input + label {margin: 0;padding: 0.75rem 2rem;box-sizing: border-box;position: relative;display: inline-block;border: solid 1px #ddd;background-color: #fff;font-size: 1rem;line-height: 140%;font-weight: 600;text-align: center;box-shadow: 0 0 0 rgba(255, 255, 255, 0);-webkit-transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;/* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
    /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
    /* ----- */
}
.bridge-filter-radiobutton input + label:first-of-type {border-radius: 6px 0 0 6px;border-right: none;}
.bridge-filter-radiobutton input + label:last-of-type {border-radius: 0 6px 6px 0;border-left: none;}
.bridge-filter-radiobutton input:hover + label {border-color: #213140;}
.bridge-filter-radiobutton input:checked + label {background-color: #4b9dea;color: #fff;box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);border-color: #4b9dea;z-index: 1;}
.bridge-filter-radiobutton input:focus + label {outline: dotted 1px #ccc;outline-offset: 0.45rem;}
@media (max-width: 800px) {.bridge-filter-radiobutton input + label {    padding: 0.75rem 0.25rem;    -webkit-box-flex: 0;    flex: 0 0 50%;    display: -webkit-box;    display: flex;    -webkit-box-pack: center;    justify-content: center;    -webkit-box-align: center;    align-items: center;}
}

/* Fin radio button */

/* On / Off */
.bridge-filter-onoff label {display: inline-flex;align-items: center;cursor: pointer;}
.bridge-filter-onoff .bridge-label {margin-left: 8px;}
.bridge-onoff-toggle {isolation: isolate;position: relative;height: 24px;width: 48px;border-radius: 15px;background: #d6d6d6;overflow: hidden;}
.bridge-onoff-toggle-inner {z-index: 2;position: absolute;top: 1px;left: 1px;height: 22px;width: 46px;border-radius: 15px;overflow: hidden;}
.bridge-onoff-active-bg {position: absolute;top: 0;left: 0;height: 100%;width: 200%;background: #003dda;transform: translate3d(-100%, 0, 0);transition: transform 0.05s linear 0.17s;}
.bridge-onoff-toggle-state {display: none;}
.bridge-onoff-indicator {height: 100%;width: 200%;background: white;border-radius: 13px;transform: translate3d(-75%, 0, 0);transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);}
.bridge-onoff-toggle-state:checked ~ .bridge-onoff-active-bg {transform: translate3d(-50%, 0, 0);}
.bridge-onoff-toggle-state:checked ~ .bridge-onoff-toggle-inner .bridge-onoff-indicator {transform: translate3d(25%, 0, 0);}
/* fin on / off */

/* checkbox button */
ul.bridge-checkbuttons-list {list-style: none;padding: 20px;}
ul.bridge-checkbuttons-list li{display: inline;}
ul.bridge-checkbuttons-list li label{display: inline-block;background-color: rgba(255, 255, 255, .9);border: 2px solid rgba(139, 139, 139, .3);color: #adadad;border-radius: 25px;white-space: nowrap;margin: 3px 0px;-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: transparent;transition: all .2s;}

ul.bridge-checkbuttons-list li label {padding: 8px 12px;cursor: pointer;}

ul.bridge-checkbuttons-list li label::before {display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;-webkit-font-smoothing: antialiased;font-family: "Font Awesome 5 Free";font-weight: 900;font-size: 12px;padding: 2px 6px 2px 2px;content: "\f067";transition: transform .3s ease-in-out;}

ul.bridge-checkbuttons-list li input[type="checkbox"]:checked + label::before {content: "\f00c";transform: rotate(-360deg);    transition: transform .3s ease-in-out;}
ul.bridge-checkbuttons-list li input[type="checkbox"]:checked + label {border: 2px solid #1bdbf8;background-color: #12bbd4;    color: #fff;    transition: all .2s;}
ul.bridge-checkbuttons-list li input[type="checkbox"] {position: absolute;opacity: 0;}
ul.bridge-checkbuttons-list li input[type="checkbox"]:focus + label {border: 2px solid #e9a1ff;}
/* fin checkbox button */

/* Distance GPS */
.bridge-gps-distance { position:relative; margin-top: 0.5em; display:block; }
.bridge-gps-distance label { display:block; }

/* dropdown de citycombo */
.bridge-citycombo { width: 470%;max-width: 500%; }

/* dropdown de citycombodyn (text input + dropdown) */
.bridge-citycombodyn::-webkit-calendar-picker-indicator { display: none !important; }

/* Tris */
.bridge-sort .bridge-sort-bar { display: flex;align-items: center; margin-left:0; }
.bridge-sort .bridge-sort-bar > li:first-child { padding-left:0; }
.bridge-sort .bridge-sort-bar h5 { margin: 0px;color: #333; }
.bridge-sort .bridge-sort-element { display: flex;align-items: center; }
.bridge-sort .bridge-sort-btn { background-color: lightgrey;color: black;padding: 0.76rem 1rem;display: flex; }
.bridge-sort i { padding-left: 10px; }
.bridge-sort .bridge-sort-btn:hover { cursor: pointer; }
.bridge-sort .bridge-sort-btn.active { background-color: #1e87f0; color: #fff; transition: background 150ms ease-in-out; }
.bridge-sort .bridge-sort-btn:disabled { background-color: inherit; color: darkgrey; }
.bridge-sort .bridge-sort-btn:disabled:hover { cursor: initial; }
.bridge-sort .bridge-sort-direction { display: none; padding-left: 1rem; }

/* Tri sur mobile */
.bridge-sort-bar-dropdown i { line-height:1.25em; }


/* Fin des tris */

/* Liste SIT */
.bridge-liste .bridge-body img,
.bridge-liste .bridge-body svg { height: 25px; }

.bridge-totals-side { padding: 15px 0px; font-weight:bold }

.bridge-liste .titre-de-la-fiche > h2,
.bridge-liste .titre-de-la-fiche > h3 { font-size: 1.25rem; margin-top:2px; margin-bottom:5px; }

.bridge-liste article .uk-card-default .uk-card-footer { border:none; }
.bridge-liste .sous-titre { margin-top:8px; margin-bottom:16px; }

.bridge-liste .pictogrammes i { font-size:1.5em; color:#FFF; }

/* Bouton carnet */
.bridge-cv-button-container { top:10px; right:10px; width: auto !important; }
.add-to-cv-button { padding: 0.5em ; }
.add-to-cv-button .isInCV  { display:none; }
.add-to-cv-button[disabled] .isInCV { display:block; }
.add-to-cv-button[disabled] .notInCV { display:none; }


/* cards */
.bridge-liste article.cards1 .bridge-body img, .bridge-liste article.cards1 .bridge-body svg,
.bridge-liste article.cards2 .bridge-body img, .bridge-liste article.cards2 .bridge-body svg,
.bridge-liste article.cards3 .bridge-body img, .bridge-liste article.cards3 .bridge-body svg {  height: 20px; }

.bridge-fiche.fiche-mosl .mosl-image-1 .pictogrammes,
.bridge-liste article.cards1 .pictogrammes,
.bridge-liste article.cards2 .pictogrammes,
.bridge-liste article.cards3 .pictogrammes { position:absolute;right:0;top:0; padding-top:8px; padding-right:8px; width:55px;overflow: hidden;height: 100%;text-align: right;background: linear-gradient(270deg, rgba(51,51,51,1) 0%, rgba(255,255,255,0) 100%);}

.bridge-fiche.fiche-mosl .mosl-image-1 .pictogrammes .blockItem,
.bridge-liste article.cards1 .pictogrammes .blockItem,
.bridge-liste article.cards2 .pictogrammes .blockItem,
.bridge-liste article.cards3 .pictogrammes .blockItem  { display:inline-block; margin-top:8px; }

.bridge-fiche.fiche-mosl .mosl-image-1 .pictogrammes img, .bridge-fiche.fiche-mosl .mosl-image-1 .pictogrammes svg,
.bridge-liste article.cards1 .pictogrammes img, .bridge-liste article.cards1 .pictogrammes svg,
.bridge-liste article.cards2 .pictogrammes img, .bridge-liste article.cards2 .pictogrammes svg,
.bridge-liste article.cards3 .pictogrammes img, .bridge-liste article.cards3 .pictogrammes svg { height:25px; margin-top:6px;  }

.bridge-liste article.cards1 .info-1,
.bridge-liste article.cards2 .info-1,
.bridge-liste article.cards3 .info-1 { position:absolute;left:8px;top:8px; background-color:#666; color:#FFF; font-size:0.9em; padding:3px 10px; }

.bridge-liste article.cards1 .info-2,
.bridge-liste article.cards2 .info-2,
.bridge-liste article.cards3 .info-2 { position:absolute;left:8px;bottom:8px; background-color:#666; color:#FFF; font-size:0.9em; padding:3px 10px; }
/*
.bridge-liste article.cards1 .card-footer,
.bridge-liste article.cards2 .card-footer,
.bridge-liste article.cards3 .card-footer { min-height:4em; }
*/


/* Cards image */
.bridge-liste .cardsimage1 .pictogrammes .blockItem,
.bridge-liste .cardsimage2 .pictogrammes .blockItem,
.bridge-liste .cardsimage3 .pictogrammes .blockItem  { margin-left:8px; }

.bridge-liste .uk-overlay-primary { background-color:rgba(0,0,0,.35); }
.bridge-liste .cardsimage1 h3 { font-size:20px;margin-bottom:5px; }
.bridge-liste .cardsimage1 h4 { font-size:16px;margin-bottom:5px;margin-top:0; }
.bridge-liste .cardsimage4 {height:600px;}

/* Carousel */
.bridge-liste.carousel > ul > li,
.bridge-liste.carousel > div > li { list-style:none; }

/* Pagination */
/* .bridge-pagination .uk-pagination-previous { border: #AAA 1px solid; text-align: center; height:2.5em; width:2.5em; padding: 0.5em; margin:5px; display:inline-block; }*/
.bridge-pagination .bridge-pagination-link { border: #AAA 1px solid; text-align: center; line-height:1.7em; width:2.5em; margin:5px;  display:inline-block;  }
.bridge-pagination .nolink span { text-align: center; line-height:1.7em; width:2em; margin:5px -5px;  display:inline-block;  }
.bridge-pagination .uk-active .bridge-pagination-link { background-color: var( --e-global-color-primary,#1e87f0 ); color: #FFF; }
.bridge-pagination .uk-disabled { color: #999; }

/**
 * Spinner de l'infinite scroll
 */
.scroll-status { opacity:0; margin-top:20px;  padding-top: 20px;  text-align: center;  color: #777; }
.scroll-status .loader-ellips {  font-size: 20px; /* change size here */  position: relative;  width: 4em;  height: 1em;  margin: 10px auto; }
.scroll-status .loader-ellips__dot {  display: block;  width: 1em;  height: 1em;  border-radius: 0.5em;  background: #555; /* change color here */  position: absolute;  animation-duration: 0.5s;  animation-timing-function: ease;  animation-iteration-count: infinite; }
.scroll-status .loader-ellips__dot:nth-child(1), .scroll-status.loader-ellips__dot:nth-child(2) {  left: 0; }
.scroll-status .loader-ellips__dot:nth-child(3) { left: 1.5em; }
.scroll-status .loader-ellips__dot:nth-child(4) { left: 3em; }
@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}

.scroll-status .loader-ellips__dot:nth-child(1) {  animation-name: reveal; }
.scroll-status .loader-ellips__dot:nth-child(2),.loader-ellips__dot:nth-child(3) {  animation-name: slide;}
.scroll-status .loader-ellips__dot:nth-child(4) {  animation-name: reveal;  animation-direction: reverse; }


/* Fiches SIT */
.bridge-fiche .pictogrammes img { height:30px; width: auto; }
.bridge-fiche .uk-divider-icon { background-color:transparent; }

/* Fiches 1  */
.bridge-fiche.fiche-1 .bridge-fiche-aside { top: -240px; }
@media (max-width: 960px) {
    .bridge-fiche.fiche-1 .bridge-fiche-aside {  top: 0px ;}
}

/* fiche 3 */
.fiche-3 .uk-section-secondary .leaflet-control-zoom > a { color: #000; }


/* Fiche itineraire */
.fiche-itineraire .infos-supplementaires-1 img { height: 30px; }


/* Loader */
.bridge-loader {    position:absolute;    left:0;    top:0;    z-index:9999;    width:100%;    height:100%;    background-color:rgba(0,0,0,0.8);}
.bridge-loader-content {    display:block;    margin:10% auto auto auto;    width: 80px;    height: 80px;}
.bridge-loader .lds-ring {    display: inline-block;    position: relative;    width: 80px;    height: 80px;}
.bridge-loader .lds-ring div {    box-sizing: border-box;    display: block;    position: absolute;    width: 64px;    height: 64px;    margin: 8px;    border: 8px solid #fff;    border-radius: 50%;    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;    border-color: #fff transparent transparent transparent; }
.bridge-loader .lds-ring div:nth-child(1) {    animation-delay: -0.45s; }
.bridge-loader .lds-ring div:nth-child(2) {    animation-delay: -0.3s; }
.bridge-loader .lds-ring div:nth-child(3) {    animation-delay: -0.15s; }
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


