{#
# Template d'affichage de block dans une page fiche détaillée - bloc infos supplémentaires 1 - modèle fiche itinéraire
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-ficheitineraire
#
# @version 3.2.2
#}
{% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-1') %}
    <div class="fiche-mosl__container fiche-mosl__informations-block fiche-mosl__informations-block-additional fiche-mosl__informations-block-additional--variation-1">
        <div class="wrapper">
            <section class="infos-supplementaires-1">
                {% set component = fiche|get_block_component(fiche.ficheBlocks,'infos-supplementaires-1' ) %}
                {% if component is not empty %}
                    {% set blockData = attribute(fiche.ficheBlocks, 'infos-supplementaires-1') %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/gabarits/' ~ component ~ '.html.twig' %}
                {% else %}
                    {{ fiche.ficheBlocks|bridge_render_named_block('infos-supplementaires-1')|raw }}
                {% endif %}
            </section>
        </div>
    </div>
{% endif %}
