{#
# Template d'affichage de block dans une page fiche détaillée - bloc localisation - modèle fiche itinéraire
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-ficheitineraire
#
# @extends pylot_bridge/templates-bridge-twig/fiche/blocks-ficheitineraire/localisation.html.twig
# @version 3.2.2
#}
{% extends "@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation.html.twig" %}

{% block mapSection %}
	{% set lat = fiche.latitude %}
	{% set lon = fiche.longitude %}
	{% if lat is defined and lat != '' and lon is defined and lon != ''  %}
		<section class="localisation a">
			<div id="maps-loc" class="map"></div>
		</section>

		{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation-js.html.twig' %}
	{% endif %}
{% endblock %}
