{#
# Template d'affichage de filtre bouton à cocher
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_boutonbox %}
{% if filter.items is not defined or filter.items|length <= 0 %}
	<p>
		<b>Erreur d'affichage du filtre</b><br/>
		Veuillez définir au moins un élément dans le filtre
	</p>
{% else %}
	{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}

	<div class="bridge-filter-checkbuttons" id="bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}">
		<ul class="bridge-checkbuttons-list">
		{% for item in filter.items %}
			<li>
				<input type="checkbox" class="" id="chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}">
				<label for="chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}">
					<span class="bridge-label">{{ item.label }}</span>
				</label>
			</li>
		 {% endfor %}
		</ul>
	</div>
	{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-checkbox.html.twig' %}
{% endif %}

{% endblock %}