{#
# Template d'affichage de filtre champ de recherche par communes
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_cityinput %}
{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}
<div>
    <input type="text" id="brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value" placeholder="{{ 'Entrez un nom de commune'|trans|e('html_attr') }}" class="uk-input">
</div>
{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-input-value.html.twig' %}

{% endblock %}