{#
# Template d'affichage de filtre liste de communes dynamique
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_citycombodyn %}

{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}
{% set inputId = 'brflt_' ~ moteurEnDouble ~ filter.uniqueId  ~ '_value' %}

<div class="bridge-filter-cityproxdyn" id="bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}">

    <input class="bridge-dropdown bridge-citycombodyn"  type="text" id="{{ inputId }}" name="city" placeholder="{{ 'Entrez un nom de commune'|trans|e('html_attr') }}" />

    <div id="ccd_{{ moteur.id }}-noresults" style="display: none">
        <p><{{ 'Aucune ville à afficher'|trans }}</p>
    </div>
</div>

<script>
    bridgeDocumentReady(function() {

        window.bridgeCities = [];

        window.cityComboDynOptions{{ moteurEnDouble }} = {
            selector: '#{{ inputId }}',
            wrapper: true,
            data: {
                src: window.bridgeCities,
                keys: ["label"],
                cache: true
            },
            threshold: 0,
            diacritics: true,
            submit: true,
            trigger: (query) => {
                return true ;  // query.replace(/ /g, "").length; // Returns "Boolean"
            },
            resultsList: {
                maxResults: 1000
            },
            // ouvrir sur clie
            events: {
                input: {
                    focus() {
                        bridgeCityAutocomplete{{ moteurEnDouble }}.start();
                        bridgeCityAutocomplete{{ moteurEnDouble }}.open();
                    },
                },
            }
        };

        window.ajaxPostData = { action: 'brListCities', get_as_label_array: '1' } ;
        {% if listInfos is defined %}
        window.ajaxPostData.id = '{{ listInfos.webListId }}';
        window.ajaxPostData.product_codes = '{{ listInfos.productCodes }}';
        {% endif %}

        window.ajaxPostData.braf = window.bridgeMoteur{{ moteur.id }}.activeFilters.join(',');
        window.ajaxPostData.brai = window.bridgeMoteur{{ moteur.id }}.activeItems.join(',');
        // Patch 24/05/22 : les recherches par valeurs n'étaient pas prises en compte
        if(typeof window.bridgeMoteur{{ moteur.id }}.urlParams === 'object' && window.bridgeMoteur{{ moteur.id }}.urlParams !== null && Object.keys(window.bridgeMoteur{{ moteur.id }}.urlParams).length > 0) {
            var keys = Object.keys(window.bridgeMoteur{{ moteur.id }}.urlParams);
            for(idx in keys) {
                var key = keys[idx];
                window.ajaxPostData[key] = window.bridgeMoteur{{ moteur.id }}.urlParams[key];
            }
        }
        // Feat 25/05/22 : support du paramètre productCodes où on spécifie des fiches une par une
        if(typeof window.bridgeMoteur{{ moteur.id }}.options === 'object' && window.bridgeMoteur{{ moteur.id }}.options.hasOwnProperty('productCodes') ) {
            window.ajaxPostData.product_codes = window.bridgeMoteur{{ moteur.id }}.options.productCodes ;
        }

        // console.log('window.bridgeMoteur{{ moteur.id }}.options.bridgeAjaxUrl', window.bridgeMoteur{{ moteur.id }}.options.bridgeAjaxUrl);

        jQuery.ajax({
            url: window.bridgeMoteur{{ moteur.id }}.options.bridgeAjaxUrl,
            data: ajaxPostData,
            dataType: 'json'
        }).done(function(lejson) {
            window.bridgeCities = lejson;
            window.cityComboDynOptions{{ moteurEnDouble }}.data.src = window.bridgeCities;
            if(typeof window.bridgeCityAutocomplete{{ moteurEnDouble }} === 'object') {
                window.bridgeCityAutocomplete{{ moteurEnDouble }}.unInit();
            }
            window.bridgeCityAutocomplete{{ moteurEnDouble }} = new autoComplete(window.cityComboDynOptions{{ moteurEnDouble }});
            document.querySelector("#{{ inputId }}").addEventListener("selection", function (event) {
                // "event.detail" carries the autoComplete.js "feedback" object
                if(event.detail && event.detail.selection && event.detail.selection.value && event.detail.selection.value !== '') {
                    jQuery("#{{ inputId }}").val(event.detail.selection.value.label);
                    jQuery("#{{ inputId }}").trigger( "change" );
                    // window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);

                }
            });
        });


        // Recalculer les villes après une modification du moteur
        /* Problème : après avoir sélectionné une ville, si on active ce code, la liste devient torp restreinte
        window.bridgeMoteur{{ moteur.id }}.addEventHandler('afterCalcMoteur', function(bridgeMoteur) {
                if(window.bridgeMoteur{{ moteur.id }}.submitOnChange) {
                    window.ajaxPostData = { action: 'brListCities', get_as_label_array: '1' } ;
        {% if listInfos is defined %}
        window.ajaxPostData.id = '{{ listInfos.webListId }}';
        window.ajaxPostData.product_codes = '{{ listInfos.productCodes }}';
        {% endif %}

                    window.ajaxPostData.braf = window.bridgeMoteur{{ moteur.id }}.activeFilters.join(',');
                    window.ajaxPostData.brai = window.bridgeMoteur{{ moteur.id }}.activeItems.join(',');
                    // Patch 24/05/22 : les recherches par valeurs n'étaient pas prises en compte
                    if(typeof window.bridgeMoteur{{ moteur.id }}.urlParams === 'object' && window.bridgeMoteur{{ moteur.id }}.urlParams !== null && Object.keys(window.bridgeMoteur{{ moteur.id }}.urlParams).length > 0) {
                        var keys = Object.keys(window.bridgeMoteur{{ moteur.id }}.urlParams);
                        for(idx in keys) {
                            var key = keys[idx];
                            window.ajaxPostData[key] = window.bridgeMoteur{{ moteur.id }}.urlParams[key];
                        }
                    }
                    // Feat 25/05/22 : support du paramètre productCodes où on spécifie des fiches une par une
                    if(typeof window.bridgeMoteur{{ moteur.id }}.options === 'object' && window.bridgeMoteur{{ moteur.id }}.options.hasOwnProperty('productCodes') ) {
                        window.ajaxPostData.product_codes = window.bridgeMoteur{{ moteur.id }}.options.productCodes ;
                    }

                    jQuery.ajax({
                        url: window.bridgeMoteur{{ moteur.id }}.options.bridgeAjaxUrl,
                        data: ajaxPostData,
                        dataType: 'json'
                    }).done(function(lejson) {
                        window.bridgeCities = lejson;
                        window.cityComboDynOptions{{ moteurEnDouble }}.data.src = window.bridgeCities;
                        if(typeof window.bridgeCityAutocomplete{{ moteurEnDouble }} === 'object') {
                            window.bridgeCityAutocomplete{{ moteurEnDouble }}.unInit();
                        }
                        window.bridgeCityAutocomplete{{ moteurEnDouble }} = new autoComplete(window.cityComboDynOptions{{ moteurEnDouble }});
                        document.querySelector("#{{ inputId }}").addEventListener("selection", function (event) {
                            // "event.detail" carries the autoComplete.js "feedback" object
                            if(event.detail && event.detail.selection && event.detail.selection.value && event.detail.selection.value !== '') {
                                jQuery("#{{ inputId }}").val(event.detail.selection.value.label);
                                jQuery("#{{ inputId }}").trigger( "change" );
                                // window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
                            }
                        });
                    }).error(function(e){
                        console.error(e);
                    });

                }
            });
            */
    });


</script>


{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-input-value.html.twig' %}


{% endblock %}