{#
# Template d'affichage de filtre liste de communes
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_citycombo %}
{% if filter.items is not defined or filter.items|length <= 0 %}
<p>
	<b>Erreur d'affichage du filtre</b><br/>
	Veuillez définir au moins un élément dans le filtre
</p>
{% else %}
    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}
	<div class="calendar uk-grid uk-child-width-1-3@m">
		<div>
			<select class="uk-select bridge-citycombo" id="sel_{{ moteurEnDouble }}{{ filter.uniqueId }}">
				<option value=""> {{ 'Sélectionnez un nom de commune'|trans }}</option>
				{% for item in filter.items %}
					<option value="{{ item.id }}" id="opt_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}">
						 {{ item.label }}
					</option>
				 {% endfor %}
			</select>
		</div>
		{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-select-dropdown.html.twig' %}
	</div>

{% endif %}

{% endblock %}