{#
# Template d'affichage de filtre liste déroulante
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_combo %}

{% if filter.items is not defined or filter.items|length <= 0 %}
<p>
    <b>Erreur d'affichage du filtre</b><br/>
    Veuillez définir au moins un élément dans le filtre
</p>
{% else %}
    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}

{# Pilotage du mode multi moteur #}
    {% set classMultimoteur = '' %}
    {% set multimoteurTargetSection = ''%}
    {% set idxTarget = 1 %}
    {% if modeMultiMoteur and idxFiltreSection == indexSwitchMultiMoteur %}
        {% set classMultimoteur = 'switchMultiMoteur' %}
    {% endif %}

    <select class="uk-select {{ classMultimoteur }}" id="sel_{{ moteurEnDouble }}{{ filter.uniqueId }}">
        <option value="" data-target-section="{{ (multiMoteursAfficherSections)?'*':'' }}">{{ 'Tous'|trans }}</option>
	{% for item in filter.items %}
        {% set multimoteurTargetSection = ''%}
        {%  if classMultimoteur != '' and moteurSections|length > idxTarget %}
            {% set multimoteurTargetSection = moteurSections[idxTarget] %}
        {% endif %}
        <option value="{{ item.id }}" id="opt_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}" data-target-section="{{ multimoteurTargetSection }}">
             {{ item.label }}
        </option>
        {% set idxTarget = idxTarget + 1 %}
	 {% endfor %}
    </select>

    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-select-dropdown.html.twig' %}
{% endif %}

{% endblock %}