{#
# Template d'affichage de filtre par disponibilités
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_disponibilites %}

<div class="calendar uk-grid uk-child-width-1-3@m">
    <div>
        <input type="text" id="brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom" placeholder=" {{ 'Du'|trans }}"></div>
    <div><input type="text" id="brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo" placeholder=" {{ 'Au'|trans }}"></div>
    <div><button id="button_{{ moteurEnDouble }}{{ filter.uniqueId }}" class="button uk-width-1-1"> {{ 'Rechercher'|trans }}</button></div>
</div>


<script>
    bridgeDocumentReady(function() {
        jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').datepicker({
            language: '{{ locale }}',
            format: 'dd.mm.yyyy',
            weekStart: 1,
            zIndex: 1000000,
            autoHide: true,
            container: jQuery(this).parent()

        });
        jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').datepicker({
            language: '{{ locale }}',
            format: 'dd.mm.yyyy',
            weekStart: 1,
            zIndex: 1000000,
            autoHide: true,
            container: jQuery(this).parent()
        });
        var tmpFilter = window.bridgeMoteur{{ moteur.id }}.getFilter( {{ filter.id }});


        if( tmpFilter != false) {
            if(tmpFilter.dateFrom)
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').val(tmpFilter.dateFrom);
            if(tmpFilter.dateTo)
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').val(tmpFilter.dateTo);
        }

        jQuery('#button_{{ moteurEnDouble }}{{ filter.uniqueId }}').click(function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            window.bridgeMoteur{{ moteur.id }}.deactivateWholeFilter( {{ filter.id }});
            if(jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').val() != '' || jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').val() != '') {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'dateFrom', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').val(), false);
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'dateTo', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').val(), false);
            } else {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'dateFrom', '', false);
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'dateTo', '', false);
            }
            window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
        });
    });

</script>

{% endblock %}