{#
# Template d'affichage de filtre par boite de saisie
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_input %}
{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}

<div class="bridge-filter-input" id="bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}">
    <input type="text" id="brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value" class="uk-input" placeholder=" {{ 'Entrez un nom'|trans|e('html_attr') }}" >
</div>

{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-input-value.html.twig' %}


{% endblock %}