{#
# Template d'affichage de filtre liste à sélection multiple
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_listemulti %}
{% if filter.items is not defined or filter.items|length <= 0 %}
<p>
    <b>Erreur d'affichage du filtre</b><br/>
    Veuillez définir au moins un élément dans le filtre
</p>
{% else %}
    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}

    <select class="uk-select" id="sel_{{ moteurEnDouble }}{{ filter.uniqueId }}" multiple>
        <option value=""></option>
		{% for item in filter.items %}
            <option value="{{ item.id }}" id="opt_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}">
				 {{ item.label }}
            </option>
		 {% endfor %}
    </select>
    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-select-multi.html.twig' %}

{% endif %}

{% endblock %}