{#
# Template d'affichage de filtre on/off
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_onoff %}
{% if filter.items is not defined or filter.items|length <= 0 %}
<p>
    <b>Erreur d'affichage du filtre</b><br/>
    Veuillez définir au moins un élément dans le filtre
</p>
{% else %}
    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}

    <div class="bridge-filter-onoff" id="bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}">
		{% for item in filter.items %}
            <label class="uk-display-block" for="chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}">
                <div class="bridge-onoff-toggle">
                    <input class="bridge-onoff-toggle-state" type="checkbox" id="chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}" />
                    <div class="bridge-onoff-toggle-inner">
                        <div class="bridge-onoff-indicator"></div>
                    </div>
                    <div class="bridge-onoff-active-bg"></div>
                </div>
                <div class="bridge-label">{{ item.label }}</div>
            </label>
		 {% endfor %}
    </div>

	{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-checkbox.html.twig' %}

{% endif %}

{% endblock %}