{#
# Template d'affichage de filtre slider double min/max
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% block filter_slidedoubleminmax %}

{% set isOK = true %}
    {#  Vérification du bon paramétrage du filtre #}
    {% if filter.items is not defined or filter.items|length <= 0 %}
        {% set isOK = false %}
        {% set message =  'Veuillez définir un élément dans le filtre et indiquer un minimum et un maximum' %}
    {% endif %}

    {% for item in filter.items %}
        {% if item.min is empty or item.max is empty or item.interval is empty %}
            {% set isOK = false %}
            {% set message =  'Veuillez indiquer un minimum, un maximum et un intervalle dans l\'élément de filtre' %}
        {% endif %}

        {% if item.params is not defined or item.params.criterionCode is empty %}
            {% set isOK = false %}
            {% set message =  'Veuillez indiquer un critère dans l\'élément de filtre' %}
        {% endif %}
    {% endfor %}

    {% if not isOK %}
        <p>
            <b>Erreur d'affichage du filtre</b><br/>
             {{ message }}
        </p>
    {% else %}

{% for item in filter.items %}
    {% set min = item|get_min_value_for_filter_item(moteur, filter) %}
    {% set max = item|get_max_value_for_filter_item(moteur, filter) %}

    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}

        {% if item.label is defined  and item.label != '' %}
            <h4>
                 {{ item.label }}
            </h4>
        {% endif %}

        
        <div class="rangeslider" id="bridge_filter_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}">
            <input class="minRange uk-range" id="bridge_range_min_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" name="range_1" type="range" min="{{ item.min }}" max="{{ item.max }}" value="{{ min }}" step="{{ item.interval }}" />
            <input class="maxRange uk-range" id="bridge_range_max_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" name="range_1" type="range" min="{{ item.min }}" max="{{ item.max }}" value="{{ max }}" step="{{ item.interval }}" />
            <span id="bridge_min_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" class="range_min light left"> {{ min }}</span>
            <span id="bridge_max_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" class="range_max light right"> {{ max }}</span>
        </div>



    <script type="text/javascript">
        bridgeDocumentReady(function() {

            jQuery('#bridge_range_min_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}, #bridge_range_max_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}').on('input', function(a){

                // Evénement pour mettre à jour les étiquettes en temps réel (on input)
                var rangeGroup = jQuery(this).attr('name'),
                    // boutons du slider
                    minBtnRange = jQuery(this).parent().children('.minRange'),
                    maxBtnRange = jQuery(this).parent().children('.maxRange'),
                    // labels du slider
                    range_min = jQuery(this).parent().children('.range_min'),
                    range_max = jQuery(this).parent().children('.range_max'),
                    // valeurs du slider
                    minValRange = parseInt(jQuery(minBtnRange).val()),
                    maxValRange = parseInt(jQuery(maxBtnRange).val()),
                    // bouton déplacé (minRange ou maxRange)
                    originRange = jQuery(this)[0].classList[0];


                // Pour éviter de superposer ou inverser les boutons min et max
                if (originRange === 'minRange' && minValRange >= maxValRange){
                    // si min égale ou dépasse max, on le bloque à l'intervalle précédant max
                    jQuery(minBtnRange).val(maxValRange - {{ item.interval }} );
                }
                minValRange = parseInt(jQuery(minBtnRange).val());
                jQuery(range_min).html(minValRange);

                if (originRange === 'maxRange' && maxValRange <= minValRange){
                    // si max égale ou passe sous min, on le bloque à l'intervalle suivant min
                    jQuery(maxBtnRange).val( {{ item.interval }} + minValRange);
                }
                maxValRange = parseInt(jQuery(maxBtnRange).val());
                jQuery(range_max).html(maxValRange);


                jQuery("#bridge_min_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}").html(minValRange);
                jQuery("#bridge_max_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}").html(maxValRange);
            });

            jQuery('#bridge_range_min_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}, #bridge_range_max_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}').on( 'change', function(a){

                // Evénement pour lancer la requête (on change)
                var rangeGroup = jQuery(this).attr('name'),
                    minBtnRange = jQuery(this).parent().children('.minRange'),
                    maxBtnRange = jQuery(this).parent().children('.maxRange'),
                    range_min = jQuery(this).parent().children('.range_min'),
                    range_max = jQuery(this).parent().children('.range_max'),
                    minValRange = parseInt(jQuery(minBtnRange).val()),
                    maxValRange = parseInt(jQuery(maxBtnRange).val()),
                    originRange = jQuery(this)[0].classList[0];

                window.bridgeMoteur{{ moteur.id }}.setItemProp( {{ filter.id }},  {{ item.id }}, 'min', minValRange);
                window.bridgeMoteur{{ moteur.id }}.setItemProp( {{ filter.id }},  {{ item.id }}, 'max', maxValRange);
                window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
            });

            // Mettre à jour l'interface graphique lorsque l'objet moteur change
            window.bridgeMoteur{{ moteur.id }}.addEventHandler('afterCalcMoteur', function(bridgeMoteur) {
                let tmpFilter = bridgeMoteur.getFilter( {{ filter.id }});

                if (tmpFilter != false && tmpFilter.active) {
                    tmpFilter.items.forEach(item => {
                        if (item.active) {
                            jQuery('#bridge_range_min_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}').val(item.min);
                            jQuery('#bridge_range_max_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}').val(item.max);
                        }
                    });
                } else {
                    // On réinitialise tout
                    tmpFilter.items.forEach(item => {
                        jQuery('#bridge_range_min_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}').val(item.baseMin);
                        jQuery('#bridge_min_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}').html(item.baseMin);

                        jQuery('#bridge_range_max_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}').val(item.baseMax);
                        jQuery('#bridge_max_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}').html(item.baseMax);
                    });
                }
            });
        });
    </script>
{% endfor %}
{% endif %}

{% endblock %}