{#
# Template d'affichage de block dans une page fiche détaillée - bloc coordonnées - modèle fiche 3
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-fiche-3
#
# @version 3.2.2
#}
{% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'coordonnees-contact') %}
	<li class="coordonnees" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
	   <div class="uk-grid uk-flex-middle">
		   <div class="uk-width-1-6 uk-text-center"><i class="fa fa-map-marker fa-3x"></i></div>
		   <div class="uk-width-5-6">
			   {{ fiche.ficheBlocks|bridge_render_named_block('coordonnees-contact', 'h4','<br/>', '','', '', true)|raw }}
			</div>
		</div>
	</li>
{% endif %}