{#
# Template d'affichage de block dans une page fiche détaillée - bloc email
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set email = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'email-de-contact') %}
	{% set email = fiche.ficheBlocks|extract_first_text_value('email-de-contact') %}
{% endif %}

{% set bonusMailto = '?subject=' %}
{% if ficheParameters.emailPrestSubject is not empty %}
	{% set bonusMailto = bonusMailto ~ ficheParameters.emailPrestSubject|url_encode %}
{% endif %}

{% set bonusMailto = bonusMailto ~ '&body=' %}
{% if ficheParameters.emailPrestBody is not empty %}
	{% set bonusMailto = bonusMailto ~ ficheParameters.emailPrestBody|url_encode %}
{% endif %}

{% set formSettingsAreValid = false %}
{% if ficheParameters.emailLinkType == 'FORMULAIRE' and ficheParameters.emailFormAntispam == 'RECAPTCHAV3' and ficheParameters.recaptchav3_site_key is not empty and ficheParameters.recaptchav3_secret_key is not empty %}
	{% set formSettingsAreValid = true %}
{% endif %}
{% if ficheParameters.emailLinkType == 'FORMULAIRE' and ficheParameters.emailFormAntispam == 'RECAPTCHAV2' and ficheParameters.recaptchav2_site_key is not empty and ficheParameters.recaptchav2_secret_key is not empty %}
	{% set formSettingsAreValid = true %}
{% endif %}

{% if ficheParameters.emailLinkType == 'LIEN_MAILTO' and email is not empty %}
	<li>
		<div class="uk-grid uk-flex-middle">
			<div class="uk-width-1-6 uk-text-center"><i class="fa fa-envelope fa-3x"></i></div>
			<div class="uk-width-5-6">
				<a data-dnc-temail="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}" href="mailto:{{ email ~ bonusMailto }}" target="_blank" class="uk-width-1-1 email-de-contact">{{ 'Contact'|trans }}</a>
			</div>
		</div>
	</li>
{% elseif ficheParameters.emailLinkType == 'FORMULAIRE' and email is not empty and formSettingsAreValid %}
	{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/email-de-contact-formulaire.html.twig' %}
	<li>
		<div class="uk-grid uk-flex-middle">
			<div class="uk-width-1-6 uk-text-center"><i class="fa fa-envelope fa-3x"></i></div>
			<div class="uk-width-5-6">
				<a href="#modal-contact" class="uk-width-1-1 email-de-contact" uk-toggle>{{ 'Contact'|trans }}</a>
			</div>
		</div>
	</li>

{% elseif ficheParameters.emailLinkType == 'FORMULAIRE' and email is not empty and formSettingsAreValid == false %}
	<div class="uk-alert-danger">
		<h3>Erreur : La sécurité antispam du formulaire de contact n'est pas paramétrée dans Bridge</h3>
	</div>
{% endif %}
