{#
# Template d'affichage de block dans une page fiche détaillée - bloc lien de réservation - modèle fiche 3
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-fiche-3
#
# @version 3.2.2
#}
{% set lien = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
	{% set lien = fiche.ficheBlocks|extract_first_text_value('lien-de-reservation-en-ligne') %}
{% endif %}

{% if lien != '' %}
<li>
	<div class="uk-grid uk-flex-middle">
	   <div class="uk-width-1-6 uk-text-center"><i class="fa fa-booking fa-3x"></i></div>
		<div class="uk-width-5-6">
			<a href="{{ lien|raw }}" class="uk-width-1-1 reservation">{{ 'Réservation'|trans }}</a>
		</div>
	</div>
</li>
{% endif %}
    