{#
# Template d'affichage du div de carte de positoinnement dans une page fiche détaillée - modèle fiche 3
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-fiche-3
#
# @extends pylot_bridge/templates-bridge-twig/fiche/blocks/localisation.html.twig
# @version 3.2.2
#}

{% extends "@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation.html.twig" %}

{% block mapSection %}
	{% set lat = fiche.latitude %}
	{% set lon = fiche.longitude %}
	{% if lat is defined and lat != '' and lon is defined and lon != ''  %}
		<section class="uk-margin uk-margin-remove localisation">
			<div id="maps-loc" style="height:450px;" class="uk-width-1-1"></div>
		</section>
		{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation-js.html.twig' %}
	{% endif %}
{% endblock %}
