{#
# Template d'affichage de block dans une page fiche détaillée - bloc site web - modèle fiche 3
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-fiche-3
#
# @version 3.2.2
#}
{% set lien = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'site-s-web') %}
	{% set lien = fiche.ficheBlocks|extract_first_text_value('site-s-web')|replace({' ': ''}) %}
{% endif %}

{% if lien != '' %}
<li>
	<div class="uk-grid uk-flex-middle">
	   <div class="uk-width-1-6 uk-text-center"><i class="fa fa-globe fa-3x"></i></div>
		<div class="uk-width-5-6">
			<a href="{{ lien|raw }}" data-dnc-turl="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}" target="_blank" class="uk-width-1-1 site-s-web">{{ 'Visiter le site web'|trans }}</a>
		</div>
	</div>
</li>
{% endif %}
        
    