{#
# Template d'affichage de block dans une page fiche détaillée - bloc téléphone de contact - modèle fiche 3
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-fiche-3
#
# @version 3.2.2
#}
{% set tel = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'telephone-s-de-contact') %}
	{% set tel = fiche.ficheBlocks|extract_first_text_value('telephone-s-de-contact') %}
{% endif %}

{% if tel != '' %}
<li>
	<div class="uk-grid uk-flex-middle">
	   <div class="uk-width-1-6 uk-text-center"><i class="fa fa-phone fa-3x"></i></div>
	   		<div class="uk-width-5-6">
				{% if ficheParameters.hidePhoneWithXX == true %}
					<a class="uk-width-1-1 phone" data-dnc-ttel="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}" uk-toggle="target: .phone">{{ 'APPELER'|trans }}</a>
					<a href="tel:{{ tel|replace({' ': ''}) }}" class="uk-width-1-1 phone" hidden >{{ tel }}</a>
				{% else %}
					<a href="tel:{{ tel|replace({' ': ''}) }}" class="uk-width-1-1 phone" data-dnc-ttel="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}">{{ tel }}</a>
				{% endif %}
		</div>
	</div>
</li>
{% endif %}
        
    