{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}

{{ attach_library('mosl/block.search-content') }}

{#<div class="main-search-block">#}
{#    <div class="search-close search-toggler"><span>{{ 'Fermer'|t({},{'context':'search-modal'}) }}</span></div>#}

{#    <div{{ attributes.addClass(classes) }}#}
{#            style="display: none;"#}
{#    >#}

{#        {{ title_prefix }}#}
{#        {% if label %}#}
{#            <h2{{ title_attributes }}>{{ label }}</h2>#}
{#        {% endif %}#}
{#        {{ title_suffix }}#}
{#        {% block content %}#}
{#            {{ content }}#}
{#        {% endblock %}#}
{#    </div>#}
{#</div>#}
