{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
    <a href="{{ path('<front>') }}" rel="home" class="site-logo">
        <svg width="170" height="66" viewBox="0 0 170 66" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.1135 23.1424L0 3.02002V47.2689H9.28514V24.7033L21.1135 36.0879L32.9247 24.7033V47.2689H42.244V3.02002L21.1135 23.1424Z" fill="#212121"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M49.0371 25.6365C49.0371 13.3527 59.0904 3.2915 71.3966 3.2915C83.7711 3.2915 93.8926 13.3527 93.8755 25.6365C93.8755 37.8694 83.7711 47.8627 71.3966 47.8627C59.0904 47.8627 49.0371 37.8694 49.0371 25.6365ZM58.3907 25.6534C58.3907 32.7285 64.2792 38.582 71.3967 38.582C78.6507 38.582 84.5392 32.7285 84.5392 25.6534C84.5392 18.4596 78.6507 12.6061 71.3967 12.6061C64.2792 12.6061 58.3907 18.4426 58.3907 25.6534Z" fill="#212121"/>
            <path d="M150.184 38.0053V3.85156H140.83V47.303H165.921V38.0053H150.184Z" fill="#212121"/>
            <path d="M120.092 19.9868C116.559 19.9868 114.392 21.8192 112.565 21.8192C111.217 21.8192 110.142 21.3271 109.271 20.4618C108.401 19.5287 107.974 18.4259 107.974 17.3061C108.093 14.9647 110.21 13.0475 112.872 13.1662H130.111V3.85156H113.197H112.89H112.702C104.697 3.85156 98.2279 9.65413 97.989 17.0007C97.6817 24.5338 104.134 30.8963 112.207 31.1338C115.928 31.1338 116.935 29.3014 119.734 29.3014C120.98 29.3014 122.158 29.7935 123.028 30.6588C123.899 31.5919 124.325 32.6947 124.325 33.8145C124.206 36.1559 122.089 38.0732 119.427 37.9544H100.993V47.269H119.102H119.41H119.597C127.602 47.269 134.071 41.4665 134.31 34.1199C134.635 26.5868 127.807 19.9868 120.092 19.9868Z" fill="#212121"/>
            <path d="M169.829 3.88535C169.829 6.02314 168.088 7.77069 165.921 7.77069C163.77 7.77069 162.012 6.0401 162.012 3.88535C162.012 1.74756 163.77 0 165.921 0C168.071 0 169.829 1.73059 169.829 3.88535Z" fill="#212121"/>
            <path d="M21.3012 55.0057C21.3012 55.5486 20.8574 55.9727 20.3283 55.9727C19.7821 55.9727 19.3554 55.5316 19.3554 55.0057C19.3554 54.4797 19.7992 54.0386 20.3283 54.0386C20.8745 54.0216 21.3012 54.4627 21.3012 55.0057Z" fill="#212121"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M44.7873 58.2464V58.8572H46.1186V58.2464C46.1186 57.3811 45.8967 56.7024 45.4529 56.2443C45.0091 55.7693 44.3776 55.5317 43.5583 55.5317C42.7391 55.5317 42.0905 55.7353 41.6296 56.1425C41.1688 56.5497 40.9298 57.1266 40.9298 57.8901C40.9298 58.3991 41.0322 58.8572 41.2541 59.2644C41.476 59.6716 41.732 60.0109 42.0393 60.2993C42.3465 60.5878 42.7391 60.9271 43.217 61.2834C43.7632 61.7076 44.1899 62.0639 44.463 62.3693C44.7361 62.6747 44.8726 63.014 44.8726 63.3873C44.8726 63.7096 44.7702 63.9811 44.5824 64.2186C44.3947 64.4562 44.0533 64.558 43.5925 64.558C43.1828 64.558 42.8585 64.4562 42.5855 64.2356C42.3124 64.015 42.1758 63.6248 42.1758 63.0819V62.5389H40.8274V63.0819C40.8274 64.032 41.0664 64.7276 41.5614 65.1857C42.0563 65.6438 42.6879 65.8644 43.4901 65.8644C44.2581 65.8644 44.9238 65.6608 45.4529 65.2366C45.982 64.8125 46.2381 64.2017 46.2381 63.4042C46.2381 62.9122 46.1357 62.4541 45.9138 62.0639C45.7089 61.6736 45.4529 61.3343 45.1628 61.0628C44.8726 60.7914 44.48 60.469 43.9851 60.0957L43.9276 60.051C43.5624 59.767 43.2751 59.5436 43.0804 59.3662C42.8585 59.1796 42.6879 58.959 42.5343 58.7215C42.3806 58.4839 42.3124 58.2125 42.3124 57.924C42.3124 57.2114 42.7391 56.8382 43.5754 56.8382C44.0363 56.8382 44.3435 56.9569 44.5312 57.1945C44.7019 57.449 44.7873 57.7883 44.7873 58.2464ZM38.9498 63.2685V58.1446C38.9498 57.3302 38.7108 56.6855 38.2159 56.2274C37.7209 55.7693 37.0211 55.5487 36.1335 55.5487C35.246 55.5487 34.5633 55.7693 34.0683 56.2274C33.5733 56.6855 33.3343 57.3132 33.3343 58.1446V63.2685C33.3343 64.1168 33.5733 64.7616 34.0512 65.2197C34.5291 65.6608 35.2119 65.8814 36.1335 65.8814C37.0382 65.8814 37.738 65.6608 38.2159 65.2197C38.7108 64.7616 38.9498 64.1168 38.9498 63.2685ZM24.3223 65.7626H25.6536V59.2135L25.7902 60.3163L27.2922 65.7626H28.4016L29.8353 60.3163L29.9719 59.2135V65.7796H31.3032V55.6505H29.989L27.9237 62.8783L27.8554 63.5909L27.7872 62.8783L25.6366 55.6505H24.3223V65.7626ZM37.6355 63.031V58.467C37.6355 57.8731 37.5161 57.4659 37.3113 57.2284C37.0723 56.9909 36.6968 56.8721 36.1506 56.8721C35.6215 56.8721 35.246 56.9909 35.0241 57.2284C34.8022 57.4659 34.6827 57.8731 34.6827 58.45V62.9801C34.6827 63.5739 34.8022 63.9811 35.007 64.2186C35.2119 64.4392 35.6044 64.558 36.1506 64.558C36.6968 64.558 37.0894 64.4392 37.3113 64.2186C37.5331 63.9981 37.6355 63.6078 37.6355 63.031ZM52.7751 56.9739H49.7882V60.0618H51.6827V61.3852H49.7882V64.4392H52.7751V65.7626H48.4568V55.6505H52.7751V56.9739ZM55.1135 65.7626H59.3123V64.4392H56.4448V55.6505H55.1135V65.7626ZM65.6617 65.7626H61.4629V55.6505H62.7942V64.4392H65.6617V65.7626ZM69.1606 56.9739H72.1476V55.6505H67.8293V65.7626H72.1476V64.4392H69.1606V61.3852H71.0552V60.0618H69.1606V56.9739ZM82.8835 58.8572V58.2464C82.8835 57.7883 82.7811 57.449 82.6446 57.1945C82.4568 56.9569 82.1496 56.8382 81.6888 56.8382C80.8524 56.8382 80.4257 57.2114 80.4257 57.924C80.4257 58.2125 80.494 58.4839 80.6476 58.7215C80.8012 58.959 80.9719 59.1796 81.1938 59.3662C81.3885 59.5436 81.6758 59.7671 82.041 60.0511L82.0984 60.0957C82.5934 60.469 82.986 60.7914 83.2761 61.0628C83.5663 61.3343 83.8223 61.6736 84.0271 62.0639C84.249 62.4541 84.3514 62.9122 84.3514 63.4042C84.3514 64.2017 84.0954 64.8125 83.5663 65.2366C83.0372 65.6608 82.3715 65.8644 81.6034 65.8644C80.8012 65.8644 80.1697 65.6438 79.6747 65.1857C79.1797 64.7276 78.9408 64.032 78.9408 63.0819V62.5389H80.2721V63.0819C80.2721 63.6248 80.4086 64.015 80.6817 64.2356C80.9548 64.4562 81.2791 64.558 81.6888 64.558C82.1496 64.558 82.4739 64.4562 82.6787 64.2186C82.8665 63.9811 82.9689 63.7096 82.9689 63.3873C82.9689 63.014 82.8323 62.6747 82.5592 62.3693C82.2862 62.0639 81.8594 61.7076 81.3133 61.2834C80.8353 60.9271 80.4428 60.5878 80.1355 60.2993C79.8283 60.0109 79.5723 59.6716 79.3504 59.2644C79.1285 58.8572 79.0261 58.3991 79.0261 57.8901C79.0261 57.1266 79.2651 56.5497 79.7259 56.1425C80.1868 55.7353 80.8353 55.5317 81.6546 55.5317C82.4739 55.5317 83.1054 55.7693 83.5492 56.2443C83.993 56.7024 84.2149 57.3811 84.2149 58.2464V58.8572H82.8835ZM85.6656 65.7626H87.0993L87.5601 63.523H89.7619L90.2228 65.7626H91.6565L89.3523 55.6505H87.9868L85.6656 65.7626ZM88.6185 58.3652L87.8845 62.0639H89.4719L88.7209 58.3652L88.6697 57.9071L88.6185 58.3652ZM94.5241 65.7626V58.433L94.6607 59.0608L97.5281 65.7456H98.7741V55.6505H97.4428V62.9292L97.3062 62.3353L94.4558 55.6505H93.2098V65.7626H94.5241ZM104.629 58.8572V58.2464C104.629 57.7883 104.526 57.449 104.39 57.1945C104.202 56.9569 103.895 56.8382 103.434 56.8382C102.597 56.8382 102.171 57.2114 102.171 57.924C102.171 58.2125 102.239 58.4839 102.393 58.7215C102.546 58.959 102.717 59.1796 102.939 59.3662C103.133 59.5436 103.421 59.767 103.786 60.0509L103.786 60.0511L103.843 60.0957C104.338 60.469 104.731 60.7914 105.021 61.0628C105.311 61.3343 105.567 61.6736 105.772 62.0639C105.994 62.4541 106.096 62.9122 106.096 63.4042C106.096 64.2017 105.84 64.8125 105.311 65.2366C104.782 65.6608 104.116 65.8644 103.348 65.8644C102.546 65.8644 101.915 65.6438 101.42 65.1857C100.925 64.7276 100.686 64.032 100.686 63.0819V62.5389H102.017V63.0819C102.017 63.6248 102.154 64.015 102.427 64.2356C102.7 64.4562 103.024 64.558 103.434 64.558C103.895 64.558 104.219 64.4562 104.424 64.2186C104.611 63.9811 104.714 63.7096 104.714 63.3873C104.714 63.014 104.577 62.6747 104.304 62.3693C104.031 62.0639 103.604 61.7076 103.058 61.2834C102.58 60.9271 102.188 60.5878 101.881 60.2993C101.573 60.0109 101.317 59.6716 101.095 59.2644C100.874 58.8572 100.771 58.3991 100.771 57.8901C100.771 57.1266 101.01 56.5497 101.471 56.1425C101.932 55.7353 102.58 55.5317 103.4 55.5317C104.219 55.5317 104.85 55.7693 105.294 56.2443C105.738 56.7024 105.96 57.3811 105.96 58.2464V58.8572H104.629ZM112.309 65.7626H116.508V64.4392H113.641V55.6505H112.309V65.7626ZM120.058 65.7626H118.727V55.6505H120.058V65.7626ZM122.26 65.7626H123.591V59.2135L123.728 60.3163L125.23 65.7626H126.339L127.773 60.3163L127.91 59.2135V65.7796H129.241V55.6505H127.927L125.861 62.8783L125.793 63.5909L125.725 62.8783L123.574 55.6505H122.26V65.7626ZM132.996 65.7626H131.665V55.6505H132.996V65.7626ZM140.147 56.9739V55.6505H135.112V56.9739H136.956V65.7626H138.287V56.9739H140.147ZM146.275 56.9739H143.288V60.0618H145.183V61.3852H143.288V64.4392H146.275V65.7626H141.957V55.6505H146.275V56.9739Z" fill="#212121"/>
        </svg>
    </a>
{% endblock %}
