
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
    <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
        {# Label. If not displayed, we still provide it for screen readers. #}
        {% if not configuration.label_display %}
            {% set title_attributes = title_attributes.addClass('visually-hidden') %}
        {% endif %}
        {{ title_prefix }}
        <div{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</div>
        {{ title_suffix }}

        {# Menu. #}
        {% block content %}
            {{ content }}
        {% endblock %}
    </nav>
