{#
# Template d'affichage du modèle de liste liste4
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste
#
# @version 3.2.2
#}

{% set moteurEnDouble = '' %}

<div class="bridge-quick-search">
    {% set minSection=1 %}
    {% set maxSection=1 %}
    {% include '@pylot_bridge/templates-bridge-twig/liste/specifique/mosl/moteur-body-mosl.html.twig' %}
</div>

<div class="bridge-filters-search">
    <div class="filters">
        {% if moteur is defined and bridge_is_object(moteur) and moteur.id is defined and moteur.id is not empty %}
            <div class="bridge-filters">
                <div class="bridge-filters__label"><span>{{ 'Filtrer par'|t({}, {'context': 'SitLor filters'}) }}</span></div>
                <div class="bridge-filters__content">
                    <div class="bridge-filters__filters"></div>
                    <div class="bridge-filters__arrow"></div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="filters-filters">
        <div class="filters-filters__content">
            <button class="filters-filters__close"></button>
            <div class="filters-filters__title">
                <span>{{ 'Filtrer par'|t({}, {'context': 'SitLor filters'}) }}</span>
            </div>
            <div class="fieldset">
                {% set minSection=2 %}
                {% set maxSection=999 %}
                {% include '@pylot_bridge/templates-bridge-twig/liste/specifique/mosl/moteur-body-mosl.html.twig' %}
            </div>
        </div>
    </div>
    <div class="filters-alt">
        <div class="filters-alt__title">
            <button>{{ 'Filtres'|t({}, {'context': 'SitLor filters'}) }}</button>
            {#  DN CONSULTANTS 21.10.2022 : bouton de suppression #}
            <button class="bridgeActiveFilterRemoveAll" style="display:none;">{{ 'Tout effacer'|trans }}</button>
        </div>
    </div>
    <div class="search">
        {% if moteur is defined and bridge_is_object(moteur) and moteur.id is defined and moteur.id is not empty and moteur.sections|length >= 1 %}
            {% set section = moteur.sections[0] %}
            {% if section.subSections|length >= 1 %}
                {% set subSection = section.subSections[section.subSections|length - 1] %}
                {% if subSection.filters|length == 1 and subSection.filters[0].displayType == 'input' %}
                    {% set filter = subSection.filters[0] %}
                    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/' ~ filter.displayType ~ '.html.twig' %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    {# <div class="sort">
        {% include '@pylot_bridge/templates-bridge-twig/liste/tris/tris.html.twig' %}
    </div> #}
</div>

<div class="bridge-result-count">
    <div class="bridge-result-count-results">
        {{ '<span class="listeSITCount">@productCount</span> résultats'|trans({'@productCount': listInfos.totalProducts})|raw }}
    </div>
    <div class="bridge-map-toggler bridge-map-toggler--open">
        <button>{{ 'Vue carte'|t({}, {'context': 'SitLor map toggler'}) }}</button>
    </div>
</div>

<div class="bridge-filters-active bridgeActiveFiltersDiv"></div>

<div class="bridge-list liste4">
    <div class="bridge-map-toggler bridge-map-toggler--close">
        <button>{{ 'Masquer la carte'|t({}, {'context': 'SitLor map toggler'}) }}</button>
    </div>
    <div class="filters-filters">
        <div class="filters-filters__content">
            <div class="fieldset">
                {% set minSection = 2 %}
                {% set maxSection = 999 %}
                {% set moslAltFilters = true %}
                {% include '@pylot_bridge/templates-bridge-twig/liste/specifique/mosl/moteur-body-mosl.html.twig' %}
            </div>
        </div>
    </div>
    <div class="bridge-list__results" uk-filter="target: .filter-sit">
        <div id="listeSIT" class="listeSIT filter-sit">
            {% if data is defined and listInfos.totalProducts > 0 %}
                {% for fiche in data.selection.results.products %}
                    {#  set link = fiche|bridge_product_permalink #}
                    {% set link = fiche.link %}

                    {% set photo = '' %}
                    {% set photo2 = '' %}
                    {% set images = fiche.listBlocks|bridge_extract_photos('photo') %}
                    {% if images|length > 0 %}
                        {% set photo = images[0].url %}
                    {% elseif listParameters.defaultImage is defined and listParameters.defaultImage.url is defined and listParameters.defaultImage.url is not empty %}
                        {% set photo = listParameters.defaultImage.url %}
                    {% endif %}
                    {% if images|length > 1 %}
                        {% set photo2 = images[1].url %}
                    {% endif %}
                    <div class="liste_sit_item zoom-on-click" data-dnc-produit="{{ fiche.productCode }}">
                        {% include '@pylot_bridge/templates-bridge-twig/liste/gabarits/' ~ listInfos.bridgeModeleListeitem ~ '.html.twig' with {
                            'ficheIndex': loop.index,
                        } %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="h4 center"> {{ 'Aucun résultat'|trans }}</div>
                <p class="center"> {{ 'La liste est vide avec ces critères.'|trans }}</p>
            {% endif %}
        </div>
        {% if listParameters.paginationType == 'PAGINATION' %}
            {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
        {% elseif listParameters.paginationType == 'INFINITE_SCROLL' %}
            {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
            {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/infinitescroll.html.twig' %}
        {% endif %}
    </div>
    <div class="bridge-list__map">
        <div id="maps">
            <div id="mapsSIT"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery('.delallm').click(function() {
        window.mapService.delallmarkers();
    });
</script>
