{#
 * Template d'affichage de moteur d'affinage dans les listes
 *
 * Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
 * MonTheme/plugin-sit/templates/templates-bridge/liste/moteur
 *
 * @version 3.2.2
 *
 */
#}
{% set moteurEnDouble = '' %}

{% if moteur.sections.length > 0 %}
    <section class="bridge-moteur-sit moteurs" data-bridge-moteur-id="{{ moteur.id }}">
        <input type="hidden" name="bridge_active_filters_{{ moteur.id }}" value=""/>
        {% set moteurEnDouble = 'M2' %}
            <div class="uk-width-1-1">
                <div class="uk-width-1-1 uk-h3 uk-text-center bridge-moteur-titre">
                    {{ 'Rechercher'|trans }}
                </div>
                {% include '@pylot_bridge/templates-bridge-twig/liste/specifique/mosl/moteur-body.html.twig' %}
            </div>
    </section>
{% endif %}