{% if links -%}

    <div class="language-switcher">
        <div class="wrap-language">

            <input type="checkbox" id="language-switcher-toggler-{{ uniqid }}" />
            <label for="language-switcher-toggler-{{ uniqid }}"></label>

            <ul{{ attributes }}>
                {%- for item in links -%}

                    {% set attributes = create_attribute()
                        .addClass( item.current_language ? 'is-current-language' : '' )
                        .addClass( 'lang--' ~ item.code_language )
                    %}

                    <li{{ attributes }}>
                        {%- if item.link_simple -%}
                            <a href="{{ item.link_simple }}">{{ item.code_language|upper }}</a>
                        {%- elseif item.link -%}
                            {{ item.link }}
                        {%- elseif item.text_attributes -%}
                            <span{{ item.text_attributes }}>{{ item.text }}</span>
                        {%- else -%}
                            {{ item.text }}
                        {%- endif -%}
                    </li>
                {%- endfor -%}
            </ul>

        </div>
    </div>

{%- endif %}
