{#
/**
 * @file
 * Theme implementation to display the sitemap page.
 *
 * Available variables:
 * - message: A configurable introductory message.
 * - sitemap_items: An array of renderable content items
 *
 * @see template_preprocess()
 * @see template_preprocess_sitemap()
 */
#}
{{ attach_library('mosl/layout.sitemap') }}

<div class="sitemap">
    <h1>{{ 'Plan du site'|t({}, {'context' : 'sitemap'}) }}</h1>
    {% if message %}
    <div class="sitemap-message">
      {{ message }}
    </div>
  {% endif %}
  {% if sitemap_items %}
    {% for item in sitemap_items %}
      {{ item }}
    {% endfor %}
  {% endif %}
</div>
