{#
/**
 * @file
 * Theme override to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - media_file_path
 * - media_file_size
 * - media_file_mimetype
 *
 * @see mosl_preprocess_media__document__catalog_list_item()
 */
#}

{% block libraries %}{{ attach_library('mosl/media.document-catalog-list-item') }}{% endblock %}

<div{{ attributes.addClass('media-catalog-list-item') }}>
    <a href="{{ media_file_path }}" target="_blank" class="download-link">
        <div class="wrapper">
            <div class="thumbnail">{{ content.field_thumbnail }}</div>
            <div class="content">
                <div class="name">{{ name }}</div>
                <div class="file">
                    <div class="data">{{ media_file_size }} - {{ media_file_mimetype }}</div>
                    <div class="icon">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 19a1 1 0 0 1 1 1v5.333A1.666 1.666 0 0 0 6.667 27h18.666A1.666 1.666 0 0 0 27 25.333V20a1 1 0 1 1 2 0v5.333A3.667 3.667 0 0 1 25.333 29H6.667A3.667 3.667 0 0 1 3 25.333V20a1 1 0 0 1 1-1Z" fill="#32AEB5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.626 12.626a1 1 0 0 1 1.415 0L16 18.586l5.96-5.96a1 1 0 0 1 1.414 1.414l-6.667 6.667a1 1 0 0 1-1.414 0L8.626 14.04a1 1 0 0 1 0-1.414Z" fill="#32AEB5"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16 3a1 1 0 0 1 1 1v16a1 1 0 1 1-2 0V4a1 1 0 0 1 1-1Z" fill="#32AEB5"/></svg>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
