{#
# Template d'affichage du bouton d'ajout au carnet de voyages dans une page fiche détaillée
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
<script>
    {#
  ajaxurl = "<?php echo BridgeUtils::getAjaxURL(); ?>";
  cvPreviewURL = "<?= $cvPreviewLink ?>";
  #}
  bridgeMsgAddedtoCv =  "{{ 'Fiche ajoutée avec succès au carnet de voyages'|trans|e('js') }}";
  bridgeMsgAddToCv =  "{{ 'Ajouter au carnet de voyage'|trans|e('js') }}";
  bridgeMsgAlreadyInCv =  "{{ 'Déjà présent dans le carnet de voyage'|trans|e('js') }}";
</script>

  
<button class="add-to-cv-button uk-button {{  fiche.isInSession ? 'uk-button-default':'uk-button-primary' }}" id="voyage-{{ fiche.productCode }}" {{ fiche.isInSession ? 'disabled':'' }} data-sit-id="{{ fiche.productCode }}" data-sit-name="{{ fiche.name|e('html_attr') }}" data-sit-city="{{ fiche.city|e('html_attr')}}" data-is-in-list="false" title="{{ fiche.isInSession ? 'Déjà présent dans le carnet de voyage'|trans|e('html_attr'):'Ajouter au carnet de voyage'|trans|e('html_attr') }}" uk-tooltip>
    {{ fiche.isInSession ? 'Déjà présent dans le carnet de voyage'|trans:'Ajouter au carnet de voyage'|trans }}
</button>