{#
# Template d'affichage de block dans une page fiche détaillée - bloc classement labels
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'classements-labels') %}
    <div class="classements-labels pictogrammes">
		{{ fiche.ficheBlocks|bridge_render_named_block('classements-labels')|raw }}
    </div>
{% endif %}

