{#
# Template d'affichage de block dans une page fiche détaillée - bloc descriptif
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{%  set bonusclass = "" %}
{% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'descriptif') %}
    {%  if ficheParameters.limitDescriptionFieldHeight == true %}
        <div id="descriptif" class="descriptif truncate">
            <p>{{ fiche.ficheBlocks|bridge_render_named_block('descriptif')|striptags|raw }}</p>
        </div>
    {% else %}
        <div id="descriptif" class="descriptif">
            <p>{{ fiche.ficheBlocks|bridge_render_named_block('descriptif')|raw }}</p>
        </div>
    {% endif %}
    <hr class="uk-divider-icon" />
{% endif %}
