
        <script>
            function bridgeVerifyForm() {
                let res = { success: false };
                let nbfieldsOk = 0;
                if(jQuery("#bridge-nom").val() === '') {
                    jQuery("#bridge-nom").removeClass('uk-form-success').addClass('uk-form-danger');
                } else {
                    jQuery("#bridge-nom").removeClass('uk-form-danger').addClass('uk-form-success');
                    res.name = jQuery("#bridge-nom").val();
                    nbfieldsOk++;
                }
                if(jQuery("#bridge-email").val() === '') {
                    jQuery("#bridge-email").removeClass('uk-form-success').addClass('uk-form-danger');
                } else {
                    jQuery("#bridge-email").removeClass('uk-form-danger').addClass('uk-form-success');
                    res.email = jQuery("#bridge-email").val();
                    nbfieldsOk++;
                }
                if(jQuery("#bridge-message").val() === '') {
                    jQuery("#bridge-message").removeClass('uk-form-success').addClass('uk-form-danger');
                } else {
                    jQuery("#bridge-message").removeClass('uk-form-danger').addClass('uk-form-success');
                    res.message = jQuery("#bridge-message").val();
                    nbfieldsOk++;
                }
                if(nbfieldsOk === 3) {
                    res.success = true;
                }
                return res;
            }
        </script>
    {% if ficheParameters.emailFormAntispam == 'RECAPTCHAV3' or ficheParameters.emailFormAntispam == 'RECAPTCHAV2' %}
        {% if ficheParameters.emailFormAntispam == 'RECAPTCHAV2' %}
                <script>
                    var bridgeRecaptchav2Ready = function() {
                        grecaptcha.render(
                            'bridge-recaptchav2-container', {
                                'sitekey' : '{{ ficheParameters.recaptchav2_site_key }}',
                                'theme' : 'light'
                            });
                    };
                </script>
                <script src="https://www.google.com/recaptcha/api.js?onload=bridgeRecaptchav2Ready&render=explicit"
                        async defer></script>
        {% endif %}

        {% if ficheParameters.emailFormAntispam == 'RECAPTCHAV3' %}
            <script src="https://www.google.com/recaptcha/api.js?render={{ ficheParameters.recaptchav3_site_key }}"></script>
        {% endif %}
        <script>
            jQuery(document).ready(function() {
                jQuery('#bridge-btn-envoyer-email').click(function(e) {
                    e.preventDefault();
                    jQuery('#bridge-btn-envoyer-email').attr('disabled', 'true');
                    // Vérification du formulaire
                    let postParams = bridgeVerifyForm();
                    if(postParams.success !== true) {
                        return;
                    }
                    postParams.dest = jQuery('#bridge-email-dest').val();
                    postParams.subject = jQuery('#bridge-email-subject').val();
                    postParams.productCode = jQuery('#bridge-product-code').val();
                    postParams.webPageId = jQuery('#bridge-id-fiche').val();
                    postParams.action = "bridge_send_email_recaptcha";

                    {% if ficheParameters.emailFormAntispam == 'RECAPTCHAV2' %}
                        postParams.token = grecaptcha.getResponse();
                        jQuery.ajax({
                            type: "POST",
                            url: "{{ bridgeParameters.url_ajax_send_email_recaptcha }}",
                            data: postParams,
                            dataType: "json",
                            error: function( jqXHR, textStatus, errorThrown ) {
                                jQuery('#bridge-btn-envoyer-email').removeAttr('disabled');
                                jQuery('#bridge-send-log').removeClass('uk-alert-success').addClass('uk-alert-danger').html('Erreur ' + textStatus).show();
                            }
                        }).done(function (data) {
                            jQuery('#bridge-btn-envoyer-email').removeAttr('disabled');
                            if(data.success) {
                                jQuery('#bridge-send-log').removeClass('uk-alert-danger').addClass('uk-alert-success').html(data.data).show();
                            } else {
                                jQuery('#bridge-send-log').removeClass('uk-alert-success').addClass('uk-alert-danger').html(data.data).show();
                            }
                        });
                    {% endif %}
                    {% if ficheParameters.emailFormAntispam == 'RECAPTCHAV3' %}
                        grecaptcha.ready(function() {
                            grecaptcha.execute('{{ ficheParameters.recaptchav3_site_key }}', {action: 'submit'}).then(function(token) {
                                postParams.token = token;

                                jQuery.ajax({
                                    type: "POST",
                                    url: "{{ bridgeParameters.url_ajax_send_email_recaptcha }}",
                                    data: postParams,
                                    dataType: "json",
                                    error: function( jqXHR, textStatus, errorThrown ) {
                                        jQuery('#bridge-btn-envoyer-email').removeAttr('disabled');
                                        jQuery('#bridge-send-log').removeClass('uk-alert-success').addClass('uk-alert-danger').html('Erreur ' + textStatus).show();
                                    }
                                }).done(function (data) {
                                    jQuery('#bridge-btn-envoyer-email').removeAttr('disabled');
                                    if(data.success) {
                                        jQuery('#bridge-send-log').removeClass('uk-alert-danger').addClass('uk-alert-success').html(data.data).show();
                                    } else {
                                        jQuery('#bridge-send-log').removeClass('uk-alert-success').addClass('uk-alert-danger').html(data.data).show();
                                    }
                                });
                            });
                        });
                    {% endif %}
                });
            });

        </script>
    {% endif %}


<div id="modal-contact" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
		<form>
			<fieldset class="uk-fieldset">
                <input type="hidden" id="bridge-product-code" value="{{ fiche.productCode }}"/>
                <input type="hidden" id="bridge-id-fiche" value="{{ ficheParameters.webPageId }}"/>
                {% if ficheParameters.emailModeTest %}
                    <input type="hidden" id="bridge-email-dest" value="{{ ficheParameters.emailTestEmailAddress }}"/>
                {% else %}
                    <input type="hidden" id="bridge-email-dest" value="{{ email }}"/>
                {% endif %}
                <input type="hidden" id="bridge-email-subject" value="{{ (ficheParameters.emailPrestSubject is not empty)?ficheParameters.emailPrestSubject|e('html_attr'):'' }}"/>

				<legend class="uk-legend">{{ 'Contact'|trans }}</legend>

				<div class="uk-margin">
					<input class="uk-input" type="text" id="bridge-nom" name="bridge-nom" placeholder="{{ 'Votre nom'|trans|e('html_attr') }}">
				</div>
                <div class="uk-margin">
                    <input class="uk-input" type="text" id="bridge-email" name="bridge-email" placeholder="{{ 'Votre email'|trans|e('html_attr') }}">
                </div>

				<div class="uk-margin">
					<textarea class="uk-textarea" rows="5" id="bridge-message" name="bridge-message" placeholder="{{ 'Votre message'|trans|e('html_attr') }}"></textarea>
				</div>

                {% if ficheParameters.emailFormAntispam == 'RECAPTCHAV2' %}
                    <div class="uk-margin" id="bridge-recaptchav2-container">

                    </div>
                {% endif %}
                {% if ficheParameters.emailModeTest %}
                    <div class="uk-alert uk-alert-warning">
                        Mode TEST : les emails seront envoyés à l'adresse: {{ ficheParameters.emailTestEmailAddress }}
                    </div>
                {% endif %}
			</fieldset>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">{{ 'Annuler'|trans }}</button>
                <button class="uk-button uk-button-primary" id="bridge-btn-envoyer-email" name="bridge-btn-envoyer-email" type="button" data-dnc-temail="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}">{{ 'Envoyer'|trans }}</button>
            </p>
            <div class="uk-alert uk-margin-top" id="bridge-send-log" style="display:none">

            </div>
		</form>
    </div>
</div>
