{#
# Template d'affichage de block dans une page fiche détaillée - bloc infos supplémentaires 1
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-1') %}
    {% set blockData = attribute(fiche.ficheBlocks, 'infos-supplementaires-1') %}
    <div class="infos-supplementaires-1 descriptif {{ blockData.cssClass }}">
        {%  if blockData.blockLabel is defined and blockData.blockLabel is not empty %}
            <span class="block-label uk-h2">{{ blockData.blockLabel }}</span>
        {% endif %}
        {% set component = fiche|get_block_component(fiche.ficheBlocks,'infos-supplementaires-1' ) %}
        {% if component is not empty %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/gabarits/' ~ component ~ '.html.twig' %}
        {% else %}
            {{ fiche.ficheBlocks|bridge_render_named_block('infos-supplementaires-1')|raw }}
        {% endif %}
    </div>
{% endif %}
