{#
# Template d'affichage de block dans une page fiche détaillée - bloc lien de réservation
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set lien = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
    {% set lien = fiche.ficheBlocks|extract_first_text_value('lien-de-reservation-en-ligne') %}
{% endif %}

{% if lien != '' %}
    <a target="_blank" href="{{ lien|raw }}" data-dnc-tresa="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}" class="uk-button uk-width-1-1 uk-button-primary reservation">{{ 'Réservation'|trans }}</a>
{% endif %}