
{% block javascript %}
{% set lat = fiche.latitude %}
{% set lon = fiche.longitude %}
{% if lat is defined and lat != '' and lon is defined and lon != ''  %}
<script type="text/javascript">
    // Gère le javascript de la carto
    bridgeDocumentReady(function($j)
    {
        window.markercmpt = 0;
        window.mapService = new dncLeafletServices('maps-loc');
        window.mapService.mapoptions = {
            zoom: '14', // Niveau de Zoom de départ
            centerlat: {{ lat }}, // Latitude du centre au départ
            centerlon: {{ lon }}, // Longitude du centre au départ
            maptype: 'MAPTYPE_OPENSTREETMAPS', // Type de vue : ROAD, SATTELITE, HYBRID, 3D
            gridSize: 0,
            maxZoom: 5,
            scrollWheelZoom: false
        };
        var mapdiv = document.getElementById("maps-loc");
        //abso();

			window.mapService.defaultIconOptions =  {
                iconSize:     [{{ bridgeParameters.marker_map_width }}, {{ bridgeParameters.marker_map_height }}],
                iconAnchor:   [{{ (bridgeParameters.marker_map_width/2)|round }}, {{ (bridgeParameters.marker_map_height/2)|round }}],
                popupAnchor:  [0, -3]
    		};
        window.mapService.init();
        window.mapService.switchToWordpress();
        window.mapService.disabledMouseWheel();
        // On ajoute le point

        // Options pour le rendu des KML (options pour ls objets tracé)
        let kmlStyleOptions = {
            "stroke": true,               // Trait
            "fillColor": "#ffa41c",           // Couleur
            "color": "#ffa41c",           // Couleur
            "weight": 5,                  // epaisseur du trait
            "fillOpacity": 1,               // Opacité du trait
            "opacity": 1,               // Opacité du trait
            "fillopacity": 0.9               // opacité du remplissage
        };

        window.mapService.addmarker ("fiche1", {{ lat }}, {{ lon }},'{{ fiche.name|e('js') }}','{{ bridgeParameters.marker_map }}') ;

        {% if fiche.kml is defined and fiche.kml != '' %}
            setTimeout(function() {
                window.mapService.addkml('{{ fiche.kml }}','fiche1', kmlStyleOptions, true);
            }, 500);
        {% endif %}

        window.mapService.centeronmarker("fiche1","14");
        window.mapService.fitboundstomarkers();
        UIkit.util.on('#tabs-sit > .localisation','beforeshow', function(){
            window.mapService.centeronmarker("fiche1","14");
            window.mapService.reDraw();
            window.mapService.fitboundstomarkers();
            //abso();
        });
    });

    jQuery(window).resize(function() {
        //abso();
    });
    function abso() {
        var sizeneg = (jQuery(window).width()-jQuery('#maps-loc').parents('.elementor-container').width()+100)/2;
           jQuery('#maps-loc').css({
            position: 'relative',
            width: jQuery(window).width(),
            //left: '50%',
            marginLeft: '-'+sizeneg+'px'
        });
    }

</script>
{% endif %}
{% endblock %}
