{#
# Template d'affichage des blocs personnalisés dans la fiche de détail
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set blocks = fiche.ficheBlocks.custom  %}


{% set hierarchicalCustomBlocks = fiche|prepare_custom_blocks_display %}

{# Signets pour savoir quand insérer des séparateurs #}
{%  set previousGroupId = -1 %}
{%  set previousBlockId = -1 %}

{%  set nbOnglets = 0 %}
{% if hierarchicalCustomBlocks|length > 0 %}
<section class="onglet">
    <div uk-grid>
        {% for onglet in hierarchicalCustomBlocks %}
            {%  set groupeactif = false %}
            {% if nbOnglets > 0 %}
                {% if onglet.group is defined and onglet.group is not empty  and onglet.group == 1 %}
                    <hr class="block-separator group-separator uk-width-1-1 uk-divider-icon {{ onglet.separatorClass|raw }}"/>
                {% else %}
                    <hr class="block-separator uk-width-1-1 uk-divider-icon {{ onglet.items[0].separatorClass|raw }}"/>
                {% endif %}
            {% endif %}
            {% set nbOnglets = nbOnglets + 1 %}
            {% set nbItems = 0 %}
            {% if onglet.group is defined and onglet.group is not empty  and onglet.group == 1 %}
                <div id="custom-block-{{ onglet.blockId }}" class="custom-block {{ onglet.class }}">
                    <h2 class="block-group-label">{{ onglet.title|raw }}</h2>
                    <div uk-grid>
                        {% set groupeactif = true %}
            {% endif %}

            {% for item in onglet.items %}
                {% set blockData = item.blockData %}
                <div {{ (onglet.group is not defined or onglet.group is empty or onglet.group != 1) ? 'id="custom-block-' ~ item.blockId : '' }}" class="custom-block {{ item.class }}">
                {% if nbItems > 0 %}
                    <hr class="block-separator uk-width-1-1 uk-divider-icon {{ item.separatorClass }}"/>
                {% endif %}
                {% if item.title is not empty %}
                    <h3 class="block-label uk-h2"><span>{{ item.title|raw }}</span></h3>
                {% endif %}

                {% if item.component is not empty %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/gabarits/' ~ item.component ~ '.html.twig' %}
                {% else %}
                    {{ item.html|raw }}
                {% endif %}
                {%  set nbItems = nbItems + 1 %}
            </div>
            {% endfor %}
            {% if onglet.group is defined and onglet.group == 1 %}
                    </div>
                </div>
            {% endif %}
    {% endfor %}
    </div>
</section>
{% endif %}
