{#
# Template d'affichage des liens de téléchargement dans la fiche de détail
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @deprecated utiliser plutôt les composants Bridge (dossier gabarits)
# @version 3.2.2
#}
{% set gpx_value = '' %}
{%  set doc1 = '' %}
{% if fiche.documentationf != '' %}
    {%  set doc1 = 'http://' ~ fiche.documentationf|trim %}
    {%  set doc1 = doc1|replace({'http://http://': 'http://', 'http://https://': 'https://'}) %}
{% endif %}
{%  set doc2 = '' %}
{% if fiche.documentationl1 != '' %}
    {%  set doc2 = 'http://' ~ fiche.documentationl1|trim %}
    {%  set doc2 = doc2|replace({'http://http://': 'http://', 'http://https://': 'https://'}) %}
{% endif %}
{%  set doc3 = '' %}
{% if fiche.documentationl2 != '' %}
    {%  set doc3 = 'http://' ~ fiche.documentationl2|trim %}
    {%  set doc3 = doc3|replace({'http://http://': 'http://', 'http://https://': 'https://'}) %}
{% endif %}

{% if doc1 != '' or  doc2 != '' or doc3 != '' or gpx_value != '' %}
    <div class="uk-section uk-section-primary uk-section-small" id="pdfs">
        <h3 class="uk-text-center">{{ 'Téléchargements'|trans }}</h3>
        <div class="contentpdf">
            <div class="uk-flex uk-flex-center">
                {% if doc1 != '' %}
                    <a href="{{ doc1 }}" class="uk-button uk-button-default" target="_blank" title="{{ 'Document 1'|trans|e('html_attr') }}">{{ 'Document 1'|trans }}</a>
                {% endif %}
                {% if doc2 != '' %}
                    <a href="{{ doc2 }}" class="uk-button uk-button-default" target="_blank" title="{{ 'Document 2'|trans|e('html_attr') }}">{{ 'Document 2'|trans }}</a>
                {% endif %}
                {% if doc3 != '' %}
                    <a href="{{ doc3 }}" class="uk-button uk-button-default" target="_blank" title="{{ 'Document 3'|trans|e('html_attr') }}">{{ 'Document 3'|trans }}</a></li>
                {% endif %}
                {% if gpx_value != '' %}
                    <a href="{{ gpx_value }}" target="_blank" title="{{ 'TRACE_GPX'|trans|e('html_attr') }}">{{ 'TRACE_GPX'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endif %}