{#
# Template d'affichage de block dans une page fiche détaillée - bloc photos
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}

{% if images|length > 0 %}
	<div id="galerie" class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push;autoplay: true">
		<ul class="uk-slideshow-items" uk-lightbox="animation: scale">
			{% for image in images %}
				<li>
					<a href="{{ image.url|raw }}" data-caption="{{ image.caption }}">
						<img data-src="{{ image.url|bridge_resize_image("tronq", 800, 500)|raw }}" alt="" uk-cover uk-img>
					</a>
					{% if image.caption != '' %}
						<div class="uk-position-bottom uk-position-medium uk-text-center uk-light">
							<p class="uk-margin-remove">{{ image.caption }}</p>
						</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		<div class="uk-light">
			<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
			<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
		</div>
	</div>
{% endif %}