{#
# Template d'affichage de block dans une page fiche détaillée - bloc pictogrammes
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'pictogrammes') %}
    <span class="pictogrammes">
        {{ fiche.ficheBlocks|bridge_render_named_block('pictogrammes')|raw }}
    </span>
{% endif %}
