{#
# Template d'affichage de block dans une page fiche détaillée - bloc site web
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set lien = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'site-s-web') %}
    {% set lien = fiche.ficheBlocks|extract_first_text_value('site-s-web')|replace({' ': ''}) %}
{% endif %}

{% if lien != '' %}
    {% set lien = 'http://' ~ lien %}
    {% set lien = lien|replace({'http://https://' : 'https://' }) %}
    {% set lien = lien|replace({'http://http://' : 'http://' }) %}

	<a href="{{ lien }}" target="_blank" data-dnc-turl="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}" class="uk-button uk-width-1-1 uk-button-default uk-margin-bottom site-s-web">{{ 'Visiter le site'|trans }}</a>
{% endif %}
        
    