{#
// TODO : passer cela dans BridgeParameters
  $cvPreviewId = get_option("reglages_sit_design_option")["cv_preview_page"];
  $cvPreviewLink = get_page_link($cvPreviewId);
  
  // Tout les textes a afficher dans ce composant
  $bridgeMsgAddedtoCv = esc_js(__('Fiche ajoutée avec succès au carnet de voyages', 'plugin-sit'));
  $bridgeMsgAddToCv = esc_js(__("Ajouter au carnet de voyage", "plugin-sit"));
  $bridgeMsgAlreadyInCv = esc_js(__("Déjà présent dans le carnet de voyage", "plugin-sit"));

  $msg = $bridgeMsgAddToCv;
  if ($fiche->isInSession)
      $msg = $bridgeMsgAlreadyInCv;


<script>
  ajaxurl = "<?php echo BridgeUtils::getAjaxURL(); ?>";
  cvPreviewURL = "<?= $cvPreviewLink ?>";
  bridgeMsgAddedtoCv = '<?= $bridgeMsgAddedtoCv ?>';
  bridgeMsgAddToCv = "<?= $bridgeMsgAddToCv ?>";
  bridgeMsgAlreadyInCv = "<?= $bridgeMsgAlreadyInCv ?>";
</script>

  
<button class="add-to-cv-button uk-button <?= ($fiche->isInSession)?"uk-button-default":"uk-button-primary" ?>" id="voyage-<?php echo $fiche->id; ?>" <?php if($fiche->isInSession) echo "disabled"; ?> data-sit-id="<?php echo $fiche->id?>" data-sit-name="<?php echo esc_attr($fiche->name); ?>" data-sit-city="<?php echo esc_attr($fiche->city) ?>" data-display-mode="text"  title="<?= esc_attr($msg) ?>" uk-tooltip>
    <?= $msg; ?>
</button>
#}