{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}

{# DN CONSULTANTS 21.10.2022 : on utilise ici les données Trip Advisor #}
{# set lien = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
    {% set lien = fiche.ficheBlocks|extract_first_text_value('lien-de-reservation-en-ligne') %}
{% endif #}

{% if tripNote is not empty %}
    {% set nbAvis = 0 %}
    {% if tripData.num_reviews is defined %}
        {% set nbAvis = tripData.num_reviews + 0 %}
    {% endif %}

    {% set nbAvis5 = 0 %}
    {% set widthAvis5 = 0 %}
    {% set nbAvis4 = 0 %}
    {% set widthAvis4 = 0 %}
    {% set nbAvis3 = 0 %}
    {% set widthAvis3 = 0 %}
    {% set nbAvis2 = 0 %}
    {% set widthAvis2 = 0 %}
    {% set nbAvis1 = 0 %}
    {% set widthAvis1 = 0 %}
    {% if tripData.review_rating_count.5 is defined %}
        {% set nbAvis5 = tripData.review_rating_count.5 + 0 %}
        {% set widthAvis5 = (nbAvis5 * 100 / nbAvis)|round %}
    {% endif %}
    {% if tripData.review_rating_count.4 is defined %}
        {% set nbAvis4 = tripData.review_rating_count.4 + 0 %}
        {% set widthAvis4 = (nbAvis4 * 100 / nbAvis)|round %}
    {% endif %}
    {% if tripData.review_rating_count.3 is defined %}
        {% set nbAvis3 = tripData.review_rating_count.3 + 0 %}
        {% set widthAvis3 = (nbAvis3 * 100 / nbAvis)|round %}
    {% endif %}
    {% if tripData.review_rating_count.2 is defined %}
        {% set nbAvis2 = tripData.review_rating_count.2 + 0 %}
        {% set widthAvis2 = (nbAvis2 * 100 / nbAvis)|round %}
    {% endif %}
    {% if tripData.review_rating_count.1 is defined %}
        {% set nbAvis1 = tripData.review_rating_count.1 + 0 %}
        {% set widthAvis1 = (nbAvis1 * 100 / nbAvis)|round %}
    {% endif %}


    {% set lienTrip = '' %}
    {% if tripData.web_url is defined %}
        {% set lienTrip = tripData.web_url %}
    {% endif %}

    <div class="fiche-mosl__container fiche-mosl__informations-block fiche-mosl__informations-block-comments">
        <div class="wrapper">
            <div class="visual">
                {% if images|length > 3 %}
                    <div><img src="{{ images[3].url|bridge_resize_image("tronq", 800, 800)|raw }}" alt="" loading="lazy" /></div>
                {% endif %}
            </div>
            <div class="content">
                <section id="commentaires">
                    <h3 class="comments-title">{{ 'Comments'|t({}, {'context': 'SitLor: comments title'}) }}</h3>
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/extract-avis-tripadivsor.html.twig' %}

                    <div class="comments-reviews">
                        <div class="comments-reviews__row">
                            <div class="comments-reviews__label">{{ 'Excellent'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                            <div class="comments-reviews__progress"><span><span style="width:{{ widthAvis5 }}%;"></span></span></div>
                            <div class="comments-reviews__count">{{ nbAvis5 }}</div>
                        </div>
                        <div class="comments-reviews__row">
                            <div class="comments-reviews__label">{{ 'Very good'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                            <div class="comments-reviews__progress"><span><span style="width:{{ widthAvis4 }}%;"></span></span></div>
                            <div class="comments-reviews__count">{{ nbAvis4 }}</div>
                        </div>
                        <div class="comments-reviews__row">
                            <div class="comments-reviews__label">{{ 'Average'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                            <div class="comments-reviews__progress"><span><span style="width:{{ widthAvis3 }}%;"></span></span></div>
                            <div class="comments-reviews__count">{{ nbAvis3 }}</div>
                        </div>
                        <div class="comments-reviews__row">
                            <div class="comments-reviews__label">{{ 'Poor'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                            <div class="comments-reviews__progress"><span><span style="width:{{ widthAvis2 }}%;"></span></span></div>
                            <div class="comments-reviews__count">{{ nbAvis2 }}</div>
                        </div>
                        <div class="comments-reviews__row">
                            <div class="comments-reviews__label">{{ 'Terrible'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                            <div class="comments-reviews__progress"><span><span style="width:{{ widthAvis1 }}%;"></span></span></div>
                            <div class="comments-reviews__count">{{ nbAvis1 }}</div>
                        </div>
                    </div>

                    <div class="comments-more-reviews">
                        <div class="comments-more-reviews__info">{{ 'See all 120 reviews'|t({}, {'context': 'SitLor: see more reviews'}) }}</div>
                        <div class="comments-more-reviews__link">
                            <a href="{{ lienTrip|scroll_to_id("REVIEWS") }}" target="_blank" class="button button--logo button--logo-tripadvisor"></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endif %}