{% set tel = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'telephone-s-de-contact') %}
    {% set tel = fiche.ficheBlocks|extract_first_text_value('telephone-s-de-contact') %}
{% endif %}
{% set inf3 = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-3') %}
    {% set inf3 = fiche.ficheBlocks|bridge_render_named_block('infos-supplementaires-3') %}
{% endif %}

<div class="fiche-mosl__container fiche-mosl__informations-block fiche-mosl__informations-block-contact">
    <div class="wrapper">
        <section id="contact">
            <div class="contact-informations">
                <h3 class="contact-title">{{ 'Contact us'|t({}, {'context': 'SitLor: contact title'}) }}</h3>
                {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
                    {% set blockData = attribute(fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}

                    {% if blockData.content.fields is defined and blockData.content.fields|length > 0 %}
                        <div class="contact-generic">
                            <h5 class="contact-generic__title">{{ 'Online booking'|t({}, {'context': 'SitLor: title of online booking section'}) }}</h5>
                            <div class="contact-generic__links">
                                {% for section in blockData.content.fields %}
                                    {% for item in section.items %}
                                        {% if item.textValue %}
                                            {% include '@mosl/partials/book_link_logo.html.twig' with {
                                                'link': item.textValue
                                            } %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'reseaux-sociaux') %}
                    <div class="contact-social">
                        <h5 class="contact-social__title">{{ 'Find us also on social networks'|t({}, {'context': 'SitLor: social network title'}) }}</h5>
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/reseaux-sociaux.html.twig' %}
                    </div>
                {% endif %}
            </div>
            <div class="contact-details">
                <h3 class="contact-details__title">{{ fiche.name }}</h3>
                <ul class="contact-details__list">
                    {% if inf3 != '' %}
                        <li class="contact-details__item contact-details__item--user">{{ inf3|raw }}</li>
                    {% endif %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/site-s-web.html.twig' %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/email-de-contact.html.twig' %}
                    {% if tel != '' %}
                        <li class="contact-details__item contact-details__item--phone">
                            <a href="tel:{{ tel|replace({' ': ''}) }}" data-dnc-ttel="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}">{{ tel }}</a>
                        </li>
                    {% endif %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/coordonnees.html.twig' %}
                </ul>
            </div>
        </section>
    </div>
</div>
