{#
# Template d'affichage de block dans une page fiche détaillée - bloc email
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set email = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'email-de-contact') %}
    {% set email = fiche.email %}
{% endif %}

{% set bonusMailto = '?subject=' %}
{% if ficheParameters.emailPrestSubject is not empty %}
    {% set bonusMailto = bonusMailto ~ ficheParameters.emailPrestSubject|url_encode %}
{% endif %}

{% set bonusMailto = bonusMailto ~ '&body=' %}
{% if ficheParameters.emailPrestBody is not empty %}
    {% set bonusMailto = bonusMailto ~ ficheParameters.emailPrestBody|url_encode %}
{% endif %}

{% set formSettingsAreValid = false %}
{% if ficheParameters.emailLinkType == 'FORMULAIRE' and ficheParameters.emailFormAntispam == 'RECAPTCHAV3' and ficheParameters.recaptchav3_site_key is not empty and ficheParameters.recaptchav3_secret_key is not empty %}
    {% set formSettingsAreValid = true %}
{% endif %}
{% if ficheParameters.emailLinkType == 'FORMULAIRE' and ficheParameters.emailFormAntispam == 'RECAPTCHAV2' and ficheParameters.recaptchav2_site_key is not empty and ficheParameters.recaptchav2_secret_key is not empty %}
    {% set formSettingsAreValid = true %}
{% endif %}

{% if email is not empty %}
    <li class="contact-details__item contact-details__item--email">
        <a data-dnc-temail="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}" href="mailto:{{ email ~ bonusMailto }}" target="_blank">{{ email }}</a>
    </li>
{% endif %}
