{#
# Template d'affichage de block dans une page fiche détaillée - bloc lien de réservation
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set lien = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
    {% set lien = fiche.ficheBlocks|extract_first_text_value('lien-de-reservation-en-ligne') %}
{% endif %}

{% if lien != '' %}
    {#  include '@mosl/partials/book_link.html.twig' with {
        'link': lien
    } #}
    {# DN CONSULTANTS 21.10.2022 : récupéré ce template dans Bridge pour que le client l'ait également en recette #}
    {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/book_link.html.twig' with {
        'link': lien
    } %}
{% endif %}
