{#
# Template de gestion des JS d'affichage de la carte de positionnement dans les pages fiche de détail
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% block mapSection %}
    {% set lat = fiche.latitude %}
    {% set lon = fiche.longitude %}
    {% if lat is defined and lat != '' and lon is defined and lon != ''  %}
        <section class="localisation">
            <div id="maps-loc" class="map"></div>
        </section>

        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation-js.html.twig' %}
    {% endif %}
{% endblock %}
