{#
# Template d'affichage de l'item de liste carte 2
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/gabarits
#
# @version 3.2.2
#}

<article class="card image_and_text ficheproduit cards2" data-dnc-produit=" {{ fiche.productCode }}">
    <div class="card__header">
        {% if photo != '' and listParameters.showImage %}
            {% if images|length > 1 %}
                <div class="card__slider">
                    <div class="swiper-container">
                        <div class="swiper">
                            <div class="swiper-wrapper">

                                {% for image in images %}
                                    <div class="swiper-slide">
                                        <div class="card__image">
                                            <a href="{{ link }}" rel="bookmark"><img src="{{ image.url|bridge_resize_image("tronq", 720, 400)|raw }}" alt="{{ fiche.name }}" loading="lazy" /></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-controls swiper-controls--centered">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            {% elseif images|length > 0 %}
                <div class="card__image">
                    <a href="{{ link }}" rel="bookmark">
                        <img src="{{ images[0].url|bridge_resize_image("tronq", 720, 400)|raw }}" alt="{{ fiche.name }}" loading="lazy" />
                    </a>
                </div>
            {% else %}
                <div class="card__image"></div>
            {% endif %}
        {% else %}
            <div class="card__image"></div>
        {% endif %}
        {% if items_block_is_not_empty(fiche, fiche.listBlocks, 'pictogrammes') %}
            <div class="card__pictograms">
                {% include '@pylot_bridge/templates-bridge-twig/liste/blocks/pictogrammes.html.twig' %}
            </div>
        {% endif %}
        {#
        {% if ficheIndex %}
            <div class="card__index">{{ ficheIndex }}</div>
        {% endif %}
         #}
    </div>

    <div class="card__content">
        {% include '@pylot_bridge/templates-bridge-twig/liste/blocks/info-1.html.twig' %}

        {% if items_block_is_not_empty(fiche, fiche.listBlocks, 'surtitre') %}
            <div class="card__category">
                {% include '@pylot_bridge/templates-bridge-twig/liste/blocks/surtitre.html.twig' %}
            </div>
        {% endif %}
        <div class="card__title">
            <h2 class="h6"> {# SEO ref with h2, h1 is the page title i.e: Les meilleurs restaurants en Moselle #}
                <a href="{{ link }}" rel="bookmark">{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/titre-de-la-fiche.html.twig' %}</a>
            </h2>
        </div>
        <div class="card__dates-localisation">
            {% set blockData = attribute(fiche.listBlocks, 'info-2') %}

            {% if blockData.content.fields %}
                {% for field in blockData.content.fields %}
                    {% if field.CSSClass == 'date_manif' %}
                        {% for item in field.items %}
                            <div class="card__dates">
                                {{ item.textValue }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="card__localisation">
                <span class="city">{{ fiche.city|raw }}</span>
                {% if fiche.geoSearch and fiche.city != fiche.geoCity %}
                    - {{ '%distance% km of %city%'|t({},{'context':'sitlor: distance of city'})|replace({'%distance%':fiche.geoDistance|round(2),'%city%':fiche.geoCity}) }}
                {% endif %}
            </div>
        </div>
        {#
        <div class="card__review">
            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/extract-avis-tripadivsor.html.twig' %}
        </div>
        #}
        <div class="card__actions">
            {% if fiche.phone %}
                <a  class="button button--small button--icon button--icon-phone" href="tel:{{ fiche.phone|replace({' ': ''}) }}" data-dnc-ttel="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}">{{ fiche.phone }}</a>
            {% endif %}

            {% set blockData = attribute(fiche.listBlocks, 'info-4') %}

            {% if blockData.content.fields %}
                {% for section in blockData.content.fields %}
                    {% for item in section.items %}
                        {% if item.textValue %}
                            {% include '@mosl/partials/book_link.html.twig' with {
                                'link': item.textValue,
                                'additional_class': 'button--small'
                            } %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</article>
