{#
  $cvPreviewParam = get_option("reglages_sit_design_option");
    $cvPreviewId = null;
  if(isset($cvPreviewParam['cv_preview_page']))
    $cvPreviewId = $cvPreviewParam['cv_preview_page'];
  if(!empty($cvPreviewId)) {
  $cvPreviewLink = get_page_link($cvPreviewId);

  // Tout les textes a afficher dans ce composant
  $bridgeMsgAddedtoCv = esc_js( 'Fiche ajoutée avec succès au carnet de voyages', 'plugin-sit'));
  $bridgeMsgAddToCv = esc_js(__("Ajouter au carnet de voyage", "plugin-sit"));
  $bridgeMsgAlreadyInCv = esc_js(__("Déjà présent dans le carnet de voyage", "plugin-sit"));

  $isInSession = false;

  if(!empty($_SESSION) && !empty($_SESSION["cv"])) {

    foreach($_SESSION["cv"] as $f) {
      if($f["id"] == $fiche->productCode) {
        $isInSession = true;
        break;
      }
    }
  }

  $msg = $bridgeMsgAddToCv;
  if ($isInSession)
      $msg = $bridgeMsgAlreadyInCv;
?>

<script>
  ajaxurl = " {{ BridgeUtils::getAjaxURL(); ?>";

  cvPreviewURL = " {{ $cvPreviewLink ?>";

  bridgeMsgAddedtoCv = ' {{ $bridgeMsgAddedtoCv ?>';
  bridgeMsgAddToCv = " {{ $bridgeMsgAddToCv ?>";
  bridgeMsgAlreadyInCv = " {{ $bridgeMsgAlreadyInCv ?>";
  
</script>

  
<button class="add-to-cv-button uk-button  {{ ($isInSession)?"uk-button-default":"uk-button-primary" ?>" id="voyage- {{ $fiche->productCode; ?>" {% if $isInSession) echo "disabled"; ?> data-sit-id=" {{ $fiche->productCode?>" data-sit-name=" {{ esc_attr($fiche->name); ?>" data-sit-city=" {{ esc_attr($fiche->city) ?>" title=" {{ esc_attr($msg) ?>" data-is-in-list="true" data-icon=" {{ ($isInSession)?"fa-check-circle":"fa-plus-circle" ?>" uk-tooltip>
    <i class=" {{ ($isInSession)?"far fa-check-circle":"far fa-plus-circle" ?>"></i>
</button>
<?php } // endif carnet paramétré
       #}