{#
# Template d'affichage bloc d'item de liste commentaire
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/blocks
#
# @version 3.2.2
#}
{% if items_block_is_not_empty(fiche, fiche.listBlocks, 'commentaire') %}
  <div class="commentaire">
    {{ fiche.listBlocks|bridge_render_named_block('commentaire')|raw }}
  </div>
{% endif %}
