{#
# Template d'affichage bloc d'item de liste info 2
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/blocks
#
# @version 3.2.2
#}
{% if items_block_is_not_empty(fiche, fiche.listBlocks, 'info-2') %}
  <div class="info info-2">
    {{ fiche.listBlocks|bridge_render_named_block('info-2')|raw }}
  </div>
{% endif %}
