/* Custom calendar elements */

.bridge-calendar .custom-calendar-wrap {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.bridge-calendar .custom-calendar-wrap .uk-button{background-color:#E45D5F;border-color:#E45D5F}

.bridge-calendar .custom-inner {
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.bridge-calendar .custom-inner:before,
.bridge-calendar .custom-inner:after  {
	content: '';
	width: 99%;
	height: 50%;
	position: absolute;
	background: #f6f6f6;
	bottom: -4px;
	left: 0.5%;
	z-index: -1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.bridge-calendar .custom-inner:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;
}

.bridge-calendar .custom-header {
	background-color:#4a4a4a;
	color:#FFFFFF;
	padding:7px;
	position: relative;
	height: 35px;
}

.bridge-calendar .custom-header h4 {
	margin:0;
	text-align: center;
	font-size:14px;
	font-family:arial;
	font-weight:normal;
	color:#fff;
	
}

.bridge-calendar .custom-header nav span {
	position: absolute;
	top: 10px;
	width: 30px;
	text-align:center;
	height: 30px;
	cursor: pointer;
	color:#fff;
	margin: 0 1px;
	font-size: 14px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bridge-calendar .custom-header nav span:first-child {
	left: 5px;
}

.bridge-calendar .custom-header nav span:last-child {
	right: 5px;
}


.bridge-calendar .custom-content-reveal {
	background: #f6f6f6;
	background: rgba(246, 246, 246, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0px;
	text-align: center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.bridge-calendar .custom-content-reveal span.custom-content-close {
	position: absolute;
	top: 28px;
	right: 10px;
	width: 18px;
	height: 18px;
	text-align: center;
	background: #e74c3c;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
	line-height: 13px;
	padding: 0;
}

.bridge-calendar .custom-content-reveal span.custom-content-close:after {
	content: 'x';
	font-size: 18px;
	color: #fff;
}

.bridge-calendar .custom-content-reveal a,
.bridge-calendar .custom-content-reveal span {
	font-size: 22px;
	padding: 10px 30px;
	display: block;
}

.bridge-calendar .custom-content-reveal h4 {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #232323;
	padding: 20px;
	
	border-bottom: 1px solid #ddd;
	border-top: 5px solid #e74c3c;
	box-shadow: 0 1px rgba(255,255,255,0.9);
	margin-bottom: 30px;
}

.bridge-calendar .custom-content-reveal span {
	color: #888;
}

.bridge-calendar .custom-content-reveal a {
	color: #fff;
}

.bridge-calendar .custom-content-reveal a:hover {
	color: #333;
}

/* Modifications */

.bridge-calendar .fc-calendar-container {
	height: 195px;
	width: auto;
	padding: 0;
}

.bridge-calendar .fc-calendar .fc-head {
	background: #55bec9;
	color: #fff;
	font-size: 12px;
}

.bridge-calendar .periode2 .fc-calendar .fc-head {background: #97bf0d;}
.bridge-calendar .periode3 .fc-calendar .fc-head {background: #d7a400;}
.bridge-calendar .periode4 .fc-calendar .fc-head {background: #e26042;}

.bridge-calendar .fc-calendar .fc-body{
	box-sizing:content-box;
	background-color:#efefef;
}
.bridge-calendar .fc-calendar .fc-row:first-child {border-top:1px solid #aaa;}
.bridge-calendar .fc-calendar .fc-row > div {
	cursor: pointer;
	border-left:1px solid #aaa;
	border-bottom:1px solid #aaa;
}
.bridge-calendar .fc-calendar .fc-row > div:last-child,
.bridge-calendar .fc-calendar .fc-head > div:last-child {
	border-right: 1px solid #aaa;
}

.bridge-calendar .fc-calendar .fc-row > div:empty {
	background: transparent;
}

.bridge-calendar .fc-calendar .fc-row > div > span.fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color:#a3a3a3; 
	font-weight: normal;
	 font-size:13px;
	pointer-events: none;
}
.bridge-calendar .fc-calendar .fc-row > div.fc-content > span.fc-date{color:#232323;font-weight:bold;}

.bridge-calendar .fc-calendar .fc-row > div.fc-today {
	background: #e74c3c;
}

.bridge-calendar .fc-calendar .fc-row > div.fc-today > span.fc-date {
	color: #fff;
	
}

.bridge-calendar .fc-calendar .fc-row > div.fc-content.statu0{background:#ddd;}
.bridge-calendar .fc-calendar .fc-row > div.fc-content.statu1{background:hsla(103,95%,45%,.8);}
.bridge-calendar .fc-calendar .fc-row > div.fc-content.statu2{background:hsla(359,100%,50%,.8);}
/*.fc-calendar .fc-row > div.fc-content.statu3{background:#000;}
.fc-calendar .fc-row > div.fc-content.statu4{background:#000;}*/

.bridge-calendar .legende{box-sizing:border-box; padding-left:30px !important;}
.bridge-calendar .legende .uk-list{margin:0; }
.bridge-calendar .legende .uk-list li.uk-width-1-1{padding:7px 0;}

.bridge-calendar .legende .uk-list-line>li:nth-child(n+2){border-color:#fff}
.bridge-calendar .legende .uk-list .statu0 i{color:#ddd}
.bridge-calendar .legende .uk-list .statu1 i{color:hsla(103,95%,45%,.8);}
.bridge-calendar .legende .uk-list .statu2 i{color:hsla(359,100%,50%,.8);}
/*.legende .uk-list .statu3 i{color:hsla(359,100%,50%,.8);}*/


/*.fc-calendar .fc-row > div.fc-content.status4{background:url(../img/tache_dispo.png) no-repeat center center;}*/

.bridge-calendar .fc-calendar .fc-row > div.fc-today.fc-content:hover:after{
	color: #fff;
}

.bridge-calendar .fc-calendar .fc-row > div > div a,
.bridge-calendar .fc-calendar .fc-row > div > div span {
	display: none;
	font-size: 22px;
}

@media screen and (max-width: 400px) {
	.bridge-calendar .fc-calendar-container {
		height: 300px;
	}
	.bridge-calendar .fc-calendar .fc-row > div > span.fc-date {
		font-size: 15px;
	}
}





