{#
# Template d'affichage de pagination en mode infinite scroll
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/pagination
#
# @version 3.2.2
#}


<div class="scroll-status uk-margin-bottom">
    <div class="loader-ellips infinite-scroll-request">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
    </div>
    <p class="infinite-scroll-error" style="display:none;"> {{  'Tout est chargé'|trans }}</p>
</div>
{# <div class="infinite-scroll-last uk-margin uk-text-center" style="display:none;">{{  'Fin des résultats'|trans }}</div> #}


<script type="text/javascript">


    bridgeDocumentReady(function() {
        jQuery('.bridge-pagination').hide();
        window.bridgeActivateInfiniteScroll = function (total) {
            if (!total || total == undefined) {
                window.bridgeTotalResults = {{ listInfos.totalProducts }};
            } else {
                window.bridgeTotalResults = total;
                if(total == 0 && window.bridgeInfiniteScroll !== undefined) {
                    window.bridgeInfiniteScroll.unbind();
                }
            }
            if(window.bridgeInfiniteScroll !== undefined) {
                window.bridgeInfiniteScroll.unbind();
            }

            window.bridgeInfiniteScroll = new InfiniteAjaxScroll('#listeSIT', {
                item: '.liste_sit_item',
                next: '.bridge-next',
                prefill: true,
                spinner: '.scroll-status',
                pagination: '.bridge-pagination',
                logger: false
            });
            window.bridgeInfiniteScroll.on('page', (event) => {
                // console.log('on page', event)
                /*
                // update the title
                document.title = event.title;

                // update the url
                let state = history.state;
                history.replaceState(state, event.title, event.url);
                 */
            });
            window.bridgeInfiniteScroll.on('appended', (event) => {
                // Lors de l'ajout d'éléments, on ajoute les actions javascript sur les nouveaux éléments
                var $items = jQuery(event.parent);

                $items.find('.zoom-on-hover').hover( function() {
                    var idfiche = jQuery(this).attr('data-dnc-produit');
                    if(idfiche !== '') {
                        window.mapService.activatemarker(idfiche, true, true); // window.mapService.defaultIconOptions
                        window.mapService.centeronmarker(idfiche, "15");
                        // tricherie obligatoire pour forcer le point à s'afficher la premiere fois
                        setTimeout(function() {
                            window.mapService.setZoom(15);
                        },500);
                        window.mapService.reDraw();

                    }
                });
                $items.find('.zoom-on-click').click(function() {
                    var idfiche = jQuery(this).attr('data-dnc-produit');
                    if(idfiche !== '') {
                        window.mapService.activatemarker(idfiche, true, true); // window.mapService.defaultIconOptions
                        window.mapService.centeronmarker(idfiche, "15");
                        // tricherie obligatoire pour forcer le point à s'afficher la premiere fois
                        setTimeout(function() {
                            window.mapService.setZoom(15);
                        },500);
                        window.mapService.reDraw();

                    }
                });
            });

            window.bridgeInfiniteScroll.on('last', () => {
                jQuery('.infinite-scroll-last').show();
            })

        };
        {% if listInfos.lastPage > 1 %}
            window.bridgeActivateInfiniteScroll();
        {% endif %}
    });

</script>

