{#
# Template d'affichage de pagination classique
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/pagination
#
# @version 3.2.2
#}

{% set nbLinks = 1 %}

{%  set start      = ( ( listInfos.currentPage - nbLinks ) > 0 ) ? listInfos.currentPage - nbLinks : 1 %}
{%  set end        = ( ( listInfos.currentPage + nbLinks ) < listInfos.lastPage ) ? listInfos.currentPage + nbLinks : listInfos.lastPage %}


{% set currentUrl = bridgeParameters.currentUrl %}
{% set paginationUrlParams = bridgeParameters.paginationUrlParams %}
{% set separator = '&' %}
{% if paginationUrlParams is empty %}
    {% set separator = '?' %}
{% endif %}

<div id="bridge-pagination-container" class="bridge-pagination-container uk-margin-top">
    <ul class="bridge-pagination uk-pagination uk-flex-center" uk-margin>

        {% if listInfos.currentPage == 1 %}
            <li class="uk-disabled">
                <a class="bridge-pagination-link pager__previous" data-page="1" href="#nogo">&nbsp;<span uk-pagination-previous></span></a>
            </li>
        {% else %}
            <li class="">
                <a class="bridge-pagination-link" data-page="{{ listInfos.currentPage - 1 }}" href="{{ currentUrl ~ paginationUrlParams ~ separator }}brpa={{ listInfos.currentPage - 1 }}">&nbsp;<span uk-pagination-previous></span></a>
            </li>
        {% endif %}

        {% if start > 1 %}
            <li class="uk-visible@m"><a class="bridge-pagination-link" data-page="1" href="{{ currentUrl ~ paginationUrlParams ~ separator }}brpa=1">1</a></li>
            <li class="uk-disabled nolink"><span>...</span></li>
        {% endif %}

        {% for i in start..end %}
            {% if listInfos.currentPage == i %}
                <li class="uk-active"><a class="bridge-pagination-link" data-page="{{ i }}" href="#nogo">{{ i }}</a></li>
            {% else %}
                <li class=""><a class="bridge-pagination-link" data-page="{{ i }}" href="{{ currentUrl ~ paginationUrlParams ~ separator }}brpa={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if end < listInfos.lastPage %}
            <li class="uk-disabled nolink"><span>...</span></li>
            <li class="uk-visible@m"><a class="bridge-pagination-link" data-page="{{ listInfos.lastPage }}" href="{{ currentUrl ~ paginationUrlParams ~ separator }}brpa={{ listInfos.lastPage }}">{{ listInfos.lastPage }}</a></li>
        {% endif %}

        {% if listInfos.currentPage == listInfos.lastPage %}
            <li class="uk-disabled">
            <a class="bridge-pagination-link" data-page="" href="#nogo"><span uk-pagination-next></span>&nbsp;</a>
            </li>
        {% else %}
            <li class="">
                <a class="bridge-pagination-link bridge-next" data-page="{{ listInfos.currentPage + 1 }}" href="{{ currentUrl ~ paginationUrlParams ~ separator }}brpa={{ listInfos.currentPage + 1 }}"><span uk-pagination-next></span>&nbsp;</a>
            </li>
        {% endif %}

    </ul>
</div>
