{#
# Template d'affichage de composant dates d'ouvertures/ de manifs en tableau
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
# MonTheme/plugin-sit/templates/templates-bridge/fiche/gabarits
#
# @version 3.2.2
#
#}

{% if fiche.hours is defined and fiche.hours is iterable and fiche.hours|length > 0 %}

    {% set horaires = fiche.hours %}
    {% set tabAffichage = get_fiche_hours_as_array_for_display_as_calendar(fiche, bridgeParameters.lang) %}
    {% set fin = '' %}

    {% set startDate = date('last monday') %}
    {% set startDateYmd = startDate|date('Y-m-d') %}

    {% set activeDate = date() %}
    {% set activeDateStr = activeDate|date('Y-m-d') %}

    {% set dates = tabAffichage|keys %}
    {% set lastDate = dates|last %}

    {# dates|filter(v => v == startDateYmd)|join('')|number_format %} #}

    {% set startDatedmY = startDate|date('d/m/Y') %}
    {% set endDate = date('next sunday') %}
    {% set endDatedmY = endDate|date('d/m/Y') %}

    {% set pickerLanguage = bridgeParameters.lang %}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var bridgeDatesFiche = {
                {% set i = 0 %}
                {% for key, ladispo in tabAffichage %}
                {%  set tabKey = ladispo['ladate']|slice(6,4) ~ '-' ~ ladispo['ladate']|slice(0,2) ~ '-' ~ ladispo['ladate']|slice(3,2) %}
                {{ (i > 0)?',':'' }}"{{ tabKey }}": {statut: {{ ladispo['statut'] }}, content:"{{ (ladispo['statut'] == 1) ? 'Ouvert'|trans ~ ' ' ~ ladispo['horaires']|join(', ') : 'Fermé'|trans }}"}
                {% set i = i + 1 %}
                {% endfor %}
            };

            window.moslBridgeDatesFiche = bridgeDatesFiche;
        });
    </script>
    {#
    <script type="text/javascript">
        jQuery(document).ready(function() {
            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            }

            function getFirstDayOfWeek(d) {
                var date = new Date(d);
                var day = date.getDay();

                var diff = date.getDate() - day + (day === 0 ? -6 : 1);

                return new Date(date.setDate(diff));
            }

            var bridgeDatesFiche = {
                {% set i = 0 %}
                {% for key, ladispo in tabAffichage %}
                {%  set tabKey = ladispo['ladate']|slice(6,4) ~ '-' ~ ladispo['ladate']|slice(0,2) ~ '-' ~ ladispo['ladate']|slice(3,2) %}
                {{ (i > 0)?',':'' }}"{{ tabKey }}": {statut: {{ ladispo['statut'] }}, content:"{{ (ladispo['statut'] == 1) ? 'Ouvert'|trans ~ ' ' ~ ladispo['horaires']|join(', ') : 'Fermé'|trans }}"}
                {% set i = i + 1 %}
                {% endfor %}
            };

            window.moslBridgeDatesFiche = bridgeDatesFiche;

            var startDateMonday = getFirstDayOfWeek(new Date());

            window.bridge_hours_datepicker = jQuery('#bridge-hours-table-start-date').datepicker({
                language: '{{ pickerLanguage }}',
                format: 'yyyy-mm-dd',
                weekStart: 1,
                zIndex: 1000000,
                autoHide: true,
                // container: jQuery(this).parent(),
                trigger: '.edit-horaires',
                // pick: bridge_hours_table_changeDate,
                startDate: formatDate(startDateMonday),
                endDate: '{{ lastDate }}',
            });

            window.bridge_hours_datepicker.on('pick.datepicker', function(e) {
                // var dateUs = jQuery(window.bridge_hours_datepicker).datepicker('getDate', true);
                var selectedDate = e.date;

                // On descend au Lundi précédent la date sélectionnée
                var lastMonday = getFirstDayOfWeek(selectedDate);

                var curDay = new Date(lastMonday.getTime());
                var curDayUs = formatDate(curDay);

                var dow = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];
                var tdText = '';

                for(var i=0 ; i < 7 ; i++ ) {
                    jQuery('#bridge-hours-table-' + dow[i]).closest('tr').removeClass('today');

                    tdText = bridgeDatesFiche[curDayUs].content;
                    if(formatDate(selectedDate) === curDayUs) {
                        if(bridgeDatesFiche[curDayUs].statut === 1) {
                            tdText = '<strong><i class="fa fa-check"></i></strong>' + tdText;
                        }
                        jQuery('#bridge-hours-table-' + dow[i]).closest('tr').addClass('today');
                    }
                    jQuery('#bridge-hours-table-' + dow[i]).html(tdText);

                    curDay.setDate(curDay.getDate() + 1);
                    curDayUs = formatDate(curDay);
                }
                // On recale la date de fin
                curDay.setDate(curDay.getDate() - 1);
                jQuery('#bridge-hours-display-start-date').html(lastMonday.toLocaleDateString("fr"));
                jQuery('#bridge-hours-display-end-date').html(curDay.toLocaleDateString("fr"));
            });
        });

    </script>
    #}
    <section class="composant-dates-tableau">
        <header>
            <div class="dates">
                <div class="dates-interval">
                    {{ 'Du'|trans }} <span id="bridge-hours-display-start-date">{{ startDatedmY }}</span> {{ 'au'|trans }} <span id="bridge-hours-display-end-date">{{ endDatedmY }}</span>
                </div>
            </div>
            <div id="bridge-hours-display-change-date">
                <button class="edit-horaires-datepicker">{{ 'Changer'|trans }}</button>
                <input type="text" class="edit-horaires-datepicker-input" data-lang="{{ pickerLanguage }}" />
                {# <a class="edit-horaires" >Changer</a>
                <div id="bridge-hours-table-start-date" style="visibility:hidden;width:1px; height:1px; overflow:hidden;">&nbsp;</div> #}
            </div>
        </header>
        <div class="horaires hours">
            <table id="bridge-hours-table" class="">
                {% set weekDays = {
                    'monday': 'Lundi'|trans,
                    'tuesday': 'Mardi'|trans,
                    'wednesday': 'Mercredi'|trans,
                    'thursday': 'Jeudi'|trans,
                    'friday': 'Vendredi'|trans,
                    'saturday': 'Samedi'|trans,
                    'sunday': 'Dimanche'|trans
                } %}
                {% for day, label in weekDays %}
                    <tr class="{{ activeDateStr == dates[loop.index0] ? 'today' : '' }}">
                        <th>{{ label }}</th>
                        <td id="bridge-hours-table-{{ day }}">
                            {{ ((activeDateStr == dates[loop.index0] and tabAffichage[dates[loop.index0]]['statut'] == 1)?('<strong><i class="fa fa-check"></i></strong>')|raw:'')|raw }}
                            {{ (tabAffichage[dates[loop.index0]]['statut'] == 1 and tabAffichage[dates[loop.index0]]['horaires']|join('')|trim != '') ? tabAffichage[dates[loop.index0]]['horaires']|join('<br/>')|raw }}
                            {{ (tabAffichage[dates[loop.index0]]['statut'] == 1 and tabAffichage[dates[loop.index0]]['horaires']|join('')|trim == '') ? 'Ouvert'|trans }}
                            {{ (tabAffichage[dates[loop.index0]]['statut'] == 0) ? 'Fermé'|trans:'' }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

{% endif %}
