{#
# Template d'affichage du composant d'affichage des fiches associés
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/gabarits
#
# @version 3.2.2
#}
{% set coupledProducts = fiche|bridge_get_coupled_products %}

{% if coupledProducts|length > 0 %}
    <section class="ficheasso">
        <h3 class="fiche-mosl__block-title">{{ 'Nous vous proposons aussi'|trans }}</h3>
        <div class="swiper-container">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for ficheAssociee in coupledProducts %}
                        <div class="swiper-slide">
                            <article class="card image_and_text">
                                <div class="card__image">
                                    <a href="{{ ficheAssociee|bridge_product_permalink }}" rel="bookmark">
                                        {% if ficheAssociee.photo != '' %}
                                            <img src="{{ ficheAssociee.photo|bridge_resize_image("tronq", 720, 400)|raw  }}" alt="" loading="lazy" />
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card__content">
                                    <div class="card__category">
                                        {{ ficheAssociee.typeName }}
                                    </div>
                                    <div class="card__title h6">
                                        <a href="{{ ficheAssociee|bridge_product_permalink }}" rel="bookmark">{{ ficheAssociee.name }}</a>
                                    </div>
                                    <div class="card__dates-localisation">
                                        {% set blockData = attribute(fiche.listBlocks, 'info-2') %}

                                        {% if blockData.content.fields %}
                                            {% for field in blockData.content.fields %}
                                                {% if field.CSSClass == 'date_manif' %}
                                                    {% for item in field.items %}
                                                        <div class="card__dates">
                                                            {{ item.textValue }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        <div class="card__localisation">
                                            <span class="city">{{ ficheAssociee.city|raw }}</span>
                                            {% if ficheAssociee.geoSearch and ficheAssociee.city != ficheAssociee.geoCity %}
                                                - {{ '%distance% km of %city%'|t({},{'context':'sitlor: distance of city'})|replace({'%distance%':ficheAssociee.geoDistance|round(2),'%city%':ficheAssociee.geoCity}) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {#
                                    <div class="card__review">
                                        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/extract-avis-tripadivsor.html.twig' with { 'fiche': ficheAssociee } %}
                                    </div>
                                    #}
                                    <div class="card__actions">
                                        {% if fiche.phone %}
                                            <a  class="button button--small button--icon button--icon-phone" href="tel:{{ fiche.phone|replace({' ': ''}) }}" data-dnc-ttel="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}">{{ fiche.phone }}</a>
                                        {% endif %}

                                        {% set blockData = attribute(fiche.listBlocks, 'info-4') %}

                                        {% if blockData.content.fields %}
                                            {% for section in blockData.content.fields %}
                                                {% for item in section.items %}
                                                    {% if item.textValue %}
                                                        {% include '@mosl/partials/book_link.html.twig' with {
                                                            'link': item.textValue,
                                                            'additional_class': 'button--small'
                                                        } %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
