{#
 * Template d'affichage de block dans une page fiche détaillée - bloc coordonnées
 *
 * Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
 * MonTheme/plugin-sit/templates/templates-bridge/fiche/blocks
 *
 * @version 3.2
 *
#}

{% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'coordonnees-contact') %}
    <li class="contact-details__item contact-details__item--pin">
        <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            {{ fiche.ficheBlocks|bridge_render_named_block('coordonnees-contact', 'h4','', '','', '', true)|raw }}
        </span>
    </li>
{% endif %}
