{% if tripNote is not empty %}
    {% set nbAvis = '' %}
    {% set imgAvis = '' %}
    {% if tripData.num_reviews is defined %}
        {% set nbAvis = tripData.num_reviews %}
    {% endif %}
    {% if tripData.rating_image_url is defined %}
        {% set imgAvis = tripData.rating_image_url %}
    {% endif %}

    <div class="fiche-mosl__review">
        <span class="fiche-mosl__review-rate">{{ tripNote }}</span>
        {% if imgAvis != '' %}
            <img src="{{ imgAvis }}"/>
        {% else %}
            <span class="fiche-mosl__review-stars">
            {% if tripNote + 0 >= 1 %}<i class="fa fa-star"></i> {% endif %}
            {% if tripNote + 0 >= 2 %}<i class="fa fa-star"></i> {% endif %}
            {% if tripNote + 0 >= 3 %}<i class="fa fa-star"></i> {% endif %}
            {% if tripNote + 0 >= 4 %}<i class="fa fa-star"></i> {% endif %}
            {% if tripNote + 0 >= 5 %}<i class="fa fa-star"></i> {% endif %}
            {% if (tripNote * 10) % 10 > 0 %}<i class="fa-solid fa-star-half-stroke"></i> {% endif %}
            </span>
        {% endif %}
        <span class="fiche-mosl__review-count">(
            {{- ((nbAvis + 0) < 2
                ? '%count% review'|t({},{'context':'sitlor: review count (singular)'})
                : '%count% reviews'|t({},{'context':'sitlor: review count (plural)'})
            )|replace({'%count%': nbAvis}) -}}
        )</span>
    </div>
{% endif %}