{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}

{% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-2') %}
    <div class="fiche-mosl__container fiche-mosl__informations-block fiche-mosl__informations-block-schedule">
        <div class="wrapper">
            <div class="content">
                <section id="horaires">
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-2.html.twig' %}
                </section>
            </div>
            <div class="visual">
                {% if images|length > 2 %}
                    <div><img src="{{ images[2].url|bridge_resize_image("tronq", 800, 800)|raw }}" alt="" loading="lazy" /></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
