{#
# Template d'affichage des blocs personnalisés dans la fiche de détail
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set blocks = fiche.ficheBlocks.custom  %}
{% set hierarchicalCustomBlocks = fiche|prepare_custom_blocks_display %}

{% if hierarchicalCustomBlocks|length > 0 %}
    <div class="fiche-mosl__container fiche-mosl__informations-block fiche-mosl__informations-block-tabs">
        <div class="wrapper">
            <section class="fiche-mosl__blocks">
                {% for onglet in hierarchicalCustomBlocks %}

                    {% if onglet.group is defined and onglet.group is not empty and onglet.group == 1 %}
                        <div id="custom-block-{{ onglet.blockId }}" class="fiche-mosl__block {{ onglet.class }}">
                            <h3 class="fiche-mosl__block-title">{{ onglet.title|raw }}</h3>
                            <div class="fiche-mosl__block-content">
                    {% endif %}

                    {% for item in onglet.items %}
                        {% set idonglet = 'id="custom-block-' ~ onglet.blockId ~ '"' %}

                        <div {{ (onglet.group is not defined or onglet.group is empty or onglet.group != 1) ? idonglet|raw : '' }} class="fiche-mosl__block-item {{ item.class }}">
                            <div>
                                {% if item.title is not empty %}
                                    <h4 class="fiche-mosl__block-item-title">{{ item.title|raw }}</h4>
                                {% endif %}
                                <div class="fiche-mosl__block-item-content">
                                    {% if item.component is not empty %}
                                        {% include '@pylot_bridge/templates-bridge-twig/fiche/gabarits/' ~ item.component ~ '.html.twig' %}
                                    {% else %}
                                        {{ item.html|raw }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% if onglet.group is defined and onglet.group is not empty and onglet.group == 1 %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        </div>
    </div>
{% endif %}
