{#
# Template d'affichage de block dans une page fiche détaillée - bloc téléphone de contact
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks
#
# @version 3.2.2
#}
{% set tel = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'telephone-s-de-contact') %}
    {% set tel = fiche.ficheBlocks|extract_first_text_value('telephone-s-de-contact') %}
{% endif %}

{% if tel != '' %}
    <a  class="button button--primary button--icon button--icon-phone phone" href="tel:{{ tel|replace({' ': ''}) }}" data-dnc-ttel="{{ fiche.productCode }}" data-product-code="{{ fiche.productCode }}" data-text-key="{{ fiche.productTextKey }}">{{ tel }}</a>
{% endif %}
