{#
# Template d'affichage des fiches associées dans une page fiche détaillée
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche
#
# @deprecated utiliser plutôt les composants Bridge (dossier gabarits)
# @version 3.2.2
#}
{% set coupledProducts = fiche|bridge_get_coupled_products %}

{% if coupledProducts|length > 0 %}
    <footer class="ficheasso uk-section uk-section-small coupled">
        <div class="uk-container uk-container-center">
            <h3>{{ 'Nous vous proposons aussi'|trans }}</h3>
            <div class="uk-slider-container-offset" uk-slider>
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>
                        {% for ficheAssociee in coupledProducts %}
                        <li>
                            <div class="uk-card uk-card-default uk-position-relative">
                                {% if ficheAssociee.photo != '' %}
                                    <div class="uk-card-media-top">
                                        <img src="{{ ficheAssociee.photo|bridge_resize_image("tronq", 450, 250)|raw  }}" alt="">
                                    </div>
                                {% endif %}
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">{{ ficheAssociee.name }}</h3>
                                    <p>{{ ficheAssociee.shortComment }}</p>
                                </div>
                                <a href="{{ ficheAssociee|bridge_product_permalink }}" uk-cover></a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>
    </footer>
{% endif %}