{#
# Template d'affichage d'une page fiche détaillée - modèle fiche 2
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/
#
# @version 3.2.2
#}
<div class="bridge-fiche fiche-2">
    <header id="chapeau" class="uk-container uk-container-center uk-text-center">
        <h1>{{ fiche.name }}</h1>
        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/classements-labels.html.twig' %}
    </header>

    <main class="content uk-section" id="detailfiche">
        <div class="uk-container uk-container-center">
            <div uk-grid>
                <div class="uk-width-2-3@m bridge-fiche-main">
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/photos.html.twig' %}
                    <div class="uk-margin-top" uk-grid>
                        {% if ficheParameters.displayToc and ficheParameters.tocPosition == 'GAUCHE' %}
                            <div class="uk-width-1-4@m uk-visible@m bridge-fiche-sommaire">
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/sommaire.html.twig' %}
                            </div>
                        {% endif %}
                        {% if ficheParameters.displayToc %}
                            <div class="uk-width-3-4@m bridge-fiche-content">
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-1.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/pictogrammes.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/descriptif.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/onglets.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-2.html.twig' %}
                            </div>
                        {% else %}
                            <div class="uk-width-1-1 uk-padding bridge-fiche-content">
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-1.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/pictogrammes.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/descriptif.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/onglets.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-2.html.twig' %}
                            </div>
                        {% endif %}
                        {% if ficheParameters.displayToc and ficheParameters.tocPosition == 'DROITE' %}
                            <div class="uk-width-1-4@m uk-visible@m bridge-fiche-sommaire">
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/sommaire.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <aside class="uk-width-1-3@m bridge-fiche-aside">
                    <div uk-sticky="offset: 20; bottom:#detailfiche; media: 960; ">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-media-top">
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation.html.twig' %}
                            </div>
                            <div class="uk-card-body uk-text-center uk-position-relative">
                                <h3 class="uk-h5 uk-text-bold">{{ fiche.name }}</h3>
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/coordonnees.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/reseaux-sociaux.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/telephone-s-de-contact.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/site-s-web.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/email-de-contact.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/lien-de-reservation-en-ligne.html.twig' %}
                                {% if ficheParameters.displayCvButton %}
                                    <div class="uk-position-z-index">
                                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/button-cv.html.twig' %}
                                    </div>
                                {% endif %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-5.html.twig' %}
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>

    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-3.html.twig' %}
    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-4.html.twig' %}
</div>

