{#
# Template d'affichage d'une page fiche détaillée - modèle fiche 1
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/
#
# @version 3.2.2
#}
{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}
{% set htmlTitre = fiche.ficheBlocks|bridge_render_named_block('titre-de-la-fiche') %}
<div class="bridge-fiche fiche-1">
	{% if images|length > 1 %}
		<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: fade;autoplay:true;ratio:false">
			<ul class="uk-slideshow-items" uk-height-viewport="offset-top: true">
			{% for image in images %}
				<li>
					<img src="{{ image.url|bridge_resize_image("tronq", 1600, 1000)|raw }}" alt="" uk-cover>
					<div class="uk-position-center uk-position-small uk-text-center uk-light">
						{% if loop.first %}
							<h1>{{ htmlTitre|raw }}</h1>
						{% else %}
							<span class="uk-h1">{{ fiche.name }}</span>
						{% endif %}
						{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/classements-labels.html.twig' %}
					</div>
				</li>
				{% endfor %}
			</ul>
			<div class="uk-light">
				<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
				<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
			</div>
		</div>
	{% else %}
		{% set style = '' %}
		{% if images|length > 0 %}
			{% set style= 'background:url(\'' ~ images[0].url|bridge_resize_image("tronq", 1600, 1000)|raw ~ '\') no-repeat center center; background-size:cover' %}
		{% endif %}
		<header id="chapeau" class="uk-text-center uk-position-relative" uk-height-viewport="offset-top: true" style="{{ style }}">
			<div class="uk-position-center uk-position-small uk-text-center uk-light">
				<h1>{{ htmlTitre|raw }}</h1>
				{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/classements-labels.html.twig' %}
			</div>
		</header>
	{% endif %}

	<main class="content uk-section uk-section-small" id="detailfiche">
		<div class="uk-container uk-container-center">
			<div uk-grid>
				<div class="uk-width-2-3@m uk-margin-top bridge-fiche-main" uk-grid>
					{% if ficheParameters.displayToc and ficheParameters.tocPosition == 'GAUCHE' %}
						<div class="uk-width-1-4@m uk-visible@m bridge-fiche-sommaire">
							{% include '@pylot_bridge/templates-bridge-twig/fiche/sommaire.html.twig' %}
						</div>
					{% endif %}
					{% if ficheParameters.displayToc %}
						<div class="uk-width-3-4@m bridge-fiche-content">
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-1.html.twig' %}
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/pictogrammes.html.twig' %}
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/descriptif.html.twig' %}
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/onglets.html.twig' %}
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-2.html.twig' %}
						</div>
					{% else %}
						<div class="uk-width-1-1 uk-padding bridge-fiche-content">
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-1.html.twig' %}
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/pictogrammes.html.twig' %}
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/descriptif.html.twig' %}
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/onglets.html.twig' %}
							{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-2.html.twig' %}
						</div>
					{% endif %}
					{% if ficheParameters.displayToc and ficheParameters.tocPosition == 'DROITE' %}
						<div class="uk-width-1-4@m uk-visible@m bridge-fiche-sommaire">
							{% include '@pylot_bridge/templates-bridge-twig/fiche/sommaire.html.twig' %}
						</div>
					{% endif %}
				</div>
				<aside class="uk-width-1-3@m uk-position-relative bridge-fiche-aside">
					<div uk-sticky="offset: 20; bottom:#detailfiche; media: 960">
						<div class="uk-card uk-card-default uk-card-small">
							<div class="uk-card-media-top">
								{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation.html.twig' %}
							</div>
							<div class="uk-card-body uk-text-center">
								<h3 class="uk-h5 uk-text-bold">{{ fiche.name }}</h3>

								{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/coordonnees.html.twig' %}
								{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/reseaux-sociaux.html.twig' %}
								{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/telephone-s-de-contact.html.twig' %}
								{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/site-s-web.html.twig' %}
								{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/email-de-contact.html.twig' %}
								{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/lien-de-reservation-en-ligne.html.twig' %}
								{% if ficheParameters.displayCvButton %}
									<div class="uak-position-z-index bridge-cv-button-container">
										{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/button-cv.html.twig' %}
									</div>
								{% endif %}
								{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-5.html.twig' %}
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</main>
	{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-3.html.twig' %}
	{% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-4.html.twig' %}
</div>
