{#
# Template d'affichage d'une page fiche détaillée - modèle fiche 3
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/
#
# @version 3.2.2
#}
{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}
{% set hierarchicalCustomBlocks = fiche|prepare_custom_blocks_display %}
{% set htmlTitre = fiche.ficheBlocks|bridge_render_named_block('titre-de-la-fiche') %}

<div class="bridge-fiche fiche-3">
    {% if images|length > 1 %}
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: fade; ratio: 8:3">

            <ul class="uk-slideshow-items">
                {% for image in images %}
                    <li>
                        <img src="{{ image.url|bridge_resize_image("tronq", 1600, 1000)|raw }}" alt="" uk-cover>
                        <div class="uk-position-bottom uk-position-small uk-text-center uk-light">
                            {% if loop.first %}
                               <h1>{{ htmlTitre|raw }}</h1>
                            {% else %}
                                <span class="uk-h1">{{ htmlTitre|raw }}</span>
                            {% endif %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/classements-labels.html.twig' %}
                        </div>
                    </li>
                 {% endfor %}
            </ul>

            <div class="uk-light">
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                   uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                   uk-slideshow-item="next"></a>
            </div>

        </div>
    {% else %}
        {% set style = '' %}
        {% if images|length > 0 %}
            {% set style= 'background:url(\'' ~ images[0].url|bridge_resize_image("tronq", 1600, 1000)|raw ~ '\') no-repeat center center; background-size:cover' %}
        {% endif %}
        <header id="chapeau" class="uk-text-center uk-position-relative" uk-height-viewport="offset-top: true" style="{{ style }}">
            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <h1>{{ htmlTitre|raw }}</h1>
                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/classements-labels.html.twig' %}
            </div>
        </header>
    {% endif %}

    <main class="content uk-section uk-section-small" id="detailfiche">
        <div class="uk-container uk-container-center">
            <div class="uk-margin-medium-top bridge-fiche-main">
                <ul class="uk-flex-center bridge-fiche-sommaire" uk-tab>
                    <li class="uk-active"><a href="#"><i class="fa fa-info"></i>{{ 'Descriptif'|trans }}</a></li>
                        {% if hierarchicalCustomBlocks|length > 0 %}
                            {% for onglet in hierarchicalCustomBlocks %}
                                <li><a href="#">{{ onglet.title|raw }}</a></li>
                         {% endfor %}
                    {% endif %}
                </ul>
                <ul class="uk-switcher uk-margin bridge-fiche-content">
                    <li>
                        <div uk-grid class="uk-grid-divider">
                            <div class="uk-width-2-3@m">
                                <h2 class="uk-heading-line"><span>{{ htmlTitre|raw }}</span></h2>
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/descriptif.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-1.html.twig' %}
                            </div>
                            <div class="uk-width-1-3@m">
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/pictogrammes.html.twig' %}
                                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-2.html.twig' %}
                            </div>
                        </div>
                    </li>
                    {% if hierarchicalCustomBlocks|length > 0 %}
                         {% for onglet in hierarchicalCustomBlocks %}
                            <li id="custom-block-<?= $onglet .blockId ?>" class="custom-block">
                                {% for item in onglet.items %}
                                    {% if not loop.first %}
                                        <hr class="block-separator uk-divider-icon"/>
                                    {% endif %}
                                    {% if item.title != '' %}
                                        <h3 class="block-label uk-h2"><span>{{ item.title|raw }}</span></h3>
                                    {% endif %}
                                    {% if item.component != '' %}
                                        {%  set blockData = item.blockData %}
                                        {% include '@pylot_bridge/templates-bridge-twig/fiche/gabarits/' ~ item.component ~ '.html.twig' %}
                                    {% else %}
                                        {{ item.html|raw }}
                                    {% endif %}
                                 {% endfor %}
                            </li>
                         {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </main>

    <div class="uk-section uk-section-secondary uk-padding-remove" id="localisation">
        <div class="uk-grid-collapse uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@m">
                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-fiche3/localisation.html.twig' %}
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-padding">
                    <h3 class="uk-h5 uk-text-bold uk-heading-line"><span>{{ 'Coordonnées'|trans }}</span></h3>
                    <ul class="uk-list uk-list-divider uk-list-large">
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-fiche3/coordonnees.html.twig' %}
                        {# include BridgeUtils::bridge_locate_template('templates-bridge/fiche/blocks_fiche3/reseaux-sociaux.php' #}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-fiche3/telephone-s-de-contact.html.twig' %}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-fiche3/site-s-web.html.twig' %}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-fiche3/email-de-contact.html.twig' %}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-fiche3/lien-de-reservation-en-ligne.html.twig' %}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/reseaux-sociaux.html.twig' %}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-5.html.twig' %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-3.html.twig' %}
    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-4.html.twig' %}
</div>