{#
# Template d'affichage d'une page fiche détaillée - modèle fiche itinéraire
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/
#
# @version 3.2.2
#}
{% set htmlTitre = fiche.ficheBlocks|bridge_render_named_block('titre-de-la-fiche') %}
<div class="bridge-fiche fiche-itineraire">
    {# BridgeUtils::BridgeBreadcrumbs('|',__('Accueil','plugin-sit'),1,'','') ?> #}

    <main class="content" id="detailfiche">
        <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-3-5@m" id="mainfiche">
                <header class="entete uk-section-primary uk-text-center uk-section uk-padding-small">
                    <h1 class="uk-margin-remove">
                        {{ htmlTitre|raw }}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/classements-labels.html.twig' %}
                    </h1>
                </header>
                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-ficheitineraire/carousel-photos.html.twig' %}
                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-ficheitineraire/infos-supplementaires-1.html.twig' %}
                <div class="uk-padding uk-section uk-section-default">
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/descriptif.html.twig' %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-2.html.twig' %}
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/onglets.html.twig' %}
                </div>
                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-3.html.twig' %}
                {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-4.html.twig' %}

            </div>
            <aside class="uk-width-2-5@m uk-position-relative">
                <div uk-sticky="offset: 20; bottom:#detailfiche; media: 960;">
                    {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-ficheitineraire/localisation.html.twig' %}
                    <div class="uk-card uk-card-default uk-card-small">
                        <div class="uk-card-body uk-text-center">
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks-ficheitineraire/elevation-data.html.twig' %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/coordonnees.html.twig' %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/reseaux-sociaux.html.twig' %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/telephone-s-de-contact.html.twig' %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/site-s-web.html.twig' %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/email-de-contact.html.twig' %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/lien-de-reservation-en-ligne.html.twig' %}
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-5.html.twig' %}
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </main>
</div>
