{#
# Template d'affichage d'erreur de paramétrage (modèle de fiche non sélectionné)
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/
#
# @version 3.2.2
#}
<div class="uk-container uk-container-center uk-text-center">
	<h3>{{ 'Aucun modèle de fiche'|trans }}</h3>
</div>