{#
# Template d'affichage du sommaire des blocs personnalisés dans la fiche détaillée
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche
#
# @version 3.2.2
#}


{% set blocks = fiche.ficheBlocks.custom %}
{% set descriptifFilled = false %}
{% set nomblock = "descriptif" %}
{% set blockTemp = null %}
{% if fiche is defined %}
    {% if text_block_is_not_empty(fiche, blocks, 'descriptif') %}
        {%  set descriptifFilled = true %}
    {% endif %}
{% endif %}
{# Signets pour savoir quand insérer des séparateurs #}
{% set previousGroupId = -1 %}
{% set previousBlockId = -1 %}

{% set hierarchicalCustomBlocks = fiche|prepare_custom_blocks_display %}

<div class="sommaire" uk-sticky="offset:20; bottom:#detailfiche">
    <ul class="uk-nav uk-nav-default uk-list-divider" uk-scrollspy-nav="closest: li; scroll: true;cls:uk-text-bold">
        <li><a href="#galerie" uk-scroll>{{ 'Galerie'|trans }}</a></li>
        {% if descriptifFilled %}
            <li><a href="#descriptif" uk-scroll>{{ 'Descriptif'|trans }}</a></li>
        {% endif %}

        {%  set nbOnglets = 0 %}
        {% if hierarchicalCustomBlocks|length > 0 %}
            {% for onglet in hierarchicalCustomBlocks %}
                <li><a href="#custom-block-{{ onglet.blockId }}">{{ onglet.title|raw }}</a></li>
            {% endfor %}
        {% endif %}

        {# Si il y a des fiches associées   : FINI => infos supp 3 et 4 pour le moment on ne gère pas le lien dans le sommaire
        if(false && isset($coupledProducts) && is_array($coupledProducts) && count($coupledProducts) > 0) :?>
        <li><a href="#coupled" uk-scroll><?= __('A voir aussi', 'pluginèsit') ?></a></li>
        <?php endif; ?>
        #}

    </ul>
</div>


