

    {% set lang = 0 %}
    {% if bridgeParameters.lang == 'en' %}
        {% set lang = 1 %}
    {% elseif bridgeParameters.lang == 'de' %}
        {% set lang = 2 %}
    {% elseif bridgeParameters.lang == 'nl' %}
        {% set lang = 3 %}
    {% elseif bridgeParameters.lang == 'es' %}
        {% set lang = 4 %}
    {% elseif bridgeParameters.lang == 'it' %}
        {% set lang = 5 %}
    {% endif %}


	<section class="uk-margin-bottom uk-section uk-container">
		<h3 class="uk-h2 uk-margin-bottom">{{ 'Disponibilités'|trans }}</h3>
        <script type="text/javascript">
            function resizewidgetdispos() {
                document.getElementById('widgetdispos').style.height =  document.getElementById('myFrameWidgetDispos').contentWindow.document.getElementById('total').clientHeight + 10 + 'px';
                document.getElementById('widgetdispos').style.overflow = 'hidden';
                window.onresize = function(event) {
                    document.getElementById('widgetdispos').style.height =  document.getElementById('myFrameWidgetDispos').contentWindow.document.getElementById('total').scrollHeight + 10 +'px';
                    document.getElementById('widgetdispos').style.overflow = 'hidden';
                };
            }
            jQuery(document).ready(function($j) {
                UIkit.util.on('#tabs-sit > .dispos','beforeshow', function(){
                    resizewidgetdispos();
                });
            });
       </script>
            <div id='widgetdispos'>
                <iframe onload='resizewidgetdispos();' id='myFrameWidgetDispos' src='{{ ficheParameters.lei_url }}/dispos/pub/disposannu.asp?inclu=NY&produit={{ fiche.productCode }}&consult=a5a5a5&libre=abc638&complet=cc4a4a&fermer=000000&dispt1=20&dispt2=4000&legende=Y&nbmois=9&jdeb=lun&langue={{ lang }}' style='height: 800px;' width='100%' scrolling='auto' frameborder='0'></iframe>
            </div>
    </section>

<?php endif; ?>