{# affichage de la la documentation liée à la fiche #}
{% if fiche.documentationf != '' or fiche.documentationl1 != '' or fiche.documentationl2 != '' %}
    {% if fiche.documentationf != '' %}
        {% set filtre = {"criterionCode" : "1900859"} %}
        {% set pdf1 = fiche.modalities|filter_modalities(filtre) %}
        {% if pdf1|length > 0 %}
            {% set pdf1_title = pdf1[0].value %}
        {% else %}
            {% set pdf1_title = 'Document 1'|trans %}
        {% endif %}
    {% endif %}
    {% if fiche.documentationl1 != '' %}
        {% set filtre = {"criterionCode" : "1900887"} %}
        {% set pdf2 = fiche.modalities|filter_modalities(filtre) %}
        {% if pdf2|length > 0 %}
            {% set pdf2_title = pdf2[0].value %}
        {% else %}
            {% set pdf2_title = 'Document 2'|trans %}
        {% endif %}
    {% endif %}
    {% if fiche.documentationl2 != '' %}
        {% set filtre = {"criterionCode" : "1900894"} %}
        {% set pdf3 = fiche.modalities|filter_modalities(filtre) %}
        {% if pdf3|length > 0 %}
            {% set pdf3_title = pdf3[0].value %}
        {% else %}
            {% set pdf3_title = 'Document 3'|trans %}
        {% endif %}
    {% endif %}

{% endif %}

{#  GPX - si besoin  #}
{% set gpx_value = '' %}
{% set filtre = {"criterionCode" : "1901082"} %}
{% set gpx = fiche.modalities|filter_modalities(filtre) %}
{% if gpx|length > 0 %}
    {% set gpx_value = gpx[0].value %}
{% endif %}

{% if fiche.documentationf != '' or fiche.documentationl1 != '' or fiche.documentationl2 != '' or (gpx_value is defined and gpx_value is not empty) %}
<div class="uk-section uk-section-primary uk-section-small" id="pdfs">
    <h3 class="uk-text-center">{{ 'Téléchargements'|trans }}</h3>
    <div class="contentpdf">
        <div class="uk-flex uk-flex-center">
            {% if fiche.documentationf != '' %}
                <a href="{{ fiche.documentationf }}" class="uk-button uk-button-default" target="_blank" title="{{ pdf1_title }}">{{ pdf1_title }}</a>
            {% endif %}
            {% if fiche.documentationl1 != '' %}
                <a href="{{ fiche.documentationl1 }}" class="uk-button uk-button-default" target="_blank" title="{{ pdf2_title }}">{{ pdf2_title }}</a>
            {% endif %}
            {% if fiche.documentationl2 != '' %}
            <a href="{{ fiche.documentationl2 }}" class="uk-button uk-button-default" target="_blank" title="{{ pdf3_title }}">{{ pdf3_title }}</a></li>
            {% endif %}
            {% if gpx_value != '' %}
                <a href="{{ gpx_value }}" target="_blank" title="{{ 'TRACE_GPX'|trans }}">{{ 'TRACE_GPX'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}