{#
# Template d'affichage de titre de filtre
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters/common
#
# @version 3.2.2
#}

{% block filter_header %}
{% if filter.label is defined  and filter.label != '' %}
	<h5>
		 {{ filter.label }}
	</h5>
{% endif %}

{% endblock %}