{#
# Template d'affichage des champs cachés d'un filtre
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters/common
#
# @version 3.2.2
#}

{% block hidden_filter %}
<input type="hidden" name="brflt_{{ filter.uniqueId }}_min" value="{{ min }}"/>
<input type="hidden" name="brflt_{{ filter.uniqueId }}_max" value="{{ max }}"/>
<input type="hidden" name="brflt_{{ filter.uniqueId }}_crit" value="{{ criterion }}"/>
<input type="hidden" name="brflt_{{ filter.uniqueId }}_mod" value="{{ modality }}"/>
<input type="hidden" name="brflt_{{ filter.uniqueId }}_fld" value="{{ field }}"/>

{% endblock %}