{% block js_input_gps %}
<script>
    bridgeDocumentReady(function() {

        var tmpFilter = window.bridgeMoteur{{ moteur.id }}.getFilter({{ filter.id }});

        if (tmpFilter != false) {
            if(tmpFilter.lat) {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lat').val(tmpFilter.lat);
            }
            if(tmpFilter.lon) {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lon').val(tmpFilter.lon);
            }
            if(tmpFilter.dist) {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').val(''+tmpFilter.dist).trigger('input');
            } else {
                // Valeur par defaut : 5000m
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').val('5000').trigger('input');
                window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'dist', '5000', false);
            }

            // jQuery('#{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').trigger('input');

            if(tmpFilter.city) {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_city').val(tmpFilter.city);
            }
        }

        // Mettre à jour le moteur lorsqu'une position est modifiée
        window.bridgeRefreshGeoSearch{{ moteurEnDouble }}{{ filter.uniqueId }} = function (lat, lon) {

            let latInput = jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lat').val();
            let lonInput = jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lon').val();
            let searchLat = latInput;
            let searchLon = lonInput;

            if(!lat) {
                if (latInput !== '') {
                    window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'lat', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lat').val().replaceAll(/[&<>"'`=\/]/g, ''), false);
                } else {
                    window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'lat', '', false);
                }
            } else {
                lat = lat + '';
                window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'lat', lat.replaceAll(/[&<>"'`=\/]/g, ''), false);
            }
            if(!lon) {
                if (jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lon').val() !== '') {
                    window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'lon', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lon').val().replaceAll(/[&<>"'`=\/]/g, ''), false);
                } else {
                    window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'lon', '', false);
                }
            } else {
                lon = lon + '';
                window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'lon', lon.replaceAll(/[&<>"'`=\/]/g, ''), false);
            }
            if (searchLat !== '' && searchLon !== '' && jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').val() !== '') {
                window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
            }
        };

        jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').change(function(e) {
            if (jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').val() !== '' ) {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'dist', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').val().replaceAll(/[&<>"'`=\/]/g, ''), false);
            } else {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'dist', '', false);
            }
            if (jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lat').val() !== '' && jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lon').val() !== '' && jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').val() !== '') {
                window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
            }
        });
        jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_city').change(function(e) {
            if (jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_city').val() !== '' ) {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'city', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_city').val().replaceAll(/[&<>"'`=\/]/g, ''), false);
            } else {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp({{ filter.id }}, 'city', '', false);
            }
        });


        // Mettre à jour l'interface graphique lorsque l'objet moteur change
        window.bridgeMoteur{{ moteur.id }}.addEventHandler('afterCalcMoteur', function(bridgeMoteur) {

            var tmpFilter =  bridgeMoteur.getFilter({{ filter.id }});
            if (tmpFilter != false && tmpFilter.active && tmpFilter.lat) {
                 jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lat').val(tmpFilter.lat);
            } else {
                // jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lat').val('');
            }
            if(tmpFilter != false && tmpFilter.active && tmpFilter.lon) {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lon').val(tmpFilter.lon);
            } else {
                // jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_lon').val('');
            }
            if(tmpFilter != false && tmpFilter.active && tmpFilter.dist) {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').val(tmpFilter.dist).trigger('input');
            } else {
               // jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dist').val('');
            }
            if(tmpFilter.city && tmpFilter.city  !== '' && tmpFilter.city  !== null) {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_city').val(tmpFilter.city);
            } else {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_city').val('');
            }

        });

    });

</script>

{% endblock %}