{#
# Template de gestion js des filtres de type input
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters/common
#
# @version 3.2.2
#}

{% block js_input_value %}
<script>
    bridgeDocumentReady(function() {
        var tmpFilter = window.bridgeMoteur{{ moteur.id }}.getFilter( {{ filter.id }});

        if (tmpFilter != false) {
            if(tmpFilter.value)
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value').val(tmpFilter.value);
        }

        // Mettre à jour le moteur lorsqu'une valeur est modifiée
        jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value').change(function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            // window.bridgeMoteur{{ moteur.id }}.deactivateWholeFilter( {{ filter.id }});
            if (jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value').val() !== '' ) {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'value', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value').val().replaceAll(/[&<>"'`=\/]/g, ''), false);
            } else {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'value', '', false);
            }
            window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
        });

        // Mettre à jour l'interface graphique lorsque l'objet moteur change
        window.bridgeMoteur{{ moteur.id }}.addEventHandler('afterCalcMoteur', function(bridgeMoteur) {
            var tmpFilter =  bridgeMoteur.getFilter( {{ filter.id }});

            if (tmpFilter != false && tmpFilter.active) {
                if (tmpFilter.value)
                    jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value').val(tmpFilter.value);
            } else {
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value').val('');
            }
        });

    });

</script>

{% endblock %}