{#
# Template de gestion js des filtres de type radio
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters/common
#
# @version 3.2.2
#}

{% block js_radio %}
<script>
    bridgeDocumentReady(function() {
        var tmpFilter = window.bridgeMoteur{{ moteur.id }}.getFilter( {{ filter.id }});

        // Cocher les cases actives au démarrrage
        if( tmpFilter != false && tmpFilter.active) {
            for( var i = 0; i < tmpFilter.items.length; i++) {
                if(tmpFilter.items[i].active) {
                    // console.log('On active' + '#chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-' + tmpFilter.items[i].id);
                    jQuery('#chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-' + tmpFilter.items[i].id)[0].checked = true;
                }
            }
        }

        // Mettre à jour le moteur lorsqu'une case est cochée/décochée
        jQuery("input[id^='chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-']").change(function() {
            // console.log('checkbox change', jQuery(this)[0]);
            window.bridgeMoteur{{ moteur.id }}.deactivateWholeFilter( {{ filter.id }});
            window.bridgeMoteur{{ moteur.id }}.setItemProp( {{ filter.id }}, jQuery(this).attr('data-item-id'), 'active', jQuery(this)[0].checked);
            window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
        });

        // Mettre à jour l'interface graphique lorsque l'objet moteur change
        window.bridgeMoteur{{ moteur.id }}.addEventHandler('afterCalcMoteur', function(bridgeMoteur) {
            var tmpFilter =  bridgeMoteur.getFilter( {{ filter.id }});
            if( tmpFilter != false && tmpFilter.active) {
                for( var i = 0; i < tmpFilter.items.length; i++) {
                    if(tmpFilter.items[i].active) {
                        // console.log('On active')
                        jQuery('#chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-' + tmpFilter.items[i].id)[0].checked = true;
                    } else {
                        jQuery('#chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-' + tmpFilter.items[i].id)[0].checked = false;
                    }
                }
            } else {
                // On desactive toutes les checkbox
                jQuery("input[id^='chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-']").each(function(index) {
                    this.checked = false;
                });
            }
        });
    });

</script>

{% endblock %}