{#
# Template de gestion js des filtres de type liste déroulante
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters/common
#
# @version 3.2.2
#}

{% block js_select_dropdown %}

<script>
    bridgeDocumentReady(function() {

        var tmpFilter = window.bridgeMoteur{{ moteur.id }}.getFilter( {{ filter.id }});

        // Sélectionner l'item actif au démarrage
        if( tmpFilter != false && tmpFilter.active) {
            for( var i = 0; i < tmpFilter.items.length; i++) {
                if(tmpFilter.items[i].active) {
                    jQuery('#sel_{{ moteurEnDouble }}{{ filter.uniqueId }}').val(tmpFilter.items[i].id);
                }
            }
        }

        // Mettre à jour le moteur lorsqu'une valeur est sélectionnée
        jQuery('#sel_{{ moteurEnDouble }}{{ filter.uniqueId }}').change(function() {
            window.bridgeMoteur{{ moteur.id }}.deactivateWholeFilter( {{ filter.id }});
            if (jQuery(this).val() != '') {
                window.bridgeMoteur{{ moteur.id }}.setItemProp( {{ filter.id }}, jQuery(this).val(), 'active', true);
            }
            window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
        });

        // Mettre à jour l'interface graphique lorsque l'objet moteur change
        window.bridgeMoteur{{ moteur.id }}.addEventHandler('afterCalcMoteur', function(bridgeMoteur) {
            var tmpFilter =  bridgeMoteur.getFilter( {{ filter.id }});
            if( tmpFilter != false && tmpFilter.active) {
                for( var i = 0; i < tmpFilter.items.length; i++) {
                    if(tmpFilter.items[i].active) {
                        jQuery('#sel_{{ moteurEnDouble }}{{ filter.uniqueId }}').val(tmpFilter.items[i].id);
                    }
                }
            } else {
                // On desactive tout
                jQuery('#sel_{{ moteurEnDouble }}{{ filter.uniqueId }}').val('');
            }
        });

        // ============
        // CityComboDyn

        let datalist = document.querySelector("#ccd_{{ moteurEnDouble }}{{ filter.uniqueId }}-cities");

        if (datalist !== undefined && datalist !== null) {

            let cityComboDyn = document.querySelector("#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_value");
        
            // affichage des communes de la liste
            {%  set cityComboDynList = '' %}
            {%  set city = '' %}
            {% if filter.cityComboDynList is defined %}
                {%  for city in filter.cityComboDynList %}
                    {%  set cityComboDynList = cityComboDynList ~ (city in filter.cityComboDynList)? ',' : '' ~ city %}
                 {% endfor %}
            {% endif %}

            window.bridgeMoteur{{ moteur.id }}.displayCityComboDynList(' {{ cityComboDynList|e('js') }}', datalist);

            let cityComboDynOption = document.querySelector("#opt_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ city }}");
            
            let tmpFilter = window.bridgeMoteur{{ moteur.id }}.getFilter( {{ filter.id }});

            if (tmpFilter != false) {
                if (tmpFilter.value) {
                    jQuery(cityComboDyn).val(tmpFilter.value);
                }
            }

            // Mettre à jour le moteur lorsqu'une valeur est modifiée
            jQuery(cityComboDyn).change(function(e) {

                e.preventDefault();
                e.stopImmediatePropagation();

                // window.bridgeMoteur{{ moteur.id }}.deactivateWholeFilter( {{ filter.id }});

                let inputValue = jQuery(this).val();

                if(inputValue != '' ) {
                    window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'value', inputValue.replaceAll(/[&<>"'`@!%]/g, ''), false);
                } else {
                    window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'value', '', false);
                }
                window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
            });

            // Mettre à jour l'interface graphique lorsque l'objet moteur change
            window.bridgeMoteur{{ moteur.id }}.addEventHandler('afterCalcMoteur', function(bridgeMoteur) {
                let tmpFilter =  bridgeMoteur.getFilter( {{ filter.id }});

                if (tmpFilter != false && tmpFilter.active) {
                    if (tmpFilter.value) {
                        jQuery(cityComboDyn).val(tmpFilter.value);
                    }
                } else {
                    jQuery(cityComboDyn).val('');
                }
            });
        }
    });

</script>

{% endblock %}