{#
# Template de gestion js des filtres de type liste à sélection multiple
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters/common
#
# @version 3.2.2
#}

{% block js_select_multi %}
<script>
    bridgeDocumentReady(function() {
        var tmpFilter = window.bridgeMoteur{{ moteur.id }}.getFilter( {{ filter.id }});

        // Sélectionner l'item actif au démarrage
        if( tmpFilter != false && tmpFilter.active) {
            for( var i = 0; i < tmpFilter.items.length; i++) {
                if(tmpFilter.items[i].active) {
                    jQuery('#sel_{{ moteurEnDouble }}{{ filter.uniqueId }}').val(tmpFilter.items[i].id);
                }
            }
        }

        // Mettre à jour le moteur lorsqu'une valeur est sélectionnée
        jQuery('#sel_{{ filter.uniqueId }}').change(function() {
            // window.bridgeMoteur{{ moteur.id }}.deactivateWholeFilter( {{ filter.id }});
            if(jQuery(this).val() != '')
                window.bridgeMoteur{{ moteur.id }}.setItemProp( {{ filter.id }}, jQuery(this).val(), 'active', true);
            window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
        });

        // Mettre à jour l'interface graphique lorsque l'objet moteur change
        window.bridgeMoteur{{ moteur.id }}.addEventHandler('afterCalcMoteur', function(bridgeMoteur) {
            var tmpFilter =  bridgeMoteur.getFilter( {{ filter.id }});
            if( tmpFilter != false && tmpFilter.active) {
                for( var i = 0; i < tmpFilter.items.length; i++) {
                    if(tmpFilter.items[i].active) {
                        jQuery('#sel_{{ moteurEnDouble }}{{ filter.uniqueId }}').val(tmpFilter.items[i].id);
                    }
                }
            } else {
                // On desactive toutes les checkbox
                jQuery('#sel_{{ moteurEnDouble }}{{ filter.uniqueId }}').val('');
            }
        });
    });

</script>

{% endblock %}