{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    form.elements['#children_errors'] is not empty ? 'error' : ''
] %}

<div class="custom-form-wrapper {{  classes|join(' ') }}">
    {{ form }}
</div>
