{#
# Template d'affichage de la barre de tris pour l'internaute
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste
#
# @version 3.2.2
#}
{# On n'affiche les boutons de tri utilisateur que si la liste n'est pas en mode d'affichage calendrier #}
{%  if data.duplicateProductsBy != 'PERIOD' %}
    {% set sorts = [] %}
    {% if data.sortBarOne is defined and data.sortBarOne != '' %}
        {% set sorts = sorts|merge([data.sortBarOne]) %}
    {% endif %}
    {% if data.sortBarTwo is defined and data.sortBarTwo != '' %}
        {% set sorts = sorts|merge([data.sortBarTwo]) %}
    {% endif %}
    {% if data.sortBarThree is defined and data.sortBarThree != '' %}
        {% set sorts = sorts|merge([data.sortBarThree]) %}
    {% endif %}
    {% if sorts|length > 0 %}
            <div class="uk-width-1-1">
                <a class="uk-button uk-button-default uk-width-1-1" href="#">{{ 'Trier par'|trans }}</a>
                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav bridge-sort-bar-dropdown">
                        {%  for sort in sorts %}
                        {# <!-- On ne permet pas le tri par date --> #}
                            {% if (sort.field is not defined or sort.field.filterTag is defined) or (sort.field is defined and sort.field.filterTag is defined and sort.field.filterTag != 'hor') %}
                                <li class="abridge-sort-element uk-margin-top">
                                    <span data-sort-id="{{ sort.id }}" data-sort-direction="" class="bridge-sort-toggle bridge-sort-btn">
                                        {{ sort.label }}
                                        <i data-sort-id="{{ sort.id }}" class="bridge-sort-direction far fa-chevron-up" style="display:none;"></i>
                                    </span>
                                </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>



        {# Deja charge par tris.html.twig sui est toujours chargé en plus de  tris-dropdodown
        {% set moteurToUse = {} %}
         if moteur is defined %}
            {% set moteurToUse = moteur %}
            {% include '@pylot_bridge/templates-bridge-twig/liste/tris/js-tris.html.twig' %}
        {% endif %}
        #}
    {% endif %}
{% endif %}


