{#
# Template d'affichage de filtre calendrier
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}

{% set pickerLanguage = bridgeParameters.lang ~ '-' ~ bridgeParameters.lang|upper %}
    <div class="bridge-calendar">
        <div class="input-datepicker" data-lang="{{ pickerLanguage }}">
            <input type="text" class="uk-input" placeholder="{{ 'Choisir une date'|trans }}" />
        </div>
        <div class="input-date-from"><input type="text" class="uk-input" id="brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom" data-bridge-filter-field="{{ filter.filterField }}" data-bridge-filter-id="{{ filter.id }}" placeholder="{{ 'Du'|trans }}"></div>
        <div class="input-date-to"><input type="text" class="uk-input" id="brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo" data-bridge-filter-field="{{ filter.filterField }}" data-bridge-filter-id="{{ filter.id }}" placeholder="{{ 'Au'|trans }}"></div>
        {#  <div><button id="button_{{ moteurEnDouble }}{{ filter.uniqueId }}" class="button uk-width-1-1"> {{ 'Rechercher'|trans }}</button></div> #}
    </div>

<script>
    bridgeDocumentReady(function() {
	{#
        var inputFrom = jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').datepicker({
            language: '{{ pickerLanguage }}',
            format: 'dd/mm/yy',
            weekStart: 1,
            zIndex: 1000000,
            autoHide: true,
            container: jQuery(this).parent(),
            pick: changeDate_{{ moteurEnDouble }}{{ moteur.id }}_{{ filter.id }}
        });
        var inputTo = jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').datepicker({
            language: ' {{ pickerLanguage }}',
            format: 'dd/mm/yy',
            weekStart: 1,
            zIndex: 1000000,
            autoHide: true,
            container: jQuery(this).parent(),
            pick: changeDate_{{ moteurEnDouble }}{{ moteur.id }}_{{ filter.id }},
            startDate: jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').datepicker('getDate')
        });
		#}
        var tmpFilter = window.bridgeMoteur{{ moteur.id }}.getFilter( {{ filter.id }});
        // console.log('Init calendar : tmpFilter ' +  {{ filter.id }}, tmpFilter)

        if( tmpFilter != false) {
            if(tmpFilter.dateFrom)
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').val(tmpFilter.dateFrom);
            if(tmpFilter.dateTo)
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').val(tmpFilter.dateTo);
            if(tmpFilter.hourFrom)
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_hourFrom').val(tmpFilter.hourFrom);
            if(tmpFilter.hourTo)
                jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_hourTo').val(tmpFilter.hourTo);

        }

        // Bouton de lancement manuel de la recherche
        jQuery('#button_{{ moteurEnDouble }}{{ filter.uniqueId }}').click(function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            changeDate_{{ moteurEnDouble }}{{ moteur.id }}_{{ filter.id }}();
        });
        // Sur changement manuel
        jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').change(function(e) {
            changeDate_{{ moteurEnDouble }}{{ moteur.id }}_{{ filter.id }}();
        });
        jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').change(function(e) {
            changeDate_{{ moteurEnDouble }}{{ moteur.id }}_{{ filter.id }}();
        });

        function changeDate_{{ moteurEnDouble }}{{ moteur.id }}_{{ filter.id }}(e) {
            // console.log('button dates click');
            // window.bridgeMoteur{{ moteur.id }}.deactivateWholeFilter( {{ filter.id }});
            if(jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').val() != '' || jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').val() != '') {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'dateFrom', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateFrom').val(), false);
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'dateTo', jQuery('#brflt_{{ moteurEnDouble }}{{ filter.uniqueId }}_dateTo').val(), false);
            } else {
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'dateFrom', '', false);
                window.bridgeMoteur{{ moteur.id }}.setFilterProp( {{ filter.id }}, 'dateTo', '', false);
            }
            window.bridgeMoteur{{ moteur.id }}.calcMoteur(true);
        }
    });

</script>
