{#
# Template d'affichage de filtre case à cocher
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}
{% if filter.items is not defined or filter.items|length <= 0 %}
    <p>
        <b>Erreur d'affichage du filtre</b><br/>
        Veuillez définir au moins un élément dans le filtre
    </p>
{% else %}
    {% set countItems = filter.items|length %}
    {% set maxShow = 3 %}
    {% set cmptItems = 1 %}

    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}
    <div class="bridge-filter-checkbox" id="bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}">
        {% for item in filter.items %}
            {% if cmptItems <= maxShow %}
                <label class="uk-display-block uk-width-1-1" for="chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}">
                    <input class="uk-checkbox" type="checkbox" class="" id="chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}">
                    <span class="bridge-label">{{ item.label }}</span>
                </label>
            {% else %}
                <label class="uk-display-block uk-width-1-1 chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-hide" for="chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}" hidden>
                    <input class="uk-checkbox" type="checkbox" class="" id="chk_{{ moteurEnDouble }}{{ filter.uniqueId }}-{{ item.id }}" data-item-id="{{ item.id }}">
                    <span class="bridge-label">{{ item.label }}</span>
                </label>
            {% endif %}
            {% set cmptItems = cmptItems + 1 %}
        {% endfor %}
    </div>

    {{ (filter.items|length > maxShow) ? ('<div class="bridgeShowMoreFilters"><span class="chk_' ~ moteurEnDouble ~ filter.uniqueId ~ '-hide" uk-toggle="target: .chk_' ~ moteurEnDouble ~ filter.uniqueId ~ '-hide;animation: uk-animation-slide-bottom, uk-animation-slide-top"><i class="fa fa-plus"></i> ' ~ 'Afficher plus'|trans ~ '</span><span class="chk_' ~ moteurEnDouble ~ filter.uniqueId ~ '-hide" uk-toggle="target: .chk_' ~ moteurEnDouble ~ filter.uniqueId ~ '-hide;animation: uk-animation-slide-bottom, uk-animation-slide-top" hidden><i class="fa fa-minus"></i> ' ~ 'Afficher moins'|trans ~ '</span></div>')|raw : '' }}

    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-checkbox.html.twig' %}
{% endif %}
