{#
# Template d'affichage de filtre liste de communes dynamique géolocalisées avec rayon de recherche
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/moteur/filters
#
# @version 3.2.2
#}
{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/filter-header.html.twig' %}
{% set inputIdRacine = 'brflt_' ~ moteurEnDouble ~ filter.uniqueId %}


<div class="bridge-filter-cityproxdyn" id="bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}">
	<input type="hidden" id="{{ inputIdRacine }}_lat" name="latitude" />
	<input type="hidden" id="{{ inputIdRacine }}_lon" name="longitude" />
	<div class="bridge-input-geolocation" style="display:flex; flex-direction:row;">
		<input class="bridge-dropdown"  type="text" id="{{ inputIdRacine }}_city" name="city" placeholder="{{ 'Entrez un nom de commune'|trans|e('html_attr') }}" />
		<a class="bridge_get_user_location button--small button--icon" title="{{ 'Ma position'|trans|e('html_attr') }}" uk-tooltip="{{ 'Ma position'|trans|e('html_attr') }}"><i class="fa far fa-location-crosshairs"></i></a>
	</div>


	<div class="bridge-gps-distance" id="bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}-distance" hidden>
		<h5 class="moteur-section-label uk-heading-line">
			<span>{{ 'Périmètre de recherche'|trans }}</span>
		</h5>
		<label for="{{ inputIdRacine }}_dist"><span id="bridge_dist_{{ moteurEnDouble}}{{ filter.uniqueId }}_display" class="light"></span></label>
		<input type="range" id="{{ inputIdRacine }}_dist" name="distance" min="0" max="100000" step="1000"/>
	</div>
</div>

<script>
	bridgeDocumentReady(function() {

		if (!navigator.geolocation) {
			jQuery('.bridge_get_user_location').attr('disabled', 'true');
		} else {
			navigator.geolocation.getCurrentPosition(function(position) {
				window.bridgeCurrentGeolocation = position;
			});
		}
		// Click sur bouton de geolocalisation
		jQuery('.bridge_get_user_location').click(function (e) {
			e.preventDefault();
			if (navigator.geolocation) {
				if(window.bridgeCurrentGeolocation === undefined) {
					var ret = navigator.geolocation.getCurrentPosition(function (position) {
						window.bridgeCurrentGeolocation = position;
						jQuery('#{{ inputIdRacine }}_lat').val(position.coords.latitude);
						jQuery('#{{ inputIdRacine }}_lon').val(position.coords.longitude);
						jQuery('#{{ inputIdRacine }}_city').val('{{ 'Ma position'|trans|e('js') }}');
						jQuery("#{{ inputIdRacine }}_city").trigger("change") ;
						bridgeRefreshGeoSearch{{ moteurEnDouble }}{{ filter.uniqueId }}(window.bridgeCurrentGeolocation.coords.latitude, window.bridgeCurrentGeolocation.coords.longitude);

						if(window.mapService !== undefined) {
							window.mapService.delfixedmarker('position');
							window.mapService.addfixedmarker('position', position.coords.latitude, position.coords.longitude, '{{ 'Ma position'|trans|e('js') }}', '{{ bridgeParameters.marker_home }}');
						}
					});
				} else {
					jQuery('#{{ inputIdRacine }}_lat').val(window.bridgeCurrentGeolocation.coords.latitude);
					jQuery('#{{ inputIdRacine }}_lon').val(window.bridgeCurrentGeolocation.coords.longitude);
					jQuery('#{{ inputIdRacine }}_city').val('{{ 'Ma position'|trans|e('js') }}');
					jQuery("#{{ inputIdRacine }}_city").trigger("change") ;
					if(window.mapService !== undefined) {
						window.mapService.delfixedmarker('position');
						window.mapService.addfixedmarker('position', window.bridgeCurrentGeolocation.coords.latitude, window.bridgeCurrentGeolocation.coords.longitude, '{{ 'Ma position'|trans|e('js') }}', '{{ bridgeParameters.marker_home }}');
					}

					bridgeRefreshGeoSearch{{ moteurEnDouble }}{{ filter.uniqueId }}(window.bridgeCurrentGeolocation.coords.latitude, window.bridgeCurrentGeolocation.coords.longitude);
				}
			} else {
				jQuery('.bridge_get_user_location').attr('disabled', 'true');
			}
		});


		// Spécifique MOSL : déplacement de la recherche par distance dans la barre OffCanvas
		//if (jQuery('#offcanvas-moteur{{ moteur.id }}').length) {
		if (jQuery('.bridge-list .filters-filters__content').length) {

			var distanceFilter = jQuery('#bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}-distance').html();
			var res = jQuery('#bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}-distance').remove();

			distanceFilter = '<div class="bridge-gps-distance" id="bridge-filter-{{ moteurEnDouble }}{{ filter.uniqueId }}-distance">' + distanceFilter + '</div>'
			// distanceFilter = jQuery(distanceFilter);
			// var sections = jQuery('#offcanvas-moteur{{ moteur.id }} .bridge-moteur-section');
			var sections = jQuery('.bridge-list  .filters-filters__content .bridge-moteur-section');

			if(sections.length >= 2) {
				// jQuery('#offcanvas-moteur{{ moteur.id }} .bridge-moteur-section:nth-child(2)').prepend(distanceFilter);
				jQuery(distanceFilter).prependTo(sections[1]);
			}
		}

		// Màj du label de distance
		jQuery('#{{ inputIdRacine }}_dist').on('input', function(e){
			// Evénement pour mettre à jour les étiquettes en temps réel (on input)
			var valuem = parseInt(jQuery(this).val());
			var displayValue = (valuem / 1000) + ' km';
			jQuery("#bridge_dist_{{ moteurEnDouble }}{{ filter.uniqueId }}_display").html(displayValue);
			return true;
		});



		window.bridgeCities = [];

		window.cityComboDynOptions{{ moteurEnDouble }} = {
			selector: '#{{ inputIdRacine }}_city',
			wrapper: true,
			data: {
				src: window.bridgeCities,
				keys: ["label"],
				cache: true
			},
			threshold: 0,
			diacritics: true,
			submit: true,
			trigger: (query) => {
				return true ;  // query.replace(/ /g, "").length; // Returns "Boolean"
			},
			resultsList: {
				maxResults: 1000
			},
			// ouvrir sur clie
			events: {
				input: {
					focus() {
						bridgeCityAutocomplete{{ moteurEnDouble }}.start();
						bridgeCityAutocomplete{{ moteurEnDouble }}.open();
					},
				},
			}
		};

		window.ajaxPostData = { action: 'brListCities', get_as_label_array: '1' } ;
		{% if listInfos is defined %}
		window.ajaxPostData.id = '{{ listInfos.webListId }}';
		window.ajaxPostData.product_codes = '{{ listInfos.productCodes }}';
		{% endif %}
		window.ajaxPostData.braf = window.bridgeMoteur{{ moteur.id }}.activeFilters.join(',');
		window.ajaxPostData.brai = window.bridgeMoteur{{ moteur.id }}.activeItems.join(',');
		// Patch 24/05/22 : les recherches par valeurs n'étaient pas prises en compte
		if(typeof window.bridgeMoteur{{ moteur.id }}.urlParams === 'object' && window.bridgeMoteur{{ moteur.id }}.urlParams !== null && Object.keys(window.bridgeMoteur{{ moteur.id }}.urlParams).length > 0) {
			var keys = Object.keys(window.bridgeMoteur{{ moteur.id }}.urlParams);
			for(idx in keys) {
				var key = keys[idx];
				window.ajaxPostData[key] = window.bridgeMoteur{{ moteur.id }}.urlParams[key];
			}
		}
		// Feat 25/05/22 : support du paramètre productCodes où on spécifie des fiches une par une
		if(typeof window.bridgeMoteur{{ moteur.id }}.options === 'object' && window.bridgeMoteur{{ moteur.id }}.options.hasOwnProperty('productCodes') ) {
			window.ajaxPostData.product_codes = window.bridgeMoteur{{ moteur.id }}.options.productCodes ;
		}

		jQuery.ajax({
			url: window.bridgeMoteur{{ moteur.id }}.options.bridgeAjaxUrl,
			data: ajaxPostData,
			dataType: 'json'
		}).done(function(lejson) {
			window.bridgeCities = lejson;
			// Si une geolocalisation est autorisée, on ajoute "Ma position" à la liste
			if(window.bridgeCurrentGeolocation !== undefined) {
				window.bridgeCities.unshift({
					label: '{{ 'Ma position'|trans|e('js') }}',
					lat: window.bridgeCurrentGeolocation.coords.latitude,
					lon: window.bridgeCurrentGeolocation.coords.longitude
				});
			}
			window.cityComboDynOptions{{ moteurEnDouble }}.data.src = window.bridgeCities;
			if(typeof window.bridgeCityAutocomplete{{ moteurEnDouble }} === 'object') {
				window.bridgeCityAutocomplete{{ moteurEnDouble }}.unInit();
			}
			window.bridgeCityAutocomplete{{ moteurEnDouble }} = new autoComplete(window.cityComboDynOptions{{ moteurEnDouble }});
			document.querySelector("#{{ inputIdRacine }}_city").addEventListener("selection", function (event) {
				if(event.detail && event.detail.selection && event.detail.selection.value && event.detail.selection.value !== '') {
					jQuery("#{{ inputIdRacine }}_city").val(event.detail.selection.value.label);
					jQuery("#{{ inputIdRacine }}_lat").val(event.detail.selection.value.lat);
					jQuery("#{{ inputIdRacine }}_lon").val(event.detail.selection.value.lon);
					jQuery("#{{ inputIdRacine }}_city").trigger("change") ;
					if(window.mapService !== undefined) {
						window.mapService.delfixedmarker('position');
						window.mapService.addfixedmarker('position',event.detail.selection.value.lat, event.detail.selection.value.lon, event.detail.selection.value.label, '{{ bridgeParameters.marker_home }}');
					}

					bridgeRefreshGeoSearch{{ moteurEnDouble }}{{ filter.uniqueId }}(event.detail.selection.value.lat, event.detail.selection.value.lon);
				}
			});
		});


		// Recalculer les villes après une modification du moteur
		/* Problème : après avoir sélectionné une ville, si on active ce code, la liste devient torp restreinte
        window.bridgeMoteur{{ moteur.id }}.addEventHandler('beforeSubmit', function(bridgeMoteur) {
            window.ajaxPostData = { action: 'brListCities', get_as_label_array: '1' } ;
        {% if listInfos is defined %}
        window.ajaxPostData.id = '{{ listInfos.webListId }}';
        window.ajaxPostData.product_codes = '{{ listInfos.productCodes }}';
        {% endif %}

            window.ajaxPostData.braf = window.bridgeMoteur{{ moteur.id }}.activeFilters.join(',');
            window.ajaxPostData.brai = window.bridgeMoteur{{ moteur.id }}.activeItems.join(',');
            // Patch 24/05/22 : les recherches par valeurs n'étaient pas prises en compte
            if(typeof window.bridgeMoteur{{ moteur.id }}.urlParams === 'object' && window.bridgeMoteur{{ moteur.id }}.urlParams !== null && Object.keys(window.bridgeMoteur{{ moteur.id }}.urlParams).length > 0) {
                var keys = Object.keys(window.bridgeMoteur{{ moteur.id }}.urlParams);
                for(idx in keys) {
                    var key = keys[idx];
                    window.ajaxPostData[key] = window.bridgeMoteur{{ moteur.id }}.urlParams[key];
                }
            }
            // Feat 25/05/22 : support du paramètre productCodes où on spécifie des fiches une par une
            if(typeof window.bridgeMoteur{{ moteur.id }}.options === 'object' && window.bridgeMoteur{{ moteur.id }}.options.hasOwnProperty('productCodes') ) {
                window.ajaxPostData.product_codes = window.bridgeMoteur{{ moteur.id }}.options.productCodes ;
            }

            jQuery.ajax({
                url: window.bridgeMoteur{{ moteur.id }}.options.bridgeAjaxUrl,
                data: ajaxPostData,
                dataType: 'json'
            }).done(function(lejson) {
                window.bridgeCities = lejson;
                window.cityComboDynOptions{{ moteurEnDouble }}.data.src = window.bridgeCities;
                if(typeof window.bridgeCityAutocomplete{{ moteurEnDouble }} === 'object') {
                    window.bridgeCityAutocomplete{{ moteurEnDouble }}.unInit();
                }
                window.bridgeCityAutocomplete{{ moteurEnDouble }} = new autoComplete(window.cityComboDynOptions{{ moteurEnDouble }});
            }).error(function(e){
                console.error(e);
            });
        });
        */

	});


</script>
{% include '@pylot_bridge/templates-bridge-twig/liste/moteur/filters/common/js-input-gps.html.twig' %}

