{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region .
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
    set classes = [
    'region',
    'region-' ~ region|clean_class,
]
%}
{{ attach_library('mosl/region.footer') }}

{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div class="container">
            <div class="footer-top">
                <div class="content">
                    <div class="logo-footer"></div>
                    <div class="address">
                        {{ '2-4, Rue du Pont Moreau '|t({}, {'context' : 'footer'}) }}<br/>
                        {{ '57000 Metz'|t({}, {'context' : 'footer'}) }}
                        <div><a class="tel" href="tel:0387375780">{{ 'Tél : 03 87 37 57 80'|t({}, {'context' : 'footer'}) }}</a></div>
                    </div>
                    <div class="social-networks">
                        <a href="https://www.facebook.com/MoselleSansLimite" target="_blank"><div class="facebook"></div></a>
                        <a href="https://twitter.com/mosellesl" target="_blank"><div class="twitter"></div></a>
                        <a href="https://www.instagram.com/mosellesanslimite_" target="_blank"><div class="instagram"></div></a>
                    </div>
                </div>
                <div class="footer-menu-main">
                    {{ _context['elements']['mosl_footer_main_nav'] }}
                </div>

                <div class="footer-menu">
                    {{ _context['elements']['mosl_footer'] }}
                </div>
                <div class="footer-partners">
                    <div class="text">
                        {{ 'MOSL Attractivité est soutenue par : '|t({}, {'context' : 'footer'}) }}
                    </div>
                    <div class="partners">
                        <a href="https://www.moselle.fr/" target="_blank" class="partner--moselle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 356.18 156.22">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #fff;
                                        }
                                    </style>
                                </defs>
                                <g id="Calque_1" data-name="Calque 1"/>
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path class="cls-1" d="M260.41,97.15c33.52,0,60.07,7.85,76.79,14.66v42.4H18.99v-47.72c33.09,5.14,66.47,7.86,96.68,7.86,33.83,0,63.53-3.3,88.29-9.8,18.72-4.92,37.71-7.41,56.45-7.41m0-2c-17.29,0-36.42,2.08-56.96,7.47-26.11,6.86-56.4,9.73-87.78,9.73s-66.96-3.16-98.68-8.2v52.06H339.2v-45.74c-16.39-6.82-43.83-15.32-78.79-15.32h0Z"/>
                                        <g>
                                            <path class="cls-1" d="M117.02,41.85c-3.49,0-6.25,1.63-8.26,4.9-2.01,3.27-3.02,7.74-3.02,13.43s1,10.08,3,13.38c2,3.3,4.73,4.95,8.19,4.95,7.61,0,11.41-6.14,11.41-18.42,0-5.62-1.01-10.07-3.02-13.34-2.02-3.27-4.78-4.9-8.3-4.9Z"/>
                                            <path class="cls-1" d="M318.07,41.85c-5.49,0-8.67,4.41-9.53,13.24h17.64c0-8.83-2.7-13.24-8.1-13.24Z"/>
                                            <path class="cls-1" d="M217.1,41.85c-5.49,0-8.67,4.41-9.53,13.24h17.63c0-8.83-2.7-13.24-8.1-13.24Z"/>
                                            <path class="cls-1" d="M0,0V95.95c65.64,12.13,145.02,16.72,203.45,1.38,89.86-23.6,152.74,16.22,152.74,16.22V0H0ZM83.64,86.05h-12.71V33.41l-16.16,47.97h-11.1l-15.85-48.67v53.34h-10.83V16.31h18.26l15.94,49.05,16.43-49.05h16.03V86.05Zm51.96-6.03c-4.57,4.81-10.86,7.21-18.89,7.21s-13.77-2.44-18.29-7.33c-4.52-4.88-6.78-11.46-6.78-19.72s2.28-14.95,6.83-19.79c4.55-4.84,10.74-7.26,18.55-7.26s14.05,2.42,18.6,7.26c4.55,4.84,6.83,11.4,6.83,19.7s-2.28,15.13-6.85,19.93Zm46.48,2.67c-3.84,3.03-8.83,4.55-14.98,4.55s-11.88-.94-17.91-2.83v-10.22c6.57,2.89,12.18,4.33,16.83,4.33,5.43,0,8.15-1.95,8.15-5.84,0-2.51-2.24-4.71-6.71-6.6l-4.48-1.89c-4.86-2.07-8.34-4.3-10.43-6.69-2.09-2.39-3.14-5.34-3.14-8.86,0-4.9,1.78-8.71,5.33-11.43,3.55-2.72,8.52-4.08,14.91-4.08,4,0,8.76,.61,14.28,1.84v9.8c-5.31-1.95-9.71-2.92-13.2-2.92-5.49,0-8.24,1.79-8.24,5.37,0,2.36,2.03,4.35,6.09,5.99l3.85,1.56c5.76,2.29,9.76,4.61,12.02,6.97,2.25,2.35,3.38,5.39,3.38,9.09,0,4.87-1.92,8.82-5.75,11.85Zm41.11-4.92c4.45,0,9.46-1.08,15.04-3.25v6.63c-9.98,1.11-18.97,2.85-26.92,4.89-4.09-1.18-7.57-3.22-10.41-6.15-4.75-4.9-7.12-11.59-7.12-20.07,0-8.01,2.17-14.46,6.52-19.34,4.34-4.88,10.08-7.33,17.21-7.33s12.44,2.39,15.76,7.16c3.31,4.78,4.97,12.33,4.97,22.67h-30.48c.89,9.86,6.04,14.8,15.44,14.8Zm37.86,2.11c-4.57,.01-8.99,.16-13.25,.43V11.64h13.25V79.86Zm25.69,1.4c-4.54-.5-8.95-.85-13.25-1.08V11.64h13.25V81.26Zm37.42-3.51c4.45,0,9.46-1.08,15.04-3.25v9.8c-6.3,1.95-12.27,2.92-17.91,2.92-.55,0-1.08-.04-1.61-.06-3.69-.91-7.33-1.71-10.9-2.44-2.6-1.19-4.92-2.79-6.91-4.85-4.74-4.9-7.12-11.59-7.12-20.07,0-8.01,2.17-14.46,6.52-19.34,4.34-4.88,10.08-7.33,17.21-7.33s12.44,2.39,15.76,7.16c3.31,4.78,4.97,12.33,4.97,22.67h-30.48c.89,9.86,6.04,14.8,15.44,14.8Z"/>
                                        </g>
                                        <polygon class="cls-1" points="32.31 120.28 38.32 120.28 38.32 140.03 48.43 140.03 48.43 143.95 32.31 143.95 32.31 120.28"/>
                                        <path class="cls-1" d="M47,125.03v-6.32h6.01v5.47c0,3.08-2.61,5.6-6.01,5.6v-2.39c.72-.03,1.24-.16,1.62-.49,.37-.33,.59-.85,.62-1.61v-.26h-2.24Z"/>
                                        <polygon class="cls-1" points="56.74 120.28 72.12 120.28 72.12 124.21 62.75 124.21 62.75 129.97 70.43 129.97 70.43 133.51 62.75 133.51 62.75 140.03 72.86 140.03 72.86 143.95 56.74 143.95 56.74 120.28"/>
                                        <path class="cls-1" d="M87.52,140.61h-.37c-1.03,2.23-3.11,3.73-5.51,3.73-3.42,0-5.01-2.42-5.01-5.54v-12.61h6.01v10.64c0,1.18-.06,2.78,1.46,2.78,1.37,0,2.4-1.47,3.05-2.59v-10.84h6v17.75h-6l.37-3.34Z"/>
                                        <path class="cls-1" d="M104.01,129.54h.37c1.03-2.23,3.11-3.73,5.51-3.73h.69v5.57c-.72-.33-1.49-.46-2.27-.46-1.65,0-3.02,.69-3.92,2.19v10.84h-6v-17.75h6l-.37,3.34Z"/>
                                        <path class="cls-1" d="M112.45,135.08c0-3.24,1.37-9.27,9.37-9.27s9.4,6.03,9.4,9.27-1.4,9.27-9.4,9.27-9.37-6.03-9.37-9.27m9.37,5.73c2.43,0,3.02-3.83,3.02-5.73s-.59-5.73-3.02-5.73-2.99,3.83-2.99,5.73,.59,5.73,2.99,5.73"/>
                                        <path class="cls-1" d="M145.92,143.95v-3.26c-1.22,2.44-3.05,3.66-5.5,3.66-1.99,0-3.55-.76-4.69-2.29-1.14-1.52-1.71-3.61-1.71-6.25,0-2.89,.65-5.22,1.94-6.97,1.29-1.76,2.99-2.64,5.1-2.64,1.95,0,3.58,.79,4.86,2.37v-9.87h3.01v25.26h-3.01Zm0-13.23c-1.55-1.44-3.02-2.16-4.41-2.16-2.87,0-4.3,2.31-4.3,6.92,0,4.06,1.28,6.1,3.83,6.1,1.66,0,3.29-.96,4.88-2.87v-8Z"/>
                                        <path class="cls-1" d="M167.01,143.39c-2.01,.64-3.72,.96-5.15,.96-2.43,0-4.41-.85-5.95-2.55-1.53-1.7-2.3-3.91-2.3-6.61s.68-4.79,2.03-6.48c1.35-1.68,3.08-2.53,5.19-2.53,2,0,3.54,.75,4.63,2.24,1.09,1.49,1.63,3.61,1.63,6.37l-.02,.98h-10.41c.44,4.13,2.35,6.19,5.76,6.19,1.25,0,2.78-.35,4.59-1.05v2.5Zm-10.21-10h7.28c0-3.23-1.14-4.85-3.43-4.85s-3.58,1.62-3.85,4.85m1.52-9.97l3.66-5.13h3.46l-4.88,5.13h-2.25Z"/>
                                        <path class="cls-1" d="M172.25,150.27v-23.69h2.99v3.26c1.23-2.43,3.06-3.65,5.52-3.65,1.99,0,3.55,.76,4.69,2.29,1.14,1.52,1.71,3.61,1.71,6.25,0,2.88-.65,5.2-1.94,6.96-1.29,1.77-2.99,2.65-5.1,2.65-1.95,0-3.58-.79-4.88-2.37v8.29h-2.99Zm2.99-10.46c1.54,1.45,3.01,2.17,4.41,2.17,2.88,0,4.32-2.31,4.32-6.92,0-4.08-1.28-6.11-3.83-6.11-1.67,0-3.3,.95-4.89,2.86v8Z"/>
                                        <path class="cls-1" d="M200.35,141.75c-1.79,1.74-3.52,2.61-5.18,2.61-1.37,0-2.5-.45-3.4-1.35-.9-.9-1.35-2.04-1.35-3.41,0-1.9,.76-3.36,2.27-4.38,1.51-1.02,3.69-1.53,6.51-1.53h.71v-2.1c0-2.02-.98-3.02-2.95-3.02-1.58,0-3.29,.51-5.12,1.54v-2.61c2.02-.86,3.91-1.29,5.67-1.29s3.2,.44,4.08,1.31c.88,.88,1.32,2.23,1.32,4.08v7.87c0,1.8,.53,2.7,1.58,2.7,.13,0,.33-.02,.58-.06l.21,1.74c-.68,.34-1.43,.51-2.25,.51-1.4,0-2.29-.87-2.67-2.61m-.44-1.71v-4.49l-1-.03c-1.64,0-2.97,.33-3.98,.98-1.01,.66-1.52,1.52-1.52,2.58,0,.76,.25,1.4,.76,1.92,.51,.52,1.13,.79,1.85,.79,1.25,0,2.54-.58,3.89-1.75"/>
                                        <path class="cls-1" d="M209.02,143.95v-17.37h2.99v3.26c1.18-2.43,2.91-3.65,5.17-3.65,.3,0,.62,.03,.96,.08v2.95c-.52-.18-.97-.27-1.37-.27-1.89,0-3.48,1.18-4.76,3.55v11.45h-2.99Z"/>
                                        <path class="cls-1" d="M226.71,144.35c-1.52,0-2.7-.46-3.56-1.38-.85-.92-1.27-2.19-1.27-3.82v-10.2h-2.07v-2.37h2.07v-3.15l2.99-.3v3.46h4.31v2.37h-4.31v9.63c0,2.27,.93,3.41,2.8,3.41,.4,0,.88-.07,1.44-.21v2.17c-.92,.27-1.72,.4-2.4,.4"/>
                                        <path class="cls-1" d="M245.49,143.39c-2.01,.64-3.72,.96-5.15,.96-2.43,0-4.41-.85-5.95-2.55-1.53-1.7-2.3-3.91-2.3-6.61s.68-4.79,2.03-6.48c1.35-1.68,3.08-2.53,5.19-2.53,2,0,3.54,.75,4.63,2.24,1.09,1.49,1.63,3.61,1.63,6.37l-.02,.98h-10.41c.44,4.13,2.35,6.19,5.76,6.19,1.25,0,2.78-.35,4.59-1.05v2.5Zm-10.21-10h7.28c0-3.23-1.14-4.85-3.43-4.85s-3.58,1.62-3.84,4.85"/>
                                        <path class="cls-1" d="M250.73,143.95v-17.37h2.99v3.26c1.46-2.43,3.33-3.65,5.62-3.65s3.71,1.22,4.51,3.65c1.42-2.44,3.26-3.66,5.53-3.66,1.46,0,2.59,.45,3.39,1.35,.8,.9,1.2,2.16,1.2,3.78v12.64h-3.01v-12.14c0-1.98-.74-2.97-2.23-2.97s-3.17,1.16-4.88,3.47v11.64h-3.01v-12.14c0-1.99-.76-2.99-2.28-2.99s-3.13,1.16-4.85,3.49v11.64h-2.99Z"/>
                                        <path class="cls-1" d="M291.88,143.39c-2.01,.64-3.72,.96-5.15,.96-2.43,0-4.41-.85-5.95-2.55-1.53-1.7-2.3-3.91-2.3-6.61s.67-4.79,2.03-6.48c1.35-1.68,3.08-2.53,5.19-2.53,2,0,3.54,.75,4.63,2.24,1.09,1.49,1.63,3.61,1.63,6.37v.98h-10.42c.44,4.13,2.35,6.19,5.76,6.19,1.25,0,2.78-.35,4.59-1.05v2.5Zm-10.21-10h7.28c0-3.23-1.14-4.85-3.43-4.85s-3.58,1.62-3.84,4.85"/>
                                        <path class="cls-1" d="M297.13,143.95v-17.37h2.99v3.26c1.58-2.43,3.52-3.65,5.81-3.65,1.43,0,2.56,.48,3.42,1.43,.85,.95,1.28,2.24,1.28,3.85v12.48h-2.99v-11.45c0-1.29-.18-2.21-.54-2.76-.36-.55-.96-.83-1.79-.83-1.83,0-3.56,1.26-5.18,3.79v11.24h-2.99Z"/>
                                        <path class="cls-1" d="M321.39,144.35c-1.52,0-2.71-.46-3.56-1.38-.85-.92-1.28-2.19-1.28-3.82v-10.2h-2.07v-2.37h2.07v-3.15l2.99-.3v3.46h4.31v2.37h-4.31v9.63c0,2.27,.93,3.41,2.79,3.41,.4,0,.88-.07,1.44-.21v2.17c-.92,.27-1.72,.4-2.4,.4"/>
                                    </g>
                                </g>
                            </svg>
                        </a>

                        <a href="https://www.grandest.fr/" target="_blank" class="partner--grandest">
                            <svg width="127" height="39" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="127" height="39"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 .079h126.453v38.92H0V.08Z" fill="#fff"/></mask><g mask="url(#a)"><path fill-rule="evenodd" clip-rule="evenodd" d="M126.453 35.351c0 2.015-1.674 3.649-3.737 3.649H3.738C1.673 39-.001 37.366-.001 35.35V3.728C0 1.712 1.673.078 3.738.078h118.978c2.063 0 3.737 1.634 3.737 3.65V35.35Z" fill="#FEFEFE"/></g><path fill-rule="evenodd" clip-rule="evenodd" d="m4 34 1.535-4h.99L8 34h-.924l-.323-.887H5.26L4.932 34H4Zm1.49-1.562h1.058l-.51-1.432-.548 1.432ZM9 33.225V30h.927v3.014l.14.25.273.032H12V34h-1.994C9.334 34 9 33.742 9 33.225ZM12 31.352v-.34c0-.376.114-.64.336-.797.21-.14.485-.211.836-.215h.3c.152 0 .373.015.668.04.292.032.528.066.706.116v.59a13.03 13.03 0 0 0-1.074-.055h-.43l-.387.065c-.083.042-.126.148-.126.317v.19l.1.301.362.076h.687c.448 0 .75.165.902.491.08.163.12.345.12.552v.26c0 .483-.174.795-.525.942a1.695 1.695 0 0 1-.669.115c-.715 0-1.27-.051-1.676-.16v-.59a12.43 12.43 0 0 0 1.7.05l.165-.043.176-.284v-.21c0-.186-.065-.302-.193-.344l-.198-.027h-.66c-.745 0-1.12-.345-1.12-1.04ZM16 34l1.535-4h.99L20 34h-.924l-.323-.887H17.26l-.328.887H16Zm1.49-1.562h1.058l-.51-1.432-.548 1.432ZM20.298 30.526c.157-.235.38-.392.66-.467.154-.037.328-.059.526-.059.565 0 1.071.059 1.516.18v.588l-.163-.017-.176-.013-.222-.016-.241-.011a7.317 7.317 0 0 0-.5-.018l-.343.023-.237.098-.167.216c-.08.209-.116.538-.116.991 0 .454.057.782.175.986.114.2.341.304.67.304.371 0 .75-.011 1.13-.035l.19-.01v.584c-.357.1-.816.15-1.382.15h-.134c-.535-.002-.913-.174-1.143-.515-.229-.337-.341-.845-.341-1.513 0-.671.098-1.153.298-1.446Z" fill="#212121"/><path fill-rule="evenodd" clip-rule="evenodd" d="m23.338 30.145.307-.113.244-.032c.06 0 .361.006.902.019.54.01.944.033 1.209.068v.631h-1.803l-.287.097-.036.208v.622l1.844.052v.632l-1.844.049v.62l.13.25.257.034H26v.625c-.21.026-.722.052-1.543.076l-.401.017h-.118l-.17-.01-.255-.057-.263-.128c-.167-.132-.25-.333-.25-.605v-2.374c0-.331.113-.558.338-.68ZM28.298 30.526a1.13 1.13 0 0 1 .66-.467c.155-.037.329-.059.525-.059.567 0 1.072.059 1.517.18v.588l-.163-.017-.175-.013-.223-.016-.24-.011a7.348 7.348 0 0 0-.5-.018l-.343.023-.236.098-.168.216c-.08.209-.116.538-.116.991 0 .454.055.782.176.986.114.2.34.304.668.304.372 0 .749-.011 1.13-.035l.19-.01v.584c-.357.1-.816.15-1.38.15h-.137c-.533-.002-.91-.174-1.14-.515-.229-.337-.343-.845-.343-1.513 0-.671.1-1.153.298-1.446ZM32 34v-4h.792v1.715h1.416V30H35v4h-.792v-1.585h-1.416V34H32ZM36 34l1.535-4h.988L40 34h-.926l-.322-.887H37.26l-.33.887H36Zm1.49-1.562h1.056l-.509-1.432-.547 1.432ZM40 34l.336-4h1.02l.638 2.73.635-2.73h1.014L44 34h-.721l-.252-2.673L42.408 34h-.816l-.646-2.673L40.72 34H40ZM45 34v-4h1.823c.421 0 .725.114.915.336.175.2.262.5.262.902 0 .231-.026.433-.08.599l-.19.386-.287.203c-.151.064-.32.1-.502.1-.137 0-.354-.017-.657-.05a5.571 5.571 0 0 1-.474-.06V34H45Zm1.76-3.32h-.95v1.168h.95l.226-.049c.129-.072.196-.26.196-.56-.004-.371-.146-.56-.422-.56ZM48 34l1.535-4h.988L52 34h-.926l-.322-.887H49.26l-.33.887H48Zm1.49-1.562h1.058l-.51-1.432-.548 1.432ZM52.136 33.181a2.818 2.818 0 0 1-.113-.551 7.846 7.846 0 0 1 .006-1.292c.023-.189.062-.369.12-.544.058-.17.138-.317.24-.431.213-.242.533-.363.96-.363.322 0 .594.011.818.035.225.022.483.066.77.134v.586l-.094-.011-.23-.026-.314-.022a9.407 9.407 0 0 0-.761-.033c-.304 0-.502.098-.6.288-.1.19-.146.543-.146 1.052 0 .513.043.852.134 1.026.095.174.286.262.577.262l.349-.064.265-.117.09-.066v-.702h-.576v-.478c.224-.087.552-.127.984-.127l.385.01v2.22h-.566l-.215-.264-.424.231c-.408.098-.755.087-1.04-.03l-.393-.276a1.228 1.228 0 0 1-.226-.447ZM56 34v-4h.992l2.03 2.585V30H60v4h-.978l-2.04-2.555V34H56Z" fill="#212121"/><path fill-rule="evenodd" clip-rule="evenodd" d="m60.338 30.145.31-.113.24-.032c.06 0 .362.006.903.019.542.01.942.033 1.209.068v.631h-1.801l-.287.097-.038.208v.622l1.846.052v.632l-1.846.049v.62l.13.25.257.034H63v.625c-.207.026-.722.052-1.54.076l-.404.017h-.118l-.17-.01-.255-.057-.263-.128c-.167-.132-.25-.333-.25-.605v-2.374c0-.331.115-.558.338-.68Z" fill="#212121"/><mask id="b" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="126" height="39"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 39h126V0H0v39Z" fill="#fff"/></mask><g mask="url(#b)" fill-rule="evenodd" clip-rule="evenodd" fill="#212121"><path d="M63.084 32.345h1.832v-.69h-1.832v.69ZM66 34l1.535-4h.99L70 34h-.924l-.323-.887H67.26l-.328.887H66Zm1.49-1.562h1.058l-.51-1.432-.548 1.432ZM71.771 30c.355 0 .618.09.79.267.211.213.318.538.318.979 0 .511-.11.855-.328 1.021l-.16.105-.16.054L73 34h-.874l-.67-1.516-.68-.077V34H70v-4h1.771Zm-.988 1.81h.916l.307-.112c.061-.073.091-.219.091-.441 0-.223-.032-.374-.098-.456l-.3-.125h-.916v1.134ZM73 34v-4h2.203C76.4 30 77 30.674 77 32.018c0 .83-.257 1.403-.771 1.724-.272.172-.617.258-1.026.258H73Zm3.008-1.988c0-.663-.133-1.073-.41-1.23l-.473-.103h-1.133v2.638h1.133c.59 0 .883-.437.883-1.305ZM78.338 30.145l.312-.113.239-.032c.06 0 .363.006.904.019.54.01.942.033 1.207.068v.631h-1.801l-.284.097-.041.208v.622l1.846.052v.632l-1.846.049v.62l.13.25.259.034H81v.625c-.207.026-.72.052-1.54.076l-.404.017h-.116l-.173-.01-.254-.057-.263-.128c-.167-.132-.25-.333-.25-.605v-2.374c0-.331.115-.558.338-.68ZM81 34v-4h.992l2.03 2.585V30H85v4h-.978l-2.035-2.555V34H81ZM85 34v-4h.992l2.03 2.585V30H89v4h-.978l-2.035-2.555V34H85ZM89.338 30.145l.31-.113.24-.032c.06 0 .362.006.903.019.54.01.944.033 1.209.068v.631h-1.803l-.285.097-.038.208v.622l1.844.052v.632l-1.844.049v.62l.13.25.257.034H92v.625c-.21.026-.722.052-1.543.076l-.401.017h-.118l-.173-.01-.252-.057-.263-.128c-.167-.132-.25-.333-.25-.605v-2.374c0-.331.113-.558.338-.68ZM95 33.225V30h.929v3.014l.138.25.273.032H98V34h-1.994c-.672 0-1.006-.258-1.006-.775Z"/><path d="m97.105 33-.077-.43a5.263 5.263 0 0 1-.028-.587c0-.227.016-.443.054-.646.03-.205.079-.374.135-.52l.242-.363.3-.238.379-.135c.233-.052.484-.081.743-.081.261 0 .45.004.571.011l.382.046.346.1.289.166.24.254.167.35c.101.268.152.58.152.938 0 .354-.019.628-.051.82-.033.194-.08.358-.131.498l-.224.354-.291.238-.37.137c-.339.08-.78.107-1.327.075-.282-.009-.485-.035-.613-.079l-.331-.138-.23-.18-.185-.25-.142-.34Zm.923-1.783-.056.345c-.014.131-.021.3-.021.5 0 .203.01.373.028.516l.09.365.197.227c.154.089.398.133.734.133.317 0 .557-.044.713-.138.224-.133.336-.511.336-1.134 0-.423-.03-.7-.084-.836l-.159-.293-.202-.135-.497-.07-.396.01-.238.033-.198.083-.142.154-.105.24ZM103.771 30c.355 0 .618.09.791.267.21.213.317.538.317.979 0 .511-.11.855-.328 1.021l-.16.105-.161.054L105 34h-.874l-.67-1.516-.679-.077V34H102v-4h1.771Zm-.988 1.81h.916l.307-.112c.061-.073.091-.219.091-.441 0-.223-.032-.374-.098-.456l-.3-.125h-.916v1.134ZM107.771 30c.355 0 .618.09.791.267.21.213.317.538.317.979 0 .511-.11.855-.328 1.021l-.16.105-.161.054L109 34h-.874l-.67-1.516-.679-.077V34H106v-4h1.771Zm-.988 1.81h.916l.307-.112c.061-.073.091-.219.091-.441 0-.223-.032-.374-.098-.456l-.3-.125h-.916v1.134ZM109 34l1.535-4h.99L113 34h-.924l-.323-.887h-1.493l-.328.887H109Zm1.49-1.562h1.058l-.511-1.432-.547 1.432ZM113.591 34h.818v-4h-.818v4ZM115 34v-4h.992l2.03 2.585V30H119v4h-.978l-2.035-2.555V34H115ZM120.338 30.145l.312-.113.239-.032c.06 0 .361.006.902.019.542.01.944.033 1.209.068v.631h-1.801l-.287.097-.038.208v.622l1.846.052v.632l-1.846.049v.62l.13.25.257.034H123v.625c-.207.026-.72.052-1.541.076l-.403.017h-.116l-.173-.01-.254-.057-.263-.128c-.167-.132-.25-.333-.25-.605v-2.374c0-.331.115-.558.338-.68ZM5 14.055V14C5 8.503 9.183 4 14.905 4c3.4 0 5.453.937 7.42 2.652l-2.618 3.232c-1.456-1.246-2.751-1.963-4.939-1.963-3.022 0-5.422 2.735-5.422 6.024V14c0 3.536 2.373 6.132 5.72 6.132 1.512 0 2.86-.385 3.914-1.16V16.21h-4.185v-3.674H23v8.397C21.056 22.62 18.385 24 14.934 24 9.049 24 5 19.774 5 14.055ZM25 9.282h4.235v2.966C30.1 10.215 31.49 8.897 34 9.006v4.367h-.226c-2.812 0-4.54 1.675-4.54 5.19V24H25V9.282Z"/><path d="M33 19.544v-.054c0-3.181 2.528-4.65 6.135-4.65 1.53 0 2.641.245 3.72.599v-.245c0-1.71-1.11-2.661-3.266-2.661-1.65 0-2.81.297-4.204.788l-1.078-3.152C35.983 9.46 37.63 9 40.21 9c2.36 0 4.065.597 5.143 1.631C46.491 11.715 47 13.321 47 15.275v8.452h-4.174v-1.574c-1.05 1.113-2.498 1.847-4.6 1.847C35.356 24 33 22.425 33 19.544Zm9.913-.951v-.737c-.74-.326-1.706-.54-2.756-.54-1.848 0-2.98.707-2.98 2.01v.055c0 1.113.964 1.767 2.356 1.767 2.015 0 3.38-1.061 3.38-2.555ZM50 9.276h4.023v2.088C54.949 10.127 56.143 9 58.18 9 61.225 9 63 11.088 63 14.47V24h-4.025v-8.21c0-1.982-.901-2.996-2.436-2.996-1.536 0-2.516 1.014-2.516 2.995V24H50V9.276ZM64 16.513v-.052c0-4.838 3.326-7.488 6.935-7.488 2.302 0 3.722 1 4.747 2.162V4H80v19.729h-4.318v-2.08C74.629 23.003 73.18 24 70.935 24 67.383 24 64 21.351 64 16.513Zm11.738 0v-.052c0-2.406-1.677-4.002-3.696-4.002-2.014 0-3.722 1.567-3.722 4.003v.051c0 2.405 1.708 4.002 3.722 4.002 2.02 0 3.696-1.597 3.696-4.002ZM101 21.805l1.793-2.707c1.598 1.136 3.281 1.733 4.662 1.733 1.214 0 1.765-.433 1.765-1.084v-.054c0-.893-1.433-1.192-3.064-1.679-2.067-.595-4.411-1.542-4.411-4.359v-.054c0-2.951 2.427-4.601 5.404-4.601 1.879 0 3.921.622 5.517 1.677l-1.596 2.844c-1.465-.838-2.924-1.352-4.001-1.352-1.02 0-1.544.433-1.544 1v.053c0 .813 1.406 1.194 3.005 1.733 2.069.678 4.47 1.652 4.47 4.305v.054c0 3.225-2.456 4.686-5.655 4.686-2.071 0-4.385-.68-6.345-2.195ZM114.684 19.515v-7.076H113V8.815h1.684V5h3.998v3.815H122v3.624h-3.318v6.379c0 .974.397 1.45 1.292 1.45.737 0 1.391-.196 1.972-.531v3.397c-.84.529-1.815.866-3.157.866-2.447 0-4.105-1.03-4.105-4.485ZM91 23h8v-4h-8v4ZM91 16h8v-4h-8v4ZM91 8h8V4h-8v4ZM85 24h4V4h-4v20ZM4 27.836h118v-1.672H4v1.672Z"/></g></svg>
                        </a>

                        <span class="partner--epci">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 347.52 244.54">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #fff;
                                        }
                                    </style>
                                </defs>
                                <g id="Calque_1" data-name="Calque 1"/>
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path class="cls-1" d="M223.61,47.03l-18.85-10.12,9.31-19.25-24.76,8.05V0l-15.45,14.8L158.43,0V26.27l-24.98-8.12,9.3,19.27-18.84,10.1,24.51,7.96-15.19,20.91,21.2-2.9,3.78,21.05,15.44-21.25,15.44,21.25,3.8-21.06,21.19,2.9-15.44-21.25,24.98-8.12Zm-36.32,18.76l-2.07,11.85-9.75-13.42h-.01l-1.79-2.45-1.81,2.48-.02-.02-9.75,13.42-2.07-11.85-11.91,1.69,11.38-15.55-18.31-5.95,10.62-5.63-5.29-10.8,15.77,5.12,.02-.05,2.96,.95-.05-19.63,8.64,8.37,8.64-8.37v19.18l18.49-6.09-5.29,10.8,10.62,5.63-15.77,5.12h0l-2.95,.97,11.59,15.9-11.91-1.69Z"/>
                                        <g>
                                            <path class="cls-1" d="M0,191.36v52.11H12.29v-25.55l.39-.21c4.14,3.87,8.28,7.75,12.45,11.64,4.18-3.92,8.28-7.77,12.38-11.62l.41,.23v25.51h12.4v-52.2c-8.56,7.77-16.84,15.29-25.19,22.88-8.35-7.58-16.62-15.09-25.12-22.8Z"/>
                                            <path class="cls-1" d="M157.98,191.31c-8.58,7.79-16.83,15.29-25.16,22.85-8.34-7.57-16.61-15.08-25.1-22.78v52.05h12.34v-25.99c4.47,4.18,8.61,8.05,12.76,11.92,4.18-3.91,8.28-7.75,12.37-11.59l.44,.26v25.43h12.33v-52.14Z"/>
                                            <path class="cls-1" d="M269.61,192.33v51.15h34.39v-11.1h-21.4v-9.65h17.39v-10.45h-17.43v-8.98h20.41v-10.97h-33.35Z"/>
                                            <path class="cls-1" d="M63.25,192.36v51.06h34.39v-11.05h-21.39v-9.66h17.38v-10.44h-17.43v-9.01h20.34v-10.9H63.25Z"/>
                                            <path class="cls-1" d="M344.28,205.29c0-3.34-.05-6.83,.03-10.31,.03-1.11-.41-1.49-1.36-1.8-5.72-1.91-11.57-2.34-17.49-1.45-4.22,.63-8.01,2.32-10.84,5.64-5.94,6.97-4.16,17.8,3.84,22.32,3.73,2.11,7.84,3.54,11.74,5.35,1.29,.6,2.61,1.28,3.64,2.23,1.71,1.55,1.27,3.58-.82,4.61-.5,.25-1.04,.43-1.59,.57-3.68,.96-7.37,.68-10.97-.25-2.75-.71-5.4-1.77-8.26-2.73,0,3.62,.06,7.25-.03,10.88-.03,1.14,.37,1.63,1.4,1.97,6.92,2.28,13.97,2.84,21.13,1.5,7.54-1.42,11.98-5.9,12.7-12.87,.59-5.69-1.07-10.51-6.19-13.63-2.05-1.25-4.22-2.32-6.38-3.39-2.8-1.39-5.68-2.62-8.45-4.06-1.3-.67-2.4-1.72-2.24-3.39,.16-1.71,1.42-2.52,2.87-3.09,3.14-1.25,6.39-1.04,9.56-.38,2.57,.54,5.06,1.49,7.7,2.29Z"/>
                                            <path class="cls-1" d="M0,191.36c8.49,7.71,16.76,15.21,25.12,22.8,8.36-7.59,16.64-15.11,25.19-22.88v52.2h-12.4v-25.51l-.41-.23c-4.1,3.85-8.2,7.7-12.38,11.62-4.17-3.9-8.31-7.77-12.45-11.64l-.39,.21v25.55H0v-52.11Z"/>
                                            <path class="cls-1" d="M170.94,243.48v-51.12c.46-.03,.9-.08,1.34-.08,5.61,0,11.21-.08,16.82,.03,4.51,.09,8.87,.98,12.81,3.37,5.3,3.22,7.58,10.18,5.13,15.74-1.04,2.35-2.88,3.92-5.26,5.18,3.3,1.33,5.64,3.47,7.03,6.56,2.76,6.13,.34,13.63-5.41,17.07-3.73,2.23-7.85,3.1-12.07,3.21-6.73,.17-13.46,.04-20.38,.04Zm12.38-10.51c2.7,0,5.33,.22,7.9-.05,3.31-.35,5.13-2.5,5.15-5.49,.02-3.03-1.71-5.18-5.04-5.58-2.62-.31-5.3-.06-8.01-.06v11.19Zm-.02-19.64c2.65-.14,5.11-.09,7.53-.44,2.58-.37,3.82-1.95,3.94-4.37,.13-2.8-1.01-4.86-3.57-5.34-2.57-.48-5.25-.37-7.89-.53v10.68Z"/>
                                            <path class="cls-1" d="M157.98,191.31v52.14h-12.33v-25.43l-.44-.26c-4.1,3.84-8.2,7.68-12.37,11.59-4.15-3.87-8.29-7.74-12.76-11.92v25.99h-12.34v-52.05c8.49,7.7,16.75,15.21,25.1,22.78,8.32-7.56,16.57-15.05,25.16-22.85Z"/>
                                            <path class="cls-1" d="M249.94,224.95c3.23,5.97,6.6,12.18,10.08,18.6-4.54,0-8.79,.03-13.04-.05-.42,0-.97-.64-1.2-1.11-2.41-4.83-4.79-9.67-7.11-14.53-.44-.92-.93-1.33-1.98-1.26-1.32,.1-2.66,.02-4.16,.02v16.81h-12.69v-51.05c.31-.04,.65-.11,1-.11,6.33,0,12.66-.07,18.99,.03,3.35,.05,6.64,.67,9.72,2.09,5.23,2.43,8.5,6.35,9.25,12.18,.63,4.91,.17,9.63-3.21,13.51-1.55,1.78-3.6,3.14-5.64,4.86Zm-17.44-8.69c2.17,0,4.17,.02,6.16-.01,.77-.01,1.54-.09,2.29-.23,2.79-.51,4.58-2.54,4.83-5.41,.29-3.28-.99-5.77-3.71-6.72-3.12-1.09-6.34-.42-9.57-.59v12.97Z"/>
                                            <path class="cls-1" d="M269.61,192.33h33.35v10.97h-20.41v8.98h17.43v10.45h-17.39v9.65h21.4v11.1h-34.39v-51.15Z"/>
                                            <path class="cls-1" d="M63.25,192.36h33.3v10.9h-20.34v9.01h17.43v10.44h-17.38v9.66h21.39v11.05H63.25v-51.06Z"/>
                                            <path class="cls-1" d="M344.28,205.29c-2.64-.8-5.13-1.75-7.7-2.29-3.18-.66-6.42-.87-9.56,.38-1.45,.58-2.71,1.38-2.87,3.09-.16,1.68,.94,2.72,2.24,3.39,2.78,1.43,5.65,2.67,8.45,4.06,2.16,1.07,4.33,2.14,6.38,3.39,5.11,3.12,6.78,7.94,6.19,13.63-.73,6.97-5.16,11.45-12.7,12.87-7.15,1.35-14.21,.78-21.13-1.5-1.03-.34-1.43-.83-1.4-1.97,.09-3.63,.03-7.27,.03-10.88,2.86,.96,5.51,2.02,8.26,2.73,3.61,.93,7.3,1.21,10.97,.25,.54-.14,1.08-.32,1.59-.57,2.09-1.03,2.53-3.05,.82-4.61-1.04-.94-2.36-1.63-3.64-2.23-3.9-1.82-8.01-3.25-11.74-5.35-8.01-4.52-9.78-15.35-3.84-22.32,2.83-3.32,6.62-5,10.84-5.64,5.92-.89,11.77-.46,17.49,1.45,.95,.32,1.39,.7,1.36,1.8-.09,3.48-.03,6.97-.03,10.31Z"/>
                                        </g>
                                        <path class="cls-1" d="M4.09,126.16c0-4.81-.04-10.13,.06-15.45,.01-.59,.74-1.5,1.32-1.68,3.34-1,6.7-2.41,10.1-2.58,4.77-.23,9.74-.14,14.35,.94,13.71,3.23,21.22,15.97,18.46,30.37-1.63,8.49-6.56,15.21-11.64,21.85-1.23,1.6-2.5,3.18-4,5.08h19.14v15.75H0c.46-.66,.78-1.17,1.16-1.64,6.49-8.11,13.05-16.18,19.47-24.35,3.63-4.63,6.49-9.71,8.36-15.34,3.28-9.86-2-16.91-12.86-15.85-4.04,.4-7.98,1.89-12.03,2.9Z"/>
                                        <path class="cls-1" d="M58.63,126.16c0-4.81-.04-10.13,.06-15.45,.01-.59,.74-1.5,1.32-1.68,3.34-1,6.7-2.41,10.1-2.58,4.77-.23,9.74-.14,14.35,.94,13.71,3.23,21.22,15.97,18.46,30.37-1.63,8.49-6.56,15.21-11.64,21.85-1.23,1.6-2.5,3.18-4,5.08h19.14v15.75H54.54c.46-.66,.78-1.17,1.16-1.64,6.49-8.11,13.05-16.18,19.47-24.35,3.63-4.63,6.49-9.71,8.36-15.34,3.28-9.86-2-16.91-12.86-15.85-4.04,.4-7.98,1.89-12.03,2.9Z"/>
                                        <path class="cls-1" d="M132.05,106.85v73.68h49.49v-15.96h-30.81v-13.88h25.08v-15.06h-25.05v-13.06h29.18v-15.72h-47.88Z"/>
                                        <path class="cls-1" d="M314.78,127.12c0-5.38,.04-10.77-.07-16.16-.01-.52-.93-1.2-1.57-1.51-7.62-3.68-15.76-4.59-24.04-3.9-6.47,.54-12.63,2.41-18.04,6.23-11.86,8.39-17.39,19.89-16.55,34.36,.91,15.6,8.69,26.82,22.88,32.95,11.14,4.8,22.74,3.76,34.08-.07,4-1.35,3.95-1.49,3.95-5.76v-12.97c-.48-.02-.64-.07-.76-.03-.82,.33-1.63,.69-2.45,1.03-6.46,2.66-13.15,3.98-20.15,3.39-10.13-.84-17.6-8.35-18.69-18.78-1.07-10.14,5-19.42,14.52-22.3,5.34-1.61,10.71-1.37,16-.02,3.62,.92,7.12,2.29,10.89,3.52Z"/>
                                        <path class="cls-1" d="M325.64,106.89v73.6h18.44V106.89h-18.44Z"/>
                                        <path class="cls-1" d="M245.75,126.44c-1.01-6.82-4.74-11.83-10.66-15.29-5.2-3.04-10.91-4.19-16.8-4.32-8.23-.18-16.46-.05-24.69-.04-.57,0-1.14,.08-1.73,.13v73.63h18.51v-23.2c4.6-.24,8.83-.24,13-.74,6.7-.8,12.81-3.2,17.39-8.4,5.56-6.31,6.14-13.9,4.97-21.78Zm-18.46,5.93c-.3,4.73-2.85,7.96-7.22,8.58-3.05,.44-6.18,.37-9.47,.53v-19.04c3.54,.28,7.05,.19,10.39,.9,4.22,.91,6.57,4.69,6.3,9.02Z"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </div>
                    <div class="link-footer">
                        {% if current_language_code == 'fr' %}
                            <a class="big-chevron" href="{{ vk_entity_identifier_url('agency--members') }}">{{ 'Voir tous nos partenaires'|t({}, {'context' : 'footer'}) }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="footer-menu-legals">
                    <div class="copyright">
                        {{ 'Moselle© 2019.'|t({}, {'context' : 'footer'}) }}
                    </div>
                    {{ _context['elements']['mosl_footerlegals'] }}
                </div>
            </div>
        </div>
        <div class="footer-bottom">

        </div>
    </div>
{% endif %}
