{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set classes = [
    'region',
    'region-' ~ region|clean_class,
] %}

{{ attach_library('mosl/region.header') }}

{% if content %}
    <div class="region region-header custom-hidden">
        <div class="wrapper">
            <div class="branding">
                {{ elements.mosl_branding }}
            </div>
            <div class="wrapper-bg">
                <div class="menu-header">
                    <div class="container">
                        {{ elements.menuheader }}
                    </div>
                </div>

{#                <div class="menu-main">#}
{#                    <div class="container">#}
{#                        <div class="menu desktop">#}
{#                            {{ elements.menuprincipal }}#}
{#                        </div>#}
{#                        <div class="menu-toggle">#}
{#                            <div class="bar"></div>#}
{#                            <div class="bar"></div>#}
{#                            <div class="bar"></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <div class="menu-main">
                    <div class="container">
                        <div class="menu desktop">
                            {{ elements.mosl_main_menu }}
                        </div>
                        <div class="menu-toggle">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu mobile">
        {{ elements.menu_mobile }}
    </div>
    {{ elements.searchcontent }}

{% endif %}
