{#
# Template d'initialisation javascript pour l'affichage des listes
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig
#
# @version 3.2.2
#}

{# // On référence les listes qui ne comportent pas de carte interactive #}
{% set listsWithoutMap = ['listemini', 'carousel', 'caroussel'] %}
{# DN CONSULTANTS 21.10.2022 : commenté car l'override de Vanksen a squizzé le code d'init de la carto mosl #}
{# 'specifique/mosl/liste-mosl' #}

<script type="text/javascript">

    var bridgeTotalResults = {{ listInfos.totalProducts }};
    var bridgeCurrentMoteurId = '';
    {%  if data.moteur is defined and data.moteur.id is defined %}
        bridgeCurrentMoteurId = '{{ data.moteur.id }}';
    {% endif %}

    if (window.bridgeDocumentReady === undefined || typeof window.bridgeDocumentReady !== "function") {
        window.bridgeDocumentReady = function (fn) {
            // see if DOM is already available
            if (document.readyState === "complete" || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 10);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        };
    }
    bridgeDocumentReady(function() {

        {% if data is defined and bridge_is_object(data.moteur) and data.moteur.id is defined %}
            {% include '@pylot_bridge/templates-bridge-twig/init-moteur.html.twig' %}
            window.bridgeMoteur{{ data.moteur.id }}.calcMoteur();

            window.onpopstate = function(event) {
                location.reload();
                // TODO : gérer en JS sans recharger
                // window.bridgeMoteur<?=  $moteur->id ?>.calcMoteur();
                // alert(`location: ${document.location}, state: ${JSON.stringify(event.state)}`)
            }

                    {# }
                 *           FIN INITIALISATION DU MOTEUR DE RECHERCHE
                 */ #}
        {% endif %}

{# }
     *           AUTRES INITIALISATIONS
 */ #}

        window.bridgeMapOptions = {
            centerLat: 48.858,
            centerLng: 2.351,
            markerIcon: '{{ bridgeParameters.marker_map }}',
            activeMarkerIcon: '{{ bridgeParameters.marker_map_actif }}',
            homeMarkerIcon: '{{ bridgeParameters.marker_home }}'
        }

        if('{{ bridgeParameters.maps_center_lat }}' !== '') {
            window.bridgeMapOptions.centerLat = {{ bridgeParameters.maps_center_lat }};
        }
        if('{{ bridgeParameters.maps_center_lon }}' !== '') {
            window.bridgeMapOptions.centerLng = {{ bridgeParameters.maps_center_lon }};
        }


        jQuery('.bridgeMapSwitcher li').on('shown', function(e) {
            if(window.mapService) {
                window.mapService.setZoom(14);
                setTimeout(function() {
                    window.mapService.fitboundstomarkers();
                    // window.mapService.reDraw();
                    bridgeRefreshMap();
                }, 250);
            }
        });


        {#
        } /**
     *          FIN DES AUTRES INITIALISATIONS
     */
        #}
    });
</script>

{#
 *          INITIALISATION DE LA CARTE INTERACTIVE
 *          (pas souhaitée si on n'affiche que le moteur)
 */
#}
{% if listInfos.bridgeModeleListe not in listsWithoutMap and (onlyMoteur is not defined or onlyMoteur == false) %}
    {% include '@pylot_bridge/templates-bridge-twig/init-carto.html.twig' %}
{% endif %}
