{%  if data.moteur is defined and data.moteur.id is defined %}
    window.bridgeMoteur{{ data.moteur.id }} = new bridgeMoteur({{ data.moteur.id }});

    window.bridgeMoteur{{ data.moteur.id }}.currentURL = '{{ listInfos.currentUrl|raw }}';
    window.bridgeMoteur{{ data.moteur.id }}.options.submitOnChange = true;
    window.bridgeMoteur{{ data.moteur.id }}.options.webListId = '{{ data.id }}';
    {# window.bridgeMoteur{{ data.moteur.id }}.options.limitPerPage = {{ listInfos.limitPerPage }}; #}
    window.bridgeMoteur{{ data.moteur.id }}.options.productCodes = '{{ listInfos.productCodes  }}';
    window.bridgeMoteur{{ data.moteur.id }}.options.bridgeAjaxUrl = '{{ bridgeParameters.url_ajax_liste }}';

    var tmpFilter;
    var tmpItem;
    var activeFilters = '{{ listInfos.activeFilters|raw }}';
    var activeItems = '{{ listInfos.activeItems|raw }}';
    // objet pour initialiser les items d'un filtre qui a des valeurs entrées par l'utilisateur
    var keyValInput = {};
    activeFilters = activeFilters.split(',');
    activeItems = activeItems.split(',');
    {% if data.moteur.sections|length > 0 %}
        {% for section in data.moteur.sections %}
            {%  for subsection in section.subSections %}
                {% for filter in subsection.filters %}
                    tmpFilter = {
                    sectionId: {{ section.id }},
                    subSectionId: {{ subsection.id }},
                    id: {{ filter.id }},
                    label: '{{ filter.label|raw|e('js') }}',
                    field: '{{ filter.filterField|raw }}',
                    displayType: '{{ filter.displayType }}',
                    active: (activeFilters.indexOf('{{ data.moteur.id }}-{{ filter.id }}') >= 0),
                    items: []
                    };

                    {% if listInfos.httpRequest|length > 0 %}
                        {% for key, val in listInfos.httpRequest %}
                            {% set filterCheck = 'brflt_' ~ moteur.id ~ '-' ~ filter.id ~ '_' %}
                            // on récupère la valeur entrée par l'utilisateur pour les filtres de ce type
                            {% if filterCheck in key and val != ''  and filter.displayType != 'slidedoubleminmax' %}
                                {% set prop = key|slice(filterCheck|length) %}
                                tmpFilter.{{ prop }} = '{{ val|raw }}';
                            {% elseif filterCheck in key and val != '' and filter.displayType == 'slidedoubleminmax' %}
                                // dans le cas particulier de slidedoubleminmax, on a des valeurs entrées par l'utilisateur à associer à un item et non au filtre lui-même
                                // ici on récupère les valeurs avec leurs clefs (dont les id de moteur+filtre) (on doit enlever les tirets et underscores sinon erreur)
                                {% set key = key|replace({ '-':'', '_':''}) %}
                                keyValInput.{{ key }} = {{ val }} // min/max numerique pour le slider double min max
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    window.bridgeMoteur{{ data.moteur.id }}.addFilter(tmpFilter);

                    {% if filter.items|length > 0 %}
                        {% for item in filter.items %}
                            tmpItem = {
                            id: {{ item.id }},
                            active: (activeItems.indexOf('{{ data.moteur.id }}-{{ filter.id }}-{{ item.id }}') >= 0),
                            min: null,
                            max: null,
                            interval: null,
                            criterion: null,
                            modality: null,
                            label: '{{ item.label|raw|e('js') }}'
                            };
                            {% if item.min is defined and item.min != '' %}
                                tmpItem.baseMin = '{{ item.min }}';
                            {% endif %}

                            // On valorise les props concernées des items d'un filtre avec input utilisateur (slidedoubleminmax)
                            if (Object.keys(keyValInput).length !== 0 && keyValInput['brflt{{ data.moteur.id }}{{ filter.id }}min'] != null) {
                            // on utilise les valeurs récupérées plus tôt
                            tmpItem.min = keyValInput['brflt{{ data.moteur.id }}{{ filter.id }}min'];
                            } else {
                            // si pas de valeur entrée, on prend la valeur par défaut
                            tmpItem.min = tmpItem.baseMin;
                            }


                            {% if item.max is defined and item.max != '' %}
                                tmpItem.baseMax = '{{ item.max }}';
                            {% endif %}

                            // On valorise les props concernées des items d'un filtre avec input utilisateur (slidedoubleminmax)
                            if (Object.keys(keyValInput).length !== 0 && keyValInput['brflt{{ data.moteur.id }}{{ filter.id }}max'] != null) {
                            // on utilise les valeurs récupérées plus tôt
                            tmpItem.max = keyValInput['brflt{{ data.moteur.id }}{{ filter.id }}max'];
                            } else {
                            // si pas de valeur entrée, on prend la valeur par défaut
                            tmpItem.max = tmpItem.baseMax;
                            }

                            {% if item.interval is defined and item.interval != '' %}
                                tmpItem.interval = {{ item.interval }}
                            {% endif %}
                            {% if item.params is defined and item.params.criterionCode is defined and item.params.criterionCode != '' %}
                                tmpItem.criterion = '{{ item.params.criterionCode }}';
                            {% endif %}

                            {% set modality = null %}
                            {% if item.modality is defined and item.modality|length > 0 %}
                                {% set tabMod = [] %}
                                {% for tmpMod in item.modality %}
                                    {% set tabMod = tabMod|merge([tmpMod.modalityCode]) %}
                                    {% set modality = tabMod|join('|') %}
                                {% endfor %}
                            {% endif %}
                            {% if modality is defined %}
                                tmpItem.modality = '{{ modality }}';
                            {% endif %}
                            window.bridgeMoteur{{ data.moteur.id }}.addItem({{ filter.id }}, tmpItem );
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}