{#
# Template d'initialisation javascript de la cartographie sur les listes
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig
#
# @version 3.2.2
#}

<script type="text/javascript">

    var urlbasemap = '{{ bridgeParameters.url_ajax_liste_json_poi }}';
    var lurlcarte = "";
    var lang = "{{ listInfos.lang }}";
    var paramsurl = "1=1";
    var paramsurlcount = "1=1";
    var lenom = "";
    var bridgeMapTotalPointsAdded = 0;
    var bridgeMapNumPointsByCall = 100; // {{ listInfos.limitPerPage }} ;
    var iconOptions = {};

    // Gère le javascript de la carto
    bridgeDocumentReady(function()
    {
        if (typeof window.bridge_init_carto === 'undefined') {
            window.bridge_init_carto = true;
            window.markercmpt = 0;
            window.mapService = new dncLeafletServices('mapsSIT');

            window.mapService.mapoptions = {
                zoom: 13, // Niveau de Zoom de départ
                centerlat: window.bridgeMapOptions.centerLat, // Latitude du centre au départ
                centerlon: window.bridgeMapOptions.centerLng, // Longitude du centre au départ
                maptype: 'MAPTYPE_OPENSTREETMAPS', // Type de vue : ROAD, SATTELITE, HYBRID, 3D
                gridSize: 0,
                maxZoom: 12, // Niveau de zoom à partir duquel faire la clusterisation
                scrollWheelZoom: false
            };
            var mapdiv = document.getElementById("mapsSIT");
            bridgeRefreshMap();

            window.mapService.defaultIconOptions = {
                iconSize: [{{ bridgeParameters.marker_map_width }}, {{ bridgeParameters.marker_map_height }}],
                iconAnchor: [{{ (bridgeParameters.marker_map_width/2)|round }}, {{ (bridgeParameters.marker_map_height/2)|round }}],
                popupAnchor: [0, -3]
            };

            window.mapService.init();
            window.mapService.switchToWordpress();
            window.mapService.disabledMouseWheel();


            {% if moteur is defined and moteur.id is defined %}
                {% set moteurId = moteur.id %}
            {% else %}
                {% set moteurId = '' %}
            {% endif %}
            {% set modelsWithMap = ['liste3', 'liste4'] %}
            // Pour ne pas charger plusieurs fois les points
            window.pointsAddedToMap = false;

            if ('{{ moteurId }}' != '' && window.bridgeMoteur{{ moteurId }} !== undefined) {
                window.bridgeMoteur{{ moteurId }}.addEventHandler('afterSubmit', function (moteur) {
                    // On ne recharge les points que si la carte est visible
                    if(jQuery('#mapsSIT').is(":visible")) {
                        bridgeMapTotalPointsAdded = 0;
                        window.mapService.delallmarkers();
                        setTimeout(function() {
                            bridgeAddPointsToMap();
                        }, 200);
                    }
                });
                setTimeout(function() {
                    bridgeAddPointsToMap();
                }, 200);
                window.bridgeMoteur{{ moteurId }}.calcMoteur(false);
            } else {
                // On ne recharge les points que si la carte est visible
                if(jQuery('#mapsSIT').is(":visible")) {
                    bridgeMapTotalPointsAdded = 0;
                    window.mapService.delallmarkers();
                    setTimeout(function() {
                        bridgeAddPointsToMap();
                    }, 200);
                }
            }

            /* Permet de centrer sur le marker au moment du survol */
            jQuery(document).ready(function () {
                jQuery('#listeSIT .zoom-on-hover').mouseenter( function() {
                    var idfiche = jQuery(this).attr('data-dnc-produit');
                    if(idfiche !== '') {
                        var zoomLevel = 12 ;
                        if(window.mapService.mapoptions.zoomLevelOnInteraction) {
                            zoomLevel = window.mapService.mapoptions.zoomLevelOnInteraction;
                        }
                        window.mapService.activatemarker(idfiche, true, true); // window.mapService.defaultIconOptions
                        window.mapService.centeronmarker(idfiche, zoomLevel);
                        // tricherie obligatoire pour forcer le point à s'afficher la premiere fois
                        setTimeout(function() {
                            window.mapService.setZoom(zoomLevel);
                        },500);
                        window.mapService.reDraw();
                    }
                });
                jQuery('#listeSIT .center-on-hover').mouseenter( function() {
                    var idfiche = jQuery(this).attr('data-dnc-produit');
                    if(idfiche !== '') {
                        var zoomLevel = window.mapService.getZoom();
                        window.mapService.activatemarker(idfiche, true, true); // window.mapService.defaultIconOptions
                        window.mapService.centeronmarker(idfiche, zoomLevel);
                        // tricherie obligatoire pour forcer le point à s'afficher la premiere fois
                        setTimeout(function() {
                            window.mapService.setZoom(zoomLevel);
                        },500);
                        window.mapService.reDraw();
                    }
                });

                /* .mouseleave( function() {
                    var idfiche = jQuery(this).attr('data-dnc-produit');
                    if(idfiche !== '') {
                        window.mapService.deactivatemarkers(); // window.mapService.defaultIconOptions
                        setTimeout(function() {
                            window.mapService.fitboundstomarkers();
                            // bridgeRefreshMap();

                        },200);
                        window.mapService.reDraw();

                        //
                        //
                    }
                });
                */

                // setTimeout(function () {
                jQuery('#listeSIT .zoom-on-click').click(function() {
                    var idfiche = jQuery(this).attr('data-dnc-produit');
                    if(idfiche !== '') {

                        var zoomLevel = 12 ;
                        if(window.mapService.mapoptions.zoomLevelOnInteraction) {
                            zoomLevel = window.mapService.mapoptions.zoomLevelOnInteraction;
                        }

                        window.mapService.activatemarker(idfiche, true, true); // window.mapService.defaultIconOptions
                        window.mapService.centeronmarker(idfiche, zoomLevel);
                        // tricherie obligatoire pour forcer le point à s'afficher la premiere fois
                        setTimeout(function() {
                            window.mapService.setZoom(zoomLevel);
                        },500);
                        window.mapService.reDraw();
                    }
                });
            });

            UIkit.util.on('.bridgeMapSwitcher', 'show', function () {
                // if(window.pointsAddedToMap === false) {
                bridgeMapTotalPointsAdded = 0;
                window.mapService.delallmarkers();
                setTimeout(function() {
                    bridgeAddPointsToMap();
                }, 200);
                // }
            });

            // bridgeAddPointsToMap();
            // window.mapService.fitboundstomarkers();

            jQuery(window).resize(function () {
                bridgeRefreshMap();
            });

            // Clic sur le bouton de passage en mode carte sur mobile : on passe sur l'onglet carte de la liste puis on ouvre en plein écran
            jQuery('.bridge-map-toggle-fullscreen').click(function (e) {
                e.preventDefault();
                // Si on a un switch liste / carte, on passe d'abord sur l'onglet carte
                if (jQuery('.bridgeMapSwitcher').length > 0) {
                    jQuery('.bridge-map-toggle').click();
                    UIkit.switcher('.bridgeMapSwitcher').show('#bridgeSwitchMap');
                }
                if (window.mapService) {
                    // Si les points ne sont pas encore présents sur la carte, on les ajoute
                    // if (window.pointsAddedToMap === false) {
                        bridgeMapTotalPointsAdded = 0;
                        window.mapService.delallmarkers();
                        setTimeout(function() {
                            bridgeAddPointsToMap();
                        }, 200);
                    // }
                    // On passe la carte en plein écran
                    window.mapService.setZoom(14);
                    setTimeout(function () {
                        window.mapService.fitboundstomarkers();
                        // window.mapService.reDraw();
                        bridgeRefreshMap();
                        window.mapService.toggleFullScreen();
                    }, 250);
                }
            });

            // Sur retour du mode plein écran, si on est en liste avec bascule liste/carte, on rebascule sur l'onglet liste
            if (jQuery('.bridgeMapSwitcher').length > 0) {
                window.mapService.on('mapexitfullscreen', function (e) {
                    // On laisse le temps à la carte de revenir dans la page
                    setTimeout(function () {
                        UIkit.switcher('.bridgeMapSwitcher').show('#bridgeSwitchList');
                        jQuery('#bridgeSwitchMap').removeClass('uk-active');
                        jQuery('.bridge-map-toggle').parent().removeClass('uk-active');
                        jQuery('.bridge-map-toggle').attr('aria-expanded', 'false');
                        jQuery('#bridgeSwitchList').addClass('uk-active');
                        jQuery('.bridge-list-toggle').attr('aria-expanded', 'true');
                        jQuery('.bridge-list-toggle').parent().addClass('uk-active');
                    }, 200);

                });
            }
        }
    });

    function bridgeRefreshMap() {
        var sizeneg = (jQuery(window).width()-jQuery('#maps-loc').parents('.elementor-container').width()+100)/2;
        jQuery('#maps-loc').css({
            position: 'relative',
            width: jQuery(window).width(),
            //left: '50%',
            marginLeft: '-'+sizeneg+'px'
        });
    }

    // Fonction qui ajoute les points
    // Elle se rappelle elle-même jusqu'à être arrivée au bout
    function bridgeAddPointsToMap() {
        // On signale que l'init des points est faite
        window.pointsAddedToMap = true;

        // Le rfrom à 1 cran de décalage avc bridgeMapTotalPointsAdded car on commence à 1
        var rfrom = bridgeMapTotalPointsAdded + 1;
        var rto = bridgeMapTotalPointsAdded + bridgeMapNumPointsByCall + 1;
        var i = 0;
        var paramslocal = '1=1';

        // Test de la fin
        if (rfrom > bridgeTotalResults) {
            return true;  // finished
        }

        if (rto > bridgeTotalResults)
            rto = bridgeTotalResults;

        if('{{ moteurId }}' != '') {
            paramslocal = 'braf=' + window.bridgeMoteur{{ moteurId }}.activeFilters.join(',');
            paramslocal += '&brai=' + window.bridgeMoteur{{ moteurId }}.activeItems.join(',');
            // Patch 24/05/22 : les recherches par valeurs n'étaient pas prises en compte
            if(typeof window.bridgeMoteur{{ moteurId }}.urlParams === 'object' && window.bridgeMoteur{{ moteurId }}.urlParams !== null && Object.keys(window.bridgeMoteur{{ moteurId }}.urlParams).length > 0) {
                var keys = Object.keys(window.bridgeMoteur{{ moteurId }}.urlParams);
                for(idx in keys) {
                    var key = keys[idx];
                    paramslocal += '&' + key + '=' + window.bridgeMoteur{{ moteurId }}.urlParams[key];
                }
            }
            // Feat 25/05/22 : support du paramètre productCodes où on spécifie des fiches une par une
            if(typeof window.bridgeMoteur{{ moteurId }}.options === 'object' && window.bridgeMoteur{{ moteurId }}.options.hasOwnProperty('productCodes') ) {
                paramslocal += '&product_codes=' + window.bridgeMoteur{{ moteurId }}.options.productCodes ;
            }
        }

        jQuery.ajax({
            url: urlbasemap,
            data: paramslocal + "&first=" + rfrom + "&max=" + bridgeMapNumPointsByCall + "&lang=" + lang + "&id={{ data.id }}",
            dataType: 'json'
        }).done(function(lejson) {
            var popupcontent = "";
            var onclickf = function(mapositionId) {
                window.mapService.openinfomarker(mapositionId);
            };
            var fiche = {};
            if(lejson && lejson.success && lejson.hasOwnProperty('data') && lejson.data.hasOwnProperty('selection')) {
                for (var i = 0; i < lejson.data.selection.results.products.length; i++) {
                    if(lejson.data.selection.results.products[i].latitude !== null && lejson.data.selection.results.products[i].longitude !== null) {
                        // Ici on construit le contenu du popup
                        fiche = lejson.data.selection.results.products[i];
                        popupcontent = '<a class="uk-button uk-button-primary" href="' + fiche.link + '" style="font-size:11px">' + fiche.name + '</a>';
                        window.mapService.addmarker(
                            lejson.data.selection.results.products[i].productCode,
                            lejson.data.selection.results.products[i].latitude,
                            lejson.data.selection.results.products[i].longitude,
                            lejson.data.selection.results.products[i].name,
                            window.bridgeMapOptions.markerIcon,
                            window.bridgeMapOptions.activeMarkerIcon,
                            popupcontent,
                            onclickf);
                    }
                }

                // Ici on ajuste le Zoom aux points affichés
                window.mapService.fitboundstomarkers();
                bridgeMapTotalPointsAdded += bridgeMapNumPointsByCall;
                return bridgeAddPointsToMap();
            }
        });
    }

</script>