{#
# Template d'affichage de block dans une page fiche détaillée - bloc infos supplémentaires 1 - modèle fiche itinéraire
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-ficheitineraire
#
# @version 3.2.2
#}

{% set meta = '' %}
{% if block_is_not_empty(fiche, blockData) %}
    {% set meta = blockData|extract_block_data_first_text_value %}
{% endif %}

{# [{"cible":"general","metadonnee":{"id":5773060,"entity":728}}] #}

{% set data = '' %}
{% set entity = '' %}
{% set id = '' %}

{% if meta is not empty %}
    {# [{"cible":"general","metadonnee":{"id":5773060,"entity":728}}] #}
    {% set data = meta|json_decode %}
    {% if data is defined and data is iterable and data|length > 0 and data[0].metadonnee is defined and data[0].metadonnee.id is defined and data[0].metadonnee.entity is defined %}
        {% set entity = data[0].metadonnee.entity %}
        {% set id = data[0].metadonnee.id %}
    {% endif %}
{% endif %}

{% if entity is not empty and id is not empty %}
    {% set lang = 6 %}
    {% if bridgeParameters.lang == 'en' %}
        {% set lang = 1 %}
    {% elseif bridgeParameters.lang == 'de' %}
        {% set lang = 2 %}
    {% elseif bridgeParameters.lang == 'nl' %}
        {% set lang = 3 %}
    {% elseif bridgeParameters.lang == 'es' %}
        {% set lang = 4 %}
    {% elseif bridgeParameters.lang == 'it' %}
        {% set lang = 5 %}
    {% elseif bridgeParameters.lang == 'fr' %}
        {% set lang = 6 %}
    {% endif %}

{# On défini le nombre de mois à afficher #}
{%  set nbmois = 2 %}

    <section class="uk-margin-bottom uk-sectiona auk-container">
        <script type="text/javascript">
            function resizewidgetdispos() {
                document.getElementById('widgetdispos').style.height =  document.getElementById('myFrameWidgetDispos').contentWindow.document.getElementById('total').clientHeight + 10 + 'px';
                document.getElementById('widgetdispos').style.overflow = 'hidden';
                window.onresize = function(event) {
                    document.getElementById('widgetdispos').style.height =  document.getElementById('myFrameWidgetDispos').contentWindow.document.getElementById('total').scrollHeight + 10 +'px';
                    document.getElementById('widgetdispos').style.overflow = 'hidden';
                };
            }
            jQuery(document).ready(function($j) {
                UIkit.util.on('#tabs-sit > .dispos','beforeshow', function(){
                    resizewidgetdispos();
                });
            });
        </script>
        <div id='widgetdispos'>
            <iframe onload='resizewidgetdispos();' id='myFrameWidgetDispos' src='{{ bridgeParameters.url_dispos_avizi }}?dispos-avizi=1&avizi_entity={{ entity }}&avizi_id={{ id }}&avizi_lang={{ lang }}&nbmois={{ nbmois }}' style='height: 800px;' width='100%' scrolling='auto' frameborder='0'></iframe>
        </div>
        <div class="uk-text-center">
            <a class="uk-link-text" href="https://app.avizi.fr/disponibilites/public/{{ entity }}/{{ id }}?lang={{ lang }}&date={{ "now"|date("d/m/Y") }}" target="_blank">{{ 'Voir les mois suivants'|trans }}</a>
        </div>
    </section>

{% endif %}