{#
# Template d'affichage d'une page fiche détaillée - modèle fiche mosl
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/specifique/mosl
#
# @version 3.2.2
#}
{% block libraries %}{{ attach_library('mosl/custom_bridge.fiche') }}{% endblock %}

{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}
{% set hierarchicalCustomBlocks = fiche|prepare_custom_blocks_display %}
{% set htmlTitre = fiche.ficheBlocks|bridge_render_named_block('titre-de-la-fiche') %}

{% set tripNote = '' %}
{% set tripData = '' %}
{% set tripAvis = '' %}

{% if fiche.modalities != null %}
    {% set filtreTripNote = {"criterionCode" : "1198", "modalityCode": "5491"} %}
    {% set tripNoteData = fiche.modalities|filter_modalities(filtreTripNote) %}
    {% if tripNoteData|length > 0 %}
        {% set tripNote = tripNoteData[0].value %}
    {% endif %}

    {% set filtreTripData = {"criterionCode" : "1198", "modalityCode": "5492"} %}
    {% set tripDataBdd = fiche.modalities|filter_modalities(filtreTripData) %}
    {% if tripDataBdd|length > 0 %}
        {% set tripData = tripDataBdd[0].value %}
        {% if tripData is not empty %}
            {% set tripData = tripData|json_decode %}
        {% else %}
            {% set tripData = '' %}
        {% endif %}
    {% endif %}

    {% set filtreTripAvis = {"criterionCode" : "1198", "modalityCode": "5493"} %}
    {% set tripAvisBdd = fiche.modalities|filter_modalities(filtreTripAvis) %}
    {% if tripAvisBdd|length > 0 %}
        {% set tripAvis = tripAvisBdd[0].value %}
        {% if tripAvis is not empty %}
            {% set tripAvis = tripAvis|json_decode %}
        {% else %}
            {% set tripAvis = '' %}
        {% endif %}
    {% endif %}
{% endif %}

{% block fiche_mosl %}
<div class="bridge-fiche fiche-mosl" id="detailfiche">
    {% block fiche_mosl_header %}
    <header class="fiche-mosl__container fiche-mosl__header">
        <div class="wrapper">
            <div class="fiche-mosl__header-description">
                {% block fiche_mosl_header_infos %}
                    <div class="fiche-mosl__informations">
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-1.html.twig' %}
                    </div>
                {% endblock %}
                <h1 class="fiche-mosl__title">{{ htmlTitre|raw }}</h1>
                {# DN Consultants 21.10.2022 : l'affichage des dates est désormais géré dans le block infos-supplémentaires 5
                {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-2') %}
                    {% set blockData = attribute(fiche.ficheBlocks, 'infos-supplementaires-2') %}
                    {% set component = fiche|get_block_component(fiche.ficheBlocks,'infos-supplementaires-2' ) %}

                    {% if component is empty and blockData.content.fields %}
                        {% for field in blockData.content.fields %}
                            {% if field.CSSClass == 'date_manif' %}
                                {% for item in field.items %}
                                    <div class="fiche-mosl__dates">
                                        {{ item.textValue }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                #}
                {% block fiche_mosl_header_localisation %}
                    <div class="fiche-mosl__localisation">
                        {{ fiche.city|raw }}
                        {% if fiche.geoSearch and fiche.city != fiche.geoCity %}
                            - {{ '%distance% km of %city%'|t({},{'context':'sitlor: distance of city'})|replace({'%distance%':fiche.geoDistance|round(1),'%city%':fiche.geoCity}) }}
                        {% endif %}
                    </div>
                {% endblock %}
                {% block fiche_mosl_header_infos_supp %}
                    {# DN CONSULTANTS 21.10.2022 : ajouté le block infos-suplementaires-5 pour la sortie des dates de manifestations  #}
                    {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-5') %}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-5.html.twig' %}
                    {% endif %}
                {% endblock %}

                {% block fiche_mosl_actions %}
                    <div class="fiche-mosl__actions">
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/telephone-s-de-contact.html.twig' %}
                        {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/lien-de-reservation-en-ligne.html.twig' %}
                    </div>
                {% endblock %}

                {% block fiche_mosl_trip_top %}
                {# DN CONSULTANTS 21.10.2022 : décommenté le template TripAdvisor #}
                {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/extract-avis-tripadivsor.html.twig' %}
                {% endblock %}
            </div>
            {% block fiche_mosl_header_image %}
                <div class="fiche-mosl__header-image">
                    {% if images|length > 0 %}
                        <div class="swiper-container">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    {% for image in images %}
                                        <div class="swiper-slide">
                                            <img src="{{ image.url|bridge_resize_image("tronq", 788, 632)|raw }}" alt="{{ fiche.name }}" loading="lazy" />
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-controls swiper-controls--centered">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/pictogrammes.html.twig' %}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </header>
    {% endblock %}
    {% block fiche_mosl_description %}
    <section class="fiche-mosl__container fiche-mosl__description">
        <div class="wrapper">
            {# DN CONSULTANTS 21.10.2022 : passé en une seule colonne s'il n'y a pas de dexième photo (demande du client - on a vérifié le rendu  sur Mosl.fr : ocnforme aux attentes ) #}
            {% if images|length > 1 %}
                <div class="fiche-mosl__description-visual">
                    <img src="{{ images[1].url|bridge_resize_image("tronq", 800, 600)|raw }}" alt="{{ fiche.name }}" loading="lazy" />
                </div>
            {% endif %}
            <div class="fiche-mosl__description-text">
                {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/descriptif.html.twig' %}
            </div>
        </div>
    </section>
    {% endblock %}
    {% block fiche_mosl_infomation %}
    <div class="fiche-mosl__informations-container">
        <div class="fiche-mosl__container fiche-mosl__informations-nav">
            <div class="wrapper">
                <div class="current-nav"></div>
                <ul>
                    {% if hierarchicalCustomBlocks|length > 0 %}
                        {% for onglet in hierarchicalCustomBlocks %}
                            {% if onglet.title != '' %}
                                <li><a href="#custom-block-{{ onglet.blockId }}">{{ onglet.title|raw }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if items_block_is_not_empty(fiche, fiche.ficheBlocks, 'infos-supplementaires-2') %}
                        {% set blockData = attribute(fiche.ficheBlocks, 'infos-supplementaires-2') %}
                        <li><a href="#horaires">{{ blockData.blockLabel|raw ? blockData.blockLabel|raw : 'Horaires'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li>
                    {% endif %}
                    <li><a href="#comment-venir">{{ 'Comment venir ?'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li>
                    <li><a href="#contact">{{ 'Contacts'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li>
                    {# <li><a href="#commentaires">{{ 'Commentaires'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li> #}
                    {% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
                        {% set lien = fiche.ficheBlocks|extract_first_text_value('lien-de-reservation-en-ligne') %}
                        {% if lien != '' %}
                            <li class="reservation"><a target="_blank" href="{{ lien }}">{{ 'Réserver'|t({},{'context': 'sitlor: internal nav item'}) }}</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <main class="fiche-mosl__informations-blocks">
            {% block fiche_mosl_top1 %}
            {% endblock %}

            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/onglets.html.twig' %}
            {% block fiche_mosl_middle1 %}
            {% endblock %}

            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/horaires.html.twig' %}
            {% block fiche_mosl_middle2 %}
            {% endblock %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/comment-venir.html.twig' %}
            {% block fiche_mosl_middle3 %}
            {% endblock %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/contact.html.twig' %}
            {% block fiche_mosl_middle4 %}
            {% endblock %}
            {# DN CONSULTANTS 21.10.2022 : décommenté l'appel au template commentaires Trip Advisor #}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/commentaires.html.twig' %}
            {% block fiche_mosl_bottom1 %}
            {% endblock %}
            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/infos-supplementaires-4.html.twig' %}
            {% block fiche_mosl_bottom2 %}
            {% endblock %}

        </main>
    </div>
    {% endblock %}
</div>
{% endblock %}