{#
# Template d'affichage d'une fiche Bridge sur une page de post
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig
#
# @version 3.0.10
#}
<script>
    /**
     * Fonction appelée pour remplacer son équivalent document.ready jquery
     * @param {*} fn
     */
    if (!bridgeDocumentReady || typeof bridgeDocumentReady !== "function") {
        function bridgeDocumentReady (fn) {
            // see if DOM is already available
            if (document.readyState === "complete" || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 10);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }
    }
</script>

{%  if content.body.error is defined and content.body.error is not empty %}
    {{ content.body.error }}
{% else %}
    {% include '@pylot_bridge/templates-bridge-twig/fiche/' ~ content.body.fiche.ficheTemplate ~ '.html.twig' with { fiche: content.body.fiche.product, ficheParameters: content.body.fiche.parameters, ficheTemplate: content.body.fiche.ficheTemplate, bridgeParameters: content.body.bridgeParameters } %}
{% endif %}
