{% set classes = classes?: [] %}
{%
    set classes = classes|merge([
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
])
%}

{% block libraries %}{% endblock %}

{% block node %}
    <article{{ attributes.addClass(classes) }}>

        {% if spacer_header %}
            <div class="block-spacer-header"></div>
        {% else %}
            {% block banner %}
                {{ content.field_hero_banner }}
            {% endblock %}
        {% endif %}

        <div{{ content_attributes }}>

            {% block content_before %} {% endblock %}

            {% block content %}
                {{ content|without('field_hero_banner', 'field_seo_content') }}
            {% endblock %}

            {% block content_after %} {% endblock %}

            {% if node.field_seo_content is not empty %}
                {{ content.field_seo_content }}
            {% endif %}

        </div>

    </article>
{% endblock %}
