{% extends 'node.html.twig' %}

{% set error_str = error_str ?? '403' %}
{% set spacer_header = true %}

{% block libraries %}
    {{ attach_library('mosl/page.error-xxx') }}
{% endblock %}

{% block content %}
<div class="page-error-xxx">
    <div class="wrapper">
        <div class="inner">
            <div class="page-error-xxx--content">
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
