{#
# Template d'affichage d'une liste Bridge lors d'un appel via le shortcode [brliste id="XX"]
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig
#
# @version 3.1.4
#}

<div class="{{ (listParameters.displayInContainer) ? 'uk-container' : '' }} bridge-archive-container">

    {% if data.title != '' and listParameters.displayListTitle %}
        <{{ listParameters.titleTag }} class="bridge-archive-title">{{ data.title|raw }}</h1>
    {% endif %}

    {% if data.description != '' and listParameters.displayDescription %}
        <div class="bridge-archive-description">{{ data.description|raw }}</div>
    {% endif %}
    {# Initialisation des javscripts pour le moteur et la carte - a appeler imérativement au début #}
    {% include '@pylot_bridge/templates-bridge-twig/init-js.html.twig' %}

    <main id="ListeBridge" style="position:relative;">
        <div class="bridge-loader" style="display:none;">
            <div class="bridge-loader-content">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        {# 03/2022 : On affiche le template dans tous les cas, mais s'il n'y a pas de produits on affichera un message dans le template #}
        {% include '@pylot_bridge/templates-bridge-twig/liste/' ~ listInfos.bridgeModeleListe ~ '.html.twig' %}
    </main>

</div>


