{#
# Template d'affichage du modèle de liste carousel
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste
#
# @version 3.2.2
#}
<div class="bridge-liste carousel">
    <div uk-slider=" {{ listParameters.paramsCarousel }}">
      <li class="uk-position-relative uk-visible-toggle" tabindex="-1">
        <ul class="uk-slider-items uk-grid-{{ listParameters.spacingColumn }} uk-child-width-1-{{ ( listParameters.numberColumn.xl) ?  listParameters.numberColumn.xl ~ '@xl' :  listParameters.numberColumn.default ~ '@xl' }} uk-child-width-1-{{ ( listParameters.numberColumn.l) ?  listParameters.numberColumn.l ~ '@l' :  listParameters.numberColumn.default ~ '@l' }} uk-child-width-1-{{ ( listParameters.numberColumn.m) ?  listParameters.numberColumn.m ~ '@m' :  listParameters.numberColumn.default ~ '@m' }} uk-child-width-1-{{ ( listParameters.numberColumn.s) ?  listParameters.numberColumn.s ~ '@s' :  listParameters.numberColumn.default ~ '@s' }} uk-grid" uk-height-match="target: > li > article > .uk-card">
            {% if data is defined and listInfos.totalProducts > 0 %}
            {% for fiche in data.selection.results.products %}
                {#  set link = fiche|bridge_product_permalink #}
                {% set link = fiche.link %}

            {% set photo = '' %}
            {% set photo2 = '' %}
            {% set images = fiche.listBlocks|bridge_extract_photos('photo') %}
            {% if images|length > 0  %}
            {% set photo = images[0].url %}
            {% elseif listParameters.defaultImage is defined and listParameters.defaultImage.url is defined and listParameters.defaultImage.url is not empty %}
            {% set photo = listParameters.defaultImage.url %}
            {% endif %}
            {% if images|length > 1  %}
            {% set photo2 = images[1].url %}
            {% endif %}
            <li>
                {% include '@pylot_bridge/templates-bridge-twig/liste/gabarits/' ~ listInfos.bridgeModeleListeitem ~ '.html.twig' %}
            </li>
            {% endfor %}

            {% else %}
            <h4 class="center"> {{ 'Aucun résultat'|trans }}</h4>
            <p class="center"> {{ 'La liste est vide avec ces critères.'|trans }}</p>

            {% endif %}
        </ul>
        {% if listParameters.arrow %}
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a> <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        {% endif %}
        </div>
      {% if listParameters.dots %}
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      {% endif %}
    </div>
</div>