{#
# Template d'affichage du modèle de liste liste3
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste
#
# @version 3.2.2
#}

{% set moteurEnDouble = '' %}
<div class="bridge-liste liste3 uk-grid-collapse" uk-grid>
    <div class="uk-width-1-3@m uk-visible@m">
        {% block bridge_map %}
        <div id="maps" class="uk-overflow-hidden uk-position-relative uk-height-1-1">
            <div id="mapsSIT" class="uk-height-viewport uk-width-1-1" uk-sticky="top: true;bottom:#listSIT "></div>
        </div>
        {% endblock %}
    </div>
    <div class="uk-width-2-3@m" uk-filter="target: .filter-sit">
        {% block bridge_toolbar %}
            <div class="bridge-toolbar uk-padding-small">
                <div>
                    <div class="uk-width-1-1 uk-flex-between uk-grid-collapse" uk-grid>
                        {% block bridge_sort_bar %}
                            <div class="bridge-sort uk-visible@m">
                                {% include '@pylot_bridge/templates-bridge-twig/liste/tris/tris.html.twig' %}
                            </div>
                            <div class="bridge-sort uk-hidden@m">
                                {% include '@pylot_bridge/templates-bridge-twig/liste/tris/tris-dropdown.html.twig' %}
                            </div>
                        {% endblock %}
            <div class="uk-flex uk-flex-between uk-flex-end uk-flex-middle">
                {% block bridge_totals %}
                <div class="totals uk-visible@m">
                  {{ '<span class="listeSITCount">@productCount</span> résultats'|trans({'@productCount': listInfos.totalProducts})|raw }}
                </div>
                {% endblock %}
              {% if moteur is defined and moteur.id is defined and moteur.id is not empty %}
                    <a class="uk-button uk-button-default filters uk-margin-left" href="#" uk-toggle="target: #offcanvas-moteur{{ moteur.id }}">
                     {{  'Filtrer'|trans }}
                  </a>
                {% endif %}
            </div>
          </div>
          </div>
                {% block bridge_activefilters %}
                <div class="bridgeActiveFiltersDiv uk-width-1-1"> </div>
                {% endblock %}
        </div>
      {% endblock %}
        {% block bridge_list %}
    <div id="listeSIT" class="listeSIT uk-padding uk-padding-remove-top uk-grid-match filter-sit uk-grid-{{ listParameters.spacingColumn }} uk-child-width-1-{{ ( listParameters.numberColumn.xl) ?  listParameters.numberColumn.xl ~ '@xl' :  listParameters.numberColumn.default ~ '@xl' }} uk-child-width-1-{{ ( listParameters.numberColumn.l) ?  listParameters.numberColumn.l ~ '@l' :  listParameters.numberColumn.default ~ '@l' }} uk-child-width-1-{{ ( listParameters.numberColumn.m) ?  listParameters.numberColumn.m ~ '@m' :  listParameters.numberColumn.default ~ '@m' }} uk-child-width-1-{{ ( listParameters.numberColumn.s) ?  listParameters.numberColumn.s ~ '@s' :  listParameters.numberColumn.default ~ '@s' }}"  uk-grid uk-height-match="target: > div > article > .uk-card">
        {% if data is defined and listInfos.totalProducts > 0 %}
            {% for fiche in data.selection.results.products %}
                {#  set link = fiche|bridge_product_permalink #}
                {% set link = fiche.link %}
                {% set photo = '' %}
                {% set photo2 = '' %}
                {% set images = fiche.listBlocks|bridge_extract_photos('photo') %}
                {% if images|length > 0  %}
                    {% set photo = images[0].url %}
                {% elseif listParameters.defaultImage is defined and listParameters.defaultImage.url is defined and listParameters.defaultImage.url is not empty %}
                    {% set photo = listParameters.defaultImage.url %}
                {% endif %}
                {% if images|length > 1  %}
                    {% set photo2 = images[1].url %}
                {% endif %}
                <div class="liste_sit_item zoom-on-hover" data-dnc-produit="{{ fiche.productCode }}">
                    {% include '@pylot_bridge/templates-bridge-twig/liste/gabarits/' ~ listInfos.bridgeModeleListeitem ~ '.html.twig' %}
                </div>
            {% endfor %}

        {% else %}
            <h4 class="center"> {{ 'Aucun résultat'|trans }}</h4>
            <p class="center"> {{  'La liste est vide avec ces critères.'|trans }}</p>
        {% endif %}
    </div>
        {% endblock %}
        {% block bridge_pagination %}
      {% if listParameters.paginationType == 'PAGINATION' %}
              {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
      {% elseif listParameters.paginationType == 'INFINITE_SCROLL' %}
          {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
          {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/infinitescroll.html.twig' %}
      {% endif %}
        {% endblock %}
  </div>
  </div>
</div>
<div id="listSIT"></div>
{% if moteur is defined and moteur.id is defined and moteur.id is not empty %}
    {% block bridge_moteur %}
    <div id="offcanvas-moteur{{ moteur.id}}" class="zone-moteur off-canvas-moteur-mobile bridge-moteur-sit" uk-offcanvas="overlay: true;flip: true">
        <div class="uk-offcanvas-bar uk-light uk-offcanvas-bar-animation uk-offcanvas-slide">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>
           {{  'Rechercher'|trans }}
        </h3>
        {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/moteur-body.html.twig' %}
      </div>
    </div>
    {% endblock %}
{% endif %}