{#
# Template d'affichage du modèle de liste liste2
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste
#
# @version 3.2.2
#}

{% set moteurEnDouble = '' %}
<div class="bridge-liste liste2" uk-grid>
    <div class="uk-width-3-4@m" uk-filter="target: .filter-sit">
        {% if moteur is defined and moteur is iterable and moteur.id is not empty %}
            {% block bridge_moteur_mobile %}
                <div class="uk-tile-muted uk-box-shadow-medium bridge-zone-moteur uk-hidden@m bridge-moteur-sit">
                    {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/moteur-mobile.html.twig' %}
                </div>
            {% endblock %}
        {% endif %}
        {% block bridge_toolbar %}
            <div class="bridge-toolbar uk-visible@m">
                <div class="uk-flex uk-flex-between uk-flex-middle">
                    {% block bridge_sort_bar %}
                        <div class="bridge-sort">
                            {% include '@pylot_bridge/templates-bridge-twig/liste/tris/tris.html.twig' %}
                        </div>
                    {% endblock %}
                    <div class="switcher uk-width-1-3">
                        <ul class="uk-subnav uk-subnav-pill uk-float-right bridgeListMapSwitcher" uk-switcher="connect: .bridgeMapSwitcher;animation: uk-animation-fade;swiping:false">
                        <li><a class="bridge-list-toggle" href="#"> {{  'Liste'|trans }}</a></li>
                        <li><a class="bridge-map-toggle" href="#"> {{  'Carte'|trans }}</a></li>
                      </ul>
                    </div>
                  </div>
                {% block bridge_activefilters %}
                  <div class="bridgeActiveFiltersDiv uk-width-1-1"> </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% block bridge_listmap %}
        <ul class="uk-switcher uk-margin mixtesit bridgeMapSwitcher">
            <li id="bridgeSwitchList">
                {% block bridge_list %}
        <div id="listeSIT" class="listeSIT uk-grid-match filter-sit uk-grid-{{ listParameters.spacingColumn }} uk-child-width-1-{{ ( listParameters.numberColumn.xl) ?  listParameters.numberColumn.xl ~ '@xl' :  listParameters.numberColumn.default ~ '@xl' }} uk-child-width-1-{{ ( listParameters.numberColumn.l) ?  listParameters.numberColumn.l ~ '@l' :  listParameters.numberColumn.default ~ '@l' }} uk-child-width-1-{{ ( listParameters.numberColumn.m) ?  listParameters.numberColumn.m ~ '@m' :  listParameters.numberColumn.default ~ '@m' }} uk-child-width-1-{{ ( listParameters.numberColumn.s) ?  listParameters.numberColumn.s ~ '@s' :  listParameters.numberColumn.default ~ '@s' }}" uk-grid uk-height-match="target: > div > article > .uk-card">
          {% if data is defined and listInfos.totalProducts > 0 %}
          {% for fiche in data.selection.results.products %}
              {#  set link = fiche|bridge_product_permalink #}
              {% set link = fiche.link %}

            {% set photo = '' %}
            {% set photo2 = '' %}
            {% set images = fiche.listBlocks|bridge_extract_photos('photo') %}
            {% if images|length > 0  %}
              {% set photo = images[0].url %}
            {% elseif listParameters.defaultImage is defined and listParameters.defaultImage.url is defined and listParameters.defaultImage.url is not empty %}
              {% set photo = listParameters.defaultImage.url %}
            {% endif %}
            {% if images|length > 1  %}
              {% set photo2 = images[1].url %}
            {% endif %}
              <div class="liste_sit_item">
              {% include '@pylot_bridge/templates-bridge-twig/liste/gabarits/' ~ listInfos.bridgeModeleListeitem ~ '.html.twig' %}
            </div>
          {% endfor %}

          {% else %}
            <h4 class="center"> {{ 'Aucun résultat'|trans }}</h4>
            <p class="center"> {{  'La liste est vide avec ces critères.'|trans }}</p>
          {% endif %}
        </div>
          {% block bridge_pagination %}
                {% if listParameters.paginationType == 'PAGINATION' %}
                    {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
                {% elseif listParameters.paginationType == 'INFINITE_SCROLL' %}
                    {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
                    {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/infinitescroll.html.twig' %}
                {% endif %}
          {% endblock %}
      {% endblock %}
      </li>
            <li id="bridgeSwitchMap">
                {% block bridge_map %}
          <div id="maps" class="uk-overflow-hidden uk-position-relative uk-height-1-1" >
              <div id="mapsSIT" class="uk-height-viewport uk-width-1-1"></div>
          </div>
                {% endblock %}
      </li>
    </ul>
        {% endblock %}
  </div>
  <div class="uk-width-1-4@m">
      {% block bridge_totals %}
      <div class="totals bridge-totals-side uk-visible@m">
         {{ '<span class="listeSITCount">@productCount</span> résultats'|trans({'@productCount': listInfos.totalProducts})|raw }}
        </div>
      {% endblock %}
      {% if moteur is defined and moteur.id is defined and moteur.id is not empty %}
          {% block bridge_moteur %}
              <div class="uk-tile-muted uk-box-shadow-medium bridge-zone-moteur uk-visible@m" uk-sticky="bottom: true">
                  {% include '@pylot_bridge/templates-bridge-twig/liste/moteur/moteur.html.twig' %}
              </div>
          {% endblock %}
      {% endif %}
  </div>
</div>