{#
# Template d'affichage du modèle de liste liste5
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste
#
# @version 3.2.2
#}
{% set moteurEnDouble = '' %}
<div class="bridge-liste liste5">
    {% block bridge_toolbar %}
        <div class="bridge-toolbar uk-padding-small">
            <div>
                <div class="uk-width-1-1 uk-flex-between uk-grid-collapse" uk-grid>
                    {% block bridge_sort_bar %}
                        <div class="bridge-sort uk-visible@m">
                            {% include '@pylot_bridge/templates-bridge-twig/liste/tris/tris.html.twig' %}
                        </div>
                        <div class="bridge-sort uk-hidden@m">
                            {% include '@pylot_bridge/templates-bridge-twig/liste/tris/tris-dropdown.html.twig' %}
                        </div>
                    {% endblock %}
                    <div class="bridge-map-button uk-width-1-3 uk-hidden@m">
                        <a class="uk-button uk-button-default uk-width-1-1 bridge-map-toggle-fullscreen" href="#">
                            {{  'Carte'|trans }}
                        </a>
                    </div>
                    <div class="uk-flex uk-flex-between uk-flex-end uk-flex-middle uk-visible@m">
                        {% block bridge_totals %}
                            <div class="totals uk-float-right uk-margin-right">
                                {{ '<span class="listeSITCount">@productCount</span> résultats'|trans({'@productCount': listInfos.totalProducts})|raw }}
                            </div>
                        {% endblock %}
                    <ul class="uk-subnav uk-subnav-pill uk-float-right bridgeListMapSwitcher" uk-switcher="connect: .mixtesit;animation: uk-animation-fade;swiping:false">
                        <li><a class="bridge-list-toggle" href="#"> {{  'Liste'|trans }}</a></li>
                        <li><a class="bridge-map-toggle" href="#"> {{  'Carte'|trans }}</a></li>
                    </ul>

                </div>
            </div>
        </div>
            {% block bridge_activefilters %}
            <div class="bridgeActiveFiltersDiv uk-width-1-1"></div>
            {% endblock %}
        </div>
    {% endblock %}
    <ul class="uk-switcher uk-margin mixtesit bridgeMapSwitcher">
        <li id="bridgeSwitchList">
            {% block bridge_list %}
            <div id="listeSIT" class="listeSIT uk-grid-match filter-sit uk-grid-{{ listParameters.spacingColumn }} uk-child-width-1-{{ ( listParameters.numberColumn.xl) ?  listParameters.numberColumn.xl ~ '@xl' :  listParameters.numberColumn.default ~ '@xl' }} uk-child-width-1-{{ ( listParameters.numberColumn.l) ?  listParameters.numberColumn.l ~ '@l' :  listParameters.numberColumn.default ~ '@l' }} uk-child-width-1-{{ ( listParameters.numberColumn.m) ?  listParameters.numberColumn.m ~ '@m' :  listParameters.numberColumn.default ~ '@m' }} uk-child-width-1-{{ ( listParameters.numberColumn.s) ?  listParameters.numberColumn.s ~ '@s' :  listParameters.numberColumn.default ~ '@s' }}"
                 uk-grid uk-height-match="target: > div > article > .uk-card">
                {% if data is defined and listInfos.totalProducts > 0 %}
                {% for fiche in data.selection.results.products %}
                    {#  set link = fiche|bridge_product_permalink #}
                    {% set link = fiche.link %}

                {% set photo = '' %}
                {% set photo2 = '' %}
                {% set images = fiche.listBlocks|bridge_extract_photos('photo') %}
                {% if images|length > 0  %}
                {% set photo = images[0].url %}
                {% elseif listParameters.defaultImage is defined and listParameters.defaultImage.url is defined and listParameters.defaultImage.url is not empty %}
                {% set photo = listParameters.defaultImage.url %}
                {% endif %}
                {% if images|length > 1  %}
                {% set photo2 = images[1].url %}
                {% endif %}
                    <div class="liste_sit_item">
                    {% include '@pylot_bridge/templates-bridge-twig/liste/gabarits/' ~ listInfos.bridgeModeleListeitem ~ '.html.twig' %}
                </div>
                {% endfor %}

                {% else %}
                <h4 class="center"> {{ 'Aucun résultat'|trans }}</h4>
                <p class="center"> {{  'La liste est vide avec ces critères.'|trans }}</p>
                {% endif %}
            </div>
            {% endblock %}
            {% block bridge_pagination %}
            {% if listParameters.paginationType == 'PAGINATION' %}
                {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
            {% elseif listParameters.paginationType == 'INFINITE_SCROLL' %}
                {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/pagination.html.twig' %}
                {% include '@pylot_bridge/templates-bridge-twig/liste/pagination/infinitescroll.html.twig' %}
            {% endif %}
            {% endblock %}

        </li>
        <li id="bridgeSwitchMap">
            {% block bridge_map %}
            <div id="maps" class="uk-overflow-hidden uk-position-relative uk-height-1-1" >
                <div id="mapsSIT" class="uk-height-viewport uk-width-1-1" uk-sticky="top: true;bottom:#listSIT "></div>
            </div>
            {% endblock %}
        </li>
    </ul>
</div>
