{#
# Template d'affichage de block dans une page fiche détaillée - bloc photos - modèle fiche itinéraire
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-ficheitineraire
#
# @version 3.2.2
#}
{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}

{% if images|length > 0 %}
		<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: slide;max-height: 450">

	    <ul class="uk-slideshow-items">
	    	{% for image in images %}
				<li>
					<img src="{{ image.url|bridge_resize_image("tronq", 1280, 700)|raw }}" alt="" uk-cover />
				</li>
	      	 {% endfor %}
	    </ul>

	    <div class="uk-light">
	        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
	        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
	    </div>
		</div>
{% endif %}