{#
# Template d'affichage du graphique de tracé altimétrique dans une page fiche détaillée - modèle fiche itinéraire
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/fiche/blocks-ficheitineraire
#
# @version 3.2.2
#}

{% set elevationData = fiche|bridge_get_elevation_data %}
{% if elevationData is defined and elevationData != null and elevationData is iterable %}
	{% set graph = elevationData.wktdata %}

	{% if graph is defined and graph != '' %}

	<div class="graph uk-text-center">
		<h3 class="uk-margin-remove-top">Profil Altimétrique</h3>
		<canvas id="coupetopo" width="400" height="200"></canvas>
		<script type="text/javascript">
			Chart.defaults.LineWithLine = Chart.defaults.line;
			Chart.controllers.LineWithLine = Chart.controllers.line.extend({
				draw: function(ease) {
					Chart.controllers.line.prototype.draw.call(this, ease);

					if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
						var activePoint = this.chart.tooltip._active[0],
							ctx = this.chart.ctx,
							x = activePoint.tooltipPosition().x,
							topY = this.chart.scales['y-axis-0'].top,
							bottomY = this.chart.scales['y-axis-0'].bottom;

						// draw line
						ctx.save();
						ctx.beginPath();
						ctx.moveTo(x, topY);
						ctx.lineTo(x, bottomY);
						ctx.lineWidth = 2;
						ctx.strokeStyle = '#FF0000';
						ctx.stroke();
						ctx.restore();
					}
				}
			});
		var ctx = document.getElementById("coupetopo").getContext("2d");;
			jQuery(document).ready(function() {
			// KML et elevation : mise en place
			var data = { graph: JSON.parse('{{ graph|e('js') }}') };

			// Nb de point d'échelle à afficher
			window.pasechelle = Math.round(data.graph.length / 10) ;

			window.pasechelle = 100;
			if(data.graph.length < 400) // moins de 40 km
				window.pasechelle = 50;
			if(data.graph.length < 160) // moins de 16 km
				window.pasechelle = 20;
			if(data.graph.length < 80) // moins de 8 km
				window.pasechelle = 10;
			if(data.graph.length < 40) // moins de 4 km
				window.pasechelle = 5;

			var tablabels = [];
			var tabvalues = [];
			var letemp ;
			for(var i=0; i< data.graph.length; i++) {
				letemp = parseInt(data.graph[i].x);
				letemp = Math.round(letemp / 100) / 10;
				letemp = letemp + '';
				letemp = letemp.replace('.',',');
				tablabels.push(letemp + " km");
				tabvalues.push(data.graph[i].y );
			}
			//var ctx = document.getElementById("profil-alti").getContext("2d");
			window.chartelevation = new Chart(ctx, {
				type: 'LineWithLine',
				data: {
					labels: tablabels,
					datasets: [{
						label: "",
						backgroundColor: "#73a241",
						borderColor: "#73a241",
						data: tabvalues,
						fill: true,
						pointRadius: 0
					}]
				},
				options: {
					responsive: true,
					showLines:true,
					maintainAspectRatio: false,
					legend: {
						display:false
					},
					title:{
						display:false,
						text:'Profil altimétrique'
					},
					tooltips: {

						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					animation: {
						duration: 0.8, // general animation time
					},
					scales: {
						xAxes: [{
							display: true,

							ticks: {
								fontSize:16,
								maxTicksLimit: 9
								/*
								callback: function(dataLabel, index) {
									console.log('Tick x : ' + dataLabel + 'pacechelle : ' + window.pasechelle);
									// Hide the label of every 2nd dataset. return null to hide the grid line too
									//return index % window.pasechelle == 0 ? dataLabel : '';
								}
								*/
							},

							scaleLabel: {
								display: false,
								labelString: 'distance'
							},
							gridLines: {
								color: "rgba(0, 0, 0, 0)",
							}
						}],
						yAxes: [{
							display: true,

							ticks: {
								fontSize:16,
								// Include a dollar sign in the ticks
								callback: function(value, index, values) {
									return index % 1 === 0 ? value + ' m' : '';
								}
							},
							scaleLabel: {
								display: false,
								labelString: 'Altitude'
							}
						}]
					}
				}
			});

		});


	</script>
	</div>

	{% endif %}
{% endif %}
