{{ attach_library('mosl/navigation.breadcrumb') }}

{% if refererUrl %}
  <div class="breadcrumb breadcrumb--prev">
    <ol>
      <li>
        <a href="{{ refererUrl }}">{{ 'Back to previous page'|t }}</a>
      </li>
    </ol>
  </div>
{% endif %}

{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="breadcrumb">
    <ol>
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
