{#
# Template d'affichage de l'item de liste carte 2
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/gabarits
#
# @version 3.2.2
#}
<article class="ficheproduit cards2" data-dnc-produit=" {{ fiche.productCode }}">
	<div class="uk-card uk-card-default uk-cover-container bridge-match-height-target">
		{% if photo != '' and listParameters.showImage %}
			<div class="uk-card-media-top uk-cover-container uk-position-relative uk-height-medium card-media">
				<img data-src="{{ photo|bridge_resize_image("tronq", 600, 600)|raw }}" alt=" {{ fiche.name }}" uk-cover uk-img>
				{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/info-1.html.twig' %}
				{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/info-2.html.twig' %}
				{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/pictogrammes.html.twig' %}
			</div>
		{% endif %}
		<div class="bridge-body uk-card-body uk-padding-small uk-position-relative">
			{% if listParameters.displayCvButton %}
				<div class="uk-position-top-right uk-position-z-index bridge-cv-button-container">
					{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/button-cv.html.twig' %}
				</div>
			{% endif %}
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/surtitre.html.twig' %}
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/titre-de-la-fiche.html.twig' %}
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/sous-titre.html.twig' %}
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/commentaire.html.twig' %}
		</div>
		{% if items_block_is_not_empty(fiche, fiche.listBlocks, 'info-3') or items_block_is_not_empty(fiche, fiche.listBlocks, 'info-4') %}
			<div class="uk-card-footer uk-padding-small uk-position-relative uk-flex uk-flex-between card-footer">
				{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/info-3.html.twig' %}
				{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/info-4.html.twig' %}
			</div>
		{% endif %}
		<a href=" {{ link }}" uk-cover></a>
	</div>
</article>