{#
# Template d'affichage de l'item de liste carte image 1
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/gabarits
#
# @version 3.2.2
#}
<div class="ficheproduit cardsimage1 uk-inline uk-cover-container uk-height-small uk-width-1-1 bridge-match-height-target" data-dnc-produit="{{ fiche.productCode }}">
	{% if photo != '' and listParameters.showImage %}
		<img data-src="{{ photo|bridge_resize_image("tronq", 600, 600)|raw }}" alt="{{ fiche.name|e('html_attr') }}" uk-img uk-cover>
	{% endif %}

	{% if listParameters.displayCvButton %}
		<div class="uk-position-top-right uk-position-z-index bridge-cv-button-container">
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/button-cv.html.twig' %}
		</div>
	{% endif %}

	<div class="uk-overlay-primary uk-position-cover"></div>
	<div class="bridge-body uk-overlay uk-position-center uk-text-center uk-light">
		{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/surtitre.html.twig' %}
		{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/titre-de-la-fiche.html.twig' %}
		{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/sous-titre.html.twig' %}
		{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/pictogrammes.html.twig' %}
	</div>
	<a href="{{ link|raw }}" uk-cover></a>
</div>
