{#
# Template d'affichage de l'item de liste liste 2
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/gabarits
#
# @version 3.2.2
#}

<article class="ficheproduit liste2 uk-position-relative" data-dnc-produit="{{ fiche.productCode }}">
	<div class="uk-card uk-card-default uk-grid-collapse uk-grid-match bridge-match-height-target" uk-grid>
		{% if photo != '' and listParameters.showImage %}
			<div class="uk-card-media-left uk-cover-container uk-position-relative uk-width-1-3@s list-media">
				<img data-src="{{ photo|bridge_resize_image("tronq", 600, 600)|raw }}" alt="{{ fiche.name|e('html_attr') }}" uk-cover uk-img>
				<canvas width="600" height="400"></canvas>
			</div>
		{% endif %}
		<div class="bridge-body uk-card-body uk-padding-small uk-width-2-3@s">
			{% if listParameters.displayCvButton %}
				<div class="uk-position-top-right uk-position-z-index bridge-cv-button-container">
					{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/button-cv.html.twig' %}
				</div>
			{% endif %}
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/surtitre.html.twig' %}
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/titre-de-la-fiche.html.twig' %}
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/sous-titre.html.twig' %}
			{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/commentaire.html.twig' %}
			{% if items_block_is_not_empty(fiche, fiche.listBlocks, 'info-1') or items_block_is_not_empty(fiche, fiche.listBlocks, 'info-2') %}
				<div class="uk-card-footer uk-padding-small uk-position-relative uk-flex uk-flex-between list-footer">
					{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/info-1.html.twig' %}
					{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/info-2.html.twig' %}
				</div>
			{% endif %}
		</div>
		
		<a href="{{ link|raw }}" uk-cover></a>
	</div>
</article>