{% extends '@mosl/partials/book_link.html.twig' %}

{% set class_prefix = 'button--logo-' %}

{% block book_link %}
    <a target="_blank" href="{{ link|raw }}" class="button button--logo {{ class }} {{ additional_class }}"><span>{{ label }}</span></a>
{% endblock %}
