{#
 # Available classes:
 # - button--icon-default
 # - button--icon-tripadvisor
 # - button--icon-booking
 # - button--icon-gitesdefrance
 # - button--icon-clevacances
 # - button--icon-lacarte
 # - button--icon-airbnb
 # - button--icon-thefork
 #}

{% set label = 'Book on'|t({},{'context':'sitlor: label of reservation button'}) %}
{% set class_prefix = class_prefix ?? 'button--icon-' %}
{% set class = class_prefix ~ 'default' %}

{% if 'tripadvisor.fr' in link or 'tripadvisor.com' in link %}
    {% set class = class_prefix ~ 'tripadvisor' %}
{% elseif 'booking.com' in link %}
    {% set class = class_prefix ~ 'booking' %}
{% elseif 'gites-de-france.com' in link %}
    {% set class = class_prefix ~ 'gitesdefrance' %}
{% elseif 'clevacances.com' in link %}
    {% set class = class_prefix ~ 'clevacances' %}
{% elseif 'lacarte.menu' in link %}
    {% set class = class_prefix ~ 'lacarte' %}
{% elseif 'airbnb.fr' in link or 'airbnb.com' in link %}
    {% set class = class_prefix ~ 'airbnb' %}
{% elseif 'thefork.com' in link %}
    {% set class = class_prefix ~ 'thefork' %}
{% else %}
    {% set label = 'Book online'|t({},{'context':'sitlor: label of reservation button'}) %}
{% endif %}

{% block book_link %}
    <a target="_blank" href="{{ link|raw }}" class="button button--icon {{ class }} {{ additional_class }} reservation">{{ label }}</a>
{% endblock %}
