<article{{ attributes.addClass(['card', 'image_full_size', grid_item_column_size], classes ?? []) }}
{% if clickable %}
    onclick="(function onClickArticle() { window.location.href = '{{ url }}'; })()"
    style="cursor: pointer"
{% endif %}
>
    <div class="card__image">
        {% block card_background %}
            {% if image_url %}
                <img src="{{ image_url }}" alt="" loading="lazy" />
            {% elseif image %}
                {{ image }}
            {% endif %}
        {% endblock %}
    </div>

    <div{{ content_attributes.addClass('card__content') }}>
        {% block card_content %}
            <div class="card__title">
                {% block card_title %}
                    <h6{{ title_attributes }}>
                        {% if clickable %}
                            {{ title }}
                        {% else %}
                            <a href="{{ url }}" rel="bookmark">{{ title }}</a>
                        {% endif %}
                    </h6>
                {% endblock %}
            </div>
            <div class="card__footer">
                {% block card_footer %}
                    {% if category %}
                        <div class="card__category">
                            {{ category }}
                        </div>
                    {% endif %}
                    {% if url %}
                        <a href="{{ url }}" rel="bookmark" class="big-chevron white">{{ link_label }}</a>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</article>
