{% set date_format = 'd.m.Y'|t({}, {'context': 'card: date format'}) %}

<article{{ attributes.addClass(['card', 'image_and_text', grid_item_column_size], classes ?? []) }}>
    <div class="card__image">
        {% block card_header %}
            <a href="{{ url }}" rel="bookmark">
                {% if image_url %}
                    <img src="{{ image_url }}" alt="" loading="lazy" />
                {% elseif image %}
                    {{ image }}
                {% endif %}
            </a>
        {% endblock %}
    </div>

    <div{{ content_attributes.addClass('card__content') }}>
        {% block card_content %}
            <div class="card__title">
                {% block card_title %}
                    <h6{{ title_attributes }}>
                        <a href="{{ url }}" rel="bookmark">{{ title }}</a>
                    </h6>
                {% endblock %}
            </div>
            <div class="card__informations">
                {% block card_informations %}
                    {% if creation_date %}
                        <div class="card__creation-date">
                            {{ creation_date | date(date_format) }}
                        </div>
                    {% endif %}
                    {% if sub_title %}
                        <div class="card__category">
                            {{ sub_title }}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="card__excerpt">
                {% block card_excerpt %}
                    <a href="{{ url }}" rel="bookmark">{{ excerpt }}</a>
                {% endblock %}
            </div>
            <div class="card__footer">
                {% block card_footer %}
                    {% if category %}
                        <div class="card__category">
                            {{ category }}
                        </div>
                    {% endif %}
                    {% if url %}
                        <a href="{{ url }}" rel="bookmark" class="big-chevron blue">{{ link_label }}</a>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</article>
