{#
Hero banner

Available vars:
- rich_text
- title
- description
- link
    - url
    - title
    - attributes
- image
    - url
    - alt
    - name
- image_markup
- image_url
- video
- text_position : default, center
#}
{% block libraries %}{{ attach_library('mosl/partial.hero_banner') }}{% endblock %}

<div class="hero-banner {{ classes ? classes|join(' ') : '' }}" style="{{ background_color ? '--mosl-hero-background-color:' ~ background_color : '' }}">
    <div class="hero-content">
        <div class="content{% if svg|render is not empty %} has_svg{% endif %}">
            {% if svg|render is not empty %}
                <div class="svg">
                    {{ svg }}
                </div>
            {% else %}
                {% if no_h1 %}
                    {% if surtitle %}
                        <p class="hero-surtitle">{{ surtitle }}</p>
                        <p class="h1 hero-title">{{ title }}</p>
                    {% else %}
                        <p class="h1 hero-title">{{ title }}</p>
                    {% endif %}
                {% else %}
                    {% if surtitle %}
                        <h1 class="hero-surtitle">{{ surtitle }}</h1>
                        <p class="h1 hero-title">{{ title }}</p>
                    {% else %}
                        <h1 class="hero-title">{{ title }}</h1>
                    {% endif %}
                {% endif %}

                {% if category and category['#items']|length|length > 0 %}
                    <div class="hero-category">
                        {{ category }}
                    </div>
                {% endif %}

                {% if subtitle %}
                    <p class="hero-subtitle">{{ subtitle }}</p>
                {% endif %}

                <div class="hero-description">
                    {{ description|raw }}
                </div>

                {% if link.url %}
                    <div class="hero-link-container">
                        <a href="{{ link.url }}" {{ create_attribute(link.attributes is not empty ? link.attributes : []).addClass(['big-chevron', 'white', 'reverse']) }}></a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="hero-visual">
        {% if video.0 %}
            {{ video }}
        {% elseif image.0 %}
            {{ image }}
        {% elseif image_markup %}
            {{ image_markup }}
        {% elseif image_url %}
            <img src="{{ image_url }}" alt="" loading="lazy" />
        {% endif %}
    </div>
</div>
