{#
Background bubble

Available vars:
- enable
- horizontal_alignment
- vertical_alignment
- horizontal_gap
- vertical_gap
- scale
- color
- shape
#}

{% block libraries %}{{ attach_library('mosl/component.background_bubble') }}{% endblock %}

{%
    set classes = [
        'background_bubble',
        horizontal_alignment ? 'align-horizontal-' ~ horizontal_alignment,
        vertical_alignment ? 'align-vertical-' ~ vertical_alignment,
        size ? 'size-' ~ size,
    ]
%}
{%
    set styles = [
        color ? '--mosl-background-bubble-color: #' ~ color ~ ';',
        horizontal_gap ? '--mosl-background-bubble-horizontal-gap: ' ~ horizontal_gap ~ '%;',
        vertical_gap ? '--mosl-background-bubble-vertical-gap: ' ~ vertical_gap ~ '%;',
        scale ? '--mosl-background-bubble-scale: ' ~ scale ~ ';',
    ]
%}

{% if shape is not empty and enable == true %}
    <div {{ create_attribute({ class: classes, style: styles }) }}>
        <div class="wrapper">
            <div class="visual">
                {% if shape_content is defined %}
                    {{ shape_content|raw }}
                {% else %}
                    {% include (shape) %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
