{#
Carousel Vertical Experiences

Available vars:
- background_bubble
- title
- link
    - url
    - title
    - attributes
- quantity
- items
#}

{% block libraries %}{{ attach_library('mosl/component.carousel_vertical_experiences') }}{% endblock %}

<section class="mosl-component mosl-component--carousel-vertical-experiences">
    "carousel-vertical-experiences"
    {{ dump(items) }}
</section>
