{#
Webform

Available vars:
- form: The webform
- form_title: The form title
- form_description: The form description
- form_renderable: Render array (markup)
#}

{% block libraries %}{{ attach_library('mosl/component.webform') }}{% endblock %}

<section class="mosl-component mosl-component--form">
    <div class="wrapper">
        <div class="webform-wrapper">
            {% if form_title is defined %}
                <h3 class="webform-title h2">{{ form_title }}</h3>
            {% endif %}
            {% if form_description is defined %}
                <div class="webform-description">{{ form_description|raw }}</div>
            {% endif %}
            {% if form_renderable is defined %}
                <div class="webform-mandatory-fields">* {{ 'mandatory fields'|t({}, {'context' : 'webform'}) }}</div>
                {{ form_renderable }}
            {% endif %}
        </div>
        <div class="visual">
            {{ content.field_image }}
        </div>
    </div>
</section>
