{#
Grid

Available vars:
- title
- column_number
- items
#}

{% block libraries %}{{ attach_library('mosl/component.grid') }}{% endblock %}

<section class="mosl-component mosl-component--grid">
    <div class="wrapper">
        <h3 class="title">{{ title }}</h3>
        {% if items|length > 0 %}
            <div class="items col-{{ column_number }}">
                {% for item in items %}
                    <div class="item">
                        {{ item }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
