{#
Grid item icon

Available vars:
- title
- text
- image
- use_background (bool)
- link
    - url
#}

<section class="mosl-component mosl-component--grid-item mosl-component--grid-item-image">
    <div class="item-image">{{ image }}</div>
    <h6 class="item-title">{{ title }}</h6>
    <p class="item-content">{{ text }}</p>
</section>
