{#
Grid item icon

Available vars:
- title
- text
- color
- image
#}

<section class="mosl-component mosl-component--grid-item mosl-component--grid-item-icon">
    <div class="item-icon" style="border-color: {{ '#' ~ color }};">
        <div class="item-icon-image">{{ image }}</div>
    </div>
    <h6 class="item-title">{{ title }}</h6>
    <p class="item-content">{{ text }}</p>
</section>
