{#
Hero banner

Available vars:
- rich_text
- title
- description
- link
    - url
    - title
    - attributes
- image
    - url
    - alt
    - name
- video
- text_position
#}

{% block libraries %}{{ attach_library('mosl/component.hero_banner') }}{% endblock %}

<section class="mosl-component mosl-component--hero-banner">
    <div class="wrapper">
        {% include '@mosl/partials/hero_banner.html.twig' with {
            'surtitle': title,
            'title': description,
            'description': rich_text,
            'link': link,
            'image': image,
            'video': video,
            'svg': svg,
            'text_position': text_position
        } %}
    </div>
</section>
