{#
Image full width

Available vars:
- image
    - url
    - alt
    - name
- wrapper_size : default, wide
#}

{% block libraries %}{{ attach_library('mosl/component.image_full_width') }}{% endblock %}

<section class="mosl-component mosl-component--image-full-width mosl-component--image-full-width__{{ wrapper_size }}">
    <div class="wrapper">
        {{ image }}
    </div>
</section>
