{#
Image dual

Available vars:
- direction : horizontal, vertical
- first_text
- second_text
- first_image
    - url
    - alt
    - name
- second_image
    - url
    - alt
    - name
#}

{% block libraries %}{{ attach_library('mosl/component.image_dual') }}{% endblock %}

{% set classes = [] %}

{% if first_text is not empty or second_text is not empty %}
    {% set classes = classes|merge(['mosl-component--image-dual--has-text']) %}
{% endif %}

<section class="mosl-component mosl-component--image-dual {{ classes|join(' ') }}">
    <div class="wrapper">
        <div class="col">
            {{ first_image }}
            {% if first_text is not empty %}
                <div class="content">{{ first_text }}</div>
            {% endif %}
        </div>
        <div class="col">
            {{ second_image }}
            {% if second_text is not empty %}
                <div class="content">{{ second_text }}</div>
            {% endif %}
        </div>
    </div>
</section>
