{#
Image full width

Available vars:
- image
    - url
    - alt
    - name
- image_mobile
    - url
    - alt
    - name
- text
- background_color
#}

{% block libraries %}{{ attach_library('mosl/component.image_full_width_with_text') }}{% endblock %}

<section
    class="mosl-component mosl-component--image-full-width-with-text {{ background_color is not empty ? 'with-background' : '' }}"
    {% if background_color is not empty %}
        style="--mosl-component-background-color: {{ '#' ~ background_color }};"
    {% endif %}
>
    <div class="wrapper">
        {{ text }}
    </div>
    <img class="desktop" src="{{ image.url|image_style('component_image_full_width') }}" alt="{{ image.alt }}" loading="lazy" />
    <img class="mobile" src="{{ image_mobile.url|image_style('component_image_full_width_mobile') }}" alt="{{ image_mobile.alt }}" loading="lazy" />
</section>
