{#
Quote
Available vars:
- text: Text content
- color
#}

{% block libraries %}{{ attach_library('mosl/component.quote') }}{% endblock %}

<section class="mosl-component mosl-component--quote">
    <div class="wrapper">
        <div class="content">
            <div class="quote-text">{{ text }}</div>
            <div class="quote-mark">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225 220">
                    <path d="M216.695 28.656c15.23 22.54 6.271 60.642-1.254 101.07-7.525 40.429-13.796 83.362-33.684 89.444-19.709 6.26-53.034-24.328-89.047-43.648-36.013-19.5-74.714-27.728-87.614-51.341-12.9-23.613 0-62.431 24.009-87.118C53.113 12.377 88.23 1.823 125.319.213c37.088-1.61 76.326 5.724 91.376 28.443Z" fill="#{{ color }}"/>
                    <path d="M164.712 110.378c-3.84 0-7.254-1.387-10.24-4.16-2.774-2.987-4.16-6.507-4.16-10.56 0-1.28.213-2.987.64-5.12.64-2.133 1.493-4.693 2.56-7.68 1.066-2.987 2.346-6.4 3.84-10.24a508.046 508.046 0 0 1 5.76-13.12c.64-1.28 1.493-2.24 2.56-2.88 1.066-.64 2.133-.96 3.2-.96 1.92 0 3.733.64 5.44 1.92 1.706 1.067 2.56 2.667 2.56 4.8 0 1.067-.214 2.027-.64 2.88l-6.4 16.32c2.986 1.067 5.333 2.88 7.04 5.44 1.706 2.56 2.56 5.44 2.56 8.64 0 4.053-1.387 7.573-4.16 10.56-2.774 2.773-6.294 4.16-10.56 4.16zm-48 0c-3.84 0-7.254-1.387-10.24-4.16-2.987-2.987-4.48-6.507-4.48-10.56 0-1.28.213-2.987.64-5.12.64-2.133 1.493-4.693 2.56-7.68 1.066-2.987 2.346-6.4 3.84-10.24 1.706-4.053 3.733-8.427 6.08-13.12.426-1.28 1.173-2.24 2.24-2.88 1.28-.64 2.453-.96 3.52-.96 1.706 0 3.413.64 5.12 1.92 1.706 1.067 2.56 2.667 2.56 4.8 0 1.067-.214 2.027-.64 2.88l-6.08 16.32c2.773 1.067 5.013 2.88 6.72 5.44 1.92 2.56 2.88 5.44 2.88 8.64 0 4.053-1.387 7.573-4.16 10.56-2.774 2.773-6.294 4.16-10.56 4.16z" fill="#fff"/>
                </svg>
            </div>
        </div>
    </div>
</section>
