{#
Render view

Available vars:
- display_id: The display id
- display_id_base: Base part of the display id
- display_id_extra: Extra part of the display id
- view: View content
- view_id : The view id
- view_title: The view title
- view_header: Header elements defined in the view
- view_footer: Footer elements defined in the view
- view_renderable: Render array (markup)
#}

{% block libraries %}{{ attach_library('mosl/component.render_view') }}{% endblock %}

{% set display = display_id_base ?? ( display_id ?? 'default' ) %}

{%
    set classes = [
        'mosl-component',
        'mosl-component--render-view',
        'mosl-component--render-view--' ~ view_id,
        'mosl-component--render-view--' ~ view_id ~ '__' ~ display,
    ]
%}

{% if display_id_extra %}
    {% set classes = classes|merge(['mosl-component--render-view--' ~ view_id ~ '__' ~ display ~ '-' ~ display_id_extra]) %}
{% endif %}

{% set seotitle = [] %}
{% set description = [] %}

{% if view_header|length == 1 %}
    {% set description = view_header %}
{% elseif view_header|length > 1 %}
    {% set seotitle = view_header|slice(0, 1) %}
    {% set description = view_header|slice(1) %}
{% endif %}

{% set description_empty = true %}
{% for item in description %}
    {% if item['#text'] %}
        {% set description_empty = false %}
    {% endif %}
{% endfor %}
{% if description_empty %}
    {% set classes = classes|merge(['no-description']) %}
{% endif %}

<section class="{{ classes|join(' ') }}">
    <div class="wrapper">
        <div class="view-title">
            {% if seotitle|length > 0 %}
                <h2 class="view-title__seotitle">{{ seotitle }}</h2>
                <div class="view-title__title">{{ view_title }}</div>
            {% else %}
                <h2 class="view-title__title">{{ view_title }}</h2>
            {% endif %}
        </div>
        {% if not description_empty %}
            <div class="view-description">
                {{- description -}}
                {% if view_id == 'sitlor_content' %}
                    <div class="view-slider-controls">
                        <div class="view-slider-button-prev"></div>
                        <div class="view-slider-pagination"></div>
                        <div class="view-slider-button-next"></div>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if view_renderable is defined %}
            {{ view_renderable }}
        {% endif %}
    </div>
</section>
