{#
Map

Available vars:
- title
- items
- fiches

Title
Location
GPS
Address
Phone
URL

#}

{% block libraries %}{{ attach_library('mosl/component.sitlor_map') }}{% endblock %}

<script>
  const sitlorMapfiches = {{ fiches|raw }}
</script>

<section class="mosl-component mosl-component--sitlor-map">

    <div class="title">{{ title }}</div>

  <div id="mapsSIT" class="wrapper"></div>
{#    <div>#}
{#        {% if items|length > 0 %}#}
            {% for fiche in fiches %}

{#                <div class="item">#}
{#                    {{ fiche.name }}#}
{#                    {{ fiche.phone }}#}
{#                    {{ fiche.streetNumber }}#}
{#                    {{ fiche.streetName }}#}
{#                    {{ fiche.additionAddress }}#}
{#                    {{ fiche.zipCode }}#}
{#                    {{ fiche.city }}#}
{#                    {{ fiche.latitude }}#}
{#                    {{ fiche.longitude }}#}
{#                    {{ fiche.internalLink }}#}
{#                </div>#}
            {% endfor %}
{#        {% endif %}#}
{#    </div>#}
</section>
