{#
Slider large

Available vars:
- title
- text
- items
#}

{% block libraries %}{{ attach_library('mosl/component.slider_large') }}{% endblock %}

{% set has_content = false %}
{% set has_titles = false %}
{% set has_descriptions = false %}
{% set has_links = false %}

{% for item in items %}
    {% if item['#paragraph'].field_title.value or paragraph['#paragraph'].field_description.value or paragraph['#paragraph'].field_call_to_action.0.getUrl() %}
        {% set has_content = true %}
    {% endif %}
    {% if item['#paragraph'].field_title.value %}
        {% set has_titles = true %}
    {% endif %}
    {% if item['#paragraph'].field_description.value %}
        {% set has_descriptions = true %}
    {% endif %}
    {% if item['#paragraph'].field_call_to_action.0.getUrl()%}
        {% set has_links = true %}
    {% endif %}
{% endfor %}

<section class="mosl-component mosl-component--slider-large {{ has_content ? 'has-content' : 'has-no-content' }} {{ (has_titles and not has_descriptions and not has_links) ? 'has-titles-only' : '' }}">
    <div class="wrapper">
        <div class="content">
            {% if title %}
                <h3 class="title">{{ title }}</h3>
            {% endif %}
            {% if text %}
                <p class="description">{{ text }}</p>
            {% endif %}
        </div>
    </div>
    {% if items|length > 0 %}
        <div class="swiper-container">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for item in items %}
                        <div class="swiper-slide">
                            {{ item }}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-controls">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    {% endif %}
</section>
