{#
Slider full width

Available vars:
- images
#}

{% if images|length %}
    {% block libraries %}{{ attach_library('mosl/component.slider_full_width') }}{% endblock %}

    <section class="mosl-component mosl-component--slider-full-width">
        <div class="wrapper swiper-container" data-scroll>
            <ul class="slider swiper-wrapper">
                {% for image in images %}
                    <li class="swiper-slide">
                        <div class="visual">
                            <img src="{{ image.url|image_style('medium') }}" alt="{{ image.alt }}" loading="lazy" />
                        </div>
                        <div class="legend">{{ image.name }}</div>
                    </li>
                {% endfor %}
            </ul>
            <div class="nav-button nav-button-prev"></div>
            <div class="nav-button nav-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </section>
{% endif %}
