{#
Slider large

Available vars:
- title
- items
#}

{% block libraries %}{{ attach_library('mosl/component.slider_more_ideas') }}{% endblock %}

<section class="mosl-component mosl-component--slider-more-ideas">
    <div class="wrapper">
        <div class="content">
            {% if title %}
                <h3 class="title">{{ title }}</h3>
            {% endif %}
        </div>
        {% if items|length > 0 %}
            <div class="swiper-container">
                <div class="swiper">
                    <ul class="swiper-wrapper">
                        {% for item in items %}
                            <li class="swiper-slide">
                                {{ item }}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="swiper-controls">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
