{#
Slider item image

Available vars:
- image
- title
- description
- link
#}
{% block libraries %}{{ attach_library('mosl/component.slider_item_image') }}{% endblock %}

<section class="mosl-component mosl-component--slider-item-image">
    <div class="item-visual">
        {{ image }}
    </div>
    <div class="item-content">
        {% if title is not empty %}
            <h4 class="item-title">{{ title }}</h4>
        {% endif %}
        {% if description is not empty %}
            <p class="item-description">{{ description }}</p>
        {% endif %}

        {% if link.url %}
            <p class="item-link">
                <a href="{{ link.url }}" class="style--btn" {{ link.attributes }} >{{ link.title }}</a>
            </p>
        {% endif %}
    </div>
</section>
