{#
Grid

Available vars:
- title
- text
- link
    - url
    - title
    - attributes
- items
#}

{% block libraries %}{{ attach_library('mosl/component.tab') }}{% endblock %}

{% set styles = [] %}
{% if background_color is not empty %}
    {% set styles = styles|merge(['--mosl-component-background-color: #' ~ background_color]) %}
{% endif %}
{% if background_bubble_color is not empty %}
    {% set styles = styles|merge(['--mosl-background-bubble-color: ' ~ background_bubble_color]) %}
{% endif %}

<section class="mosl-component mosl-component--tab" style="{{ styles|join('; ') }}">
    <div class="wrapper">
        <div class="tab__header">
            <div class="tab__title">
                <h2>{{ title }}</h2>
            </div>
            <div class="tab__text">
                <p>{{ text }}</p>
            </div>
        </div>
        <div class="tab__tabs">
            {% if items|length > 0 %}
                <div class="tab__nav">
                    <ul>
                        {% for item in items %}
                            <li><a href="#tab-content-{{ loop.index }}">{{ item['#paragraph'].field_title.value }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                {% for item in items %}
                    <section id="tab-content-{{ loop.index }}" class="tab__content">
                        {{ item }}
                    </section>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
