{#
Tab item

Available vars:
- title
- text
- link
    - url
    - title
    - attributes
#}

<section class="mosl-component mosl-component--tab-item">
    <div class="tab-item__visual">
        {{ image }}
    </div>
    <div class="tab-item__content">
        <div class="tab-item__title">
            <h3>{{ title }}</h3>
        </div>
        <div class="tab-item__text">
            <div class="tab-item__text-content">
                <p>{{ text }}</p>
            </div>
            {% if link.url %}
                <a href="{{ link.url }}" class="style--btn big-chevron" {{ link.attributes }} >{{ link.title }}</a>
            {% endif %}
        </div>
    </div>
</section>
