{#
Taggbox Widget

Available vars:
- title: Title
- description: Title
- text : Script content
- link : Internal or external link (optional)
    - url
    - title
    - attributes
#}

{% block libraries %}{{ attach_library('mosl/component.taggbox_widget') }}{% endblock %}

<section class="mosl-component mosl-component--taggbox-widget">
    <div class="wrapper">
        <h2 class="title">{{ title }}</h2>
        <div class="content">
            <p>{{ description }}</p>
            {% if link.url %}
                <div class="link">
                    <a href="{{ link.url }}" class="big-chevron" style="{{ background_bubble_color ? '--mosl-button-color: ' ~ background_bubble_color : '' }}">{{ link.title }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="taggbox-container">
        {{ text|raw }}
    </div>
</section>
