{#
Testimony

Available vars:
- firstname
- lastname
- job_title
- society_name
- text
- media_position: media_up, media_down, media_left, media_right
- image
#}

{% block libraries %}{{ attach_library('mosl/component.testimony') }}{% endblock %}

<section class="mosl-component mosl-component--testimony {{ media_position }}">
    <div class="wrapper">
        <div class="visual">
            {{ image }}
        </div>
        <div class="content">
            <div class="name">{{ lastname }} {{ firstname }}</div>
            <div class="job">{{ job_title }} - {{ society_name }}</div>
            <div class="quote">{{ text }}</div>
        </div>
    </div>
</section>
