{#
Text video

Available vars:
- text
- video
#}

{% block libraries %}{{ attach_library('mosl/component.text_video') }}{% endblock %}

<section class="mosl-component mosl-component--text-video">
    <div class="wrapper">
        <div class="content">{{ text }}</div>
        <div class="video__container">
            <div class="video__embed">
                {{ video }}
            </div>
        </div>
    </div>
</section>
