{#
Text displayed with two columns

Available vars:
- first_text
- second_text
- background_color
- column_size : half, third, two_thirds, quarter, three_quarters
- wrapper_size : default, wide
#}

{% block libraries %}{{ attach_library('mosl/component.text_two_columns') }}{% endblock %}

{% set styles = [] %}
{% if background_color is not empty %}
    {% set styles = styles|merge(['--mosl-component-background-color: #' ~ background_color]) %}
{% endif %}

{% if background_bubble_color is not empty %}
    {% set styles = styles|merge(['--mosl-background-bubble-color: ' ~ background_bubble_color]) %}
{% endif %}

<section
    class="mosl-component mosl-component--text-two-columns {{ column_size }} {{ background_color is not empty ? 'has-background' : '' }}"
    style="{{ styles|join('; ') }}"
>
    <div class="wrapper">
        <div class="col">{{ first_text }}</div>
        <div class="col">{{ second_text }}</div>
    </div>
</section>
