{#
Text link

Available vars:
- link
    - url
    - title
    - attributes
- text
- title
#}

{% block libraries %}{{ attach_library('mosl/component.text_link') }}{% endblock %}

<section class="mosl-component mosl-component--text-link">
    <div class="wrapper">
        <h4 class="title">{{ title }}</h4>
        <div class="content">{{ text }}</div>
        <div class="link">
            <a href="{{ link.url }}" class="style--btn reverse blue big-chevron" {{ link.attributes is not empty ? create_attribute(link.attributes) : '' }}>{{ link.title }}</a>
        </div>
    </div>
</section>
