{#
Text Image

Available vars:
- image
    - url
    - alt
    - name
- media_position : media_up, media_down, media_left, media_right
- text
#}

{% block libraries %}{{ attach_library('mosl/component.text_image') }}{% endblock %}

<section class="mosl-component mosl-component--text-image {{ media_position }}">
  <div class="wrapper">
    <div class="visual">
        {{ image }}
    </div>
    <div class="content">
      <div class="text">{{ text }}</div>
    </div>
  </div>
</section>
