{#
Text

Available vars:
- text: Text content
- wrapper_size : default, wide
- background_color
- background_bubble_color
#}

{% block libraries %}{{ attach_library('mosl/component.text') }}{% endblock %}

{% set styles = [] %}

{% if background_color is not empty %}
    {% set styles = styles|merge(['--mosl-component-background-color: #' ~ background_color]) %}
{% endif %}
{% if background_bubble_color is not empty %}
    {% set styles = styles|merge(['--mosl-background-bubble-color: ' ~ background_bubble_color]) %}
{% endif %}

<section class="mosl-component mosl-component--text"
         style="{{ styles|join('; ') }}">
    <div class="wrapper">
        {{ text }}
    </div>
</section>
