{% set images = fiche.ficheBlocks|bridge_extract_photos('photos-medias') %}

{% set lien = '' %}
{% if text_block_is_not_empty(fiche, fiche.ficheBlocks, 'lien-de-reservation-en-ligne') %}
    {% set lien = fiche.ficheBlocks|extract_first_text_value('lien-de-reservation-en-ligne') %}
{% endif %}

<div class="fiche-mosl__container fiche-mosl__informations-block fiche-mosl__informations-block-comments">
    <div class="wrapper">
        <div class="visual">
            {% if images|length > 3 %}
                <div><img src="{{ images[3].url|bridge_resize_image("tronq", 800, 800)|raw }}" alt="" loading="lazy" /></div>
            {% endif %}
        </div>
        <div class="content">
            <section id="commentaires">
                <h3 class="comments-title">{{ 'Comments'|t({}, {'context': 'SitLor: comments title'}) }}</h3>
                {% include '@pylot_bridge/templates-bridge-twig/fiche/specifique/mosl/blocks-mosl/extract-avis-tripadivsor.html.twig' %}

                <div class="comments-reviews">
                    <div class="comments-reviews__row">
                        <div class="comments-reviews__label">{{ 'Excellent'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                        <div class="comments-reviews__progress"><span><span style="width:40%;"></span></span></div>
                        <div class="comments-reviews__count">25</div>
                    </div>
                    <div class="comments-reviews__row">
                        <div class="comments-reviews__label">{{ 'Very good'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                        <div class="comments-reviews__progress"><span><span style="width:42%;"></span></span></div>
                        <div class="comments-reviews__count">24</div>
                    </div>
                    <div class="comments-reviews__row">
                        <div class="comments-reviews__label">{{ 'Average'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                        <div class="comments-reviews__progress"><span><span style="width:14%;"></span></span></div>
                        <div class="comments-reviews__count">12</div>
                    </div>
                    <div class="comments-reviews__row">
                        <div class="comments-reviews__label">{{ 'Poor'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                        <div class="comments-reviews__progress"><span><span style="width:2%;"></span></span></div>
                        <div class="comments-reviews__count">1</div>
                    </div>
                    <div class="comments-reviews__row">
                        <div class="comments-reviews__label">{{ 'Terrible'|t({}, {'context': 'SitLor: reviews label'}) }}</div>
                        <div class="comments-reviews__progress"><span><span style="width:2%;"></span></span></div>
                        <div class="comments-reviews__count">1</div>
                    </div>
                </div>

                <div class="comments-more-reviews">
                    <div class="comments-more-reviews__info">{{ 'See all 120 reviews'|t({}, {'context': 'SitLor: see more reviews'}) }}</div>
                    <div class="comments-more-reviews__link">
                        <a href="{{ lien }}" target="_blank" class="button button--logo button--logo-tripadvisor"></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
