<div class="fiche-mosl__container fiche-mosl__informations-block fiche-mosl__informations-block-map">
    <div class="wrapper">
        <section id="comment-venir">
            <h3 class="map-title">{{ 'Comment venir ?'|t }}</h3>
            {% include '@pylot_bridge/templates-bridge-twig/fiche/blocks/localisation.html.twig' %}
            <div class="map-route">
                <a target="_blank" href="{{ fiche|bridge_product_gmap_link }}">{{ 'Itinéraire'|t({}, {'context': 'SitLor: label of route link'}) }}</a>
            </div>
        </section>
    </div>
</div>
