{% set count = 120 %}

<div class="fiche-mosl__review">
    <span class="fiche-mosl__review-rate">4,2</span>
    <span class="fiche-mosl__review-stars">
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
    </span>
    <span class="fiche-mosl__review-count">(
        {{- (count < 2
            ? '%count% review'|t({},{'context':'sitlor: review count (singular)'})
            : '%count% reviews'|t({},{'context':'sitlor: review count (plural)'})
        )|replace({'%count%': count}) -}}
    )</span>
</div>
