{#
# Template d'affichage de l'item de liste carte 2
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du theme/module et en associant le namespace pylot_bridge au theme/module
# MonTheme/templates/templates-bridge-twig/liste/gabarits
#
# @version 3.2.2
#}
{% block moslslideritam %}


    <article class="card image_and_text ficheproduit cards2 center-on-hover" data-dnc-produit="{{ fiche.productCode }}" data-dnc-lat="{{ fiche.latitude }}" data-dnc-lon="{{ fiche.longitude }}" data-dnc-name="{{ fiche.name|e('html_attr') }}" data-dnc-link="{{ fiche.link|e('html_attr') }}">
        {% if images|length > 0 %}
            <div class="card__image">
                <a href="{{ link }}" rel="bookmark">
                    <img src="{{ images[0].url|bridge_resize_image("tronq", 720, 400)|raw }}" alt="{{ fiche.name }}" loading="lazy" />
                </a>
            </div>
        {% else %}
            <div class="card__image"></div>
        {% endif %}

        <div{{ content_attributes.addClass('card__content') }}>
            {% block card_content %}
                <div class="card__content">
                    {% block card_title %}
                        <h6>
                            <a href="{{ url }}" rel="bookmark">{% include '@pylot_bridge/templates-bridge-twig/liste/blocks/titre-de-la-fiche.html.twig' %}</a>
                        </h6>
                    {% endblock %}
                </div>
                <div class="card__informations">
                    {% block card_informations %}
                        {% if items_block_is_not_empty(fiche, fiche.listBlocks, 'info-1') %}
                            <div class="card__creation-date">
                                {{ fiche.listBlocks|bridge_render_named_block('info-1')|raw }}
                            </div>
                        {% endif %}

                        {% if items_block_is_not_empty(fiche, fiche.listBlocks, 'surtitre') %}
                            <div class="card__category">
                                {% include '@pylot_bridge/templates-bridge-twig/liste/blocks/surtitre.html.twig' %}
                            </div>
                        {% endif %}
                        {% if items_block_is_not_empty(fiche, fiche.listBlocks, 'sous-titre') %}
                            <div class="card__category">
                                {{ fiche.listBlocks|bridge_render_named_block('sous-titre')|raw }}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="card__excerpt">
                    {% block card_excerpt %}
                        {% if items_block_is_not_empty(fiche, fiche.listBlocks, 'commentaire') %}
                            <a href="{{ link }}" rel="bookmark">
                             {{ fiche.listBlocks|bridge_render_named_block('commentaire')|raw }}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="card__footer">
                    {% block card_footer %}

                        <div class="left">
                            {% if items_block_is_not_empty(fiche, fiche.listBlocks, 'info-3') %}
                                <div class="dates">
                                    {{ fiche.listBlocks|bridge_render_named_block('info-3')|raw }}
                                </div>
                            {% endif %}
                            {% if items_block_is_not_empty(fiche, fiche.listBlocks, 'info-4') %}
                                <div class="city">
                                    {{ fiche.listBlocks|bridge_render_named_block('info-4')|raw }}
                                </div>
                            {% endif %}
                        </div>
                        <a href="{{ link }}" rel="bookmark" class="big-chevron light-blue"></a>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </article>

{% endblock %}