{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{{ attach_library('mosl/menu.menu-header') }}
{{ attach_library('mosl/menu.menu-header-mobile') }}

{% import _self as menus %}
<div class="wrapper-header">
<div class="menu-header--social-networks">
    {{ menus.menu_links(items, attributes, 0) }}

    <div class="search hidden">
        <div class="button button-header search-toggler"></div>
    </div>
    <div class="button-header user hidden"></div>
    <div class="button-header heart hidden"></div>
</div>
    <div class="language-switcher-desktop">
        {{ drupal_block('language_block:language_interface', wrapper=false) }}
    </div>
</div>
{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
<ul{{ attributes.addClass('menu') }}>
    {% else %}
    <ul class="menu">
        {% endif %}
        {% for item in items %}
            {%
                set classes = [
                'menu-item',
                item.is_expanded ? 'menu-item--expanded',
                item.is_collapsed ? 'menu-item--collapsed',
                item.in_active_trail ? 'menu-item--active-trail',
            ]
            %}
            <li{{ item.attributes.addClass(classes) }}>
                {{ link(item.title, item.url) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endmacro %}
{#    <li>#}
{#        <div class="menu-mobile-fixed">#}
{#            <div class="wrap">#}
{#                <div class="search">#}
{#                    <div class="button button-header search-toggler"></div>#}
{#                </div>#}
{#                <a class="button-header user" href="#"></a>#}
{#                <a class="button-header heart" href="#"></a>#}
{#            </div>#}
{#            {{ drupal_block('language_block:language_interface', wrapper=false) }}#}
{#        </div>#}
{#    </li>#}
</ul>

