{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{{ attach_library('mosl/menu.mosl-menu-main') }}
{{ attach_library('mosl/menu.mosl-menu-main-mobile') }}

{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass('menu menu-first-level') }}>
    {% else %}
    <ul class="menu">
        <div class="wrap">
            {% endif %}
            {% for item in items %}
                {%
                    set classes = [
                    'menu-item',
                    item.is_expanded ? 'menu-item--expanded',
                    item.is_collapsed ? 'menu-item--collapsed',
                    item.in_active_trail ? 'menu-item--active-trail',
                ]
                %}
                <li{{ item.attributes.addClass(classes) }}>
                    {{ link(item.title, item.url) }}
                    {% if item.below %}
                        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                        {% if menu_level == 0  %}
                            {#                            <div class="main-menu close"></div>#}
                        {% endif %}
                    {% endif %}
                    {% if item.quick_access %}
                        <div{{ attributes.removeClass('menu').addClass('quick-access') }} data-identifier="{{ item.identifier }}">
                            <div class="title">{{ 'Accès rapide'|t }}</div>
                            {{ item.quick_access }}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
            {% if menu_level != 0 %}
        </div>
        {% endif %}
    </ul>
    {% endif %}
    {% endmacro %}
