{#
 # Template d'affichage de composant dates d'ouvertures/ de manifs en calendrier
 #
 # Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
 # MonTheme/plugin-sit/templates/templates-bridge/fiche/gabarits
 #
 # @version 3.2.2
 #
#}

{% set horaires = [] %}
{% if fiche.hours is defined and fiche.hours is iterable and fiche.hours|length > 0 %}
    {% set horaires = fiche.hours %}
{% endif %}
{%  set tabAffichage = get_fiche_hours_as_array_for_display_as_calendar(fiche, bridgeParameters.lang) %}
{% set fin = '' %}

<div class="datesheures composant-dates-calendrier bridge-calendar">
    <section class="main">
        <div class="custom-calendar-wrap">
            <div id="custom-inner" class="custom-inner">
                <div class="custom-header clearfix">
                    <nav>
                        <span id="custom-prev" class="custom-prev"><i class="fa fa-arrow-left"></i></span>
                        <span id="custom-next" class="custom-next"><i class="fa fa-arrow-right"></i></span>
                    </nav>
                    <h4 class="custom-calendar-title"><span id="custom-month" class="custom-month"></span> <span id="custom-year" class="custom-year"></span></h4>
                </div>
                <div id="calendar" class="fc-calendar-container"></div>
            </div>
        </div>
        {% if fin != '' %}
        <p>
            <strong>{{ 'A_NOTER'|trans }} :</strong>
            {{ 'TEXTE_TPS_AVANT'|trans }} <strong>{{ fin }}</strong> {{ 'TEXTE_TPS_APRES'|trans }}
        </p>
        {% endif %}
    </section>


    {#  <div class="legende">
        <div class="dispo">{{ 'OUVERT'|trans }}</div>
        <div class="indispo">{{ 'FERMER'|trans }}</div>
    </div>
    #}
    <script type="text/javascript">
        jQuery(function() {

            var dncdispo = {
            {% set i = 0 %}
            {% for key, ladispo in tabAffichage %}
                {{ (i > 0)?',':'' }}"{{ ladispo['ladate'] }}": {statut: {{ ladispo['statut'] }}, content:"{{ (ladispo['statut'] == 1) ? 'Ouvert'|trans ~ ' ' ~ ladispo['horaires']|join(', ') : 'Fermé'|trans }}"}
                {% set i = i + 1 %}
            {% endfor %}
            };

            var transEndEventNames = {
                    'WebkitTransition' : 'webkitTransitionEnd',
                    'MozTransition' : 'transitionend',
                    'OTransition' : 'oTransitionEnd',
                    'msTransition' : 'MSTransitionEnd',
                    'transition' : 'transitionend'
                },
                transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
                $wrapper = jQuery( '#custom-inner' ),
                $calendar = jQuery( '#calendar' ),
                cal = $calendar.calendario( {
                    onDayClick : function( $el, $contentEl, dateProperties ) {
                        if( $contentEl.length > 0 ) {
                            showEvents( $contentEl, dateProperties );
                        }
                    },
                    weeks : [ '{{ 'SUNDAY'|trans }}', '{{ 'MONDAY'|trans }}', '{{ 'TUESDAY'|trans }}', '{{ 'WEDNESDAY'|trans }}', '{{ 'THURSDAY'|trans }}', '{{ 'FRIDAY'|trans }}', '{{ 'SATURDAY'|trans }}' ],
                    weekabbrs : [ '{{ 'SU'|trans }}', '{{ 'MO'|trans }}', '{{ 'TU'|trans }}', '{{ 'WE'|trans }}', '{{ 'TH'|trans }}', '{{ 'FR'|trans }}', '{{ 'SA'|trans }}' ],
                    months : [ '{{ 'JANUARY'|trans }}', '{{ 'FEBRUARY'|trans }}', '{{ 'MARCH'|trans }}', '{{ 'APRIL'|trans }}', '{{ 'MAY'|trans }}', '{{ 'JUNE'|trans }}', '{{ 'JULY'|trans }}', '{{ 'AUGUST'|trans }}', '{{ 'SEPTEMBER'|trans }}', '{{ 'OCTOBER'|trans }}', '{{ 'NOVEMBER'|trans }}', '{{ 'DECEMBER'|trans }}' ],
                    monthabbrs : [ '{{ 'JAN'|trans }}', '{{ 'FEB'|trans }}', '{{ 'MAR'|trans }}', '{{ 'APR'|trans }}', '{{ 'MAY'|trans }}', '{{ 'JUN'|trans }}', '{{ 'JUL'|trans }}', '{{ 'AUG'|trans }}', '{{ 'SEP'|trans }}', '{{ 'OCT'|trans }}', '{{ 'NOV'|trans }}', '{{ 'DEC'|trans }}' ],
                    caldata : dncdispo,
                    displayWeekAbbr : true,
                    consult : '{{ 'Fermé'|trans }}',
                    fermé : '{{ 'Fermé'|trans }}',
                    complet : '{{ 'Fermé'|trans }}',
                    dispo : '{{ 'Ouvert'|trans }}'
                } ),
                $month = jQuery( '#custom-month' ).html( cal.getMonthName() ),
                $year = jQuery( '#custom-year' ).html( cal.getYear() );

            jQuery( '#custom-next' ).on( 'click', function() {
                cal.gotoNextMonth( updateMonthYear );
            } );
            jQuery( '#custom-prev' ).on( 'click', function() {
                cal.gotoPreviousMonth( updateMonthYear );
            } );

            function updateMonthYear() {
                $month.html( cal.getMonthName() );
                $year.html( cal.getYear() );
            }

            // just an example..
            function showEvents( $contentEl, dateProperties ) {
                hideEvents();
                var $events = jQuery( '<div id="custom-content-reveal" class="custom-content-reveal"><h4>' + dateProperties.monthname + ' ' + dateProperties.day + ', ' + dateProperties.year + '</h4></div>' ),
                    $close = jQuery( '<span class="custom-content-close"></span>' ).on( 'click', hideEvents );
                $events.append( $contentEl.html() , $close ).insertAfter( $wrapper );
                setTimeout( function() {
                    $events.css( 'top', '0%' );
                }, 25 );
            }
            function hideEvents() {

                var $events = jQuery( '#custom-content-reveal' );
                if( $events.length > 0 ) {
                    $events.css( 'top', '100%' );
                    //Modernizr.csstransitions ? $events.on( transEndEventName, function() { jQuery( this ).remove(); } ) : $events.remove();
                }
            }

        });
    </script>
</div>
