{#
# Template d'affichage de barre de boutons de téléchargement de documents
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
# MonTheme/plugin-sit/templates/templates-bridge/fiche/gabarits
#
# @version 3.2.2
#
#}


{%  set documents = blockData|bridge_extract_photos_from_block %}


{% if documents|length > 0 %}
    {% set cmptdoc = 0 %}
    <div class="uk-container uk-section uk-padding-small aauk-section-small bridge-documents">
        <div class="documents_inner uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            {% for doc in documents %}
                <div class="bridge-document">
                    {% set cmptdoc = cmptdoc + 1 %}
                    <a href="{{ doc.url }}" class="uk-button uk-button-default" target="_blank" title="{{ 'Document'|trans ~ ' ' ~ cmptdoc|escape('html_attr') }}">{{ 'Document'|trans ~ ' ' ~ cmptdoc }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}