{#
# Template d'affichage de composant galerie photos en masonry
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
# MonTheme/plugin-sit/templates/templates-bridge/fiche/gabarits
#
# @version 3.2.2
#
#}

{% set images = blockData|bridge_extract_photos_from_block %}

{% if images|length > 0 %}
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-small" uk-grid="masonry: true">
        {% for image in images %}
            <div uk-lightbox>
                <a href="{{ image.url }}">
                    <img src="{{ image.url|bridge_resize_image("tronq", 600, 400)|raw }}" alt="" />
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}
