{#
# Template d'affichage de composant galerie photos en slideset
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
# MonTheme/plugin-sit/templates/templates-bridge/fiche/gabarits
#
# @version 3.2.2
#
#}

{% set images = blockData|bridge_extract_photos_from_block %}

{% if images|length > 0 %}
<div uk-slider="sets: true; autoplay: true">
    <div class="uk-position-relative">
        <div class="uk-slider-container uk-light">
            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-3@m">
                {% for image in images %}
                    <li class="uk-cover-container uk-height-medium">
                        <img data-src="{{ image.url|bridge_resize_image("tronq", 600, 400)|raw }}" alt="" uk-img uk-cover />
                    </li>
                {% endfor %}
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
{% endif %}
