{#
# Template d'affichage de composant iframe
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
# MonTheme/plugin-sit/templates/templates-bridge/fiche/gabarits
#
# @version 3.2.2
#}

{% set lien = '' %}
{% if fiche|text_block_data_is_not_empty(blockData) %}
    {% set lien = blockData|extract_block_data_first_text_value %}
{% endif %}
{% if lien is not empty %}
    <iframe src="{{ lien }}" frameborder="0" style="width:100%;height:500px;"></iframe>
{% endif %}