{#
# Template d'affichage de composant iframe
#
# Ce template peut être overridé individuellement en le copiant dans le dossier du thème actif
# MonTheme/plugin-sit/templates/templates-bridge/fiche/gabarits
#
# @version 3.2.2
#}

{% set lien = '' %}
{% if fiche|text_block_data_is_not_empty(blockData) %}
    {% set lien = blockData|extract_block_data_first_text_value %}
{% endif %}
{% if lien is not empty %}
    {% set typeVideo = '' %}

    {% if 'vimeo' in lien %}
        {% set typeVideo = 'VIMEO' %}
    {% elseif 'youtu' in lien %}
        {% set typeVideo = 'YOUTUBE' %}
    {% elseif 'mp4' in lien %}
        {% set typeVideo = 'MP4' %}
    {% elseif 'webm' in lien %}
        {% set typeVideo = 'WEBM' %}
    {% endif %}



    {% if typeVideo is not empty %}

    {% if typeVideo == 'VIMEO' %}
        <div class="plyr__video-embed" id="player">
            <iframe
                    src="{{ lien }}?loop=false&byline=false&portrait=false&title=false&speed=true&transparent=0&gesture=media"
                    allowfullscreen
                    allowtransparency
                    allow="autoplay"
                    style="width:100%;"
            ></iframe>
        </div>
    {% elseif typeVideo == 'YOUTUBE' %}

        <div class="plyr__video-embed" id="player">
            <iframe
                    src="{{ lien }}?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                    allowfullscreen
                    allowtransparency
                    allow="autoplay"
                    style="width:100%;"
            ></iframe>
        </div>
    {% elseif typeVideo == 'MP4' %}
        <video id="player" playsinline controls>
            <source src="{{ lien }}" type="video/mp4" />
        </video>
    {% elseif typeVideo == 'WEBM' %}
        <video id="player" playsinline controls>
            <source src="{{ lien }}" type="video/webm" />
        </video>
    {% endif %}
    <script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />

    <script>
        const player = new Plyr('#player');
    </script>
{% endif %}